Repository apache/shenyu, pull requests merged in 2020-09, with the labels that each got.

#305 service分页查询优化
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/AppAuthServiceImpl.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/DashboardUserServiceImpl.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/MetaDataServiceImpl.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/PluginServiceImpl.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/RuleServiceImpl.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/SelectorServiceImpl.java
  soul-admin/src/main/resources/mappers/app-auth-sqlmap.xml
Labels: soul-admin

#307 soul-admin 支持配置插件处理json
  script/soul.sql
  soul-admin/src/main/java/org/dromara/soul/admin/controller/PluginHandleController.java
  soul-admin/src/main/java/org/dromara/soul/admin/dto/PluginHandleDTO.java
  soul-admin/src/main/java/org/dromara/soul/admin/entity/PluginHandleDO.java
  soul-admin/src/main/java/org/dromara/soul/admin/mapper/PluginHandleMapper.java
  soul-admin/src/main/java/org/dromara/soul/admin/query/PluginHandleQuery.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/PluginHandleService.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/PluginHandleServiceImpl.java
  soul-admin/src/main/java/org/dromara/soul/admin/vo/PluginHandleVO.java
  soul-admin/src/main/resources/mappers/plugin-handle-sqlmap.xml
  soul-admin/src/main/resources/static/index.30cd34c0.js
  soul-admin/src/main/resources/static/index.9c985f9d.js
  soul-admin/src/main/resources/static/index.html
Labels: plugin, soul-admin

#317 Use onErrorMap instead of imperative catch block
  soul-plugin/soul-plugin-alibaba-dubbo/src/main/java/org/dromara/soul/plugin/alibaba/dubbo/AlibabaDubboPlugin.java
  soul-plugin/soul-plugin-alibaba-dubbo/src/main/java/org/dromara/soul/plugin/alibaba/dubbo/response/DubboResponsePlugin.java
  soul-plugin/soul-plugin-apache-dubbo/src/main/java/org/dromara/soul/plugin/apache/dubbo/ApacheDubboPlugin.java
  soul-plugin/soul-plugin-apache-dubbo/src/main/java/org/dromara/soul/plugin/apache/dubbo/proxy/ApacheDubboProxyService.java
  soul-plugin/soul-plugin-apache-dubbo/src/main/java/org/dromara/soul/plugin/apache/dubbo/response/DubboResponsePlugin.java
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/utils/CheckUtils.java
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/utils/SoulResultWrap.java
  soul-plugin/soul-plugin-divide/src/main/java/org/dromara/soul/plugin/divide/DividePlugin.java
  soul-plugin/soul-plugin-divide/src/main/java/org/dromara/soul/plugin/divide/websocket/WebSocketPlugin.java
  soul-plugin/soul-plugin-httpclient/src/main/java/org/dromara/soul/plugin/httpclient/NettyHttpClientPlugin.java
  soul-plugin/soul-plugin-httpclient/src/main/java/org/dromara/soul/plugin/httpclient/WebClientPlugin.java
  soul-plugin/soul-plugin-httpclient/src/main/java/org/dromara/soul/plugin/httpclient/response/WebClientResponsePlugin.java
  soul-plugin/soul-plugin-hystrix/src/main/java/org/dromara/soul/plugin/hystrix/command/Command.java
  soul-plugin/soul-plugin-ratelimiter/src/main/java/org/dromara/soul/plugin/ratelimiter/RateLimiterPlugin.java
  soul-plugin/soul-plugin-sign/src/main/java/org/dromara/soul/plugin/sign/SignPlugin.java
  soul-plugin/soul-plugin-springcloud/src/main/java/org/dromara/soul/plugin/springcloud/SpringCloudPlugin.java
  soul-plugin/soul-plugin-waf/src/main/java/org/dromara/soul/plugin/waf/WafPlugin.java
  soul-web/src/main/java/org/dromara/soul/web/filter/FileSizeFilter.java
  soul-web/src/main/java/org/dromara/soul/web/filter/TimeWebFilter.java
  soul-web/src/main/java/org/dromara/soul/web/filter/WebSocketParamFilter.java
  soul-web/src/main/java/org/dromara/soul/web/handler/GlobalErrorHandler.java
Labels: dubbo

#320 Add dist package module
  pom.xml
  soul-dist/bin/admin/shutdown.sh
  soul-dist/bin/admin/start.sh
  soul-dist/bin/bootstrap/shutdown.sh
  soul-dist/bin/bootstrap/start.sh
  soul-dist/pom.xml
  soul-dist/src/main/assembly/binary.xml
Labels: build
