Repository apache/shenyu, pull requests merged in 2020-12, with the labels that each got.

#455 springmvc 中有 full扫描整个服务的功能，springcloud中没有，我复刻过来的
  soul-client/soul-client-http/soul-client-springcloud/src/main/java/org/dromara/soul/client/springcloud/config/SoulSpringCloudConfig.java
  soul-client/soul-client-http/soul-client-springcloud/src/main/java/org/dromara/soul/client/springcloud/init/ContextRegisterListener.java
  soul-client/soul-client-http/soul-client-springcloud/src/main/java/org/dromara/soul/client/springcloud/init/SpringCloudClientBeanPostProcessor.java
  soul-spring-boot-starter/soul-spring-boot-starter-client/soul-spring-boot-starter-client-springcloud/src/main/java/org/dromara/soul/springboot/starter/client/springcloud/SoulSpringCloudClientConfiguration.java
Labels: soul-client, spring-cloud

#459 Compare jacoco vs Cobertura
  .github/workflows/main.yml
  pom.xml
Labels: build

#470 Issue465
  README_cn.md
Labels: doc

#469 add Resilience4JPlugin Tests
  soul-plugin/soul-plugin-resilience4j/pom.xml
  soul-plugin/soul-plugin-resilience4j/src/test/java/org/dromara/soul/plugin/resilience4j/Resilence4JPluginTest.java
  soul-plugin/soul-plugin-resilience4j/src/test/java/org/dromara/soul/plugin/resilience4j/core/CircuitBreakerTest.java
  soul-plugin/soul-plugin-resilience4j/src/test/java/org/dromara/soul/plugin/resilience4j/core/RateLimiterTest.java
  soul-plugin/soul-plugin-resilience4j/src/test/java/org/dromara/soul/plugin/resilience4j/executor/CombinedExecutorTest.java
  soul-plugin/soul-plugin-resilience4j/src/test/java/org/dromara/soul/plugin/resilience4j/executor/RatelimiterExecutorTest.java
Labels: resilience4j, test

#474 [#472]polish sentinel config.
  soul-common/src/main/java/org/dromara/soul/common/constant/Constants.java
  soul-common/src/main/java/org/dromara/soul/common/dto/convert/SentinelHandle.java
  soul-plugin/soul-plugin-sentinel/src/main/java/org/dromara/soul/plugin/sentinel/handler/SentinelRuleHandle.java
Labels: refactor, sentinel

#475 Refactor MetricsTrackerFacade
  soul-metrics/soul-metrics-facade/src/main/java/org/dromara/soul/metrics/facade/MetricsTrackerFacade.java
  soul-plugin/soul-plugin-monitor/src/main/java/org/dromara/soul/plugin/monitor/handler/MonitorPluginDataHandler.java
Labels: refactor

#477 Fix MetricsThreadPoolExecutor bug
  soul-metrics/soul-metrics-facade/src/main/java/org/dromara/soul/metrics/facade/executor/MetricsThreadPoolExecutor.java
Labels: bug

#478 [#469]fix spelling exception.
  soul-plugin/soul-plugin-resilience4j/src/test/java/org/dromara/soul/plugin/resilience4j/Resilience4JPluginTest.java
  soul-plugin/soul-plugin-resilience4j/src/test/java/org/dromara/soul/plugin/resilience4j/core/RateLimiterTest.java
  soul-plugin/soul-plugin-resilience4j/src/test/java/org/dromara/soul/plugin/resilience4j/executor/RateLimiterExecutorTest.java
Labels: refactor, test

#490 [#485] add test case for MatchModeEnum
  soul-common/src/test/java/org/dromara/soul/common/enums/MatchModeEnumTest.java
Labels: test

#491 git commit -m 'build VersionUtilsTest for VersionUtils.java'
  soul-common/src/test/java/org/dromara/soul/common/utils/VersionUtilsTest.java
Labels: test

#496 Fix issue 494 of httpclient prefix typo
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-httpclient/src/main/java/org/dromara/soul/springboot/starter/plugin/httpclient/HttpClientPluginConfiguration.java
Labels: bug, http-proxy

#499 update SignUtilsTest
  soul-common/src/test/java/org/dromara/soul/common/utils/SignUtilsTest.java
Labels: test

#500 Add test cases for soul-admin
  script/soul_checkstyle.xml
  soul-admin/pom.xml
  soul-admin/src/test/java/org/dromara/soul/admin/AbstractSpringIntegrationTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/controller/SoulDictControllerTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/mapper/SoulDictMapperTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/service/SoulDictServiceTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/utils/AesUtilsTest.java
  soul-admin/src/test/resources/META-INF/schema.sql
  soul-admin/src/test/resources/application-test.yml
Labels: soul-admin, test

#515 Remove unnecessary annotation `Component`
  soul-admin/src/main/java/org/dromara/soul/admin/utils/CipherUtils.java
Labels: refactor, soul-admin

#504 add ZKPathConstantTest (#484)
  soul-common/src/test/java/org/dromara/soul/common/constant/ZkPathConstantsTest.java
Labels: test

#512 Sofa test
  soul-plugin/soul-plugin-sofa/pom.xml
  soul-plugin/soul-plugin-sofa/src/test/java/org/dromara/soul/plugin/sofa/SofaPluginTest.java
  soul-plugin/soul-plugin-sofa/src/test/java/org/dromara/soul/plugin/sofa/handler/SofaPluginDataHandlerTest.java
  soul-plugin/soul-plugin-sofa/src/test/java/org/dromara/soul/plugin/sofa/param/BodyParamPluginTest.java
  soul-plugin/soul-plugin-sofa/src/test/java/org/dromara/soul/plugin/sofa/response/SofaResponsePluginTest.java
  soul-plugin/soul-plugin-sofa/src/test/java/org/dromara/soul/plugin/sofa/subscriber/SofaMetaDataSubscriberTest.java
Labels: sofa, test

#518 add test case for DataSyncEnum
  soul-common/src/test/java/org/dromara/soul/common/enums/DataSyncEnumTest.java
Labels: test

#522 optimize ZkPathConstants
  soul-common/src/main/java/org/dromara/soul/common/constant/ZkPathConstants.java
Labels: refactor

#519 add test cases for ConfigGroupEnum
  soul-common/src/test/java/org/dromara/soul/common/enums/ConfigGroupEnumTest.java
Labels: test

#535 Fix typo
  soul-client/soul-client-common/src/main/java/org/dromara/soul/client/common/utils/OkHttpTools.java
  soul-client/soul-client-dubbo/soul-client-alibaba-dubbo/src/main/java/org/dromara/soul/client/alibaba/dubbo/AlibabaDubboServiceBeanPostProcessor.java
  soul-client/soul-client-dubbo/soul-client-apache-dubbo/src/main/java/org/dromara/soul/client/apache/dubbo/ApacheDubboServiceBeanPostProcessor.java
  soul-client/soul-client-http/soul-client-springcloud/src/main/java/org/dromara/soul/client/springcloud/init/ContextRegisterListener.java
  soul-client/soul-client-http/soul-client-springcloud/src/main/java/org/dromara/soul/client/springcloud/init/SpringCloudClientBeanPostProcessor.java
  soul-client/soul-client-http/soul-client-springmvc/src/main/java/org/dromara/soul/client/springmvc/init/ContextRegisterListener.java
  soul-client/soul-client-http/soul-client-springmvc/src/main/java/org/dromara/soul/client/springmvc/init/SpringMvcClientBeanPostProcessor.java
  soul-client/soul-client-sofa/src/main/java/org/dromara/soul/client/sofa/SofaServiceBeanPostProcessor.java
Labels: refactor

#525 #506 soul-admin -> http Listener Test
  soul-admin/src/main/java/org/dromara/soul/admin/listener/ConfigDataCache.java
  soul-admin/src/test/java/org/dromara/soul/admin/listener/http/HttpLongPollingDataChangedListenerTest.java
  soul-plugin/soul-plugin-api/src/main/java/org/dromara/soul/plugin/api/context/SoulContext.java
  soul-test/soul-test-http/src/main/resources/application.yml
Labels: soul-admin, test

#536 add final on Test Classes
  soul-admin/src/test/java/org/dromara/soul/admin/controller/SoulDictControllerTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/mapper/SoulDictMapperTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/service/SoulDictServiceTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/utils/AesUtilsTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/utils/CipherUtilsTest.java
  soul-bootstrap/src/test/java/org/dromara/soul/boostrap/DubboMultiParameterTest.java
  soul-bootstrap/src/test/java/org/dromara/soul/boostrap/dubbo/ComplexBeanTest.java
  soul-bootstrap/src/test/java/org/dromara/soul/boostrap/dubbo/DubboTest.java
  soul-common/src/test/java/org/dromara/soul/common/utils/DateUtilsTest.java
  soul-common/src/test/java/org/dromara/soul/common/utils/HttpParamConverterTest.java
  soul-common/src/test/java/org/dromara/soul/common/utils/JsonUtilsTest.java
  soul-common/src/test/java/org/dromara/soul/common/utils/Md5UtilsTest.java
  soul-common/src/test/java/org/dromara/soul/common/utils/PathMatchUtilsTest.java
  soul-common/src/test/java/org/dromara/soul/common/utils/ReflectUtilsTest.java
  soul-common/src/test/java/org/dromara/soul/common/utils/SignUtilsTest.java
  soul-common/src/test/java/org/dromara/soul/common/utils/SpiLoadFactoryTest.java
  soul-common/src/test/java/org/dromara/soul/common/utils/UpstreamCheckUtilsTest.java
  soul-common/src/test/java/org/dromara/soul/common/utils/VersionUtilsTest.java
  soul-metrics/soul-metrics-prometheus/src/test/java/org/dromara/soul/metrics/prometheus/JmxCollectorTest.java
  soul-metrics/soul-metrics-prometheus/src/test/java/org/dromara/soul/metrics/prometheus/JmxScraperTest.java
  soul-plugin/soul-plugin-divide/src/test/java/org/dromara/soul/plugin/divide/LoadBalanceTest.java
  soul-plugin/soul-plugin-ratelimiter/src/test/java/org/dromara/soul/plugin/ratelimiter/RedisRateLimiterTests.java
  soul-sync-data-center/soul-sync-data-zookeeper/src/test/java/org/dromara/soul/sync/data/zookeeper/ZookeeperClientTest.java
Labels: refactor

#520 mock test for PlatformController
  soul-admin/src/test/java/org/dromara/soul/admin/controller/PlatformControllerTest.java
Labels: soul-admin, test

#537 Issue-510: Add test case for the ConfigController class.
  soul-admin/src/test/java/org/dromara/soul/admin/controller/ConfigControllerTest.java
Labels: soul-admin, test

#528 Issue 2 511
  soul-admin/src/main/resources/META-INF/schema.sql
Labels: refactor

#548 Add test cases for AuthPathMapper and fix bugs for auth-path-sqlmap.xml.
  soul-admin/src/main/resources/mappers/auth-path-sqlmap.xml
  soul-admin/src/test/java/org/dromara/soul/admin/mapper/AuthPathMapperTest.java
Labels: soul-admin, test

#543 Add test cases for soul-admin EnumService
  soul-admin/src/test/java/org/dromara/soul/admin/service/EnumServiceTest.java
Labels: soul-admin, test

#554 Add test cases for PluginHandleController
  soul-admin/src/test/java/org/dromara/soul/admin/controller/PluginHandleControllerTest.java
Labels: soul-admin, test

#555 Add test for soul-common DataEventTypeEnum (#485)
  soul-common/src/test/java/org/dromara/soul/common/enums/DataEventTypeEnumTest.java
Labels: soul-admin, test

#553 Remove `@date` comment
  soul-admin/src/test/java/org/dromara/soul/admin/listener/http/HttpLongPollingDataChangedListenerTest.java
Labels: refactor

#552 [#485] add test case for SerializeEnum
  soul-common/src/test/java/org/dromara/soul/common/enums/SerializeEnumTest.java
Labels: test

#557 add WebsocketSyncProperties test case
  soul-admin/src/test/java/org/dromara/soul/admin/config/WebsocketSyncPropertiesTest.java
Labels: test

#544 Add test cases for soul-admin HttpSyncProperties
  soul-admin/src/test/java/org/dromara/soul/admin/config/HttpSyncPropertiesTest.java
Labels: soul-admin, test

#559 Optimize configuration properties test
  soul-admin/src/test/java/org/dromara/soul/admin/AbstractConfigurationTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/config/HttpSyncPropertiesTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/config/WebsocketSyncPropertiesTest.java
Labels: refactor, test

#564 510(update two issues)
  soul-admin/src/test/java/org/dromara/soul/admin/controller/PluginControllerTest.java
Labels: test

#560 Fix AppAuthMapper insertSelective bug
  soul-admin/src/main/resources/mappers/app-auth-sqlmap.xml
Labels: bug, soul-admin

#563 Add test case for DashboardUserMapper and fix bugs
  soul-admin/src/main/resources/mappers/dashboard-user-sqlmap.xml
  soul-admin/src/test/java/org/dromara/soul/admin/mapper/DashboardUserMapperTest.java
Labels: test

#566 Add test cases for soul-admin RuleMapper.
  soul-admin/src/test/java/org/dromara/soul/admin/mapper/RuleMapperTest.java
Labels: test

#562 Add test cases for soul-common UUIDUtils
  soul-common/src/test/java/org/dromara/soul/common/utils/UUIDUtilsTest.java
Labels: test

#567 Add test case for AppAuthMapper of soul-admin #509
  soul-admin/src/test/java/org/dromara/soul/admin/mapper/AppAuthMapperTest.java
Labels: test

#568 Add test cases for ParamTypeEnum of sour-common
  soul-common/src/test/java/org/dromara/soul/common/enums/ParamTypeEnumTest.java
Labels: test

#572 Add test cases for GsonUtils of sour-common (#484)
  soul-common/src/test/java/org/dromara/soul/common/utils/GsonUtilsTest.java
Labels: test

#547 create test cases for SwaggerConfiguration
  soul-admin/src/test/java/org/dromara/soul/admin/config/SwaggerConfigurationTest.java
Labels: test

#574 add test cases for SelectorController #510
  soul-admin/src/test/java/org/dromara/soul/admin/controller/SelectorControllerTest.java
Labels: test

#575 Add dubbo tag route(#471)
  soul-common/src/main/java/org/dromara/soul/common/constant/Constants.java
  soul-plugin/soul-plugin-apache-dubbo/src/main/java/org/dromara/soul/plugin/apache/dubbo/proxy/ApacheDubboProxyService.java
  soul-plugin/soul-plugin-sofa/src/main/java/org/dromara/soul/plugin/sofa/cache/ApplicationConfigCache.java
Labels: dubbo

#576 #460
  soul-admin/src/main/resources/META-INF/schema.sql
  soul-plugin/soul-plugin-rewrite/pom.xml
  soul-plugin/soul-plugin-rewrite/src/test/java/org/dromara/soul/plugin/rewrite/RewritePluginTest.java
Labels: test

#577 Add test case for SelectorConditionMapper of soul-admin mapper #509
  soul-admin/src/test/java/org/dromara/soul/admin/mapper/SelectorConditionMapperTest.java
Labels: test

#551 Add test case for RuleCntroller of soul-admin
  soul-admin/src/test/java/org/dromara/soul/admin/controller/RuleControllerTest.java
Labels: test

#580 Add test cases to the MetaDataService of the soul-admin module. (#507)
  soul-admin/src/test/java/org/dromara/soul/admin/service/MetaDataServiceTest.java
Labels: test

#583 add test case for PluginEnum
  soul-common/src/test/java/org/dromara/soul/common/enums/PluginEnumTest.java
Labels: test

#549 [soul-admin] test: add test case for NacosDataChangedListener
  soul-admin/src/main/java/org/dromara/soul/admin/listener/nacos/NacosDataChangedListener.java
  soul-admin/src/test/java/org/dromara/soul/admin/listener/nacos/NacosDataChangedListenerTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/listener/nacos/NacosMockConfigService.java
  soul-common/src/main/java/org/dromara/soul/common/dto/AppAuthData.java
  soul-common/src/main/java/org/dromara/soul/common/dto/MetaData.java
  soul-common/src/main/java/org/dromara/soul/common/dto/PluginData.java
  soul-common/src/main/java/org/dromara/soul/common/dto/RuleData.java
  soul-common/src/main/java/org/dromara/soul/common/dto/SelectorData.java
Labels: soul-admin, test

#584 Add test cases for RuleService of soul-admin(#507)
  soul-admin/src/test/java/org/dromara/soul/admin/service/RuleServiceTest.java
Labels: soul-admin, test

#585 Add test cases for MetaDataController of soul-admin (#510)
  soul-admin/src/main/java/org/dromara/soul/admin/vo/MetaDataVO.java
  soul-admin/src/test/java/org/dromara/soul/admin/controller/MetaDataControllerTest.java
Labels: soul-admin, test

#579 Optimize soul client register code
  soul-client/soul-client-common/pom.xml
  soul-client/soul-client-common/src/main/java/org/dromara/soul/client/common/utils/RegisterUtils.java
  soul-client/soul-client-dubbo/soul-client-alibaba-dubbo/src/main/java/org/dromara/soul/client/alibaba/dubbo/AlibabaDubboServiceBeanPostProcessor.java
  soul-client/soul-client-dubbo/soul-client-apache-dubbo/src/main/java/org/dromara/soul/client/apache/dubbo/ApacheDubboServiceBeanPostProcessor.java
  soul-client/soul-client-http/soul-client-springcloud/src/main/java/org/dromara/soul/client/springcloud/init/ContextRegisterListener.java
  soul-client/soul-client-http/soul-client-springcloud/src/main/java/org/dromara/soul/client/springcloud/init/SpringCloudClientBeanPostProcessor.java
  soul-client/soul-client-http/soul-client-springmvc/src/main/java/org/dromara/soul/client/springmvc/init/ContextRegisterListener.java
  soul-client/soul-client-http/soul-client-springmvc/src/main/java/org/dromara/soul/client/springmvc/init/SpringMvcClientBeanPostProcessor.java
  soul-client/soul-client-sofa/src/main/java/org/dromara/soul/client/sofa/SofaServiceBeanPostProcessor.java
  soul-common/src/main/java/org/dromara/soul/common/constant/AdminConstants.java
Labels: refactor, soul-client

#586 Add test case for MetaDataMapper of soul-admin (#509)
  soul-admin/src/test/java/org/dromara/soul/admin/mapper/MetaDataMapperTest.java
Labels: test

#546 Issue 2 511
  soul-admin/src/main/resources/META-INF/schema.sql
Labels: enhancement, soul-admin

#591 fix issue 589 , bug about sign timeout
  soul-common/src/main/java/org/dromara/soul/common/utils/DateUtils.java
  soul-common/src/test/java/org/dromara/soul/common/utils/DateUtilsTest.java
  soul-plugin/soul-plugin-sign/src/main/java/org/dromara/soul/plugin/sign/service/DefaultSignService.java
Labels: refactor

#594 remove the useless space in the schema.sql
  soul-admin/src/main/resources/META-INF/schema.sql
Labels: soul-admin

#588 test: add the test case for org.dromara.soul.plugin.sync.data.webosck…
  soul-sync-data-center/soul-sync-data-websocket/src/test/java/org/dromara/soul/plugin/sync/data/weboscket/handler/AuthDataHandlerTest.java
Labels: soul-admin, test

#565 Add test case for SoulClientRegisterService of soul-admin #507
  soul-admin/src/test/java/org/dromara/soul/admin/service/SoulClientRegisterServiceTest.java
Labels: test

#573 Add test cases for sign plugin
  soul-bootstrap/pom.xml
  soul-plugin/soul-plugin-sign/pom.xml
  soul-plugin/soul-plugin-sign/src/main/java/org/dromara/soul/plugin/sign/service/DefaultSignService.java
  soul-plugin/soul-plugin-sign/src/test/java/org/dromara/soul/plugin/sign/SignPluginTest.java
  soul-plugin/soul-plugin-sign/src/test/java/org/dromara/soul/plugin/sign/service/DefaultSignServiceTest.java
Labels: test

#597 Issue-592: Add test case for AlibabaDubboPlugin.
  soul-plugin/soul-plugin-alibaba-dubbo/pom.xml
  soul-plugin/soul-plugin-alibaba-dubbo/src/test/java/org/dromara/soul/plugin/alibaba/dubbo/AlibabaDubboPluginTest.java
Labels: dubbo, plugin, test

#599 issue-590: add test case for BodyParamPlugin.
  soul-plugin/soul-plugin-apache-dubbo/pom.xml
  soul-plugin/soul-plugin-apache-dubbo/src/test/java/org/dromara/soul/plugin/apache/dubbo/param/BodyParamPluginTest.java
Labels: dubbo, plugin, test

#601 Add test case for AppAuthService of soul-admin (#507)
  soul-admin/src/test/java/org/dromara/soul/admin/service/AppAuthServiceTest.java
Labels: test

#603 Add test for ApacheDubboPluginDataHandler.#590 and remove warning in RuleServiceTest.#507
  soul-admin/src/test/java/org/dromara/soul/admin/service/RuleServiceTest.java
  soul-plugin/soul-plugin-apache-dubbo/src/test/java/org/dromara/soul/plugin/apache/dubbo/handler/ApacheDubboPluginDataHandlerTest.java
Labels: test

#604 Fix warning
  soul-admin/src/test/java/org/dromara/soul/admin/AbstractConfigurationTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/AbstractSpringIntegrationTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/controller/ConfigControllerTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/controller/PluginControllerTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/controller/PluginHandleControllerTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/controller/RuleControllerTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/controller/SoulDictControllerTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/listener/nacos/NacosDataChangedListenerTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/listener/nacos/NacosMockConfigService.java
  soul-admin/src/test/java/org/dromara/soul/admin/mapper/AppAuthMapperTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/mapper/DashboardUserMapperTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/mapper/MetaDataMapperTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/mapper/PluginHandleMapperTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/mapper/RuleMapperTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/service/SoulClientRegisterServiceTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/service/SoulDictServiceTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/utils/CipherUtilsTest.java
Labels: test

#605 add AlibabaDubboPluginData test case
  soul-plugin/soul-plugin-alibaba-dubbo/src/test/java/org/dromara/soul/plugin/alibaba/dubbo/handler/AlibabaDubboPluginDataTest.java
Labels: dubbo, test

#611 solve GsonUtils's tree issues, and add GsonUtilsTest' method to check toTreeMap().(#595)
  soul-common/src/main/java/org/dromara/soul/common/utils/GsonUtils.java
  soul-common/src/test/java/org/dromara/soul/common/utils/GsonUtilsTest.java
  soul-metrics/soul-metrics-prometheus/src/main/java/org/dromara/soul/metrics/prometheus/impl/collector/JmxCollector.java
Labels: refactor

#609 [#607]add springmvc test case.
  soul-client/pom.xml
  soul-client/soul-client-http/soul-client-springmvc/pom.xml
  soul-client/soul-client-http/soul-client-springmvc/src/test/java/org/dromara/soul/client/springmvc/init/ContextRegisterListenerTest.java
  soul-client/soul-client-http/soul-client-springmvc/src/test/java/org/dromara/soul/client/springmvc/init/SpringMvcClientBeanPostProcessorTest.java
Labels: spring-cloud, test

#610 Issue-590 add apache dubbo response plugin test
  soul-plugin/soul-plugin-apache-dubbo/src/test/java/org/dromara/soul/plugin/apache/dubbo/param/BodyParamPluginTest.java
  soul-plugin/soul-plugin-apache-dubbo/src/test/java/org/dromara/soul/plugin/apache/dubbo/response/ApacheDubboResponsePluginTest.java
Labels: dubbo, test

#614 [#600] modifies all entity data classes constructed as Builder schemas
  soul-admin/src/main/java/org/dromara/soul/admin/dto/MetaDataDTO.java
  soul-admin/src/main/java/org/dromara/soul/admin/dto/RuleConditionDTO.java
  soul-admin/src/main/java/org/dromara/soul/admin/dto/RuleDTO.java
  soul-admin/src/main/java/org/dromara/soul/admin/dto/SelectorDTO.java
  soul-admin/src/main/java/org/dromara/soul/admin/entity/AppAuthDO.java
  soul-admin/src/main/java/org/dromara/soul/admin/entity/AuthParamDO.java
  soul-admin/src/main/java/org/dromara/soul/admin/entity/AuthPathDO.java
  soul-admin/src/main/java/org/dromara/soul/admin/entity/BaseDO.java
  soul-admin/src/main/java/org/dromara/soul/admin/entity/DashboardUserDO.java
  soul-admin/src/main/java/org/dromara/soul/admin/entity/MetaDataDO.java
  soul-admin/src/main/java/org/dromara/soul/admin/entity/PluginDO.java
  soul-admin/src/main/java/org/dromara/soul/admin/entity/PluginHandleDO.java
  soul-admin/src/main/java/org/dromara/soul/admin/entity/RuleConditionDO.java
  soul-admin/src/main/java/org/dromara/soul/admin/entity/RuleDO.java
  soul-admin/src/main/java/org/dromara/soul/admin/entity/SelectorConditionDO.java
  soul-admin/src/main/java/org/dromara/soul/admin/entity/SelectorDO.java
  soul-admin/src/main/java/org/dromara/soul/admin/entity/SoulDictDO.java
  soul-admin/src/main/java/org/dromara/soul/admin/listener/zookeeper/HttpServiceDiscovery.java
  soul-admin/src/main/java/org/dromara/soul/admin/query/PluginHandleQuery.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/AppAuthServiceImpl.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/PluginHandleServiceImpl.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/SelectorServiceImpl.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/SoulClientRegisterServiceImpl.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/SoulDictServiceImpl.java
  soul-admin/src/test/java/org/dromara/soul/admin/controller/RuleControllerTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/controller/SelectorControllerTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/mapper/AppAuthMapperTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/mapper/AuthParamMapperTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/mapper/AuthPathMapperTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/mapper/DashboardUserMapperTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/mapper/MetaDataMapperTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/mapper/PluginHandleMapperTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/mapper/RuleConditionMapperTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/mapper/RuleMapperTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/mapper/SelectorConditionMapperTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/mapper/SoulDictMapperTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/service/MetaDataServiceTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/service/RuleServiceTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/service/SoulClientRegisterServiceTest.java
  soul-common/src/main/java/org/dromara/soul/common/dto/AuthPathData.java
  soul-common/src/main/java/org/dromara/soul/common/dto/convert/DivideUpstream.java
  soul-common/src/main/java/org/dromara/soul/common/dto/convert/selector/SpringCloudSelectorHandle.java
  soul-common/src/main/java/org/dromara/soul/common/utils/UUIDUtils.java
  soul-plugin/soul-plugin-divide/src/test/java/org/dromara/soul/plugin/divide/LoadBalanceTest.java
  soul-sync-data-center/soul-sync-data-zookeeper/src/test/java/org/dromara/soul/sync/data/zookeeper/ZookeeperClientTest.java
Labels: refactor

#617 Add test cases for NacosPropertiesConfiguration and NacosProperties.
  soul-admin/src/test/java/org/dromara/soul/admin/config/NacosConfigurationTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/config/NacosPropertiesTest.java
Labels: test

#618 Add build for window os and macos
  .github/workflows/main.yml
  .github/workflows/maven-on-macos.yml
  .github/workflows/maven-on-ubuntu.yml
  .github/workflows/maven-on-windows.yml
  .mvn/wrapper/MavenWrapperDownloader.java
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  mvnw.cmd
Labels: build

#625 [#615]fix error port.
  soul-client/soul-client-sofa/src/test/java/org/dromara/soul/client/sofa/SofaServiceBeanPostProcessorTest.java
Labels: bug

#613 issue-405: Optimize maven pom profiles.
  pom.xml
  soul-admin/pom.xml
  soul-bootstrap/pom.xml
  soul-client/pom.xml
  soul-client/soul-client-dubbo/soul-client-alibaba-dubbo/pom.xml
  soul-client/soul-client-dubbo/soul-client-apache-dubbo/pom.xml
  soul-client/soul-client-sofa/pom.xml
  soul-common/pom.xml
  soul-plugin/soul-plugin-hystrix/pom.xml
  soul-plugin/soul-plugin-ratelimiter/pom.xml
  soul-plugin/soul-plugin-sentinel/pom.xml
  soul-plugin/soul-plugin-springcloud/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-springcloud/pom.xml
  soul-sync-data-center/soul-sync-data-nacos/pom.xml
  soul-sync-data-center/soul-sync-data-websocket/pom.xml
  soul-test/pom.xml
  soul-test/soul-test-dubbo/soul-test-alibaba-dubbo-service/pom.xml
  soul-test/soul-test-dubbo/soul-test-apache-dubbo-service/pom.xml
  soul-test/soul-test-dubbo/soul-test-dubbo-api/pom.xml
  soul-test/soul-test-http/pom.xml
  soul-test/soul-test-sofa/pom.xml
  soul-test/soul-test-springcloud/pom.xml
  soul-web/pom.xml
Labels: refactor

#621 test case for webconfig
  soul-admin/src/test/java/org/dromara/soul/admin/config/WebConfigTest.java
Labels: test

#623 506 issue，add testCase for soul-admin ZookeeperDataChangedListener
  soul-admin/pom.xml
  soul-admin/src/main/resources/application-local.yml
  soul-admin/src/test/java/org/dromara/soul/admin/listener/zookeeper/ZookeeperDataChangedListenerTest.java
Labels: test

#628 Fix codecov
  pom.xml
  soul-client/soul-client-sofa/src/test/java/org/dromara/soul/client/sofa/SofaServiceBeanPostProcessorTest.java
Labels: build

#629 Remove duplicate dependencies
  soul-admin/pom.xml
Labels: build

#632 #615 change test case port get method and make wait time longer
  soul-client/soul-client-http/soul-client-springmvc/src/test/java/org/dromara/soul/client/springmvc/init/ContextRegisterListenerTest.java
  soul-client/soul-client-http/soul-client-springmvc/src/test/java/org/dromara/soul/client/springmvc/init/SpringMvcClientBeanPostProcessorTest.java
  soul-client/soul-client-sofa/src/test/java/org/dromara/soul/client/sofa/SofaServiceBeanPostProcessorTest.java
Labels: test

#626 Add PluginServerTest
  soul-admin/src/test/java/org/dromara/soul/admin/service/PluginServiceTest.java
Labels: test

#636 Refactor RpcTypeEnum & RuleHandle generate method.
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/SoulClientRegisterServiceImpl.java
  soul-common/src/main/java/org/dromara/soul/common/constant/RuleHandleConstants.java
  soul-common/src/main/java/org/dromara/soul/common/dto/convert/rule/RuleHandle.java
  soul-common/src/main/java/org/dromara/soul/common/dto/convert/rule/RuleHandleFactory.java
  soul-common/src/main/java/org/dromara/soul/common/dto/convert/rule/impl/DivideRuleHandle.java
  soul-common/src/main/java/org/dromara/soul/common/dto/convert/rule/impl/DubboRuleHandle.java
  soul-common/src/main/java/org/dromara/soul/common/dto/convert/rule/impl/SofaRuleHandle.java
  soul-common/src/main/java/org/dromara/soul/common/dto/convert/rule/impl/SpringCloudRuleHandle.java
  soul-common/src/main/java/org/dromara/soul/common/enums/RpcTypeEnum.java
  soul-plugin/soul-plugin-divide/src/main/java/org/dromara/soul/plugin/divide/DividePlugin.java
  soul-plugin/soul-plugin-divide/src/main/java/org/dromara/soul/plugin/divide/websocket/WebSocketPlugin.java
  soul-plugin/soul-plugin-springcloud/src/main/java/org/dromara/soul/plugin/springcloud/SpringCloudPlugin.java
  soul-sync-data-center/soul-sync-data-zookeeper/src/test/java/org/dromara/soul/sync/data/zookeeper/ZookeeperClientTest.java
Labels: refactor

#647 Add test case for RuleHandleFactory(soul#640)
  soul-common/src/main/java/org/dromara/soul/common/dto/convert/rule/RuleHandleFactory.java
  soul-common/src/test/java/org/dromara/soul/common/dto/convert/rule/RuleHandleFactoryTest.java
Labels: test

#645 Refactor: remove some `else if` statements, try make the code looks m…
  soul-common/src/main/java/org/dromara/soul/common/utils/GsonUtils.java
  soul-common/src/main/java/org/dromara/soul/common/utils/VersionUtils.java
  soul-plugin/soul-plugin-alibaba-dubbo/src/main/java/org/dromara/soul/plugin/alibaba/dubbo/cache/ApplicationConfigCache.java
  soul-plugin/soul-plugin-alibaba-dubbo/src/main/java/org/dromara/soul/plugin/alibaba/dubbo/param/BodyParamPlugin.java
  soul-plugin/soul-plugin-apache-dubbo/src/main/java/org/dromara/soul/plugin/apache/dubbo/cache/ApplicationConfigCache.java
  soul-plugin/soul-plugin-apache-dubbo/src/main/java/org/dromara/soul/plugin/apache/dubbo/param/BodyParamPlugin.java
  soul-plugin/soul-plugin-httpclient/src/main/java/org/dromara/soul/plugin/httpclient/response/WebClientResponsePlugin.java
  soul-plugin/soul-plugin-ratelimiter/src/main/java/org/dromara/soul/plugin/ratelimiter/handler/RateLimiterPluginDataHandler.java
  soul-plugin/soul-plugin-sofa/src/main/java/org/dromara/soul/plugin/sofa/cache/ApplicationConfigCache.java
  soul-plugin/soul-plugin-sofa/src/main/java/org/dromara/soul/plugin/sofa/param/BodyParamPlugin.java
Labels: refactor

#642 Add webClient retry support of dividePlugin set, and issue #70 resolved
  soul-common/src/main/java/org/dromara/soul/common/constant/Constants.java
  soul-plugin/soul-plugin-divide/src/main/java/org/dromara/soul/plugin/divide/DividePlugin.java
  soul-plugin/soul-plugin-httpclient/pom.xml
  soul-plugin/soul-plugin-httpclient/src/main/java/org/dromara/soul/plugin/httpclient/WebClientPlugin.java
Labels: http-proxy, refactor

#650 use annotation @Slf4j instead of LoggerFactory.getLogger
  soul-admin/src/main/java/org/dromara/soul/admin/exception/ExceptionHandlers.java
  soul-admin/src/main/java/org/dromara/soul/admin/listener/AbstractDataChangedListener.java
  soul-admin/src/main/java/org/dromara/soul/admin/listener/ApplicationStartListener.java
  soul-admin/src/main/java/org/dromara/soul/admin/listener/http/HttpLongPollingDataChangedListener.java
  soul-admin/src/main/java/org/dromara/soul/admin/listener/websocket/WebsocketCollector.java
  soul-admin/src/main/java/org/dromara/soul/admin/listener/zookeeper/HttpServiceDiscovery.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/MetaDataServiceImpl.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/init/LocalDataSourceLoader.java
  soul-common/src/main/java/org/dromara/soul/common/utils/DateUtils.java
  soul-common/src/main/java/org/dromara/soul/common/utils/JsonUtils.java
  soul-common/src/main/java/org/dromara/soul/common/utils/VersionUtils.java
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/utils/CheckUtils.java
  soul-plugin/soul-plugin-divide/src/main/java/org/dromara/soul/plugin/divide/DividePlugin.java
  soul-plugin/soul-plugin-httpclient/src/main/java/org/dromara/soul/plugin/httpclient/NettyHttpClientPlugin.java
  soul-plugin/soul-plugin-hystrix/src/main/java/org/dromara/soul/plugin/hystrix/command/HystrixCommand.java
  soul-plugin/soul-plugin-hystrix/src/main/java/org/dromara/soul/plugin/hystrix/command/HystrixCommandOnThread.java
  soul-spi/src/main/java/org/dromara/soul/spi/ExtensionLoader.java
  soul-sync-data-center/soul-sync-data-websocket/src/test/java/org/dromara/soul/sync/data/websocket/WebsocketClientTest.java
  soul-sync-data-center/soul-sync-data-zookeeper/src/test/java/org/dromara/soul/sync/data/zookeeper/ZookeeperClientTest.java
  soul-web/src/main/java/org/dromara/soul/web/forwarde/ForwardedRemoteAddressResolver.java
  soul-web/src/main/java/org/dromara/soul/web/handler/GlobalErrorHandler.java
Labels: refactor

#657 Issure460 ratelimiter
  soul-plugin/soul-plugin-ratelimiter/pom.xml
  soul-plugin/soul-plugin-ratelimiter/src/test/java/org/dromara/soul/plugin/ratelimiter/RateLimiterPluginTest.java
  soul-plugin/soul-plugin-ratelimiter/src/test/java/org/dromara/soul/plugin/ratelimiter/config/RateLimiterConfigTest.java
  soul-plugin/soul-plugin-ratelimiter/src/test/java/org/dromara/soul/plugin/ratelimiter/executor/RedisRateLimiterTest.java
  soul-plugin/soul-plugin-ratelimiter/src/test/java/org/dromara/soul/plugin/ratelimiter/handler/RateLimiterPluginDataHandlerTest.java
Labels: ratelimiter, test

#664 Update issue template labels
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: type: build

#662 add test for soul-plugin-alibaba DubboResponsePlugin #592
  soul-plugin/soul-plugin-alibaba-dubbo/src/test/java/org/dromara/soul/plugin/alibaba/dubbo/response/DubboResponsePluginTest.java
Labels: in: test, plugin: alibaba-dubbo

#665 Optimize test cases and fix comment
  soul-admin/src/test/java/org/dromara/soul/admin/listener/http/HttpLongPollingDataChangedListenerTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/listener/websocket/WebsocketDataChangedListenerTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/mapper/AuthPathMapperTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/mapper/PluginMapperTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/mapper/RuleMapperTest.java
  soul-common/src/test/java/org/dromara/soul/common/enums/DataSyncEnumTest.java
  soul-common/src/test/java/org/dromara/soul/common/enums/ParamTypeEnumTest.java
  soul-common/src/test/java/org/dromara/soul/common/enums/PluginEnumTest.java
  soul-common/src/test/java/org/dromara/soul/common/utils/GsonUtilsTest.java
  soul-common/src/test/java/org/dromara/soul/common/utils/SpiLoadFactoryTest.java
  soul-common/src/test/java/org/dromara/soul/common/utils/UUIDUtilsTest.java
  soul-plugin/soul-plugin-resilience4j/src/test/java/org/dromara/soul/plugin/resilience4j/executor/CombinedExecutorTest.java
  soul-plugin/soul-plugin-resilience4j/src/test/java/org/dromara/soul/plugin/resilience4j/executor/RateLimiterExecutorTest.java
  soul-plugin/soul-plugin-sign/src/test/java/org/dromara/soul/plugin/sign/SignPluginTest.java
Labels: in: test, type: refactor

#661 test: add spring-cloud-client test
  soul-client/soul-client-http/soul-client-springcloud/pom.xml
  soul-client/soul-client-http/soul-client-springcloud/src/test/java/org/dromara/soul/client/springcloud/ContextRegisterListenerTest.java
  soul-client/soul-client-http/soul-client-springcloud/src/test/java/org/dromara/soul/client/springcloud/SpringMvcClientBeanPostProcessorTest.java
Labels: in: test, soul-client

#672 Optimize test cases for SoulDictController #668
  soul-admin/src/test/java/org/dromara/soul/admin/controller/SoulDictControllerTest.java
Labels: in: test, type: refactor

#671 [#651] Add Sou-metrics Test Case
  soul-admin/src/main/java/org/dromara/soul/admin/dto/RuleDTO.java
  soul-admin/src/test/java/org/dromara/soul/admin/service/MetaDataServiceTest.java
  soul-metrics/soul-metrics-facade/src/main/test/java/org/dromara/soul/metrics/facade/MetricsTrackerFacadeTest.java
  soul-metrics/soul-metrics-facade/src/main/test/java/org/dromara/soul/metrics/facade/TestPrometheusMetricsTrackerManager.java
  soul-metrics/soul-metrics-facade/src/main/test/resources/META-INF/soul/org.dromara.soul.metrics.spi.MetricsTrackerManager
  soul-metrics/soul-metrics-prometheus/src/main/java/org/dromara/soul/metrics/prometheus/impl/collector/JmxCollector.java
  soul-metrics/soul-metrics-prometheus/src/test/java/org/dromara/soul/metrics/prometheus/PrometheusMetricsTrackerFactoryTest.java
  soul-metrics/soul-metrics-prometheus/src/test/java/org/dromara/soul/metrics/prometheus/PrometheusMetricsTrackerManagerTest.java
  soul-metrics/soul-metrics-prometheus/src/test/java/org/dromara/soul/metrics/prometheus/impl/collector/BuildInfoCollectorTest.java
  soul-metrics/soul-metrics-prometheus/src/test/java/org/dromara/soul/metrics/prometheus/impl/collector/JmxCollectorTest.java
  soul-metrics/soul-metrics-prometheus/src/test/java/org/dromara/soul/metrics/prometheus/impl/collector/JmxMBeanPropertyCacheTest.java
  soul-metrics/soul-metrics-prometheus/src/test/java/org/dromara/soul/metrics/prometheus/impl/collector/JmxScraperTest.java
  soul-metrics/soul-metrics-prometheus/src/test/java/org/dromara/soul/metrics/prometheus/impl/counter/HttpRequestCounterMetricsTrackerTest.java
  soul-metrics/soul-metrics-prometheus/src/test/java/org/dromara/soul/metrics/prometheus/impl/counter/RequestTotalCounterMetricsTrackerTest.java
  soul-metrics/soul-metrics-prometheus/src/test/java/org/dromara/soul/metrics/prometheus/impl/histogram/PrometheusHistogramMetricsTrackerDelegateTest.java
  soul-metrics/soul-metrics-prometheus/src/test/java/org/dromara/soul/metrics/prometheus/impl/histogram/RequestLatencyHistogramMetricsTrackerTest.java
  soul-metrics/soul-metrics-prometheus/src/test/java/org/dromara/soul/metrics/prometheus/impl/summary/PrometheusSummaryMetricsTrackerDelegateTest.java
  soul-metrics/soul-metrics-prometheus/src/test/java/org/dromara/soul/metrics/prometheus/impl/summary/RequestLatencySummaryMetricsTrackerTest.java
  soul-metrics/soul-metrics-spi/src/test/java/org/dromara/soul/metrics/config/JmxConfigTest.java
  soul-metrics/soul-metrics-spi/src/test/java/org/dromara/soul/metrics/config/MetricsConfigTest.java
  soul-metrics/soul-metrics-spi/src/test/java/org/dromara/soul/metrics/enums/MetricsLabelEnumTest.java
  soul-metrics/soul-metrics-spi/src/test/java/org/dromara/soul/metrics/enums/MetricsTypeEnumTest.java
Labels: feature: metrics, in: test

#659 Fix bug #656
  soul-common/src/main/java/org/dromara/soul/common/utils/GsonUtils.java
  soul-common/src/test/java/org/dromara/soul/common/utils/GsonUtilsTest.java
  soul-sync-data-center/soul-sync-data-nacos/src/main/java/org/dromara/soul/sync/data/nacos/handler/NacosCacheHandler.java
Labels: data-sync: nacos, type: bug

#679 Fix bug
  soul-metrics/soul-metrics-prometheus/src/main/java/org/dromara/soul/metrics/prometheus/impl/collector/JmxCollector.java
Labels: type: bug

#676 eliminate yellow warning for soul admin test code. fix #675
  soul-admin/src/test/java/org/dromara/soul/admin/config/DataSyncConfigurationTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/config/WebConfigTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/controller/RuleControllerTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/listener/nacos/NacosMockConfigService.java
  soul-admin/src/test/java/org/dromara/soul/admin/listener/zookeeper/ZookeeperDataChangedListenerTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/mapper/AppAuthMapperTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/mapper/RuleConditionMapperTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/mapper/SelectorConditionMapperTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/service/PluginServiceTest.java
Labels: in: test, type: refactor

#678 Optimize test cases for soul-metric-prometheus
  soul-metrics/soul-metrics-prometheus/src/test/java/org/dromara/soul/metrics/prometheus/PrometheusMetricsTrackerFactoryTest.java
  soul-metrics/soul-metrics-prometheus/src/test/java/org/dromara/soul/metrics/prometheus/PrometheusMetricsTrackerManagerTest.java
  soul-metrics/soul-metrics-prometheus/src/test/java/org/dromara/soul/metrics/prometheus/impl/counter/HttpRequestCounterMetricsTrackerTest.java
  soul-metrics/soul-metrics-prometheus/src/test/java/org/dromara/soul/metrics/prometheus/impl/counter/RequestTotalCounterMetricsTrackerTest.java
  soul-metrics/soul-metrics-prometheus/src/test/java/org/dromara/soul/metrics/prometheus/impl/histogram/PrometheusHistogramMetricsTrackerDelegateTest.java
  soul-metrics/soul-metrics-prometheus/src/test/java/org/dromara/soul/metrics/prometheus/impl/histogram/RequestLatencyHistogramMetricsTrackerTest.java
  soul-metrics/soul-metrics-prometheus/src/test/java/org/dromara/soul/metrics/prometheus/impl/summary/PrometheusSummaryMetricsTrackerDelegateTest.java
  soul-metrics/soul-metrics-prometheus/src/test/java/org/dromara/soul/metrics/prometheus/impl/summary/RequestLatencySummaryMetricsTrackerTest.java
Labels: in: test, type: refactor

#674 add test case 4 soul-admin vo
  soul-admin/src/main/java/org/dromara/soul/admin/vo/PluginHandleVO.java
  soul-admin/src/test/java/org/dromara/soul/admin/vo/AppAuthVOTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/vo/AuthParamVOTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/vo/AuthPathVOTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/vo/DashboardUserVOTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/vo/EnumVOTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/vo/MetaDataVOTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/vo/PluginHandleVOTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/vo/PluginVOTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/vo/RuleConditionVOTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/vo/RuleVOTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/vo/SelectorConditionVOTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/vo/SelectorVOTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/vo/SoulDictVOTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/vo/base/BaseVOTest.java
Labels: in: test

#688 Update feature-request.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: type: build

#658 Add test case for soul-common SoulThreadFactoryTest
  soul-common/src/test/java/org/dromara/soul/common/concurrent/SoulThreadFactoryTest.java
Labels: in: test

#695 fix issue 694
  soul-plugin/soul-plugin-apache-dubbo/src/test/java/org/dromara/soul/plugin/apache/dubbo/param/BodyParamPluginTest.java
Labels: in: test, type: refactor

#696 Add test case for RedisModeEnum (#687)
  soul-common/src/main/java/org/dromara/soul/common/enums/RedisModeEnum.java
  soul-common/src/test/java/org/dromara/soul/common/enums/RedisModeEnumTest.java
Labels: in: test

#697 test: add test case for org.dromara.soul.plugin.sync.data.weboscket.h…
  soul-sync-data-center/soul-sync-data-websocket/src/test/java/org/dromara/soul/plugin/sync/data/weboscket/handler/MetaDataHandlerTest.java
  soul-sync-data-center/soul-sync-data-websocket/src/test/java/org/dromara/soul/plugin/sync/data/weboscket/handler/PluginDataHandlerTest.java
Labels: in: test, plugin: websocket

#698 add test cases for ApacheDubboPlugin
  soul-plugin/soul-plugin-apache-dubbo/src/test/java/org/dromara/soul/plugin/apache/dubbo/ApacheDubboPluginTest.java
Labels: in: test, plugin: apache-dubbo

#700 Replace all Chinese comments
  soul-admin/src/main/java/org/dromara/soul/admin/config/HttpSyncProperties.java
  soul-admin/src/main/java/org/dromara/soul/admin/config/NacosConfiguration.java
  soul-admin/src/main/java/org/dromara/soul/admin/config/SwaggerConfiguration.java
  soul-admin/src/main/java/org/dromara/soul/admin/exception/ExceptionHandlers.java
  soul-admin/src/main/java/org/dromara/soul/admin/listener/zookeeper/HttpServiceDiscovery.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/AppAuthServiceImpl.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/SelectorServiceImpl.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/SoulClientRegisterServiceImpl.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/UpstreamCheckService.java
  soul-admin/src/main/resources/mybatis/mybatis-config.xml
  soul-bootstrap/pom.xml
  soul-client/soul-client-http/soul-client-springcloud/src/main/java/org/dromara/soul/client/springcloud/config/SoulSpringCloudConfig.java
  soul-client/soul-client-http/soul-client-springmvc/src/main/java/org/dromara/soul/client/springmvc/config/SoulSpringMvcConfig.java
  soul-common/src/main/java/org/dromara/soul/common/constant/AdminConstants.java
  soul-common/src/main/java/org/dromara/soul/common/utils/Md5Utils.java
  soul-common/src/main/java/org/dromara/soul/common/utils/UpstreamCheckUtils.java
  soul-plugin/soul-plugin-alibaba-dubbo/src/main/java/org/dromara/soul/plugin/alibaba/dubbo/cache/ApplicationConfigCache.java
  soul-plugin/soul-plugin-alibaba-dubbo/src/main/java/org/dromara/soul/plugin/alibaba/dubbo/handler/AlibabaDubboPluginDataHandler.java
  soul-plugin/soul-plugin-alibaba-dubbo/src/main/java/org/dromara/soul/plugin/alibaba/dubbo/subscriber/AlibabaDubboMetaDataSubscriber.java
  soul-plugin/soul-plugin-apache-dubbo/src/main/java/org/dromara/soul/plugin/apache/dubbo/cache/ApplicationConfigCache.java
  soul-plugin/soul-plugin-apache-dubbo/src/main/java/org/dromara/soul/plugin/apache/dubbo/handler/ApacheDubboPluginDataHandler.java
  soul-plugin/soul-plugin-apache-dubbo/src/main/java/org/dromara/soul/plugin/apache/dubbo/subscriber/ApacheDubboMetaDataSubscriber.java
  soul-plugin/soul-plugin-api/src/main/java/org/dromara/soul/plugin/api/result/SoulResultEnum.java
  soul-plugin/soul-plugin-divide/src/main/java/org/dromara/soul/plugin/divide/DividePlugin.java
  soul-plugin/soul-plugin-divide/src/main/java/org/dromara/soul/plugin/divide/balance/spi/RandomLoadBalance.java
  soul-plugin/soul-plugin-ratelimiter/src/main/java/org/dromara/soul/plugin/ratelimiter/config/RateLimiterConfig.java
  soul-plugin/soul-plugin-sentinel/src/main/java/org/dromara/soul/plugin/sentinel/SentinelPlugin.java
  soul-plugin/soul-plugin-sofa/src/main/java/org/dromara/soul/plugin/sofa/cache/ApplicationConfigCache.java
  soul-plugin/soul-plugin-sofa/src/main/java/org/dromara/soul/plugin/sofa/handler/SofaPluginDataHandler.java
  soul-plugin/soul-plugin-sofa/src/main/java/org/dromara/soul/plugin/sofa/subscriber/SofaMetaDataSubscriber.java
  soul-sync-data-center/soul-sync-data-zookeeper/src/main/java/org/dromara/soul/sync/data/zookeeper/ZookeeperSyncDataService.java
  soul-test/soul-test-dubbo/soul-test-alibaba-dubbo-service/src/main/java/org/dromara/soul/test/alibaba/dubbo/service/impl/DubboMultiParamServiceImpl.java
  soul-test/soul-test-dubbo/soul-test-alibaba-dubbo-service/src/main/java/org/dromara/soul/test/alibaba/dubbo/service/impl/DubboTestServiceImpl.java
  soul-test/soul-test-dubbo/soul-test-apache-dubbo-service/src/main/java/org/dromara/soul/test/apache/dubbo/service/impl/DubboTestServiceImpl.java
  soul-test/soul-test-http/src/main/java/org/dromara/soul/test/http/controller/OrderController.java
  soul-test/soul-test-http/src/main/java/org/dromara/soul/test/http/result/PaymentTypeService.java
  soul-test/soul-test-sofa/src/main/java/org/dromara/soul/test/sofa/service/impl/SofaTestServiceImpl.java
Labels: type: refactor

#703 Add test case for soul-common ThreadUtils (#654)
  soul-common/src/test/java/org/dromara/soul/common/utils/ThreadUtilsTest.java
Labels: in: test, type: refactor

#710 Add test cases for DashboardUserController of soul-admin(#510)
  soul-admin/src/main/java/org/dromara/soul/admin/dto/DashboardUserDTO.java
  soul-admin/src/test/java/org/dromara/soul/admin/controller/DashboardUserControllerTest.java
Labels: in: test

#711 Add test case for divide plugin
  soul-plugin/soul-plugin-divide/pom.xml
  soul-plugin/soul-plugin-divide/src/test/java/org/dromara/soul/plugin/divide/DividePluginTest.java
  soul-plugin/soul-plugin-divide/src/test/java/org/dromara/soul/plugin/divide/balance/spi/HashLoadBalanceTest.java
  soul-plugin/soul-plugin-divide/src/test/java/org/dromara/soul/plugin/divide/balance/spi/RandomLoadBalanceTest.java
  soul-plugin/soul-plugin-divide/src/test/java/org/dromara/soul/plugin/divide/balance/spi/RoundRobinLoadBalanceTest.java
  soul-plugin/soul-plugin-divide/src/test/java/org/dromara/soul/plugin/divide/balance/util/LoadBalanceUtilsTest.java
  soul-plugin/soul-plugin-divide/src/test/java/org/dromara/soul/plugin/divide/cache/UpstreamCacheManagerTest.java
  soul-plugin/soul-plugin-divide/src/test/java/org/dromara/soul/plugin/divide/handler/DividePluginDataHandlerTest.java
  soul-plugin/soul-plugin-divide/src/test/java/org/dromara/soul/plugin/divide/websocket/WebSocketPluginTest.java
  soul-plugin/soul-plugin-divide/src/test/resources/META-INF/soul/org.dromara.soul.plugin.divide.balance.spi.LoadBalance
Labels: in: test, plugin: divide

#712 Add test case for soul-admin HttpServiceDiscovery & ZookeeperDataInit (#652)
  soul-admin/src/test/java/org/dromara/soul/admin/listener/zookeeper/HttpServiceDiscoveryTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/listener/zookeeper/ZookeeperDataInitTest.java
Labels: in: test

#714 fix: Optimize test cases to improve code coverage about JsonUtilsTest (fixes #668)
  soul-common/src/test/java/org/dromara/soul/common/utils/JsonUtilsTest.java
Labels: in: test

#715 Add ExceptionHandlers test case to improve code coverage.#668
  soul-admin/src/test/java/org/dromara/soul/admin/exception/ExceptionHandlersTest.java
Labels: in: test

#716 [#699] imporve soul-metrics test covered
  soul-metrics/soul-metrics-facade/pom.xml
  soul-metrics/soul-metrics-facade/src/main/test/java/org/dromara/soul/metrics/facade/MetricsTrackerFacadeTest.java
  soul-metrics/soul-metrics-facade/src/main/test/java/org/dromara/soul/metrics/facade/TestPrometheusMetricsTrackerManager.java
  soul-metrics/soul-metrics-facade/src/main/test/java/org/dromara/soul/metrics/facade/executor/MetricsThreadPoolExecutorTest.java
  soul-metrics/soul-metrics-facade/src/main/test/java/org/dromara/soul/metrics/facade/handler/MetricsTrackerHandlerTest.java
  soul-metrics/soul-metrics-facade/src/main/test/resources/META-INF/soul/org.dromara.soul.metrics.spi.MetricsTrackerManager
  soul-metrics/soul-metrics-prometheus/src/test/java/org/dromara/soul/metrics/prometheus/PrometheusMetricsTrackerManagerTest.java
  soul-metrics/soul-metrics-prometheus/src/test/java/org/dromara/soul/metrics/prometheus/impl/collector/JmxMBeanPropertyCacheTest.java
  soul-metrics/soul-metrics-spi/src/test/java/org/dromara/soul/metrics/config/MetricsConfigTest.java
Labels: feature: metrics, in: test

#708 Add plugin handler management page
  soul-admin/src/main/java/org/dromara/soul/admin/controller/PluginController.java
  soul-admin/src/main/resources/mappers/plugin-handle-sqlmap.xml
  soul-admin/src/main/resources/static/index.03aa7aa8.js
  soul-admin/src/main/resources/static/index.7070eff7.css
  soul-admin/src/main/resources/static/index.f9f597e3.js
  soul-admin/src/main/resources/static/index.html
  soul-admin/src/test/java/org/dromara/soul/admin/controller/PluginControllerTest.java
Labels: soul-admin, type: new feature

#718 issue-683: Add test case for PageParameter and PageResultUtils.
  soul-admin/src/test/java/org/dromara/soul/admin/page/PageParameterTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/page/PageResultUtilsTest.java
Labels: in: test

#719 issue-687: Add test case for HystrixIsolationModeEnum.
  soul-common/src/test/java/org/dromara/soul/common/enums/HystrixIsolationModeEnumTest.java
Labels: in: test

#720 issue-685: Add test case for SoulAdminResult.
  soul-admin/src/test/java/org/dromara/soul/admin/result/SoulAdminResultTest.java
Labels: in: test

#722 issue-686: Add test case for SoulApplicationContextAware and SpringBeanUtils.
  soul-admin/src/test/java/org/dromara/soul/admin/spring/SoulApplicationContextAwareTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/spring/SpringBeanUtilsTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/spring/TestBean.java
Labels: in: test

#723 Fix testcase failure
  soul-common/src/test/java/org/dromara/soul/common/utils/UUIDUtilsTest.java
Labels: in: test, type: refactor

#721 Some questions and improvements about Waf plugin.
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/AbstractSoulPlugin.java
Labels: plugin: waf, type: refactor

#725 issue-682: Modify the ExceptionHandlersTest class.
  soul-admin/src/test/java/org/dromara/soul/admin/exception/ExceptionHandlersTest.java
Labels: in: test

#724 Add test case for PluginHandleService of soul-admin(dromara#507)
  soul-admin/src/test/java/org/dromara/soul/admin/service/PluginHandleServiceTest.java
Labels: in: test

#726 Add test cases for default method of metric-api
  soul-metrics/soul-metrics-spi/src/test/java/org/dromara/soul/metrics/api/CounterMetricsTrackerTest.java
  soul-metrics/soul-metrics-spi/src/test/java/org/dromara/soul/metrics/api/GaugeMetricsTrackerTest.java
  soul-metrics/soul-metrics-spi/src/test/java/org/dromara/soul/metrics/api/HistogramMetricsTrackerTest.java
  soul-metrics/soul-metrics-spi/src/test/java/org/dromara/soul/metrics/api/SummaryMetricsTrackerTest.java
Labels: feature: metrics, in: test, type: refactor

#731 Add test cases for soul-plugin-base BaseDataCache
  soul-plugin/soul-plugin-base/src/test/java/org/dromara/soul/plugin/base/cache/BaseDataCacheTest.java
Labels: feature: plugin, in: test

#732 [#730]Add soul-pulgin-global Test Case
  soul-plugin/soul-plugin-global/pom.xml
  soul-plugin/soul-plugin-global/src/test/java/org/dromara/soul/plugin/global/DefaultSoulContextBuilderTest.java
  soul-plugin/soul-plugin-global/src/test/java/org/dromara/soul/plugin/global/GlobalPluginTest.java
  soul-plugin/soul-plugin-global/src/test/java/org/dromara/soul/plugin/global/cache/MetaDataCacheTest.java
  soul-plugin/soul-plugin-global/src/test/java/org/dromara/soul/plugin/global/subsciber/MetaDataAllSubscriberTest.java
Labels: in: test

#733 add 'Test cases for RedisKeyConstants'
  soul-common/src/test/java/org/dromara/soul/common/constant/RedisKeyConstantsTest.java
Labels: in: test

#737 #468 polish sofa plugin test,make coverage higher.
  soul-plugin/soul-plugin-sofa/src/test/java/org/dromara/soul/plugin/sofa/SofaPluginTest.java
  soul-plugin/soul-plugin-sofa/src/test/java/org/dromara/soul/plugin/sofa/param/BodyParamPluginTest.java
  soul-plugin/soul-plugin-sofa/src/test/java/org/dromara/soul/plugin/sofa/proxy/SofaProxyServiceTest.java
  soul-plugin/soul-plugin-sofa/src/test/java/org/dromara/soul/plugin/sofa/response/SofaResponsePluginTest.java
Labels: in: test, plugin: sofa

#606 add test cases for NacosCacheHandler
  soul-sync-data-center/soul-sync-data-nacos/src/test/java/org/dromara/soul/sync/data/nacos/handler/NacosCacheHandlerTest.java
  soul-sync-data-center/soul-sync-data-nacos/src/test/java/org/dromara/soul/sync/data/nacos/handler/NacosMockConfigService.java
Labels: data-sync: nacos, in: test

#729 [#670] Add test case for soul-plugin-monitor
  soul-plugin/soul-plugin-monitor/pom.xml
  soul-plugin/soul-plugin-monitor/src/test/java/org/dromara/soul/plugin/monitor/MonitorPluginTest.java
  soul-plugin/soul-plugin-monitor/src/test/java/org/dromara/soul/plugin/monitor/handler/MonitorPluginDataHandlerTest.java
Labels: in: test, plugin: monitor

#740 Add test cases for soul-plugin-base CommonPluginDataSubscriber
  soul-plugin/soul-plugin-base/src/test/java/org/dromara/soul/plugin/base/cache/BaseDataCacheTest.java
  soul-plugin/soul-plugin-base/src/test/java/org/dromara/soul/plugin/base/cache/CommonPluginDataSubscriberTest.java
Labels: in: test

#742 Test enums in soul-common #687 -WafModuleEnum
  soul-common/src/test/java/org/dromara/soul/common/enums/WafModelEnumTest.java
Labels: in: test

#745 make dubbo plugin test case coverage higher.
  soul-plugin/soul-plugin-alibaba-dubbo/src/test/java/org/dromara/soul/plugin/alibaba/dubbo/proxy/AlibabaDubboProxyServiceTest.java
  soul-plugin/soul-plugin-apache-dubbo/src/test/java/org/dromara/soul/plugin/apache/dubbo/proxy/ApacheDubboProxyServiceTest.java
Labels: in: test, plugin: alibaba-dubbo, plugin: apache-dubbo

#750 fix wrong sofa cache key.
  soul-plugin/soul-plugin-sofa/src/main/java/org/dromara/soul/plugin/sofa/cache/ApplicationConfigCache.java
  soul-plugin/soul-plugin-sofa/src/main/java/org/dromara/soul/plugin/sofa/proxy/SofaProxyService.java
  soul-plugin/soul-plugin-sofa/src/main/java/org/dromara/soul/plugin/sofa/subscriber/SofaMetaDataSubscriber.java
  soul-plugin/soul-plugin-sofa/src/test/java/org/dromara/soul/plugin/sofa/proxy/SofaProxyServiceTest.java
Labels: plugin: sofa, type: bug

#761 Optimize the setup selectors of divide plugin
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/UpstreamCheckService.java
  soul-admin/src/test/resources/META-INF/schema.sql
  soul-admin/src/test/resources/application-test.yml
Labels: type: refactor

#762 Add test case for soul-common constants&enum #655
  soul-common/src/test/java/org/dromara/soul/common/enums/SelectorTypeEnumTest.java
Labels: in: test

#764 687 issue, Test case for LoadBalanceEnum
  soul-common/src/test/java/org/dromara/soul/common/enums/LoadBalanceEnumTest.java
Labels: in: test

#766 Add test case for soul-plugin-base
  soul-plugin/soul-plugin-base/pom.xml
  soul-plugin/soul-plugin-base/src/test/java/org/dromara/soul/plugin/base/AbstractSoulPluginTest.java
  soul-plugin/soul-plugin-base/src/test/java/org/dromara/soul/plugin/base/fallback/FallbackHandlerTest.java
  soul-plugin/soul-plugin-base/src/test/java/org/dromara/soul/plugin/base/handler/PluginDataHandlerTest.java
  soul-plugin/soul-plugin-base/src/test/java/org/dromara/soul/plugin/base/utils/CheckUtilsTest.java
  soul-plugin/soul-plugin-base/src/test/java/org/dromara/soul/plugin/base/utils/HostAddressUtilsTest.java
  soul-plugin/soul-plugin-base/src/test/java/org/dromara/soul/plugin/base/utils/MatchStrategyUtilsTest.java
  soul-plugin/soul-plugin-base/src/test/java/org/dromara/soul/plugin/base/utils/SingletonTest.java
  soul-plugin/soul-plugin-base/src/test/java/org/dromara/soul/plugin/base/utils/SoulResultWrapTest.java
  soul-plugin/soul-plugin-base/src/test/java/org/dromara/soul/plugin/base/utils/UriUtilsTest.java
  soul-plugin/soul-plugin-base/src/test/resources/META-INF/soul/org.dromara.soul.plugin.base.condition.strategy.MatchStrategy
Labels: in: test

#767 Remove irrelevant tests to speed up the build
  soul-plugin/soul-plugin-httpclient/src/test/java/org/dromara/soul/plugin/httpclient/WebclientTest.java
  soul-sync-data-center/soul-sync-data-websocket/src/test/java/org/dromara/soul/sync/data/websocket/WebsocketClientTest.java
  soul-sync-data-center/soul-sync-data-zookeeper/src/test/java/org/dromara/soul/sync/data/zookeeper/ZookeeperClientTest.java
Labels: type: refactor

#768 remove mock server in client module.
  soul-client/soul-client-http/soul-client-springcloud/pom.xml
  soul-client/soul-client-http/soul-client-springcloud/src/test/java/org/dromara/soul/client/springcloud/ContextRegisterListenerTest.java
  soul-client/soul-client-http/soul-client-springcloud/src/test/java/org/dromara/soul/client/springcloud/SpringMvcClientBeanPostProcessorTest.java
  soul-client/soul-client-http/soul-client-springmvc/pom.xml
  soul-client/soul-client-http/soul-client-springmvc/src/test/java/org/dromara/soul/client/springmvc/init/ContextRegisterListenerTest.java
  soul-client/soul-client-http/soul-client-springmvc/src/test/java/org/dromara/soul/client/springmvc/init/SpringMvcClientBeanPostProcessorTest.java
  soul-client/soul-client-sofa/pom.xml
  soul-client/soul-client-sofa/src/test/java/org/dromara/soul/client/sofa/SofaServiceBeanPostProcessorTest.java
Labels: in: test, type: refactor

#736 Dubbo support ValidationException#471
  soul-client/soul-client-dubbo/soul-client-alibaba-dubbo/pom.xml
  soul-client/soul-client-dubbo/soul-client-alibaba-dubbo/src/main/java/org/dromara/soul/client/alibaba/dubbo/validation/AlibabaDubboClientValidation.java
  soul-client/soul-client-dubbo/soul-client-alibaba-dubbo/src/main/java/org/dromara/soul/client/alibaba/dubbo/validation/AlibabaDubboClientValidator.java
  soul-client/soul-client-dubbo/soul-client-alibaba-dubbo/src/main/resources/META-INF/dubbo/com.alibaba.dubbo.validation.Validation
  soul-client/soul-client-dubbo/soul-client-alibaba-dubbo/src/test/java/org/dromara/soul/client/alibaba/dubbo/validation/AlibabaDubboClientValidatorTest.java
  soul-client/soul-client-dubbo/soul-client-alibaba-dubbo/src/test/java/org/dromara/soul/client/alibaba/dubbo/validation/service/TestService.java
  soul-client/soul-client-dubbo/soul-client-apache-dubbo/pom.xml
  soul-client/soul-client-dubbo/soul-client-apache-dubbo/src/main/java/org/dromara/soul/client/apache/dubbo/validation/ApacheDubboClientValidation.java
  soul-client/soul-client-dubbo/soul-client-apache-dubbo/src/main/java/org/dromara/soul/client/apache/dubbo/validation/ApacheDubboClientValidator.java
  soul-client/soul-client-dubbo/soul-client-apache-dubbo/src/main/resources/META-INF/dubbo/org.apache.dubbo.validation.Validation
  soul-client/soul-client-dubbo/soul-client-apache-dubbo/src/test/java/org/dromara/soul/client/apache/dubbo/validation/ApacheDubboClientValidatorTest.java
  soul-client/soul-client-dubbo/soul-client-apache-dubbo/src/test/java/org/dromara/soul/client/apache/dubbo/validation/service/TestService.java
Labels: client: dubbo, type: new feature

#779 issues687 Add test for PluginRoleEnum
  soul-common/src/test/java/org/dromara/soul/common/enums/PluginRoleEnumTest.java
Labels: in: test

#785 Add test cases for PluginController of soul-admin
  soul-admin/src/test/java/org/dromara/soul/admin/controller/PluginControllerTest.java
Labels: in: test, type: refactor

#787 [#776] Add Test soul-plugin-hystrix
  soul-plugin/soul-plugin-hystrix/pom.xml
  soul-plugin/soul-plugin-hystrix/src/test/java/org/dromara/soul/plugin/hystrix/HystrixPluginTest.java
  soul-plugin/soul-plugin-hystrix/src/test/java/org/dromara/soul/plugin/hystrix/builder/HystrixBuilderTest.java
  soul-plugin/soul-plugin-hystrix/src/test/java/org/dromara/soul/plugin/hystrix/command/HystrixCommandOnThreadTest.java
  soul-plugin/soul-plugin-hystrix/src/test/java/org/dromara/soul/plugin/hystrix/command/HystrixCommandTest.java
  soul-plugin/soul-plugin-hystrix/src/test/java/org/dromara/soul/plugin/hystrix/handler/HystrixPluginDataHandlerTest.java
  soul-plugin/soul-plugin-monitor/src/test/java/org/dromara/soul/plugin/monitor/MonitorPluginTest.java
Labels: in: test, plugin: hystrix

#789 Optimize unit test ZookeeperSyncDataService
  soul-sync-data-center/soul-sync-data-zookeeper/src/test/java/org/dromara/soul/sync/data/zookeeper/ZookeeperSyncDataServiceTest.java
Labels: data-sync: zookeeper, in: test, type: refactor

#751 Refactor: Move the build do object method to its own classes.
  soul-admin/src/main/java/org/dromara/soul/admin/entity/AppAuthDO.java
  soul-admin/src/main/java/org/dromara/soul/admin/entity/AuthParamDO.java
  soul-admin/src/main/java/org/dromara/soul/admin/entity/AuthPathDO.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/AppAuthServiceImpl.java
  soul-admin/src/test/java/org/dromara/soul/admin/service/AppAuthServiceTest.java
Labels: type: refactor

#817 optimized ZookeeperDataChangedListener
  soul-admin/src/main/java/org/dromara/soul/admin/listener/zookeeper/ZookeeperDataChangedListener.java
Labels: data-sync: zookeeper, type: refactor

#814 Improve code coverage for PluginServiceImpl in soul-admin
  soul-admin/src/test/java/org/dromara/soul/admin/service/PluginServiceTest.java
Labels: in: test, type: refactor

#813 fix issue 615
  soul-client/soul-client-dubbo/soul-client-alibaba-dubbo/src/test/java/org/dromara/soul/client/alibaba/dubbo/AlibabaDubboServiceBeanPostProcessorTest.java
  soul-client/soul-client-dubbo/soul-client-alibaba-dubbo/src/test/java/org/dromara/soul/client/alibaba/dubbo/validation/AlibabaDubboClientValidatorTest.java
  soul-client/soul-client-dubbo/soul-client-alibaba-dubbo/src/test/java/org/dromara/soul/client/alibaba/dubbo/validation/mock/MockConstraint.java
  soul-client/soul-client-dubbo/soul-client-alibaba-dubbo/src/test/java/org/dromara/soul/client/alibaba/dubbo/validation/mock/MockConstraintValidator.java
  soul-client/soul-client-dubbo/soul-client-alibaba-dubbo/src/test/java/org/dromara/soul/client/alibaba/dubbo/validation/mock/MockEnumType.java
  soul-client/soul-client-dubbo/soul-client-alibaba-dubbo/src/test/java/org/dromara/soul/client/alibaba/dubbo/validation/mock/MockValidationParameter.java
  soul-client/soul-client-dubbo/soul-client-alibaba-dubbo/src/test/java/org/dromara/soul/client/alibaba/dubbo/validation/mock/MockValidatorTarget.java
Labels: client: dubbo, in: test

#827 Improve code coverage in soul-admin for AppAuthServiceImpl (#802)
  soul-admin/src/test/java/org/dromara/soul/admin/service/AppAuthServiceTest.java
Labels: in: test, type: refactor

#826 delete extra empty lines of DO and correct spelling errors. fixed#825
  soul-admin/src/main/java/org/dromara/soul/admin/entity/AppAuthDO.java
  soul-admin/src/main/java/org/dromara/soul/admin/entity/DashboardUserDO.java
  soul-admin/src/main/java/org/dromara/soul/admin/entity/RuleDO.java
  soul-admin/src/main/java/org/dromara/soul/admin/entity/SelectorConditionDO.java
  soul-admin/src/main/java/org/dromara/soul/admin/entity/SoulDictDO.java
  soul-admin/src/main/java/org/dromara/soul/admin/result/SoulAdminResult.java
Labels: type: refactor

#829 Improve code coverage for AppAuthServiceImpl in soul-admin (#802).
  soul-admin/src/test/java/org/dromara/soul/admin/service/AppAuthServiceTest.java
Labels: in: test, type: refactor
