Repository apache/shenyu, pull requests merged in 2020-11, with the labels that each got.

#331 add sentinel plugin
  script/soul.sql
  soul-admin/src/main/resources/META-INF/schema.sql
  soul-common/src/main/java/org/dromara/soul/common/dto/convert/SentinelHandle.java
  soul-common/src/main/java/org/dromara/soul/common/enums/PluginEnum.java
  soul-plugin/pom.xml
  soul-plugin/soul-plugin-sentinel/pom.xml
  soul-plugin/soul-plugin-sentinel/src/main/java/org/dromara/soul/plugin/sentinel/SentinelPlugin.java
  soul-plugin/soul-plugin-sentinel/src/main/java/org/dromara/soul/plugin/sentinel/handler/SentinelRuleHandle.java
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-sentinel/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-sentinel/src/main/java/org/dromara/soul/springboot/starter/plugin/sentinel/SentinelPluginConfiguration.java
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-sentinel/src/main/resources/META-INF/spring.factories
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-sentinel/src/main/resources/META-INF/spring.provides
Labels: plugin, sentinel

#336 dubbo支持query转body
  soul-common/src/main/java/org/dromara/soul/common/utils/UrlQuerys.java
  soul-plugin/soul-plugin-alibaba-dubbo/src/main/java/org/dromara/soul/plugin/alibaba/dubbo/param/BodyParamPlugin.java
  soul-plugin/soul-plugin-apache-dubbo/src/main/java/org/dromara/soul/plugin/apache/dubbo/param/BodyParamPlugin.java
Labels: dubbo, plugin

#337 Issue #301 add custom config for sentinel plugin and support fuse for sentinel plugin
  script/soul.sql
  soul-admin/src/main/resources/META-INF/schema.sql
  soul-common/src/main/java/org/dromara/soul/common/dto/convert/SentinelHandle.java
  soul-plugin/soul-plugin-sentinel/pom.xml
  soul-plugin/soul-plugin-sentinel/src/main/java/org/dromara/soul/plugin/sentinel/handler/SentinelRuleHandle.java
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-sentinel/src/main/java/org/dromara/soul/springboot/starter/plugin/sentinel/SentinelPluginConfiguration.java
  soul-web/src/main/java/org/dromara/soul/web/configuration/ErrorHandlerConfiguration.java
Labels: plugin, sentinel

#339 区分APPLICATION_JSON,APPLICATION_FORM_URLENCODED以及QUERY
  soul-common/src/main/java/org/dromara/soul/common/utils/UrlQuerys.java
  soul-plugin/soul-plugin-alibaba-dubbo/src/main/java/org/dromara/soul/plugin/alibaba/dubbo/param/BodyParamPlugin.java
  soul-plugin/soul-plugin-apache-dubbo/src/main/java/org/dromara/soul/plugin/apache/dubbo/param/BodyParamPlugin.java
Labels: dubbo, plugin

#341 Add github action for build and fix checkstyle
  .github/workflows/main.yml
  soul-plugin/soul-plugin-alibaba-dubbo/src/main/java/org/dromara/soul/plugin/alibaba/dubbo/param/BodyParamPlugin.java
  soul-plugin/soul-plugin-apache-dubbo/src/main/java/org/dromara/soul/plugin/apache/dubbo/param/BodyParamPlugin.java
Labels: build

#354 Fix bug
  soul-admin/src/main/java/org/dromara/soul/admin/controller/PluginHandleController.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/PluginHandleService.java
  soul-admin/src/main/resources/mappers/plugin-handle-sqlmap.xml
Labels: bug

#356 Fix bug(#355)
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/SoulClientRegisterServiceImpl.java
  soul-admin/src/main/resources/META-INF/schema.sql
  soul-plugin/soul-plugin-alibaba-dubbo/src/main/java/org/dromara/soul/plugin/alibaba/dubbo/cache/ApplicationConfigCache.java
  soul-plugin/soul-plugin-alibaba-dubbo/src/main/java/org/dromara/soul/plugin/alibaba/dubbo/proxy/AlibabaDubboProxyService.java
  soul-plugin/soul-plugin-alibaba-dubbo/src/main/java/org/dromara/soul/plugin/alibaba/dubbo/subscriber/AlibabaDubboMetaDataSubscriber.java
  soul-plugin/soul-plugin-apache-dubbo/src/main/java/org/dromara/soul/plugin/apache/dubbo/cache/ApplicationConfigCache.java
  soul-plugin/soul-plugin-apache-dubbo/src/main/java/org/dromara/soul/plugin/apache/dubbo/proxy/ApacheDubboProxyService.java
  soul-plugin/soul-plugin-apache-dubbo/src/main/java/org/dromara/soul/plugin/apache/dubbo/subscriber/ApacheDubboMetaDataSubscriber.java
Labels: bug, dubbo

#359 Fix the error encountered when the Soul-Admin server runs the command…
  doc/admin.md
Labels: doc

#368 upgraded lombok version
  pom.xml
  soul-client/pom.xml
Labels: build

#370 Add AES Encryption/Decryption #357
  pom.xml
  soul-admin/src/main/java/org/dromara/soul/admin/config/DataSyncConfiguration.java
  soul-admin/src/main/java/org/dromara/soul/admin/config/SecretConfiguration.java
  soul-admin/src/main/java/org/dromara/soul/admin/config/SecretProperties.java
  soul-admin/src/main/java/org/dromara/soul/admin/controller/DashboardUserController.java
  soul-admin/src/main/java/org/dromara/soul/admin/controller/PlatformController.java
  soul-admin/src/main/java/org/dromara/soul/admin/entity/AppAuthDO.java
  soul-admin/src/main/java/org/dromara/soul/admin/entity/DashboardUserDO.java
  soul-admin/src/main/java/org/dromara/soul/admin/entity/PluginDO.java
  soul-admin/src/main/java/org/dromara/soul/admin/entity/RuleDO.java
  soul-admin/src/main/java/org/dromara/soul/admin/entity/SelectorConditionDO.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/DashboardUserServiceImpl.java
  soul-admin/src/main/java/org/dromara/soul/admin/utils/AesUtils.java
  soul-admin/src/main/java/org/dromara/soul/admin/utils/CipherUtils.java
  soul-admin/src/main/java/org/dromara/soul/admin/utils/SoulResultMessage.java
  soul-admin/src/main/java/org/dromara/soul/admin/vo/DashboardUserVO.java
  soul-admin/src/main/resources/META-INF/schema.sql
  soul-admin/src/main/resources/application-local.yml
  soul-common/pom.xml
Labels: soul-admin

#373 Add Dubbo reference provider url(#363)
  doc/metaData.md
  doc/plugin-dubbo.md
  soul-client/soul-client-dubbo/soul-client-alibaba-dubbo/src/main/java/org/dromara/soul/client/alibaba/dubbo/AlibabaDubboServiceBeanPostProcessor.java
  soul-client/soul-client-dubbo/soul-client-apache-dubbo/src/main/java/org/dromara/soul/client/apache/dubbo/ApacheDubboServiceBeanPostProcessor.java
  soul-client/soul-client-dubbo/soul-client-dubbo-common/src/main/java/org/dromara/soul/client/dubbo/common/dto/DubboRpcExt.java
  soul-client/soul-client-dubbo/soul-client-dubbo-common/src/main/java/org/dromara/soul/client/dubbo/common/dto/MetaDataDTO.java
  soul-common/src/main/java/org/dromara/soul/common/constant/DubboParamConstants.java
  soul-plugin/soul-plugin-alibaba-dubbo/src/main/java/org/dromara/soul/plugin/alibaba/dubbo/cache/ApplicationConfigCache.java
  soul-plugin/soul-plugin-apache-dubbo/src/main/java/org/dromara/soul/plugin/apache/dubbo/cache/ApplicationConfigCache.java
Labels: dubbo, plugin

#376 Make dubbo plugin using common plugin handle
  soul-admin/src/main/resources/META-INF/schema.sql
  soul-admin/src/main/resources/static/index.7a8f9cea.js
  soul-admin/src/main/resources/static/index.c10f4cfe.js
  soul-admin/src/main/resources/static/index.d8e0bc12.css
  soul-admin/src/main/resources/static/index.html
Labels: dubbo, plugin

#387 soul-admin 全自动适配任何用户任何明文密码登录
  soul-admin/src/main/java/org/dromara/soul/admin/controller/PlatformController.java
  soul-admin/src/main/java/org/dromara/soul/admin/dto/DashboardUserDTO.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/DashboardUserService.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/DashboardUserServiceImpl.java
  soul-admin/src/main/java/org/dromara/soul/admin/utils/SoulResultMessage.java
Labels: soul-admin

#392 Extracting the String constants to the constant class SoulResultMessage(#389)
  soul-admin/src/main/java/org/dromara/soul/admin/controller/AppAuthController.java
  soul-admin/src/main/java/org/dromara/soul/admin/controller/ConfigController.java
  soul-admin/src/main/java/org/dromara/soul/admin/controller/DashboardUserController.java
  soul-admin/src/main/java/org/dromara/soul/admin/controller/MetaDataController.java
  soul-admin/src/main/java/org/dromara/soul/admin/controller/PluginController.java
  soul-admin/src/main/java/org/dromara/soul/admin/controller/PluginHandleController.java
  soul-admin/src/main/java/org/dromara/soul/admin/controller/RuleController.java
  soul-admin/src/main/java/org/dromara/soul/admin/controller/SelectorController.java
  soul-admin/src/main/java/org/dromara/soul/admin/controller/SoulDictController.java
  soul-admin/src/main/java/org/dromara/soul/admin/exception/ExceptionHandlers.java
  soul-admin/src/main/java/org/dromara/soul/admin/listener/http/HttpLongPollingDataChangedListener.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/AppAuthServiceImpl.java
  soul-admin/src/main/java/org/dromara/soul/admin/utils/SoulResultMessage.java
Labels: soul-admin

#403 Update issue tag
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: build, good first issue

#405 Fix error value of minIdle
  soul-plugin/soul-plugin-ratelimiter/src/main/java/org/dromara/soul/plugin/ratelimiter/config/RateLimiterConfig.java
Labels: bug

#411 Doc fix
  doc/dev-client.md
Labels: doc

#413 Add check logic for PluginDataSubscriber in SyncDataService
  soul-spring-boot-starter/soul-spring-boot-starter-sync-data-center/soul-spring-boot-starter-sync-data-http/src/main/java/org/dromara/soul/spring/boot/starter/sync/data/http/HttpSyncDataConfiguration.java
  soul-spring-boot-starter/soul-spring-boot-starter-sync-data-center/soul-spring-boot-starter-sync-data-nacos/src/main/java/org/dromara/soul/springboot/starter/sync/data/nacos/NacosSyncDataConfiguration.java
  soul-sync-data-center/soul-sync-data-websocket/src/main/java/org/dromara/soul/plugin/sync/data/weboscket/WebsocketSyncDataService.java
Labels: plugin

#414 Fix all log error print
  soul-client/soul-client-dubbo/soul-client-alibaba-dubbo/src/main/java/org/dromara/soul/client/alibaba/dubbo/AlibabaDubboServiceBeanPostProcessor.java
  soul-client/soul-client-dubbo/soul-client-apache-dubbo/src/main/java/org/dromara/soul/client/apache/dubbo/ApacheDubboServiceBeanPostProcessor.java
  soul-client/soul-client-http/soul-client-springcloud/src/main/java/org/dromara/soul/client/springcloud/init/SpringCloudClientBeanPostProcessor.java
  soul-client/soul-client-http/soul-client-springmvc/src/main/java/org/dromara/soul/client/springmvc/init/ContextRegisterListener.java
  soul-client/soul-client-http/soul-client-springmvc/src/main/java/org/dromara/soul/client/springmvc/init/SpringMvcClientBeanPostProcessor.java
  soul-client/soul-client-sofa/src/main/java/org/dromara/soul/client/sofa/SofaServiceBeanPostProcessor.java
  soul-sync-data-center/soul-sync-data-websocket/src/main/java/org/dromara/soul/plugin/sync/data/weboscket/WebsocketSyncDataService.java
Labels: soul-client

#422 update readme.md
  README.md
Labels: doc

#424 Fix some docs and format enum error msg
  soul-common/src/main/java/org/dromara/soul/common/enums/ConfigGroupEnum.java
  soul-common/src/main/java/org/dromara/soul/common/enums/DataEventTypeEnum.java
  soul-common/src/main/java/org/dromara/soul/common/enums/HttpMethodEnum.java
  soul-common/src/main/java/org/dromara/soul/common/enums/OperatorEnum.java
  soul-common/src/main/java/org/dromara/soul/common/enums/ParamTypeEnum.java
  soul-common/src/main/java/org/dromara/soul/common/enums/RpcTypeEnum.java
  soul-common/src/main/java/org/dromara/soul/common/enums/SelectorTypeEnum.java
  soul-common/src/main/java/org/dromara/soul/common/enums/SerializeEnum.java
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/condition/strategy/AndMatchStrategy.java
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/condition/strategy/MatchStrategy.java
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/condition/strategy/OrMatchStrategy.java
Labels: refactor

#416 Fix bug(#415)
  soul-client/soul-client-dubbo/soul-client-alibaba-dubbo/src/main/java/org/dromara/soul/client/alibaba/dubbo/AlibabaDubboServiceBeanPostProcessor.java
  soul-client/soul-client-dubbo/soul-client-apache-dubbo/src/main/java/org/dromara/soul/client/apache/dubbo/ApacheDubboServiceBeanPostProcessor.java
  soul-client/soul-client-dubbo/soul-client-dubbo-common/pom.xml
Labels: dubbo, soul-client

#431 Add common localDateTimeToString method
  soul-admin/src/main/java/org/dromara/soul/admin/vo/DashboardUserVO.java
  soul-admin/src/main/java/org/dromara/soul/admin/vo/PluginHandleVO.java
  soul-admin/src/main/java/org/dromara/soul/admin/vo/PluginVO.java
  soul-admin/src/main/java/org/dromara/soul/admin/vo/RuleConditionVO.java
  soul-admin/src/main/java/org/dromara/soul/admin/vo/RuleVO.java
  soul-admin/src/main/java/org/dromara/soul/admin/vo/SelectorConditionVO.java
  soul-admin/src/main/java/org/dromara/soul/admin/vo/SelectorVO.java
  soul-admin/src/main/java/org/dromara/soul/admin/vo/SoulDictVO.java
  soul-common/src/main/java/org/dromara/soul/common/utils/DateUtils.java
Labels: refactor, soul-admin

#437 Fix AppAuth delete bug
  soul-admin/src/main/java/org/dromara/soul/admin/controller/AppAuthController.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/AppAuthServiceImpl.java
Labels: bug, soul-admin

#441 Fix soul-test-eureka bug
  soul-test/soul-test-eureka/pom.xml
Labels: build

#450 [#449]remove the sofa dependency in sofa plugin
  soul-plugin/soul-plugin-sofa/pom.xml
Labels: plugin

#446 Fix springCloud plugin register
  script/soul.sql
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/SoulClientRegisterServiceImpl.java
Labels: soul-admin, spring-cloud

#451 Refactor: extract repeated strings to static constants.
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/SoulClientRegisterServiceImpl.java
Labels: refactor, soul-admin
