Repository apache/shenyu, pull requests merged in 2021-03, with the labels that each got.

#1131 Add defualt failback Impl for Hystrix Plugin
  soul-web/pom.xml
  soul-web/src/main/java/org/dromara/soul/web/fallback/DefaultFallbackController.java
  soul-web/src/test/java/org/dromara/soul/web/fallback/DefaultFallbackControllerTest.java
Labels: plugin: hystrix

#1129 fix issue #1127
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/UpstreamCheckService.java
  soul-common/src/main/java/org/dromara/soul/common/dto/convert/ZombieUpstream.java
Labels: type: refactor

#1132 fix #167 modify file size limit
  soul-web/src/main/java/org/dromara/soul/web/filter/FileSizeFilter.java
  soul-web/src/test/java/org/dromara/soul/web/filter/FileSizeFilterTest.java
Labels: type: bug, type: refactor

#1135 Add default fallback Impl for resilience4j plugin.
  soul-plugin/soul-plugin-api/src/main/java/org/dromara/soul/plugin/api/result/SoulResultEnum.java
  soul-web/src/main/java/org/dromara/soul/web/fallback/DefaultFallbackController.java
  soul-web/src/test/java/org/dromara/soul/web/fallback/DefaultFallbackControllerTest.java
Labels: plugin: resilience4j

#1139 fix http and zk register
  soul-admin/src/main/java/org/dromara/soul/admin/config/RegisterCenterConfiguration.java
  soul-admin/src/main/java/org/dromara/soul/admin/controller/SoulClientController.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/SoulClientRegisterServiceImpl.java
  soul-register-center/soul-register-client/soul-register-client-zookeeper/src/main/java/org/dromara/soul/register/client/zookeeper/ZookeeperClientRegisterRepository.java
  soul-register-center/soul-register-server/soul-register-server-zookeeper/src/main/java/org/dromara/soul/register/server/zookeeper/ZookeeperServerRegisterRepository.java
Labels: client: register

#1141 refactor zk register center mvc upstream update
  soul-admin/src/main/java/org/dromara/soul/admin/disruptor/subscriber/URIRegisterExecutorSubscriber.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/SoulClientRegisterService.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/SoulClientRegisterServiceImpl.java
  soul-register-center/soul-register-server/soul-register-server-zookeeper/src/main/java/org/dromara/soul/register/server/zookeeper/ZookeeperServerRegisterRepository.java
Labels: client: register

#1144 support Nacos config authentication for sync data
  soul-admin/src/main/java/org/dromara/soul/admin/config/NacosConfiguration.java
  soul-admin/src/main/java/org/dromara/soul/admin/config/properties/NacosProperties.java
  soul-admin/src/main/resources/application.yml
  soul-admin/src/test/java/org/dromara/soul/admin/config/NacosConfigurationTest.java
  soul-bootstrap/src/main/resources/application-local.yml
  soul-spring-boot-starter/soul-spring-boot-starter-sync-data-center/soul-spring-boot-starter-sync-data-nacos/src/main/java/org/dromara/soul/springboot/starter/sync/data/nacos/NacosSyncDataConfiguration.java
  soul-sync-data-center/soul-sync-data-nacos/src/main/java/org/dromara/soul/sync/data/nacos/config/NacosConfig.java
Labels: data-sync: nacos

#1149 [#1138] add rate_limiter four algorithm
  soul-admin/src/main/resources/META-INF/schema.h2.sql
  soul-admin/src/main/resources/META-INF/schema.sql
Labels: plugin: ratelimiter, soul-admin

#1152 [#1138] Add sliding window rate limiter algorithm
  soul-plugin/soul-plugin-ratelimiter/src/main/java/org/dromara/soul/plugin/ratelimiter/algorithm/SlidingWindowRateLimiterAlgorithm.java
  soul-plugin/soul-plugin-ratelimiter/src/main/resources/META-INF/scripts/sliding_window_request_rate_limiter.lua
  soul-plugin/soul-plugin-ratelimiter/src/main/resources/META-INF/soul/org.dromara.soul.plugin.ratelimiter.algorithm.RateLimiterAlgorithm
Labels: plugin: ratelimiter

#1156 1138
  soul-plugin/soul-plugin-ratelimiter/src/main/java/org/dromara/soul/plugin/ratelimiter/algorithm/LeakyBucketRateLimiterAlgorithm.java
  soul-plugin/soul-plugin-ratelimiter/src/main/resources/META-INF/scripts/request_leaky_rate_limiter.lua
  soul-plugin/soul-plugin-ratelimiter/src/main/resources/META-INF/soul/org.dromara.soul.plugin.ratelimiter.algorithm.RateLimiterAlgorithm
Labels: plugin: ratelimiter

#1159 1138
  soul-plugin/soul-plugin-ratelimiter/src/test/java/org/dromara/soul/plugin/ratelimiter/algorithm/AbstractRateLimiterAlgorithmTest.java
  soul-plugin/soul-plugin-ratelimiter/src/test/java/org/dromara/soul/plugin/ratelimiter/algorithm/ConcurrentRateLimiterAlgorithmTest.java
  soul-plugin/soul-plugin-ratelimiter/src/test/java/org/dromara/soul/plugin/ratelimiter/algorithm/LeakyBucketRateLimiterAlgorithmTest.java
  soul-plugin/soul-plugin-ratelimiter/src/test/java/org/dromara/soul/plugin/ratelimiter/algorithm/RateLimiterAlgorithmFactoryTest.java
  soul-plugin/soul-plugin-ratelimiter/src/test/java/org/dromara/soul/plugin/ratelimiter/algorithm/SlidingWindowRateLimiterAlgorithmTest.java
  soul-plugin/soul-plugin-ratelimiter/src/test/java/org/dromara/soul/plugin/ratelimiter/algorithm/TokenBucketRateLimiterAlgorithmTest.java
Labels: plugin: ratelimiter

#1167 refactor etcd register center
  soul-register-center/soul-register-client/soul-register-client-etcd/src/main/java/org/dromara/soul/register/client/etcd/EtcdClient.java
  soul-register-center/soul-register-client/soul-register-client-etcd/src/main/java/org/dromara/soul/register/client/etcd/EtcdClientRegisterRepository.java
  soul-register-center/soul-register-client/soul-register-client-etcd/src/test/java/org/dromara/soul/register/client/etcd/EtcdClientRegisterRepositoryTest.java
  soul-register-center/soul-register-client/soul-register-client-zookeeper/src/main/java/org/dromara/soul/register/client/zookeeper/ZookeeperClientRegisterRepository.java
  soul-register-center/soul-register-common/src/main/java/org/dromara/soul/register/common/path/RegisterPathConstants.java
  soul-register-center/soul-register-server/soul-register-server-etcd/src/main/java/org/dromara/soul/register/server/etcd/EtcdServerRegisterRepository.java
  soul-register-center/soul-register-server/soul-register-server-etcd/src/main/java/org/dromara/soul/register/server/etcd/client/EtcdClient.java
  soul-register-center/soul-register-server/soul-register-server-etcd/src/test/java/org/dromara/soul/register/server/etcd/EtcdServerRegisterRepositoryTest.java
  soul-register-center/soul-register-server/soul-register-server-zookeeper/src/main/java/org/dromara/soul/register/server/zookeeper/ZookeeperServerRegisterRepository.java
Labels: client: register

#1174 Support Consul register #1148
  soul-admin/pom.xml
  soul-admin/src/main/java/org/dromara/soul/admin/config/ConsulServerConfiguration.java
  soul-admin/src/main/resources/application.yml
  soul-bootstrap/pom.xml
  soul-client/soul-client-core/pom.xml
  soul-client/soul-client-dubbo/soul-client-alibaba-dubbo/src/main/java/org/dromara/soul/client/alibaba/dubbo/AlibabaDubboServiceBeanPostProcessor.java
  soul-client/soul-client-dubbo/soul-client-apache-dubbo/src/main/java/org/dromara/soul/client/apache/dubbo/ApacheDubboServiceBeanPostProcessor.java
  soul-client/soul-client-grpc/src/main/java/org/dromara/soul/client/grpc/GrpcClientBeanPostProcessor.java
  soul-client/soul-client-http/soul-client-springcloud/src/main/java/org/dromara/soul/client/springcloud/init/ContextRegisterListener.java
  soul-client/soul-client-http/soul-client-springcloud/src/main/java/org/dromara/soul/client/springcloud/init/SpringCloudClientBeanPostProcessor.java
  soul-client/soul-client-http/soul-client-springcloud/src/test/java/org/dromara/soul/client/springcloud/init/ContextRegisterListenerTest.java
  soul-client/soul-client-http/soul-client-springcloud/src/test/java/org/dromara/soul/client/springcloud/init/SpringCloudClientBeanPostProcessorTest.java
  soul-client/soul-client-http/soul-client-springmvc/src/main/java/org/dromara/soul/client/springmvc/init/ContextRegisterListener.java
  soul-client/soul-client-http/soul-client-springmvc/src/main/java/org/dromara/soul/client/springmvc/init/SpringMvcClientBeanPostProcessor.java
  soul-client/soul-client-sofa/src/main/java/org/dromara/soul/client/sofa/SofaServiceBeanPostProcessor.java
  soul-client/soul-client-tars/src/main/java/org/dromara/soul/client/tars/TarsServiceBeanPostProcessor.java
  soul-client/soul-client-tars/src/test/java/org/dromara/soul/client/tars/TarsServiceBeanPostProcessorTest.java
  soul-common/src/main/java/org/dromara/soul/common/enums/RpcTypeEnum.java
  soul-examples/soul-examples-dubbo/soul-examples-alibaba-dubbo-service/pom.xml
  soul-examples/soul-examples-dubbo/soul-examples-alibaba-dubbo-service/src/main/resources/application.yml
  soul-examples/soul-examples-dubbo/soul-examples-apache-dubbo-service/pom.xml
  soul-examples/soul-examples-dubbo/soul-examples-apache-dubbo-service/src/main/resources/application.yml
  soul-examples/soul-examples-grpc/pom.xml
  soul-examples/soul-examples-grpc/src/main/resources/application.yml
  soul-examples/soul-examples-http/pom.xml
  soul-examples/soul-examples-http/src/main/resources/application.yml
  soul-examples/soul-examples-sofa/soul-examples-sofa-service/pom.xml
  soul-examples/soul-examples-sofa/soul-examples-sofa-service/src/main/resources/application.yml
  soul-examples/soul-examples-tars/pom.xml
  soul-examples/soul-examples-tars/src/main/resources/application.yml
  soul-register-center/soul-register-client/pom.xml
  soul-register-center/soul-register-client/soul-register-client-consul/pom.xml
  soul-register-center/soul-register-client/soul-register-client-consul/src/main/java/org/dromara/soul/register/client/consul/ConsulClientRegisterRepository.java
  soul-register-center/soul-register-client/soul-register-client-consul/src/main/resources/META-INF/soul/org.dromara.soul.register.client.api.SoulClientRegisterRepository
  soul-register-center/soul-register-common/src/main/java/org/dromara/soul/register/common/dto/URIRegisterDTO.java
  soul-register-center/soul-register-server/pom.xml
  soul-register-center/soul-register-server/soul-register-server-consul/pom.xml
  soul-register-center/soul-register-server/soul-register-server-consul/src/main/java/org/dromara/soul/register/server/consul/ConsulConfigChangedEvent.java
  soul-register-center/soul-register-server/soul-register-server-consul/src/main/java/org/dromara/soul/register/server/consul/ConsulServerRegisterRepository.java
  soul-register-center/soul-register-server/soul-register-server-consul/src/main/java/org/dromara/soul/register/server/consul/SoulConsulConfigWatch.java
  soul-register-center/soul-register-server/soul-register-server-consul/src/main/resources/META-INF/soul/org.dromara.soul.register.server.api.SoulServerRegisterRepository
  soul-register-center/soul-register-server/soul-register-server-etcd/src/main/java/org/dromara/soul/register/server/etcd/EtcdServerRegisterRepository.java
  soul-register-center/soul-register-server/soul-register-server-zookeeper/src/main/java/org/dromara/soul/register/server/zookeeper/ZookeeperServerRegisterRepository.java
  soul-spring-boot-starter/soul-spring-boot-starter-client/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-client/soul-spring-boot-starter-client-alibaba-dubbo/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-client/soul-spring-boot-starter-client-alibaba-dubbo/src/main/java/org/dromara/soul/springboot/starter/client/alibaba/dubbo/SoulAlibabaDubboClientConfiguration.java
  soul-spring-boot-starter/soul-spring-boot-starter-client/soul-spring-boot-starter-client-apache-dubbo/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-client/soul-spring-boot-starter-client-apache-dubbo/src/main/java/org/dromara/soul/springboot/starter/client/apache/dubbo/SoulApacheDubboClientConfiguration.java
  soul-spring-boot-starter/soul-spring-boot-starter-client/soul-spring-boot-starter-client-common/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-client/soul-spring-boot-starter-client-common/src/main/java/org/dromara/soul/springboot/starter/client/common/config/SoulClientCommonBeanConfiguration.java
  soul-spring-boot-starter/soul-spring-boot-starter-client/soul-spring-boot-starter-client-grpc/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-client/soul-spring-boot-starter-client-grpc/src/main/java/org/dromara/soul/springboot/starter/client/grpc/SoulGrpcClientConfiguration.java
  soul-spring-boot-starter/soul-spring-boot-starter-client/soul-spring-boot-starter-client-sofa/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-client/soul-spring-boot-starter-client-sofa/src/main/java/org/dromara/soul/springboot/starter/client/sofa/SoulSofaClientConfiguration.java
  soul-spring-boot-starter/soul-spring-boot-starter-client/soul-spring-boot-starter-client-springcloud/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-client/soul-spring-boot-starter-client-springcloud/src/main/java/org/dromara/soul/springboot/starter/client/springcloud/SoulSpringCloudClientConfiguration.java
  soul-spring-boot-starter/soul-spring-boot-starter-client/soul-spring-boot-starter-client-springmvc/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-client/soul-spring-boot-starter-client-springmvc/src/main/java/org/dromara/soul/springboot/starter/client/springmvc/SoulSpringMvcClientConfiguration.java
  soul-spring-boot-starter/soul-spring-boot-starter-client/soul-spring-boot-starter-client-tars/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-client/soul-spring-boot-starter-client-tars/src/main/java/org/dromara/soul/springboot/starter/client/tars/SoulTarsClientConfiguration.java
Labels: client: register-consul

#1183 ADD GRPC PLUGIN USED REGISTER CENTER
  soul-plugin/soul-plugin-grpc/src/main/java/org/dromara/soul/plugin/grpc/GrpcPlugin.java
  soul-plugin/soul-plugin-grpc/src/main/java/org/dromara/soul/plugin/grpc/cache/ApplicationConfigCache.java
  soul-plugin/soul-plugin-grpc/src/main/java/org/dromara/soul/plugin/grpc/handler/GrpcPluginDataHandler.java
  soul-plugin/soul-plugin-grpc/src/main/java/org/dromara/soul/plugin/grpc/resolver/SoulServiceInstance.java
  soul-plugin/soul-plugin-grpc/src/main/java/org/dromara/soul/plugin/grpc/subscriber/GrpcMetaDataSubscriber.java
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-grpc/src/main/java/org/dromara/soul/spring/boot/starter/plugin/grpc/GrpcPluginConfiguration.java
Labels: plugin: grpc

#1190 Add test for rate limiter Lua scripts.
  soul-plugin/soul-plugin-ratelimiter/pom.xml
  soul-plugin/soul-plugin-ratelimiter/src/test/java/org/dromara/soul/plugin/ratelimiter/executor/RedisRateLimiterScriptsTest.java
Labels: in: test, plugin: ratelimiter

#1189 nacos2.0.0 adapt
  soul-admin/pom.xml
  soul-admin/src/main/java/org/dromara/soul/admin/config/NacosConfiguration.java
  soul-admin/src/test/java/org/dromara/soul/admin/config/WebConfigurationTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/listener/nacos/NacosMockConfigService.java
  soul-register-center/soul-register-client/soul-register-client-nacos/pom.xml
  soul-register-center/soul-register-server/soul-register-server-nacos/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-sync-data-center/soul-spring-boot-starter-sync-data-nacos/src/main/java/org/dromara/soul/springboot/starter/sync/data/nacos/NacosSyncDataConfiguration.java
  soul-spring-boot-starter/soul-spring-boot-starter-sync-data-center/soul-spring-boot-starter-sync-data-nacos/src/test/java/org/dromara/soul/springboot/starter/sync/data/nacos/NacosMockConfigService.java
  soul-sync-data-center/soul-sync-data-nacos/pom.xml
  soul-sync-data-center/soul-sync-data-nacos/src/test/java/org/dromara/soul/sync/data/nacos/handler/NacosMockConfigService.java
Labels: client: reigster-nacos, data-sync: nacos

#1197 Remove SO_TIMEOUT channel option
  soul-plugin/soul-plugin-httpclient/src/main/java/org/dromara/soul/plugin/httpclient/config/HttpClientProperties.java
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-httpclient/src/main/java/org/dromara/soul/springboot/starter/plugin/httpclient/HttpClientPluginConfiguration.java
Labels: plugin: http-client, type: refactor

#1202 optimize code structure(#1200)
  soul-sync-data-center/soul-sync-data-http/src/main/java/org/dromara/soul/sync/data/http/refresh/PluginDataRefresh.java
Labels: type: refactor
