Repository apache/shenyu, pull requests merged in 2021-09, with the labels that each got.

#2000 [ISSUE #2001] support external cros filter config.
  shenyu-common/src/main/java/org/apache/shenyu/common/config/ShenyuConfig.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-gateway/src/main/java/org/apache/shenyu/springboot/starter/gateway/ShenyuConfiguration.java
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/CrossFilter.java
  shenyu-web/src/test/java/org/apache/shenyu/web/filter/CrossFilterTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/filter/WebSocketParamFilterTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/handler/ShenyuWebHandlerTest.java
Labels: type: refactor

#2002 [type: refactor] refactor shenyu config
  shenyu-bootstrap/src/main/resources/application-local.yml
  shenyu-common/src/main/java/org/apache/shenyu/common/config/ShenyuConfig.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/main/resources/application-local.yml
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/src/main/resources/application-local.yml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-gateway/src/main/java/org/apache/shenyu/springboot/starter/gateway/ShenyuConfiguration.java
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/CrossFilter.java
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/ShenyuLoaderService.java
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/ShenyuPluginLoader.java
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/ShenyuPluginPathBuilder.java
  shenyu-web/src/test/java/org/apache/shenyu/web/filter/CrossFilterTest.java
Labels: type: refactor

#2003 [type: refactor] refactor admin sql path
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/DataBaseConfiguration.java
  shenyu-admin/src/main/resources/application-h2.yml
  shenyu-admin/src/main/resources/application-pg.yml
  shenyu-admin/src/main/resources/application.yml
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/main/resources/sql-script/mysql/schema.sql
  shenyu-admin/src/main/resources/sql-script/pg/schema.createdb.sql
  shenyu-admin/src/main/resources/sql-script/pg/schema.dropdb.sql
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
  shenyu-admin/src/test/java/org/apache/shenyu/admin/config/DataBaseConfigurationTest.java
  shenyu-dist/shenyu-admin-dist/src/main/resources/application-h2.yml
  shenyu-integrated-test/shenyu-integrated-test-http/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/docker-compose.yml
Labels: admin, type: refactor

#2017 [ISSUE #2014] validate the context path, fix "String index out of range" bug.
  shenyu-plugin/shenyu-plugin-context-path/src/main/java/org/apache/shenyu/plugin/context/path/ContextPathPlugin.java
Labels: type: refactor

#1998 [ISSUE #1966] Add integrated test for request plugin
  shenyu-examples/shenyu-examples-http/src/main/java/org/apache/shenyu/examples/http/controller/HttpTestController.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/RequestPluginTest.java
Labels: type: refactor, integration-test

#2019 [ISSUE #2008] Modify the return value of the'skip' method interface of'ShenyuPlugin' to boolean
  shenyu-plugin/shenyu-plugin-alibaba-dubbo/src/main/java/org/apache/shenyu/plugin/alibaba/dubbo/AlibabaDubboPlugin.java
  shenyu-plugin/shenyu-plugin-apache-dubbo/src/main/java/org/apache/shenyu/plugin/apache/dubbo/ApacheDubboPlugin.java
  shenyu-plugin/shenyu-plugin-apache-dubbo/src/test/java/org/apache/shenyu/plugin/apache/dubbo/ApacheDubboPluginTest.java
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/ShenyuPlugin.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/ParamTransformPlugin.java
  shenyu-plugin/shenyu-plugin-context-path/src/main/java/org/apache/shenyu/plugin/context/path/ContextPathPlugin.java
  shenyu-plugin/shenyu-plugin-divide/src/main/java/org/apache/shenyu/plugin/divide/DividePlugin.java
  shenyu-plugin/shenyu-plugin-grpc/src/main/java/org/apache/shenyu/plugin/grpc/GrpcPlugin.java
  shenyu-plugin/shenyu-plugin-grpc/src/test/java/org/apache/shenyu/plugin/grpc/GrpcPluginTest.java
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/NettyHttpClientPlugin.java
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/WebClientPlugin.java
  shenyu-plugin/shenyu-plugin-logging/src/main/java/org/apache/shenyu/plugin/logging/LoggingPlugin.java
  shenyu-plugin/shenyu-plugin-modify-response/src/main/java/org/apache/shenyu/plugin/modify/response/ModifyResponsePlugin.java
  shenyu-plugin/shenyu-plugin-motan/src/main/java/org/apache/shenyu/plugin/motan/MotanPlugin.java
  shenyu-plugin/shenyu-plugin-motan/src/main/java/org/apache/shenyu/plugin/motan/response/MotanResponsePlugin.java
  shenyu-plugin/shenyu-plugin-oauth2/src/main/java/org/apache/shenyu/plugin/oauth2/OAuth2Plugin.java
  shenyu-plugin/shenyu-plugin-param-mapping/src/main/java/org/apache/shenyu/plugin/param/mapping/ParamMappingPlugin.java
  shenyu-plugin/shenyu-plugin-rewrite/src/main/java/org/apache/shenyu/plugin/rewrite/RewritePlugin.java
  shenyu-plugin/shenyu-plugin-sofa/src/main/java/org/apache/shenyu/plugin/sofa/SofaPlugin.java
  shenyu-plugin/shenyu-plugin-sofa/src/test/java/org/apache/shenyu/plugin/sofa/SofaPluginTest.java
  shenyu-plugin/shenyu-plugin-springcloud/src/main/java/org/apache/shenyu/plugin/springcloud/SpringCloudPlugin.java
  shenyu-plugin/shenyu-plugin-springcloud/src/test/java/org/apache/shenyu/plugin/springcloud/SpringCloudPluginTest.java
  shenyu-plugin/shenyu-plugin-tars/src/main/java/org/apache/shenyu/plugin/tars/TarsPlugin.java
  shenyu-plugin/shenyu-plugin-tars/src/test/java/org/apache/shenyu/plugin/tars/TarsPluginTest.java
  shenyu-plugin/shenyu-plugin-websocket/src/main/java/org/apache/shenyu/plugin/websocket/WebSocketPlugin.java
  shenyu-web/src/main/java/org/apache/shenyu/web/handler/ShenyuWebHandler.java
Labels: type: refactor

#2022 Update issue template
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/question.yml
  .github/ISSUE_TEMPLATE/task.md
  .github/ISSUE_TEMPLATE/task.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: type: build

#2005 [type: feature] Datasource support PostgreSql for Admin, refactor init sql script (#1951)
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/DataBaseConfiguration.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/MapperConfig.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/properties/DataBaseProperties.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mybatis/pg/handler/PostGreSqlBooleanHandler.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mybatis/pg/interceptor/PostgreSqlQueryInterceptor.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mybatis/pg/interceptor/PostgreSqlUpdateInterceptor.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/spring/LocalDataSourceLoader.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/spring/PostgreSqlLoader.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/spring/ScriptLoader.java
  shenyu-admin/src/main/resources/application-pg.yml
  shenyu-admin/src/main/resources/sql-script/pg/schema.createdb.sql
  shenyu-admin/src/main/resources/sql-script/pg/schema.dropdb.sql
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
  shenyu-admin/src/test/java/org/apache/shenyu/admin/config/DataBaseConfigurationTest.java
Labels: admin

#2031 [ISSUE #2030] Fix gson toJson is null question
  shenyu-register-center/shenyu-register-client/shenyu-register-client-http/src/test/java/org/apache/shenyu/register/client/http/RegisterUtilsTest.java
Labels: type: refactor

#2036 [type: build] add Volunteer issue
  .github/ISSUE_TEMPLATE/task.yml
  .github/ISSUE_TEMPLATE/volunteer.yml
Labels: type: build

#2021 [ISSUE #2015] Support sign plugin custom dynamic sign provider.
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/sign/DefaultSignProvider.java
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/sign/ShenyuSignProviderWrap.java
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/sign/SignProvider.java
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/sign/SignService.java
  shenyu-plugin/shenyu-plugin-sign/src/main/java/org/apache/shenyu/plugin/sign/SignPlugin.java
  shenyu-plugin/shenyu-plugin-sign/src/main/java/org/apache/shenyu/plugin/sign/service/DefaultSignService.java
  shenyu-plugin/shenyu-plugin-sign/src/test/java/org/apache/shenyu/plugin/sign/SignPluginTest.java
  shenyu-plugin/shenyu-plugin-sign/src/test/java/org/apache/shenyu/plugin/sign/service/DefaultSignServiceTest.java
  shenyu-plugin/shenyu-plugin-sign/src/test/java/org/apache/shenyu/plugin/sign/sign/DefaultSignProviderTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-sign/src/main/java/org/apache/shenyu/springboot/starter/plugin/sign/SignPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-sign/src/test/java/org/apache/shenyu/springboot/starter/plugin/sign/SignPluginConfigurationTest.java
Labels: type: refactor

#2040 Optimize "GlobalErrorHandler" and refactor "SpringUtils".
  shenyu-admin/src/main/java/org/apache/shenyu/admin/spring/ShenyuApplicationContextAware.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/spring/SpringBeanUtils.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/listener/websocket/WebsocketCollectorTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/PermissionServiceTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/spring/ShenyuApplicationContextAwareTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/spring/SpringBeanUtilsTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/utils/JwtUtilsTest.java
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/utils/SpringBeanUtils.java
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/condition/data/HostParameterDataTest.java
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/condition/data/IpParameterDataTest.java
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/condition/data/ParameterDataFactoryTest.java
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/condition/strategy/AbstractMatchStrategyTest.java
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/fallback/FallbackHandlerTest.java
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/utils/HostAddressUtilsTest.java
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/utils/ShenyuResultWrapTest.java
  shenyu-plugin/shenyu-plugin-context-path/src/test/java/org/apache/shenyu/plugin/context/path/ContextPathPluginTest.java
  shenyu-plugin/shenyu-plugin-grpc/src/test/java/org/apache/shenyu/plugin/grpc/GrpcPluginTest.java
  shenyu-plugin/shenyu-plugin-httpclient/src/test/java/org/apache/shenyu/plugin/httpclient/NettyHttpClientPluginTest.java
  shenyu-plugin/shenyu-plugin-httpclient/src/test/java/org/apache/shenyu/plugin/httpclient/WebClientPluginTest.java
  shenyu-plugin/shenyu-plugin-jwt/src/test/java/org/apache/shenyu/plugin/jwt/JwtPluginTest.java
  shenyu-plugin/shenyu-plugin-ratelimiter/src/test/java/org/apache/shenyu/plugin/ratelimiter/RateLimiterPluginTest.java
  shenyu-plugin/shenyu-plugin-response/src/test/java/org/apache/shenyu/plugin/response/ResponsePluginTest.java
  shenyu-plugin/shenyu-plugin-response/src/test/java/org/apache/shenyu/plugin/response/strategy/NettyClientMessageWriterTest.java
  shenyu-plugin/shenyu-plugin-response/src/test/java/org/apache/shenyu/plugin/response/strategy/RPCMessageWriterTest.java
  shenyu-plugin/shenyu-plugin-response/src/test/java/org/apache/shenyu/plugin/response/strategy/WebClientMessageWriterTest.java
  shenyu-plugin/shenyu-plugin-sentinel/src/test/java/org/apache/shenyu/plugin/sentinel/SentinelPluginTest.java
  shenyu-plugin/shenyu-plugin-sentinel/src/test/java/org/apache/shenyu/plugin/sentinel/fallback/SentinelFallbackHandlerTest.java
  shenyu-plugin/shenyu-plugin-sign/src/test/java/org/apache/shenyu/plugin/sign/service/DefaultSignServiceTest.java
  shenyu-plugin/shenyu-plugin-sign/src/test/java/org/apache/shenyu/plugin/sign/sign/DefaultSignProviderTest.java
  shenyu-plugin/shenyu-plugin-springcloud/src/test/java/org/apache/shenyu/plugin/springcloud/SpringCloudPluginTest.java
  shenyu-plugin/shenyu-plugin-tars/src/test/java/org/apache/shenyu/plugin/tars/TarsPluginTest.java
  shenyu-plugin/shenyu-plugin-waf/src/test/java/org/apache/shenyu/plugin/waf/WafPluginTest.java
  shenyu-web/src/main/java/org/apache/shenyu/web/configuration/SpringExtConfiguration.java
  shenyu-web/src/main/java/org/apache/shenyu/web/handler/GlobalErrorHandler.java
  shenyu-web/src/test/java/org/apache/shenyu/web/filter/FileSizeFilterTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/filter/WebSocketParamFilterTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/handler/GlobalErrorHandlerTest.java
Labels: type: refactor

#2043 [type: refactor]Provide "ThreadShareUtils" and reset plugin default order.
  shenyu-common/src/main/java/org/apache/shenyu/common/enums/PluginEnum.java
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/ThreadShare.java
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/ThreadShareUtils.java
  shenyu-plugin/shenyu-plugin-global/src/test/java/org/apache/shenyu/plugin/global/GlobalPluginTest.java
  shenyu-plugin/shenyu-plugin-sign/src/main/java/org/apache/shenyu/plugin/sign/service/DefaultSignService.java
  shenyu-web/src/main/java/org/apache/shenyu/web/handler/GlobalErrorHandler.java
  shenyu-web/src/main/java/org/apache/shenyu/web/logo/ShenyuLogo.java
Labels: type: refactor

#2045 [Integration: Test] refactor spring cloud
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
  shenyu-common/src/main/java/org/apache/shenyu/common/enums/PluginEnum.java
  shenyu-integrated-test/shenyu-integrated-test-common/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-common/src/main/java/org/apache/shenyu/integratedtest/common/AbstractPluginDataInit.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/ContextPathPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/JwtPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/ParamMappingPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/RedirectPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/RequestPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/SentinelPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/WafPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/src/main/resources/admin-config/schema.sql
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/src/test/java/org/apache/shenyu/integratedtest/springcloud/SpringCloudPluginTest.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/RpcParamTransformPlugin.java
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/RpcParamTransformPluginTest.java
  shenyu-plugin/shenyu-plugin-modify-response/src/main/java/org/apache/shenyu/plugin/modify/response/ModifyResponsePlugin.java
  shenyu-plugin/shenyu-plugin-motan/src/main/java/org/apache/shenyu/plugin/motan/response/MotanResponsePlugin.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-gateway/src/main/java/org/apache/shenyu/springboot/starter/gateway/ShenyuConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-motan/src/main/java/org/apache/shenyu/springboot/starter/plugin/motan/MotanPluginConfiguration.java
Labels: type: refactor, integration-test

#2046 [ISSUE #1979] Refactor integration test for rate-limiter plugin
  shenyu-integrated-test/shenyu-integrated-test-http/src/main/resources/admin-config/schema.sql
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/RateLimiterPluginTest.java
Labels: type: refactor, integration-test

#2050 [type: refactor] refactor sign api
  shenyu-dist/shenyu-admin-dist/src/main/assembly/binary.xml
  shenyu-dist/shenyu-admin-dist/src/main/resources/application-h2.yml
  shenyu-dist/shenyu-admin-dist/src/main/resources/application.yml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-alibaba-dubbo-service/src/main/resources/application.yml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-alibaba-dubbo-service/src/main/resources/spring-dubbo.xml
  shenyu-plugin/shenyu-plugin-sign/src/main/java/org/apache/shenyu/plugin/sign/SignPlugin.java
  shenyu-plugin/shenyu-plugin-sign/src/main/java/org/apache/shenyu/plugin/sign/api/DefaultSignProvider.java
  shenyu-plugin/shenyu-plugin-sign/src/main/java/org/apache/shenyu/plugin/sign/api/ShenyuSignProviderWrap.java
  shenyu-plugin/shenyu-plugin-sign/src/main/java/org/apache/shenyu/plugin/sign/api/SignProvider.java
  shenyu-plugin/shenyu-plugin-sign/src/main/java/org/apache/shenyu/plugin/sign/api/SignService.java
  shenyu-plugin/shenyu-plugin-sign/src/main/java/org/apache/shenyu/plugin/sign/service/DefaultSignService.java
  shenyu-plugin/shenyu-plugin-sign/src/test/java/org/apache/shenyu/plugin/sign/SignPluginTest.java
  shenyu-plugin/shenyu-plugin-sign/src/test/java/org/apache/shenyu/plugin/sign/service/DefaultSignServiceTest.java
  shenyu-plugin/shenyu-plugin-sign/src/test/java/org/apache/shenyu/plugin/sign/sign/DefaultSignProviderTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-sign/src/main/java/org/apache/shenyu/springboot/starter/plugin/sign/SignPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-sign/src/test/java/org/apache/shenyu/springboot/starter/plugin/sign/SignPluginConfigurationTest.java
Labels: type: refactor

#2026 [Integration: Test]: Init grpc integration test
  .github/workflows/integrated-test-grpc.yml
  shenyu-examples/shenyu-examples-grpc/Dockerfile
  shenyu-examples/shenyu-examples-grpc/pom.xml
  shenyu-examples/shenyu-examples-grpc/src/main/java/org/apache/shenyu/examples/grpc/controller/GrpcTestController.java
  shenyu-integrated-test/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-grpc/Dockerfile
  shenyu-integrated-test/shenyu-integrated-test-grpc/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-grpc/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-grpc/script/healthcheck.sh
  shenyu-integrated-test/shenyu-integrated-test-grpc/script/services.list
  shenyu-integrated-test/shenyu-integrated-test-grpc/src/main/java/org/apache/shenyu/integrated/test/grpc/GrpcIntegratedBootstrap.java
  shenyu-integrated-test/shenyu-integrated-test-grpc/src/main/java/org/apache/shenyu/integrated/test/grpc/configuration/NettyTcpConfig.java
  shenyu-integrated-test/shenyu-integrated-test-grpc/src/main/java/org/apache/shenyu/integrated/test/grpc/configuration/ShenyuNettyWebServerFactory.java
  shenyu-integrated-test/shenyu-integrated-test-grpc/src/main/java/org/apache/shenyu/integrated/test/grpc/dto/GrpcResponse.java
  shenyu-integrated-test/shenyu-integrated-test-grpc/src/main/resources/admin-config/schema.sql
  shenyu-integrated-test/shenyu-integrated-test-grpc/src/main/resources/application-local.yml
  shenyu-integrated-test/shenyu-integrated-test-grpc/src/main/resources/application.yml
  shenyu-integrated-test/shenyu-integrated-test-grpc/src/test/java/org/apache/shenyu/integrated/test/grpc/GrpcPluginTest.java
Labels: integration-test

#2051 Fix the IP address retrieval error
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/IpUtils.java
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/IpUtilsTest.java
Labels: type: refactor

#2058 [ISSUE #1979] Refactor integration test for sign plugin
  shenyu-integrated-test/shenyu-integrated-test-common/src/main/java/org/apache/shenyu/integratedtest/common/AbstractPluginDataInit.java
  shenyu-integrated-test/shenyu-integrated-test-http/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-http/src/main/resources/admin-config/schema.sql
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/SignPluginTest.java
  shenyu-web/src/main/java/org/apache/shenyu/web/controller/AppAuthController.java
Labels: integration-test

#2052 [ISSUE #2020] Refactor Admin PageHelper to query list.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/aspect/PageHelperAspect.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/aspect/annotation/PageHelperControllerAnnotation.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/aspect/annotation/PageHelperMapperAnnotation.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/AppAuthController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/DashboardUserController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/MetaDataController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/PluginController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/PluginHandleController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ResourceController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/RoleController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/RuleController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/SelectorController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ShenyuDictController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/AppAuthMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/DashboardUserMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/MetaDataMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/PluginHandleMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/PluginMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/ResourceMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/RoleMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/RuleConditionMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/RuleMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/SelectorConditionMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/SelectorMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/ShenyuDictMapper.java
  shenyu-admin/src/main/resources/mappers/app-auth-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/dashboard-user-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/meta-data-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/plugin-handle-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/plugin-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/resouce-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/role-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/rule-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/selector-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/shenyu-dict-sqlmap.xml
Labels: admin

#2062 [Examples : websocket] add websocket examples
  shenyu-examples/pom.xml
  shenyu-examples/shenyu-examples-websocket/Dockerfile
  shenyu-examples/shenyu-examples-websocket/pom.xml
  shenyu-examples/shenyu-examples-websocket/src/main/java/org/apache/shenyu/examples/websocket/ShenyuWebsocketApplication.java
  shenyu-examples/shenyu-examples-websocket/src/main/java/org/apache/shenyu/examples/websocket/config/WebSocketConfiguration.java
  shenyu-examples/shenyu-examples-websocket/src/main/java/org/apache/shenyu/examples/websocket/handler/EchoHandler.java
  shenyu-examples/shenyu-examples-websocket/src/main/resources/application.yml
Labels: in: example

#2064 fix default fallback controller handler by "ShenyuResultWrap".
  shenyu-web/src/main/java/org/apache/shenyu/web/fallback/DefaultFallbackController.java
  shenyu-web/src/test/java/org/apache/shenyu/web/fallback/DefaultFallbackControllerTest.java
Labels: type: refactor

#2067 [Fix #2063]refactor page aop
  shenyu-admin/src/main/java/org/apache/shenyu/admin/aspect/PageHelperAspect.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/aspect/PageableAspect.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/aspect/annotation/PageHelperMapperAnnotation.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/aspect/annotation/Pageable.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/AppAuthController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/DashboardUserController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/MetaDataController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/PluginController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/PluginHandleController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ResourceController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/RoleController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/RuleController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/SelectorController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ShenyuDictController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/AppAuthMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/DashboardUserMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/MetaDataMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/PluginHandleMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/PluginMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/ResourceMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/RoleMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/RuleConditionMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/RuleMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/SelectorConditionMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/ShenyuDictMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/page/PageResultUtils.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/MetaDataServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/PluginHandleServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/PluginServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/ResourceServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/RoleServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/RuleServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SelectorServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/ShenyuDictServiceImpl.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/MetaDataServiceTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/PluginServiceTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/ResourceServiceTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/RoleServiceTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/RuleServiceTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/SelectorServiceTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/ShenyuDictServiceTest.java
Labels: type: bug, admin

#2068 [type: refactor] refactor integration test
  shenyu-common/src/main/java/org/apache/shenyu/common/enums/PluginEnum.java
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service/src/main/resources/spring-dubbo.xml
  shenyu-integrated-test/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-common/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-grpc/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-grpc/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-grpc/src/main/resources/admin-config/schema.sql
  shenyu-integrated-test/shenyu-integrated-test-grpc/src/main/resources/application-local.yml
  shenyu-integrated-test/shenyu-integrated-test-grpc/src/test/java/org/apache/shenyu/integrated/test/grpc/GrpcPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/src/main/resources/application-local.yml
  shenyu-integrated-test/shenyu-integration-test-alibaba-dubbo/docker-compose.yml
  shenyu-integrated-test/shenyu-integration-test-alibaba-dubbo/pom.xml
  shenyu-integrated-test/shenyu-integration-test-alibaba-dubbo/src/main/java/org/apache/shenyu/integratedtest/alibaba/dubbo/AlibabaDubboIntegrationBootstrap.java
  shenyu-integrated-test/shenyu-integration-test-alibaba-dubbo/src/main/resources/admin-config/schema.sql
  shenyu-integrated-test/shenyu-integration-test-alibaba-dubbo/src/main/resources/application-local.yml
  shenyu-integrated-test/shenyu-integration-test-alibaba-dubbo/src/test/java/org/apache/shenyu/integratedtest/alibaba/dubbo/AlibabaDubboPluginTest.java
  shenyu-integrated-test/shenyu-integration-test-apache-dubbo/docker-compose.yml
  shenyu-integrated-test/shenyu-integration-test-apache-dubbo/pom.xml
  shenyu-integrated-test/shenyu-integration-test-apache-dubbo/src/main/java/org/apache/shenyu/integratedtest/apache/dubbo/ApacheDubboIntegratedBootstrap.java
  shenyu-integrated-test/shenyu-integration-test-apache-dubbo/src/main/resources/admin-config/schema.sql
  shenyu-integrated-test/shenyu-integration-test-apache-dubbo/src/main/resources/application-local.yml
  shenyu-integrated-test/shenyu-integration-test-apache-dubbo/src/test/java/org/apache/shenyu/integratedtest/alibaba/dubbo/ApacheDubboPluginTest.java
  shenyu-plugin/shenyu-plugin-alibaba-dubbo/src/main/java/org/apache/shenyu/plugin/alibaba/dubbo/cache/ApplicationConfigCache.java
  shenyu-plugin/shenyu-plugin-alibaba-dubbo/src/main/java/org/apache/shenyu/plugin/alibaba/dubbo/proxy/AlibabaDubboProxyService.java
  shenyu-plugin/shenyu-plugin-apache-dubbo/src/main/java/org/apache/shenyu/plugin/apache/dubbo/cache/ApplicationConfigCache.java
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/utils/WebFluxResultUtils.java
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/NettyHttpClientPlugin.java
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/WebClientPlugin.java
  shenyu-plugin/shenyu-plugin-httpclient/src/test/java/org/apache/shenyu/plugin/httpclient/NettyHttpClientPluginTest.java
  shenyu-plugin/shenyu-plugin-httpclient/src/test/java/org/apache/shenyu/plugin/httpclient/WebClientPluginTest.java
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/ShenyuLoaderService.java
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/ShenyuPluginPathBuilder.java
Labels: type: refactor, integration-test

#2072 [type: refactor]modify rpc proxy to proxy
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/main/resources/sql-script/mysql/schema.sql
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
Labels: type: refactor

#2074 [type: refactor]remove websocket filter
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-gateway/src/main/java/org/apache/shenyu/springboot/starter/gateway/ShenyuConfiguration.java
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/WebSocketParamFilter.java
  shenyu-web/src/test/java/org/apache/shenyu/web/filter/WebSocketParamFilterTest.java
Labels: type: refactor

#2075 fix "modify response" plugin order bug and optimize the "clientResponse"
  shenyu-common/src/main/java/org/apache/shenyu/common/enums/PluginEnum.java
  shenyu-plugin/shenyu-plugin-modify-response/src/main/java/org/apache/shenyu/plugin/modify/response/ModifyResponsePlugin.java
Labels: type: bug, type: refactor

#2077 [type: refactor] code refactor
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/request/CryptorRequestPlugin.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/response/CryptorResponsePlugin.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/utils/HttpUtil.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/utils/JsonUtil.java
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/ShenyuPluginPathBuilder.java
  shenyu-web/src/main/java/org/apache/shenyu/web/logo/ShenyuLogo.java
Labels: type: refactor

#2082 fix mysql plugin data & update plugin sort data.
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/main/resources/sql-script/mysql/schema.sql
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
Labels: type: refactor

#2083 [type: feature] add unit test for AppAuthController, pr [#2081]
  shenyu-web/src/test/java/org/apache/shenyu/web/controller/AppAuthControllerTest.java
Labels: in: test

#2065 [type: feature] add http file to examples[grpc,http,spring cloud]，fix pr [#2059]
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/shutdown/ShenyuClientShutdownHook.java
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-annotation/src/main/http/apache-dubbo-test-api.http
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service/src/main/http/apache-dubbo-test-api.http
  shenyu-examples/shenyu-examples-grpc/src/main/http/grpc-test-api.http
  shenyu-examples/shenyu-examples-grpc/src/main/java/org/apache/shenyu/examples/grpc/ShenyuGrpcServerBuilder.java
  shenyu-examples/shenyu-examples-http/src/main/http/http-test-api.http
  shenyu-examples/shenyu-examples-http/src/main/java/org/apache/shenyu/examples/http/config/HttpServerConfig.java
  shenyu-examples/shenyu-examples-motan/shenyu-examples-motan-service/src/main/http/motan-test-api.http
  shenyu-examples/shenyu-examples-sofa/shenyu-examples-sofa-service/src/main/http/sofa-test-api.http
  shenyu-examples/shenyu-examples-springcloud/src/main/http/spring-cloud-test-api.http
  shenyu-web/src/main/java/org/apache/shenyu/web/handler/ShenyuWebHandler.java
Labels: in: example

#2087 add integraton test for modifyResponse plugin
  shenyu-examples/shenyu-examples-http/src/main/java/org/apache/shenyu/examples/http/controller/HttpTestController.java
  shenyu-integrated-test/shenyu-integrated-test-common/src/main/java/org/apache/shenyu/integratedtest/common/helper/HttpHelper.java
  shenyu-integrated-test/shenyu-integrated-test-http/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/ModifyResponsePluginTest.java
  shenyu-plugin/shenyu-plugin-modify-response/src/main/java/org/apache/shenyu/plugin/modify/response/ModifyResponsePlugin.java
Labels: integration-test

#2088 fix "GlobalErrorHandler" error object to map bug by JacksonUtils.toMap.
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/JsonUtils.java
  shenyu-web/src/main/java/org/apache/shenyu/web/handler/GlobalErrorHandler.java
  shenyu-web/src/test/java/org/apache/shenyu/web/handler/GlobalErrorHandlerTest.java
Labels: type: refactor

#2039 [ISSUE #2076] add loadbalance for SpringCloudPlugin of support dynamic route
  shenyu-admin/src/main/java/org/apache/shenyu/admin/disruptor/subscriber/URIRegisterExecutorSubscriber.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/websocket/WebsocketCollector.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SelectorServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/UpstreamCheckService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterDefaultServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterServiceFactory.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterSpringCloudServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/DivideUpstreamUtils.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/ThreadLocalUtils.java
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/test/java/org/apache/shenyu/admin/listener/websocket/WebsocketCollectorTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/SelectorServiceTest.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/DivideUpstream.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/rule/impl/SpringCloudRuleHandle.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/selector/SpringCloudSelectorHandle.java
  shenyu-common/src/main/java/org/apache/shenyu/common/enums/PluginEnum.java
  shenyu-common/src/main/java/org/apache/shenyu/common/enums/RpcTypeEnum.java
  shenyu-loadbalancer/src/main/java/org/apache/shenyu/loadbalancer/entity/Upstream.java
  shenyu-plugin/shenyu-plugin-springcloud/pom.xml
  shenyu-plugin/shenyu-plugin-springcloud/src/main/java/org/apache/shenyu/plugin/springcloud/SpringCloudPlugin.java
  shenyu-plugin/shenyu-plugin-springcloud/src/main/java/org/apache/shenyu/plugin/springcloud/handler/SpringCloudPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-springcloud/src/main/java/org/apache/shenyu/plugin/springcloud/loadbalance/LoadBalanceKey.java
  shenyu-plugin/shenyu-plugin-springcloud/src/main/java/org/apache/shenyu/plugin/springcloud/loadbalance/LoadBalanceKeyHolder.java
  shenyu-plugin/shenyu-plugin-springcloud/src/main/java/org/apache/shenyu/plugin/springcloud/loadbalance/LoadBalanceRule.java
  shenyu-plugin/shenyu-plugin-springcloud/src/test/java/org/apache/shenyu/plugin/springcloud/SpringCloudPluginTest.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-consul/src/main/java/org/apache/shenyu/register/client/consul/ConsulClientRegisterRepository.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-etcd/src/main/java/org/apache/shenyu/register/client/etcd/EtcdClientRegisterRepository.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-zookeeper/src/main/java/org/apache/shenyu/register/client/zookeeper/ZookeeperClientRegisterRepository.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-springcloud/pom.xml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-springcloud/src/main/java/org/apache/shenyu/springboot/starter/plugin/springcloud/SpringCloudPluginConfiguration.java
Labels: plugin: spring-cloud

#2089 [type:feature] add http test file
  shenyu-examples/shenyu-examples-sofa/shenyu-examples-sofa-service/src/main/http/sofa-test-api.http
  shenyu-examples/shenyu-examples-tars/src/main/http/tars-test-api.http
Labels: in: example

#2094 [ISSUE #2093] Remove duplicate pager in shenyu-admin.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mybatis/pg/handler/PostGreSqlBooleanHandler.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mybatis/pg/interceptor/PostgreSqlQueryInterceptor.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mybatis/pg/interceptor/PostgreSqlUpdateInterceptor.java
Labels: admin, type: refactor

#2105 [type: build]remove agent dist
  shenyu-dist/pom.xml
  shenyu-dist/shenyu-agent-dist/pom.xml
  shenyu-dist/shenyu-agent-dist/src/main/assembly/binary.xml
  shenyu-dist/shenyu-agent-dist/src/main/resources/logback.xml
  shenyu-dist/shenyu-src-dist/src/main/assembly/source.xml
Labels: type: build

#2106 [type: bug] modify motan plugin init refererConfig
  shenyu-plugin/shenyu-plugin-motan/src/main/java/org/apache/shenyu/plugin/motan/cache/ApplicationConfigCache.java
  shenyu-plugin/shenyu-plugin-motan/src/main/java/org/apache/shenyu/plugin/motan/proxy/MotanProxyService.java
Labels: type: bug, plugin: motan

#2107 [type: refactor]modify dubbo and sofa param resolve service
  shenyu-plugin/shenyu-plugin-alibaba-dubbo/pom.xml
  shenyu-plugin/shenyu-plugin-alibaba-dubbo/src/main/java/org/apache/shenyu/plugin/alibaba/dubbo/proxy/AlibabaDubboProxyService.java
  shenyu-plugin/shenyu-plugin-alibaba-dubbo/src/test/java/org/apache/shenyu/plugin/alibaba/dubbo/proxy/AlibabaDubboProxyServiceTest.java
  shenyu-plugin/shenyu-plugin-apache-dubbo/pom.xml
  shenyu-plugin/shenyu-plugin-apache-dubbo/src/main/java/org/apache/shenyu/plugin/apache/dubbo/proxy/ApacheDubboProxyService.java
  shenyu-plugin/shenyu-plugin-apache-dubbo/src/test/java/org/apache/shenyu/plugin/apache/dubbo/proxy/ApacheDubboProxyServiceTest.java
  shenyu-plugin/shenyu-plugin-dubbo-common/src/main/java/org/apache/shenyu/plugin/dubbo/common/param/DubboParamResolveService.java
  shenyu-plugin/shenyu-plugin-dubbo-common/src/main/java/org/apache/shenyu/plugin/dubbo/common/param/DubboParamResolveServiceImpl.java
  shenyu-plugin/shenyu-plugin-dubbo-common/src/test/java/org/apache/shenyu/plugin/dubbo/common/param/DubboParamResolveServiceTest.java
  shenyu-plugin/shenyu-plugin-sofa/src/main/java/org/apache/shenyu/plugin/sofa/param/SofaParamResolveService.java
  shenyu-plugin/shenyu-plugin-sofa/src/main/java/org/apache/shenyu/plugin/sofa/param/SofaParamResolveServiceImpl.java
  shenyu-plugin/shenyu-plugin-sofa/src/main/java/org/apache/shenyu/plugin/sofa/proxy/SofaProxyService.java
  shenyu-plugin/shenyu-plugin-sofa/src/test/java/org/apache/shenyu/plugin/sofa/param/SofaBodyParamResolveServiceTest.java
  shenyu-plugin/shenyu-plugin-sofa/src/test/java/org/apache/shenyu/plugin/sofa/proxy/SofaProxyServiceTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-alibaba-dubbo/src/main/java/org/apache/shenyu/springboot/starter/plugin/alibaba/dubbo/AlibabaDubboPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-apache-dubbo/src/main/java/org/apache/shenyu/springboot/starter/plugin/apache/dubbo/ApacheDubboPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-dubbo-common/src/main/java/org/apache/shenyu/springboot/plugin/dubbo/common/DubboCommonConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-sofa/src/main/java/org/apache/shenyu/springboot/starter/plugin/sofa/SofaPluginConfiguration.java
Labels: plugin: dubbo, type: refactor, plugin: sofa

#2098 [type: refactor] remove duplicate code
  shenyu-plugin/shenyu-plugin-sign/src/main/java/org/apache/shenyu/plugin/sign/service/DefaultSignService.java
Labels: type: refactor, plugin: sign

#2111 [type: refactor] fix admin selector update adapter spring cloud plugin
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterSpringCloudServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/DivideUpstreamUtils.java
  shenyu-admin/src/main/resources/static/index.041231fb.js
  shenyu-admin/src/main/resources/static/index.3c0609d9.js
  shenyu-admin/src/main/resources/static/index.b7871af4.css
Labels: admin, type: refactor

#2109 [type: bug] monitor plugin enabled after register labels
  shenyu-metrics/shenyu-metrics-prometheus/src/main/java/org/apache/shenyu/metrics/prometheus/register/PrometheusMetricsRegister.java
  shenyu-metrics/shenyu-metrics-prometheus/src/main/java/org/apache/shenyu/metrics/prometheus/service/PrometheusBootService.java
  shenyu-metrics/shenyu-metrics-spi/src/main/java/org/apache/shenyu/metrics/reporter/MetricsReporter.java
  shenyu-metrics/shenyu-metrics-spi/src/main/java/org/apache/shenyu/metrics/spi/MetricsRegister.java
  shenyu-plugin/shenyu-plugin-monitor/src/main/java/org/apache/shenyu/plugin/monitor/MonitorPlugin.java
Labels: type: bug, plugin: monitor

#2114 fix #2113
  .github/workflows/integrated-test-alibaba-dubbo.yml
  .github/workflows/integrated-test-apache-dubbo.yml
  .github/workflows/integrated-test-grpc.yml
  .github/workflows/integrated-test-http.yml
  .github/workflows/integrated-test-spring-cloud.yml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-alibaba-dubbo-service/pom.xml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service/pom.xml
  shenyu-examples/shenyu-examples-grpc/pom.xml
  shenyu-examples/shenyu-examples-http/pom.xml
  shenyu-examples/shenyu-examples-springcloud/pom.xml
Labels: type: build, in: example

#2120 [ISSUE #2119] sometime spring cloud integration test error
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/script/healthcheck.sh
Labels: integration-test

#2121 [type:fixbug] fix static resource index.html
  shenyu-admin/src/main/resources/static/index.html
Labels: admin, type: fixed

#2118 [ISSUE #2024] Enhance the ability of cryptor plugin
  shenyu-admin/src/main/resources/sql-script/mysql/schema.sql
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/rule/impl/CryptorResponseRuleHandle.java
  shenyu-integrated-test/shenyu-integration-test-alibaba-dubbo/script/services.list
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/result/ShenyuResultEnum.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/dto/CryptorRuleHandle.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/handler/CryptorRequestPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/handler/CryptorResponsePluginDataHandler.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/request/CryptorRequestPlugin.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/response/CryptorResponsePlugin.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/strategy/CryptorStrategyFactory.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/utils/HttpUtil.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/utils/JsonUtil.java
  shenyu-plugin/shenyu-plugin-cryptor/src/test/java/org/apache/shenyu/plugin/cryptor/request/CryptorRequestPluginTest.java
  shenyu-plugin/shenyu-plugin-cryptor/src/test/java/org/apache/shenyu/plugin/cryptor/response/CryptorResponsePluginTest.java
Labels: type: refactor, plugin: cryptor

#2117 [ISSUE #2079] Add unit test for ShenyuPluginPathBuilder
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/ShenyuPluginPathBuilder.java
  shenyu-web/src/test/java/org/apache/shenyu/web/loader/ShenyuPluginPathBuilderTest.java
Labels: in: test

#2126 [type:fix]fix sql for dubbo plugin.
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/main/resources/sql-script/mysql/schema.sql
Labels: type: bug, plugin: apache-dubbo

#2130 [ISSUE #2116] Fix the bug of register
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/RuleService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/RuleServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterDubboServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterGrpcServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterMotanServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterSofaServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterSpringCloudServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterSpringMVCServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterTarsServiceImpl.java
Labels: type: bug

#2131 polish
  shenyu-plugin/shenyu-plugin-motan/src/main/java/org/apache/shenyu/plugin/motan/proxy/MotanProxyService.java
Labels: type: refactor

#2129 Add missing plugin_handle sql for plugin motan
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/main/resources/sql-script/mysql/schema.sql
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
Labels: type: refactor

#2132 [type: refactor] Optimize register rules
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterSpringCloudServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterSpringMVCServiceImpl.java
Labels: type: refactor

#2123 [type: refactor] refactor code
  shenyu-admin/src/main/java/org/apache/shenyu/admin/disruptor/subscriber/MetadataExecutorSubscriber.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/disruptor/subscriber/URIRegisterExecutorSubscriber.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/DivideUpstreamUtils.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/JwtUtils.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/selector/DivideUpstream.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/selector/DubboSelectorHandle.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/selector/SpringCloudSelectorHandle.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/selector/WebSocketUpstream.java
  shenyu-common/src/main/java/org/apache/shenyu/common/enums/RpcTypeEnum.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/RpcTypeEnumTest.java
  shenyu-plugin/shenyu-plugin-apache-dubbo/src/main/java/org/apache/shenyu/plugin/apache/dubbo/handler/ApacheDubboPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-apache-dubbo/src/main/java/org/apache/shenyu/plugin/apache/dubbo/proxy/ApacheDubboProxyService.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/cache/CommonHandleCache.java
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/cache/CommonHandleCacheTest.java
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/cache/EmptyMockCommonHandleCache.java
  shenyu-plugin/shenyu-plugin-context-path/src/main/java/org/apache/shenyu/plugin/context/path/handler/ContextPathPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/handler/CryptorRequestPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/handler/CryptorResponsePluginDataHandler.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/request/CryptorRequestPlugin.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/response/CryptorResponsePlugin.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/strategy/CryptorStrategyFactory.java
  shenyu-plugin/shenyu-plugin-divide/src/main/java/org/apache/shenyu/plugin/divide/handler/DividePluginDataHandler.java
  shenyu-plugin/shenyu-plugin-hystrix/src/main/java/org/apache/shenyu/plugin/hystrix/handler/HystrixPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-modify-response/src/main/java/org/apache/shenyu/plugin/modify/response/cache/ModifyResponseCommonHandleCache.java
  shenyu-plugin/shenyu-plugin-modify-response/src/main/java/org/apache/shenyu/plugin/modify/response/handler/ModifyResponsePluginDataHandler.java
  shenyu-plugin/shenyu-plugin-modify-response/src/test/java/org/apache/shenyu/plugin/modify/response/cache/ModifyResponseCommonHandleCacheTest.java
  shenyu-plugin/shenyu-plugin-param-mapping/src/main/java/org/apache/shenyu/plugin/param/mapping/handler/ParamMappingPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-param-mapping/src/test/java/org/apache/shenyu/plugin/param/mapping/handler/ParamMappingPluginDataTest.java
  shenyu-plugin/shenyu-plugin-ratelimiter/src/main/java/org/apache/shenyu/plugin/ratelimiter/handler/RateLimiterPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-redirect/src/main/java/org/apache/shenyu/plugin/redirect/handler/RedirectPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-request/src/main/java/org/apache/shenyu/plugin/request/handler/RequestPluginHandler.java
  shenyu-plugin/shenyu-plugin-resilience4j/src/main/java/org/apache/shenyu/plugin/resilience4j/handler/Resilience4JHandler.java
  shenyu-plugin/shenyu-plugin-rewrite/src/main/java/org/apache/shenyu/plugin/rewrite/handler/RewritePluginDataHandler.java
  shenyu-plugin/shenyu-plugin-springcloud/src/main/java/org/apache/shenyu/plugin/springcloud/SpringCloudPlugin.java
  shenyu-plugin/shenyu-plugin-springcloud/src/main/java/org/apache/shenyu/plugin/springcloud/cache/SpringCloudRuleHandleCache.java
  shenyu-plugin/shenyu-plugin-springcloud/src/main/java/org/apache/shenyu/plugin/springcloud/cache/SpringCloudSelectorHandleCache.java
  shenyu-plugin/shenyu-plugin-springcloud/src/main/java/org/apache/shenyu/plugin/springcloud/handler/SpringCloudPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-springcloud/src/main/java/org/apache/shenyu/plugin/springcloud/loadbalance/LoadBalanceRule.java
  shenyu-plugin/shenyu-plugin-springcloud/src/test/java/org/apache/shenyu/plugin/springcloud/SpringCloudPluginTest.java
  shenyu-plugin/shenyu-plugin-waf/src/main/java/org/apache/shenyu/plugin/waf/handler/WafPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-websocket/src/main/java/org/apache/shenyu/plugin/websocket/handler/WebSocketPluginDataHandler.java
  shenyu-register-center/shenyu-register-server/shenyu-register-server-nacos/src/main/java/org/apache/shenyu/register/server/nacos/NacosServerRegisterRepository.java
  shenyu-register-center/shenyu-register-server/shenyu-register-server-nacos/src/test/java/org/apache/shenyu/register/server/nacos/NacosServerRegisterRepositoryTest.java
  shenyu-register-center/shenyu-register-server/shenyu-register-server-zookeeper/src/test/java/org/apache/shenyu/register/server/zookeeper/ZookeeperServerRegisterRepositoryTest.java
Labels: type: refactor

#2133 [type: refactor] refactor code and add metadata controller
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
  shenyu-integrated-test/shenyu-integrated-test-common/src/main/java/org/apache/shenyu/integratedtest/common/AbstractPluginDataInit.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/ContextPathPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/JwtPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/ModifyResponsePluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/ParamMappingPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/RateLimiterPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/RedirectPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/RequestPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/SentinelPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/SignPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/WafPluginTest.java
  shenyu-plugin/shenyu-plugin-global/src/main/java/org/apache/shenyu/plugin/global/subsciber/MetaDataCacheSubscriber.java
  shenyu-plugin/shenyu-plugin-global/src/test/java/org/apache/shenyu/plugin/global/subsciber/MetaDataCacheSubscriberTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-global/src/main/java/org/apache/shenyu/springboot/starter/plugin/global/GlobalPluginConfiguration.java
  shenyu-web/src/main/java/org/apache/shenyu/web/controller/LocalAppAuthController.java
  shenyu-web/src/main/java/org/apache/shenyu/web/controller/LocalMetadataController.java
  shenyu-web/src/main/java/org/apache/shenyu/web/controller/LocalPluginController.java
  shenyu-web/src/test/java/org/apache/shenyu/web/controller/LocalAppAuthControllerTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/controller/LocalPluginControllerTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/controller/TestObjectProvider.java
Labels: type: refactor

#2147 [type: build] Add RELEASE-NOTES for 2.4.1
  RELEASE-NOTES.md
Labels: type: build

#2146 [ISSUE #2128] Fix unit tests occasionally fail to execute.
  shenyu-loadbalancer/src/test/java/org/apache/shenyu/loadbalancer/cache/UpstreamCheckTaskTest.java
Labels: type: refactor, in: test

#2152 [type: refactor] Modify local model controller
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/AppAuthData.java
  shenyu-web/src/main/java/org/apache/shenyu/web/controller/LocalAppAuthController.java
  shenyu-web/src/main/java/org/apache/shenyu/web/controller/LocalMetadataController.java
Labels: type: refactor

#2151 [type:fixbug] NPE when register by other register center
  shenyu-admin/src/main/java/org/apache/shenyu/admin/disruptor/subscriber/URIRegisterExecutorSubscriber.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterDefaultServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterServiceFactory.java
  shenyu-common/src/main/java/org/apache/shenyu/common/enums/RpcTypeEnum.java
Labels: type: bug, admin

#2154 [type:refactor] optimize metadata & uri data register.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/disruptor/executor/RegisterServerConsumerExecutor.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/disruptor/subscriber/URIRegisterExecutorSubscriber.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/AbstractShenyuClientRegisterServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterDefaultServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterServiceFactory.java
Labels: type: refactor

#2158 [ISSUE #1982] Add integrated test for sofa plugin
  .github/workflows/integrated-test.yml
  shenyu-examples/shenyu-examples-sofa/shenyu-examples-sofa-service/Dockerfile
  shenyu-examples/shenyu-examples-sofa/shenyu-examples-sofa-service/pom.xml
  shenyu-integrated-test/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-sofa/Dockerfile
  shenyu-integrated-test/shenyu-integrated-test-sofa/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-sofa/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-sofa/script/healthcheck.sh
  shenyu-integrated-test/shenyu-integrated-test-sofa/script/services.list
  shenyu-integrated-test/shenyu-integrated-test-sofa/src/main/java/org/apache/shenyu/integrated/test/sofa/SofaIntegratedBootstrap.java
  shenyu-integrated-test/shenyu-integrated-test-sofa/src/main/java/org/apache/shenyu/integrated/test/sofa/dto/SofaTestData.java
  shenyu-integrated-test/shenyu-integrated-test-sofa/src/main/resources/admin-config/schema.sql
  shenyu-integrated-test/shenyu-integrated-test-sofa/src/main/resources/application-local.yml
  shenyu-integrated-test/shenyu-integrated-test-sofa/src/main/resources/application.yml
  shenyu-integrated-test/shenyu-integrated-test-sofa/src/test/java/org/apache/shenyu/integrated/test/sofa/SofaPluginTest.java
Labels: integration-test

#2156 [ISSUE #2138]for ShenyuClientRegisterDubboServiceImpl test
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterDubboServiceImplTest.java
Labels: in: test

#2160 [type: refactor] Remove selector and rule name as unique name in sql
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/main/resources/sql-script/mysql/schema.sql
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
Labels: admin, type: refactor

#2167 [ISSUE #2135] Add unit test for LocalMetadataController.
  shenyu-web/src/test/java/org/apache/shenyu/web/controller/LocalMetadataControllerTest.java
Labels: in: test

#2178 add release check script
  shenyu-dist/release_check.py
Labels: type: release

#2180 [ISSUE #2176] Fix the bug of websocket plugin
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/main/resources/sql-script/mysql/schema.sql
  shenyu-bootstrap/pom.xml
Labels: type: refactor

#2172 [#2164]optimization client build path #2170
  shenyu-client/shenyu-client-dubbo/shenyu-client-alibaba-dubbo/src/main/java/org/apache/shenyu/client/alibaba/dubbo/AlibabaDubboServiceBeanListener.java
  shenyu-client/shenyu-client-dubbo/shenyu-client-apache-dubbo/src/main/java/org/apache/shenyu/client/apache/dubbo/ApacheDubboServiceBeanListener.java
  shenyu-client/shenyu-client-grpc/src/main/java/org/apache/shenyu/client/grpc/GrpcClientBeanPostProcessor.java
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/main/java/org/apache/shenyu/client/springcloud/init/ContextRegisterListener.java
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/main/java/org/apache/shenyu/client/springcloud/init/SpringCloudClientBeanPostProcessor.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/init/ContextRegisterListener.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/init/SpringMvcClientBeanPostProcessor.java
  shenyu-client/shenyu-client-motan/src/main/java/org/apache/shenyu/client/motan/MotanServiceBeanPostProcessor.java
  shenyu-client/shenyu-client-sofa/src/main/java/org/apache/shenyu/client/sofa/SofaServiceBeanPostProcessor.java
  shenyu-client/shenyu-client-tars/src/main/java/org/apache/shenyu/client/tars/TarsServiceBeanPostProcessor.java
Labels: type: refactor

#2174 [ISSUE #2173] fix websocket send message unsafe
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/websocket/WebsocketCollector.java
Labels: type: refactor

#2181 [ISSUE #2176] Fix the bug of websocket plugin in pg/schema.sql.
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
Labels: admin, type: refactor

#2163 for ShenyuClientRegisterSpringCloudServiceImplTest test
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterSpringCloudServiceImplTest.java
Labels: in: test
