Repository apache/shenyu, pull requests merged in 2021-08, with the labels that each got.

#1846 [ISSUE #1824] Improve test coverage of org.apache.shenyu.admin.service.*
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/DashboardUserServiceTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/MetaDataServiceTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/PermissionServiceTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/RuleServiceTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/SelectorServiceTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/UpstreamCheckServiceTest.java
Labels: in: test

#1845 [ISSUE #1844]Optimze code about dubbo async call
  shenyu-plugin/shenyu-plugin-alibaba-dubbo/src/main/java/org/apache/shenyu/plugin/alibaba/dubbo/cache/ApplicationConfigCache.java
  shenyu-plugin/shenyu-plugin-apache-dubbo/src/main/java/org/apache/shenyu/plugin/apache/dubbo/ApacheDubboPlugin.java
  shenyu-plugin/shenyu-plugin-apache-dubbo/src/main/java/org/apache/shenyu/plugin/apache/dubbo/cache/ApplicationConfigCache.java
  shenyu-plugin/shenyu-plugin-apache-dubbo/src/main/java/org/apache/shenyu/plugin/apache/dubbo/proxy/ApacheDubboProxyService.java
Labels: plugin: apache-dubbo, type: refactor

#1865 Uniform the method name and regular the log format
  shenyu-admin/src/main/java/org/apache/shenyu/admin/exception/ExceptionHandlers.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/websocket/WebsocketListener.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/exception/ExceptionHandlersTest.java
Labels: type: refactor

#1870 compatible with java11+
  .github/workflows/ci.yml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/AppAuthMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/AuthParamMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/AuthPathMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/DashboardUserMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/MetaDataMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/PluginHandleMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/PluginMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/RoleMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/RuleConditionMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/RuleMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/SelectorConditionMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/SelectorMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/ShenyuDictMapperTest.java
Labels: type: refactor

#1868 [ISSUE #1866] Delete @Getter from <shenyu-bootstrap>.
  shenyu-bootstrap/src/main/java/org/apache/shenyu/bootstrap/configuration/NettyTcpConfig.java
Labels: type: refactor

#1864 Add integrated test for waf plugin
  shenyu-examples/shenyu-examples-http/src/main/java/org/apache/shenyu/examples/http/controller/HttpTestController.java
  shenyu-integrated-test/shenyu-integrated-test-http/admin-config/schema.sql
  shenyu-integrated-test/shenyu-integrated-test-http/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integratedtest/http/WafTest.java
Labels: integration-test

#1876 [ISSUE #1866] remove lombok dependency from <shenyu-web>.
  shenyu-web/src/main/java/org/apache/shenyu/web/configuration/ShenyuConfiguration.java
  shenyu-web/src/main/java/org/apache/shenyu/web/configuration/properties/ExcludePathProperties.java
  shenyu-web/src/main/java/org/apache/shenyu/web/configuration/properties/ShenyuConfig.java
  shenyu-web/src/main/java/org/apache/shenyu/web/fallback/DefaultFallbackController.java
  shenyu-web/src/main/java/org/apache/shenyu/web/forward/ForwardedRemoteAddressResolver.java
  shenyu-web/src/main/java/org/apache/shenyu/web/handler/GlobalErrorHandler.java
  shenyu-web/src/main/java/org/apache/shenyu/web/logo/ShenyuLogo.java
Labels: type: refactor

#1880 [ISSUE #1866] Remove lombok dependency from <shenyu-spi>
  shenyu-spi/src/main/java/org/apache/shenyu/spi/ExtensionLoader.java
Labels: type: refactor

#1856 add some unit test for enum
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/AdminPluginOperateEnumTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/AdminResourceEnumTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/HttpMethodEnumTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/ParamTypeEnumTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/PluginTypeEnumTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/RateLimitEnumTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/RpcTypeEnumTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/WafEnumTest.java
Labels: in: test

#1881 [ISSUE #1866]<shenyu-metrics> remvoe lombok dependency
  shenyu-metrics/shenyu-metrics-facade/src/main/java/org/apache/shenyu/metrics/facade/MetricsTrackerFacade.java
  shenyu-metrics/shenyu-metrics-prometheus/src/main/java/org/apache/shenyu/metrics/prometheus/register/PrometheusMetricsRegister.java
  shenyu-metrics/shenyu-metrics-prometheus/src/main/java/org/apache/shenyu/metrics/prometheus/service/PrometheusBootService.java
  shenyu-metrics/shenyu-metrics-prometheus/src/test/java/org/apache/shenyu/metrics/prometheus/service/PrometheusBootServiceTest.java
  shenyu-metrics/shenyu-metrics-spi/src/main/java/org/apache/shenyu/metrics/config/JmxConfig.java
  shenyu-metrics/shenyu-metrics-spi/src/main/java/org/apache/shenyu/metrics/config/MetricsConfig.java
  shenyu-metrics/shenyu-metrics-spi/src/main/java/org/apache/shenyu/metrics/entity/Metric.java
  shenyu-metrics/shenyu-metrics-spi/src/main/java/org/apache/shenyu/metrics/enums/MetricType.java
  shenyu-metrics/shenyu-metrics-spi/src/test/java/org/apache/shenyu/metrics/config/JmxConfigTest.java
Labels: type: refactor

#1857 Implement the async dubbo invoking for alibaba-dubbo
  shenyu-plugin/shenyu-plugin-alibaba-dubbo/src/main/java/org/apache/shenyu/plugin/alibaba/dubbo/AlibabaDubboPlugin.java
  shenyu-plugin/shenyu-plugin-alibaba-dubbo/src/main/java/org/apache/shenyu/plugin/alibaba/dubbo/cache/ApplicationConfigCache.java
  shenyu-plugin/shenyu-plugin-alibaba-dubbo/src/main/java/org/apache/shenyu/plugin/alibaba/dubbo/proxy/AlibabaDubboProxyService.java
  shenyu-plugin/shenyu-plugin-alibaba-dubbo/src/test/java/org/apache/shenyu/plugin/alibaba/dubbo/AlibabaDubboPluginTest.java
  shenyu-plugin/shenyu-plugin-alibaba-dubbo/src/test/java/org/apache/shenyu/plugin/alibaba/dubbo/proxy/AlibabaDubboProxyServiceTest.java
Labels: type: refactor, plugin: alibaba-dubbo

#1886 Fix the ConcurrentModificationException by revert #1832
  shenyu-common/src/main/java/org/apache/shenyu/common/healthcheck/HealthCheckTask.java
Labels: type: bug, type: refactor

#1887 refactor:[ISSUE #1866] remove lombok dependency
  shenyu-sync-data-center/shenyu-sync-data-consul/src/main/java/org/apache/shenyu/sync/data/consul/ConsulSyncDataService.java
  shenyu-sync-data-center/shenyu-sync-data-consul/src/main/java/org/apache/shenyu/sync/data/consul/config/ConsulConfig.java
  shenyu-sync-data-center/shenyu-sync-data-consul/src/main/java/org/apache/shenyu/sync/data/consul/handler/ConsulCacheHandler.java
  shenyu-sync-data-center/shenyu-sync-data-consul/src/test/java/org/apache/shenyu/sync/data/consul/ConsulSyncDataServiceTest.java
  shenyu-sync-data-center/shenyu-sync-data-consul/src/test/java/org/apache/shenyu/sync/data/consul/handler/ConsulCacheHandlerTest.java
  shenyu-sync-data-center/shenyu-sync-data-etcd/src/main/java/org/apache/shenyu/sync/data/etcd/EtcdClient.java
  shenyu-sync-data-center/shenyu-sync-data-etcd/src/main/java/org/apache/shenyu/sync/data/etcd/EtcdSyncDataService.java
  shenyu-sync-data-center/shenyu-sync-data-http/src/main/java/org/apache/shenyu/sync/data/http/HttpSyncDataService.java
  shenyu-sync-data-center/shenyu-sync-data-http/src/main/java/org/apache/shenyu/sync/data/http/config/HttpConfig.java
  shenyu-sync-data-center/shenyu-sync-data-http/src/main/java/org/apache/shenyu/sync/data/http/refresh/AbstractDataRefresh.java
  shenyu-sync-data-center/shenyu-sync-data-http/src/main/java/org/apache/shenyu/sync/data/http/refresh/AppAuthDataRefresh.java
  shenyu-sync-data-center/shenyu-sync-data-http/src/main/java/org/apache/shenyu/sync/data/http/refresh/MetaDataRefresh.java
  shenyu-sync-data-center/shenyu-sync-data-http/src/main/java/org/apache/shenyu/sync/data/http/refresh/PluginDataRefresh.java
  shenyu-sync-data-center/shenyu-sync-data-http/src/main/java/org/apache/shenyu/sync/data/http/refresh/RuleDataRefresh.java
  shenyu-sync-data-center/shenyu-sync-data-http/src/main/java/org/apache/shenyu/sync/data/http/refresh/SelectorDataRefresh.java
  shenyu-sync-data-center/shenyu-sync-data-http/src/test/java/org/apache/shenyu/sync/data/http/HttpSyncDataServiceTest.java
  shenyu-sync-data-center/shenyu-sync-data-nacos/src/main/java/org/apache/shenyu/sync/data/nacos/config/NacosACMConfig.java
  shenyu-sync-data-center/shenyu-sync-data-nacos/src/main/java/org/apache/shenyu/sync/data/nacos/config/NacosConfig.java
  shenyu-sync-data-center/shenyu-sync-data-nacos/src/main/java/org/apache/shenyu/sync/data/nacos/handler/NacosCacheHandler.java
  shenyu-sync-data-center/shenyu-sync-data-nacos/src/test/java/org/apache/shenyu/sync/data/nacos/handler/NacosCacheHandlerTest.java
  shenyu-sync-data-center/shenyu-sync-data-websocket/src/main/java/org/apache/shenyu/plugin/sync/data/websocket/WebsocketSyncDataService.java
  shenyu-sync-data-center/shenyu-sync-data-websocket/src/main/java/org/apache/shenyu/plugin/sync/data/websocket/client/ShenyuWebsocketClient.java
  shenyu-sync-data-center/shenyu-sync-data-websocket/src/main/java/org/apache/shenyu/plugin/sync/data/websocket/config/WebsocketConfig.java
  shenyu-sync-data-center/shenyu-sync-data-websocket/src/main/java/org/apache/shenyu/plugin/sync/data/websocket/handler/AuthDataHandler.java
  shenyu-sync-data-center/shenyu-sync-data-websocket/src/main/java/org/apache/shenyu/plugin/sync/data/websocket/handler/MetaDataHandler.java
  shenyu-sync-data-center/shenyu-sync-data-websocket/src/main/java/org/apache/shenyu/plugin/sync/data/websocket/handler/PluginDataHandler.java
  shenyu-sync-data-center/shenyu-sync-data-websocket/src/main/java/org/apache/shenyu/plugin/sync/data/websocket/handler/RuleDataHandler.java
  shenyu-sync-data-center/shenyu-sync-data-websocket/src/main/java/org/apache/shenyu/plugin/sync/data/websocket/handler/SelectorDataHandler.java
  shenyu-sync-data-center/shenyu-sync-data-zookeeper/src/main/java/org/apache/shenyu/sync/data/zookeeper/ZookeeperSyncDataService.java
Labels: type: refactor

#1875 modify Transfer class
  shenyu-admin/src/main/java/org/apache/shenyu/admin/transfer/AppAuthTransfer.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/transfer/ConditionTransfer.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/transfer/MetaDataTransfer.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/transfer/PluginTransfer.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/transfer/SelectorTransfer.java
Labels: type: refactor

#1889 remove lombok of distrupt model
  shenyu-disruptor/src/main/java/org/apache/shenyu/disruptor/consumer/QueueConsumerExecutor.java
  shenyu-disruptor/src/main/java/org/apache/shenyu/disruptor/event/DataEvent.java
Labels: type: refactor

#1899 Update README.md
  README.md
  README_CN.md
Labels: in: document

#1907 Add close method to cleanup resource and reduce the scheduled thread count
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/UpstreamCheckService.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/UpstreamCheckServiceTest.java
Labels: in: test

#1904 [ISSUE #1903]test plugin-redirect: add integrated test
  shenyu-integrated-test/shenyu-integrated-test-http/admin-config/schema.sql
  shenyu-integrated-test/shenyu-integrated-test-http/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integratedtest/http/RedirectTest.java
Labels: integration-test

#1912 refactor : replace orElse with orElseGet to avoid calling too many times
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/DashboardUserController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/DataPermissionController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/PermissionController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/MetaDataServiceImpl.java
  shenyu-plugin/shenyu-plugin-monitor/src/main/java/org/apache/shenyu/plugin/monitor/MonitorPlugin.java
  shenyu-plugin/shenyu-plugin-ratelimiter/src/main/java/org/apache/shenyu/plugin/ratelimiter/algorithm/RateLimiterAlgorithmFactory.java
Labels: type: refactor

#1891 feature : add integrated test for spring cloud plugin
  .github/workflows/integrated-test-spring-cloud.yml
  shenyu-examples/shenyu-examples-eureka/Dockerfile
  shenyu-examples/shenyu-examples-eureka/pom.xml
  shenyu-examples/shenyu-examples-springcloud/Dockerfile
  shenyu-examples/shenyu-examples-springcloud/pom.xml
  shenyu-integrated-test/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/Dockerfile
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/admin-config/schema.sql
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/script/healthcheck.sh
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/script/services.list
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/src/main/java/org/apache/shenyu/integratedtest/springcloud/ShenyuBootstrapApplication.java
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/src/main/resources/application-local.yml
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/src/main/resources/application.yml
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/src/test/java/org/apache/shenyu/integratedtest/springcloud/AbstractTest.java
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/src/test/java/org/apache/shenyu/integratedtest/springcloud/HelloWorldTest.java
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/src/test/java/org/apache/shenyu/integratedtest/springcloud/dto/OrderDTO.java
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/src/test/java/org/apache/shenyu/integratedtest/springcloud/dto/UserDTO.java
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/src/test/java/org/apache/shenyu/integratedtest/springcloud/helper/HttpHelper.java
Labels: plugin: spring-cloud, integration-test

#1922 [ISSUE #1918] fix client : retry the connection add log and increase sleep time
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/disruptor/subcriber/ShenyuClientMetadataExecutorSubscriber.java
Labels: type: refactor, client: register

#1935 polish
  .github/workflows/integrated-test-http.yml
  .github/workflows/integrated-test-spring-cloud.yml
  shenyu-integrated-test/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-common/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-common/src/main/java/org/apache/shenyu/integratedtest/common/AbstractTest.java
  shenyu-integrated-test/shenyu-integrated-test-common/src/main/java/org/apache/shenyu/integratedtest/common/dto/AdminResponse.java
  shenyu-integrated-test/shenyu-integrated-test-common/src/main/java/org/apache/shenyu/integratedtest/common/dto/OrderDTO.java
  shenyu-integrated-test/shenyu-integrated-test-common/src/main/java/org/apache/shenyu/integratedtest/common/dto/UserDTO.java
  shenyu-integrated-test/shenyu-integrated-test-common/src/main/java/org/apache/shenyu/integratedtest/common/helper/HttpHelper.java
  shenyu-integrated-test/shenyu-integrated-test-http/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-http/src/main/java/org/apache/shenyu/integratedtest/http/App.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integratedtest/http/AbstractTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integratedtest/http/HelloWorldTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integratedtest/http/HttpRateLimitTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integratedtest/http/JwtTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integratedtest/http/RedirectTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integratedtest/http/SignTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integratedtest/http/WafTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integratedtest/http/dto/UserDTO.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integratedtest/http/helper/HttpHelper.java
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/src/main/resources/admin-config/schema.sql
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/src/test/java/org/apache/shenyu/integratedtest/springcloud/HelloWorldTest.java
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/src/test/java/org/apache/shenyu/integratedtest/springcloud/dto/OrderDTO.java
Labels: type: refactor, integration-test

#1940 [type: refactor] refactor for integration test
  shenyu-integrated-test/shenyu-integrated-test-common/src/main/java/org/apache/shenyu/integratedtest/common/AbstractTest.java
  shenyu-integrated-test/shenyu-integrated-test-common/src/main/java/org/apache/shenyu/integratedtest/common/helper/HttpHelper.java
  shenyu-integrated-test/shenyu-integrated-test-http/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-http/src/main/java/org/apache/shenyu/integrated/test/http/HttpIntegratedBootstrap.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/DividePluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/JwtPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/RateLimiterPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/RedirectPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/SignPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/WafPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integratedtest/http/package-info.java
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/src/main/java/org/apache/shenyu/integratedtest/springcloud/ShenyuBootstrapApplication.java
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/src/main/java/org/apache/shenyu/integratedtest/springcloud/SpringCloudIntegratedBootstrap.java
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/src/test/java/org/apache/shenyu/integratedtest/springcloud/SpringCloudPluginTest.java
Labels: type: refactor, integration-test

#1947 modify readme
  README.md
  README_CN.md
Labels: type: build

#1948 Remove Chinese note in PaymentTypeService.java in shenyu-examples-http
  shenyu-examples/shenyu-examples-http/src/main/java/org/apache/shenyu/examples/http/result/PaymentTypeService.java
Labels: type: refactor, type: examples

#1953 [new feature] add shenyu ext plugin dynamic loading
  shenyu-examples/pom.xml
  shenyu-examples/shenyu-examples-plugin/pom.xml
  shenyu-examples/shenyu-examples-plugin/src/main/java/org/apache/shenyu/examples/plugin/CustomShenyuPlugin.java
  shenyu-examples/shenyu-examples-plugin/src/main/java/org/apache/shenyu/examples/plugin/MyCustomShenyuPlugin.java
  shenyu-web/src/main/java/org/apache/shenyu/web/handler/ShenyuWebHandler.java
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/ShenyuPluginLoader.java
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/ShenyuPluginPathBuilder.java
Labels: feature: plugin, type: new feature

#1939 Update ci.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  pom.xml
  shenyu-admin/pom.xml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/DashboardUserControllerTest.java
  shenyu-bootstrap/src/main/java/org/apache/shenyu/bootstrap/configuration/ShenyuNettyWebServerFactory.java
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/GsonUtils.java
  shenyu-examples/shenyu-examples-springcloud/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/script/services.list
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/src/main/java/org/apache/shenyu/integratedtest/springcloud/SpringCloudIntegratedBootstrap.java
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/src/main/resources/application-local.yml
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/fallback/FallbackHandlerTest.java
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/WebClientPlugin.java
  shenyu-plugin/shenyu-plugin-ratelimiter/src/test/java/org/apache/shenyu/plugin/ratelimiter/handler/RateLimiterPluginDataHandlerTest.java
  shenyu-plugin/shenyu-plugin-springcloud/pom.xml
Labels: type: build

#1964 [Fix: build] fix maven ignore and docker entrypoint
  .gitignore
  shenyu-dist/shenyu-bootstrap-dist/entrypoint.sh
Labels: type: bug, type: build

#1968 [new feature] add shenyu ext plugin dynamic loading
  shenyu-bootstrap/src/main/resources/application-local.yml
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/ReflectUtils.java
  shenyu-examples/shenyu-examples-plugin/src/main/java/org/apache/shenyu/examples/plugin/ext/ExtPluginDataHandler.java
  shenyu-examples/shenyu-examples-plugin/src/main/java/org/apache/shenyu/examples/plugin/ext/ExtendsShenyuPlugin.java
  shenyu-examples/shenyu-examples-plugin/src/main/java/org/apache/shenyu/examples/plugin/simple/CustomShenyuPlugin.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/cache/CommonPluginDataSubscriber.java
  shenyu-web/src/main/java/org/apache/shenyu/web/configuration/ShenyuConfiguration.java
  shenyu-web/src/main/java/org/apache/shenyu/web/configuration/properties/ShenyuConfig.java
  shenyu-web/src/main/java/org/apache/shenyu/web/handler/ShenyuWebHandler.java
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/ShenyuLoaderResult.java
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/ShenyuLoaderService.java
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/ShenyuPluginLoader.java
  shenyu-web/src/test/java/org/apache/shenyu/web/handler/ShenyuWebHandlerTest.java
Labels: type: new feature

#1965 [ISSUE #1950] Add integrated test for context-path plugin
  shenyu-integrated-test/shenyu-integrated-test-http/src/main/resources/admin-config/schema.sql
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/ContextPathPluginTest.java
Labels: integration-test

#1969 [new feature] add shenyu can update local data
  shenyu-bootstrap/src/main/resources/application-local.yml
  shenyu-web/src/main/java/org/apache/shenyu/web/configuration/ShenyuConfiguration.java
  shenyu-web/src/main/java/org/apache/shenyu/web/controller/PluginController.java
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/LocalDispatcherFilter.java
Labels: type: new feature

#1941 add agent package module
  shenyu-agent/shenyu-agent-plugins/pom.xml
  shenyu-agent/shenyu-agent-plugins/shenyu-agent-plugin-tracing/pom.xml
  shenyu-dist/shenyu-agent-dist/pom.xml
  shenyu-dist/shenyu-agent-dist/src/main/assembly/binary.xml
Labels: type: build, feature: agent

#1973 [type: refactor] shenyu-register-center: rename zookeeper properties name.
  shenyu-register-center/shenyu-register-client/shenyu-register-client-zookeeper/src/main/java/org/apache/shenyu/register/client/zookeeper/ZookeeperClientRegisterRepository.java
  shenyu-register-center/shenyu-register-server/shenyu-register-server-zookeeper/src/main/java/org/apache/shenyu/register/server/zookeeper/ZookeeperServerRegisterRepository.java
Labels: type: refactor

#1974 [type: refactor] refactor some code
  shenyu-admin/src/main/java/org/apache/shenyu/admin/transfer/MetaDataTransfer.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/transfer/PluginTransfer.java
  shenyu-plugin/shenyu-plugin-context-path/src/main/java/org/apache/shenyu/plugin/context/path/handler/ContextPathPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/common/chain/Executor.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/common/strategies/CryptorStrategy.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/decorator/RequestDecorator.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/decorator/ResponseDecorator.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/handler/CryptorRequestPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/handler/CryptorResponsePluginDataHandler.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/request/CryptorRequestPlugin.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/response/CryptorResponsePlugin.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/strategy/CryptorStrategy.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/strategy/CryptorStrategyFactory.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/strategy/RsaStrategy.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/utils/HttpUtil.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/utils/JsonUtil.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/resources/META-INF/shenyu/org.apache.shenyu.plugin.cryptor.strategy.CryptorStrategy
  shenyu-plugin/shenyu-plugin-cryptor/src/test/java/org/apache/shenyu/plugin/cryptor/request/CryptorRequestPluginTest.java
  shenyu-plugin/shenyu-plugin-cryptor/src/test/java/org/apache/shenyu/plugin/cryptor/response/CryptorResponsePluginTest.java
  shenyu-plugin/shenyu-plugin-modify-response/src/main/java/org/apache/shenyu/plugin/modify/response/ModifyResponsePlugin.java
Labels: type: refactor

#1975 [type: refactor] refactor integration test for waf plugin
  shenyu-integrated-test/shenyu-integrated-test-common/src/main/java/org/apache/shenyu/integratedtest/common/helper/HttpHelper.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/main/resources/admin-config/schema.sql
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/AbstractPluginDataInit.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/WafPluginTest.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/cache/BaseDataCache.java
  shenyu-web/src/main/java/org/apache/shenyu/web/controller/PluginController.java
Labels: type: refactor, integration-test

#1991 [ISSUE #1966] Add integrated test for param mapping plugin
  shenyu-integrated-test/shenyu-integrated-test-http/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/ParamMappingPluginTest.java
Labels: integration-test

#1992 [ISSUE #1979] Refactor integration test for context-path plugin
  shenyu-integrated-test/shenyu-integrated-test-http/src/main/resources/admin-config/schema.sql
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/ContextPathPluginTest.java
Labels: type: refactor, integration-test

#1990 [ISSUE #1930] Optimize Exception printing in unit test
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/MetaData.java
  shenyu-metrics/shenyu-metrics-prometheus/src/test/java/org/apache/shenyu/metrics/prometheus/service/PrometheusBootServiceTest.java
  shenyu-metrics/shenyu-metrics-spi/src/test/java/org/apache/shenyu/metrics/config/JmxConfigTest.java
  shenyu-plugin/shenyu-plugin-alibaba-dubbo/src/test/java/org/apache/shenyu/plugin/alibaba/dubbo/cache/ApplicationConfigCacheTest.java
  shenyu-plugin/shenyu-plugin-alibaba-dubbo/src/test/java/org/apache/shenyu/plugin/alibaba/dubbo/subscriber/ApacheDubboMetaDataSubscriberTest.java
  shenyu-plugin/shenyu-plugin-apache-dubbo/src/test/java/org/apache/shenyu/plugin/apache/dubbo/cache/ApplicationConfigCacheTest.java
  shenyu-plugin/shenyu-plugin-apache-dubbo/src/test/java/org/apache/shenyu/plugin/apache/dubbo/subscriber/ApacheDubboMetaDataSubscriberTest.java
  shenyu-plugin/shenyu-plugin-grpc/src/test/java/org/apache/shenyu/plugin/grpc/proto/CompositeStreamObserverTest.java
  shenyu-plugin/shenyu-plugin-tars/src/test/java/org/apache/shenyu/plugin/tars/TarsPluginTest.java
  shenyu-plugin/shenyu-plugin-tars/src/test/java/org/apache/shenyu/plugin/tars/cache/ApplicationConfigCacheTest.java
Labels: type: refactor, in: test

#1995 [type: refactor] refactor admin support PostgreSql
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/MapperConfig.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/properties/DataBaseProperties.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mybatis/PostgreSqlQueryInterceptor.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/spring/LocalDataSourceLoader.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/spring/PostgreSqlLoader.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/spring/ScriptLoader.java
  shenyu-admin/src/main/resources/application-pg.yml
Labels: type: refactor

#1993 [ISSUE #1966] Add integrated test for sentinel plugin
  shenyu-examples/shenyu-examples-http/src/main/java/org/apache/shenyu/examples/http/controller/HttpTestController.java
  shenyu-integrated-test/shenyu-integrated-test-http/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-http/src/main/resources/admin-config/schema.sql
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/SentinelPluginTest.java
Labels: integration-test

#1970 [ISSUE #1930] Optimize Exception printing in unit test.
  pom.xml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/config/NacosConfigurationTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/ShenyuHttpRegistryControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/exception/ExceptionHandlersTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/listener/websocket/WebsocketCollectorTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/MetaDataServiceTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/UpstreamCheckServiceTest.java
  shenyu-client/shenyu-client-dubbo/shenyu-client-alibaba-dubbo/src/test/java/org/apache/shenyu/client/alibaba/dubbo/validation/AlibabaDubboClientValidatorTest.java
  shenyu-client/shenyu-client-dubbo/shenyu-client-apache-dubbo/src/test/java/org/apache/shenyu/client/apache/dubbo/validation/ApacheDubboClientValidationTest.java
  shenyu-client/shenyu-client-dubbo/shenyu-client-apache-dubbo/src/test/java/org/apache/shenyu/client/apache/dubbo/validation/ApacheDubboClientValidatorTest.java
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/test/java/org/apache/shenyu/client/springcloud/init/ContextRegisterListenerTest.java
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/test/java/org/apache/shenyu/client/springcloud/init/SpringCloudClientBeanPostProcessorTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/handler/GlobalErrorHandlerTest.java
Labels: type: refactor, in: test

#1999 [issue: #1996] refactor shenyu config
  shenyu-bootstrap/src/main/resources/application-local.yml
  shenyu-common/src/main/java/org/apache/shenyu/common/config/ShenyuConfig.java
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/Singleton.java
  shenyu-integrated-test/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-http/src/main/resources/application-local.yml
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/src/main/resources/application-local.yml
  shenyu-loadbalancer/src/main/java/org/apache/shenyu/loadbalancer/cache/UpstreamCacheManager.java
  shenyu-plugin/shenyu-plugin-alibaba-dubbo/src/main/java/org/apache/shenyu/plugin/alibaba/dubbo/handler/AlibabaDubboPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-alibaba-dubbo/src/test/java/org/apache/shenyu/plugin/alibaba/dubbo/handler/AlibabaDubboPluginDataTest.java
  shenyu-plugin/shenyu-plugin-apache-dubbo/src/main/java/org/apache/shenyu/plugin/apache/dubbo/handler/ApacheDubboPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/utils/SingletonTest.java
  shenyu-plugin/shenyu-plugin-divide/src/main/java/org/apache/shenyu/plugin/divide/handler/DividePluginDataHandler.java
  shenyu-plugin/shenyu-plugin-jwt/src/main/java/org/apache/shenyu/plugin/jwt/JwtPlugin.java
  shenyu-plugin/shenyu-plugin-jwt/src/main/java/org/apache/shenyu/plugin/jwt/handle/JwtPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-jwt/src/test/java/org/apache/shenyu/plugin/jwt/handle/JwtPluginDataHandlerTest.java
  shenyu-plugin/shenyu-plugin-monitor/src/main/java/org/apache/shenyu/plugin/monitor/handler/MonitorPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-motan/src/main/java/org/apache/shenyu/plugin/motan/handler/MotanPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-ratelimiter/src/main/java/org/apache/shenyu/plugin/ratelimiter/algorithm/ConcurrentRateLimiterAlgorithm.java
  shenyu-plugin/shenyu-plugin-ratelimiter/src/main/java/org/apache/shenyu/plugin/ratelimiter/executor/RedisRateLimiter.java
  shenyu-plugin/shenyu-plugin-ratelimiter/src/main/java/org/apache/shenyu/plugin/ratelimiter/handler/RateLimiterPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-ratelimiter/src/test/java/org/apache/shenyu/plugin/ratelimiter/executor/RedisRateLimiterScriptsTest.java
  shenyu-plugin/shenyu-plugin-ratelimiter/src/test/java/org/apache/shenyu/plugin/ratelimiter/executor/RedisRateLimiterTest.java
  shenyu-plugin/shenyu-plugin-ratelimiter/src/test/java/org/apache/shenyu/plugin/ratelimiter/handler/RateLimiterPluginDataHandlerTest.java
  shenyu-plugin/shenyu-plugin-sofa/src/main/java/org/apache/shenyu/plugin/sofa/handler/SofaPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-sofa/src/test/java/org/apache/shenyu/plugin/sofa/handler/SofaPluginDataHandlerTest.java
  shenyu-plugin/shenyu-plugin-waf/src/main/java/org/apache/shenyu/plugin/waf/WafPlugin.java
  shenyu-plugin/shenyu-plugin-waf/src/main/java/org/apache/shenyu/plugin/waf/handler/WafPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-waf/src/test/java/org/apache/shenyu/plugin/waf/handler/WafPluginDataHandlerTest.java
  shenyu-plugin/shenyu-plugin-websocket/src/main/java/org/apache/shenyu/plugin/websocket/handler/WebSocketPluginDataHandler.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-gateway/src/main/java/org/apache/shenyu/springboot/starter/gateway/ShenyuConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-gateway/src/main/resources/META-INF/spring.factories
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-gateway/src/main/resources/META-INF/spring.provides
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-springcloud/src/main/java/org/apache/shenyu/springboot/starter/plugin/springcloud/SpringCloudPluginConfiguration.java
  shenyu-web/src/main/java/org/apache/shenyu/web/configuration/ShenyuExtConfiguration.java
  shenyu-web/src/main/java/org/apache/shenyu/web/configuration/SpringExtConfiguration.java
  shenyu-web/src/main/java/org/apache/shenyu/web/configuration/properties/ExcludePathProperties.java
  shenyu-web/src/main/java/org/apache/shenyu/web/configuration/properties/ShenyuConfig.java
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/ExcludeFilter.java
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/TimeWebFilter.java
  shenyu-web/src/main/java/org/apache/shenyu/web/handler/ShenyuWebHandler.java
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/ShenyuLoaderService.java
  shenyu-web/src/test/java/org/apache/shenyu/web/filter/ExcludeFilterTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/handler/ShenyuWebHandlerTest.java
Labels: type: refactor, type: config
