Repository apache/shenyu, pull requests merged in 2021-01, with the labels that each got.

#925 Fix test cases for soul-metrics
  soul-metrics/soul-metrics-facade/pom.xml
  soul-metrics/soul-metrics-facade/src/main/test/java/org/dromara/soul/metrics/facade/MetricsTrackerFacadeTest.java
  soul-metrics/soul-metrics-facade/src/main/test/java/org/dromara/soul/metrics/facade/handler/MetricsTrackerHandlerTest.java
  soul-metrics/soul-metrics-facade/src/test/java/org/dromara/soul/metrics/facade/MetricsTrackerFacadeTest.java
  soul-metrics/soul-metrics-facade/src/test/java/org/dromara/soul/metrics/facade/executor/MetricsThreadPoolExecutorTest.java
  soul-metrics/soul-metrics-facade/src/test/java/org/dromara/soul/metrics/facade/handler/MetricsTrackerHandlerTest.java
Labels: feature: metrics, in: test, type: refactor

#926 refactoring in soul-client-http
  soul-admin/src/main/java/org/dromara/soul/admin/listener/ApplicationStartListener.java
  soul-admin/src/test/java/org/dromara/soul/admin/listener/ApplicationStartListenerTest.java
  soul-client/soul-client-http/soul-client-springcloud/src/main/java/org/dromara/soul/client/springcloud/init/ContextRegisterListener.java
  soul-client/soul-client-http/soul-client-springcloud/src/main/java/org/dromara/soul/client/springcloud/init/SpringCloudClientBeanPostProcessor.java
  soul-client/soul-client-http/soul-client-springcloud/src/main/java/org/dromara/soul/client/springcloud/utils/ValidateUtils.java
  soul-client/soul-client-http/soul-client-springcloud/src/test/java/org/dromara/soul/client/springcloud/init/ContextRegisterListenerTest.java
  soul-client/soul-client-http/soul-client-springcloud/src/test/java/org/dromara/soul/client/springcloud/init/SpringCloudClientBeanPostProcessorTest.java
  soul-client/soul-client-http/soul-client-springcloud/src/test/java/org/dromara/soul/client/springcloud/utils/ValidateUtilsTest.java
  soul-client/soul-client-http/soul-client-springmvc/src/main/java/org/dromara/soul/client/springmvc/init/ContextRegisterListener.java
  soul-client/soul-client-http/soul-client-springmvc/src/main/java/org/dromara/soul/client/springmvc/init/SpringMvcClientBeanPostProcessor.java
  soul-client/soul-client-http/soul-client-springmvc/src/main/java/org/dromara/soul/client/springmvc/utils/ValidateUtils.java
  soul-client/soul-client-http/soul-client-springmvc/src/test/java/org/dromara/soul/client/springmvc/utils/ValidateUtilsTest.java
  soul-common/src/main/java/org/dromara/soul/common/utils/IpUtils.java
  soul-common/src/test/java/org/dromara/soul/common/utils/IpUtilsTest.java
Labels: type: refactor

#929 code polish
  soul-admin/src/main/java/org/dromara/soul/admin/controller/AppAuthController.java
  soul-admin/src/main/java/org/dromara/soul/admin/controller/MetaDataController.java
  soul-admin/src/main/java/org/dromara/soul/admin/controller/PluginController.java
  soul-admin/src/main/java/org/dromara/soul/admin/controller/SoulClientController.java
  soul-admin/src/main/java/org/dromara/soul/admin/utils/CipherUtils.java
  soul-admin/src/test/java/org/dromara/soul/admin/config/WebConfigTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/controller/DashboardUserControllerTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/listener/DataChangedEventDispatcherTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/result/SoulAdminResultTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/service/SyncDataServiceTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/service/UpstreamCheckServiceTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/spring/SoulApplicationContextAwareTest.java
  soul-client/soul-client-common/src/test/java/org/dromara/soul/client/common/utils/OkHttpToolsTest.java
  soul-client/soul-client-common/src/test/java/org/dromara/soul/client/common/utils/RegisterUtilsTest.java
  soul-common/src/test/java/org/dromara/soul/common/utils/LogUtilsTest.java
  soul-common/src/test/java/org/dromara/soul/common/utils/ThreadUtilsTest.java
  soul-plugin/soul-plugin-apache-dubbo/src/test/java/org/dromara/soul/plugin/apache/dubbo/cache/ApplicationConfigCacheTest.java
  soul-plugin/soul-plugin-httpclient/src/main/java/org/dromara/soul/plugin/httpclient/WebClientPlugin.java
  soul-plugin/soul-plugin-hystrix/src/test/java/org/dromara/soul/plugin/hystrix/command/HystrixCommandTest.java
  soul-plugin/soul-plugin-ratelimiter/src/test/java/org/dromara/soul/plugin/ratelimiter/handler/RateLimiterPluginDataHandlerTest.java
  soul-spring-boot-starter/soul-spring-boot-starter-sync-data-center/soul-spring-boot-starter-sync-data-http/src/test/java/org/dromara/soul/spring/boot/starter/sync/data/http/HttpClientPluginConfigurationTest.java
  soul-sync-data-center/soul-sync-data-http/pom.xml
  soul-sync-data-center/soul-sync-data-http/src/test/java/org/dromara/soul/sync/data/http/HttpSyncDataServiceTest.java
  soul-sync-data-center/soul-sync-data-http/src/test/resources/mock_configs_fetch_response.json
  soul-sync-data-center/soul-sync-data-nacos/src/main/java/org/dromara/soul/sync/data/nacos/handler/NacosCacheHandler.java
  soul-web/src/test/java/org/dromara/soul/web/forward/ForwardedRemoteAddressResolverTest.java
Labels: in: test, type: refactor

#923 Issue#885
  soul-spring-boot-starter/soul-spring-boot-starter-sync-data-center/soul-spring-boot-starter-sync-data-zookeeper/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-sync-data-center/soul-spring-boot-starter-sync-data-zookeeper/src/test/java/org/dromara/soul/spring/boot/sync/data/zookeeper/ZookeeperSyncDataConfigurationTest.java
Labels: in: test

#931 nacos-sync-data add default value;
  soul-admin/src/main/java/org/dromara/soul/admin/listener/nacos/NacosDataChangedListener.java
Labels: data-sync: nacos, type: refactor

#497 http service flow preheating
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/UpstreamCheckService.java
  soul-admin/src/main/resources/static/favicon.png
  soul-admin/src/main/resources/static/index.897e62ed.js
  soul-admin/src/main/resources/static/index.b468d65c.js
  soul-admin/src/main/resources/static/index.b6b4129b.js
  soul-admin/src/main/resources/static/index.d5cff439.css
  soul-admin/src/main/resources/static/index.html
  soul-common/src/main/java/org/dromara/soul/common/constant/Constants.java
  soul-common/src/main/java/org/dromara/soul/common/dto/convert/DivideUpstream.java
  soul-plugin/soul-plugin-divide/src/main/java/org/dromara/soul/plugin/divide/balance/spi/AbstractLoadBalance.java
  soul-plugin/soul-plugin-divide/src/main/java/org/dromara/soul/plugin/divide/balance/spi/RandomLoadBalance.java
  soul-plugin/soul-plugin-divide/src/main/java/org/dromara/soul/plugin/divide/balance/spi/RoundRobinLoadBalance.java
  soul-plugin/soul-plugin-divide/src/main/java/org/dromara/soul/plugin/divide/cache/UpstreamCacheManager.java
Labels: plugin: divide, type: new feature

#935 Fixed NPE that could be thrown
  soul-metrics/soul-metrics-prometheus/src/main/java/org/dromara/soul/metrics/prometheus/PrometheusMetricsTrackerManager.java
Labels: type: refactor

#915 add web hand test
  soul-web/src/test/java/org/dromara/soul/web/handler/SoulWebHandlerTest.java
Labels: in: test

#943 Issue#877
  soul-spring-boot-starter/soul-spring-boot-starter-client/soul-spring-boot-starter-client-springmvc/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-client/soul-spring-boot-starter-client-springmvc/src/test/java/org/dromara/soul/springboot/starter/client/springmvc/SoulSpringMvcClientConfigurationTest.java
Labels: in: test

#944 feat: add shiro and jwt.
  pom.xml
  soul-admin/pom.xml
  soul-admin/src/main/java/org/dromara/soul/admin/config/JwtProperties.java
  soul-admin/src/main/java/org/dromara/soul/admin/shiro/bean/StatelessAuthFilter.java
  soul-admin/src/main/java/org/dromara/soul/admin/shiro/bean/StatelessToken.java
  soul-admin/src/main/java/org/dromara/soul/admin/shiro/config/ShiroConfiguration.java
  soul-admin/src/main/java/org/dromara/soul/admin/shiro/config/ShiroRealm.java
  soul-admin/src/main/java/org/dromara/soul/admin/utils/JwtUtils.java
  soul-admin/src/main/resources/application-local.yml
Labels: admin: permission, type: new feature

#946 Permission
  soul-admin/src/main/java/org/dromara/soul/admin/controller/PlatformController.java
  soul-admin/src/main/java/org/dromara/soul/admin/exception/ExceptionHandlers.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/DashboardUserService.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/DashboardUserServiceImpl.java
  soul-admin/src/main/java/org/dromara/soul/admin/shiro/bean/StatelessAuthFilter.java
  soul-admin/src/main/java/org/dromara/soul/admin/shiro/config/ShiroRealm.java
  soul-admin/src/main/java/org/dromara/soul/admin/utils/SoulResultMessage.java
  soul-admin/src/main/java/org/dromara/soul/admin/vo/LoginDashboardUserVO.java
  soul-admin/src/test/java/org/dromara/soul/admin/controller/PlatformControllerTest.java
  soul-common/src/main/java/org/dromara/soul/common/exception/CommonErrorCode.java
Labels: admin: permission

#948 optimize the test code in soul-sync-data-center
  soul-sync-data-center/soul-sync-data-http/src/test/java/org/dromara/soul/sync/data/http/HttpSyncDataServiceTest.java
  soul-sync-data-center/soul-sync-data-http/src/test/java/org/dromara/soul/sync/data/http/refresh/AppAuthDataRefreshTest.java
  soul-sync-data-center/soul-sync-data-http/src/test/java/org/dromara/soul/sync/data/http/refresh/MetaDataRefreshTest.java
  soul-sync-data-center/soul-sync-data-http/src/test/java/org/dromara/soul/sync/data/http/refresh/PluginDataRefreshTest.java
  soul-sync-data-center/soul-sync-data-http/src/test/java/org/dromara/soul/sync/data/http/refresh/RuleDataRefreshTest.java
  soul-sync-data-center/soul-sync-data-http/src/test/java/org/dromara/soul/sync/data/http/refresh/SelectorDataRefreshTest.java
  soul-sync-data-center/soul-sync-data-nacos/src/test/java/org/dromara/soul/sync/data/nacos/handler/NacosCacheHandlerTest.java
  soul-sync-data-center/soul-sync-data-nacos/src/test/java/org/dromara/soul/sync/data/nacos/handler/NacosMockConfigService.java
  soul-sync-data-center/soul-sync-data-websocket/src/test/java/org/dromara/soul/plugin/sync/data/weboscket/handler/AuthDataHandlerTest.java
  soul-sync-data-center/soul-sync-data-websocket/src/test/java/org/dromara/soul/plugin/sync/data/weboscket/handler/MetaDataHandlerTest.java
  soul-sync-data-center/soul-sync-data-websocket/src/test/java/org/dromara/soul/plugin/sync/data/weboscket/handler/PluginDataHandlerTest.java
  soul-sync-data-center/soul-sync-data-websocket/src/test/java/org/dromara/soul/plugin/sync/data/weboscket/handler/RuleDataHandlerTest.java
  soul-sync-data-center/soul-sync-data-websocket/src/test/java/org/dromara/soul/plugin/sync/data/weboscket/handler/SelectorDataHandlerTest.java
  soul-sync-data-center/soul-sync-data-zookeeper/src/test/java/org/dromara/soul/sync/data/zookeeper/ZookeeperSyncDataServiceTest.java
Labels: in: test, type: refactor

#950 Issue945 update assertEquals() to assertThat() in Metrics
  soul-metrics/soul-metrics-facade/src/main/java/org/dromara/soul/metrics/facade/MetricsTrackerFacade.java
  soul-metrics/soul-metrics-facade/src/main/java/org/dromara/soul/metrics/facade/handler/MetricsTrackerHandler.java
  soul-metrics/soul-metrics-facade/src/test/java/org/dromara/soul/metrics/facade/MetricsTrackerFacadeTest.java
  soul-metrics/soul-metrics-facade/src/test/java/org/dromara/soul/metrics/facade/handler/MetricsTrackerHandlerTest.java
  soul-metrics/soul-metrics-prometheus/src/test/java/org/dromara/soul/metrics/prometheus/impl/collector/JmxCollectorTest.java
  soul-metrics/soul-metrics-prometheus/src/test/java/org/dromara/soul/metrics/prometheus/impl/collector/JmxScraperTest.java
  soul-metrics/soul-metrics-prometheus/src/test/java/org/dromara/soul/metrics/prometheus/impl/counter/HttpRequestCounterMetricsTrackerTest.java
  soul-metrics/soul-metrics-prometheus/src/test/java/org/dromara/soul/metrics/prometheus/impl/counter/RequestTotalCounterMetricsTrackerTest.java
  soul-metrics/soul-metrics-prometheus/src/test/java/org/dromara/soul/metrics/prometheus/impl/histogram/PrometheusHistogramMetricsTrackerDelegateTest.java
  soul-metrics/soul-metrics-prometheus/src/test/java/org/dromara/soul/metrics/prometheus/impl/histogram/RequestLatencyHistogramMetricsTrackerTest.java
  soul-metrics/soul-metrics-prometheus/src/test/java/org/dromara/soul/metrics/prometheus/impl/summary/PrometheusSummaryMetricsTrackerDelegateTest.java
  soul-metrics/soul-metrics-prometheus/src/test/java/org/dromara/soul/metrics/prometheus/impl/summary/RequestLatencySummaryMetricsTrackerTest.java
  soul-metrics/soul-metrics-spi/src/test/java/org/dromara/soul/metrics/api/CounterMetricsTrackerTest.java
  soul-metrics/soul-metrics-spi/src/test/java/org/dromara/soul/metrics/api/GaugeMetricsTrackerTest.java
  soul-metrics/soul-metrics-spi/src/test/java/org/dromara/soul/metrics/api/HistogramMetricsTrackerTest.java
  soul-metrics/soul-metrics-spi/src/test/java/org/dromara/soul/metrics/api/SummaryMetricsTrackerTest.java
Labels: in: test

#951 optimize the test class in module soul-spi (issue#945)
  soul-spi/src/main/java/org/dromara/soul/spi/ExtensionLoader.java
  soul-spi/src/test/java/org/dromara/soul/spi/ExtensionLoaderTest.java
Labels: in: test

#952 Add docker build to soul-dist
  pom.xml
  script/Docker.md
  script/docker-compose.yml
  soul-dist/README.md
  soul-dist/pom.xml
  soul-dist/soul-admin-dist/Dockerfile
  soul-dist/soul-admin-dist/pom.xml
  soul-dist/soul-admin-dist/src/main/assembly/binary.xml
  soul-dist/soul-admin-dist/src/main/resources/bin/shutdown.sh
  soul-dist/soul-admin-dist/src/main/resources/bin/start.bat
  soul-dist/soul-admin-dist/src/main/resources/bin/start.sh
  soul-dist/soul-bootstrap-dist/Dockerfile
  soul-dist/soul-bootstrap-dist/pom.xml
  soul-dist/soul-bootstrap-dist/src/main/assembly/binary.xml
  soul-dist/soul-bootstrap-dist/src/main/resources/bin/shutdown.sh
  soul-dist/soul-bootstrap-dist/src/main/resources/bin/start.bat
  soul-dist/soul-bootstrap-dist/src/main/resources/bin/start.sh
Labels: type: build

#954 code polish
  script/soul.sql
  soul-admin/src/main/java/org/dromara/soul/admin/entity/PluginDO.java
  soul-admin/src/test/java/org/dromara/soul/admin/AbstractSpringIntegrationTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/listener/ApplicationStartListenerTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/mapper/PluginMapperTest.java
  soul-admin/src/test/resources/META-INF/schema.h2.sql
  soul-admin/src/test/resources/application-test.yml
Labels: type: refactor

#956 Simplify github action configs
  .github/workflows/ci.yml
  .github/workflows/maven-on-macos.yml
  .github/workflows/maven-on-ubuntu.yml
Labels: type: build

#969 fix dubbo param is null (#961)
  soul-common/src/main/java/org/dromara/soul/common/utils/GsonUtils.java
  soul-common/src/test/java/org/dromara/soul/common/utils/GsonUtilsTest.java
  soul-web/src/main/java/org/dromara/soul/web/dubbo/DefaultDubboParamResolveService.java
  soul-web/src/test/java/org/dromara/soul/web/dubbo/DefaultDubboParamResolveServiceTest.java
  soul-web/src/test/java/org/dromara/soul/web/dubbo/DubboMultiParameterResolveServiceImplTest.java
Labels: plugin: alibaba-dubbo, plugin: apache-dubbo

#986 fix the log content of rule match success (#984)
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/AbstractSoulPlugin.java
Labels: type: refactor

#989 Sync h2 sql
  soul-admin/src/main/resources/META-INF/schema.h2.sql
Labels: soul-admin, type: refactor

#992 Add sofa param resolve service
  soul-bootstrap/src/test/java/org/dromara/soul/boostrap/DubboMultiParameterTest.java
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/utils/RpcParamUtils.java
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-alibaba-dubbo/src/main/java/org/dromara/soul/spring/boot/starter/plugin/alibaba/dubbo/AlibabaDubboPluginConfiguration.java
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-apache-dubbo/src/main/java/org/dromara/soul/spring/boot/starter/plugin/apache/dubbo/ApacheDubboPluginConfiguration.java
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-sofa/src/main/java/org/dromara/soul/spring/boot/starter/plugin/sofa/SofaPluginConfiguration.java
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-tars/src/main/java/org/dromara/soul/spring/boot/starter/plugin/tars/TarsPluginConfiguration.java
  soul-web/src/main/java/org/dromara/soul/web/configuration/SoulConfiguration.java
  soul-web/src/main/java/org/dromara/soul/web/rpc/DefaultDubboParamResolveServiceImpl.java
  soul-web/src/main/java/org/dromara/soul/web/rpc/DefaultSofaParamResolveServiceImpl.java
  soul-web/src/test/java/org/dromara/soul/web/rpc/DefaultDubboParamResolveServiceTest.java
  soul-web/src/test/java/org/dromara/soul/web/rpc/DefaultSofaParamResolveServiceTest.java
Labels: plugin: dubbo, plugin: sofa, type: refactor

#991 fix the divide selector added through soul-admin is not checked (#990)
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/SelectorServiceImpl.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/UpstreamCheckService.java
  soul-admin/src/test/java/org/dromara/soul/admin/service/SelectorServiceTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/service/UpstreamCheckServiceTest.java
Labels: plugin: divide, type: refactor

#1021 alibaba and apache dubbo config cache execption catch
  soul-plugin/soul-plugin-alibaba-dubbo/src/main/java/org/dromara/soul/plugin/alibaba/dubbo/cache/ApplicationConfigCache.java
  soul-plugin/soul-plugin-apache-dubbo/src/main/java/org/dromara/soul/plugin/apache/dubbo/cache/ApplicationConfigCache.java
  soul-plugin/soul-plugin-apache-dubbo/src/test/java/org/dromara/soul/plugin/apache/dubbo/cache/ApplicationConfigCacheTest.java
Labels: plugin: alibaba-dubbo, plugin: apache-dubbo, plugin: dubbo, type: bug

#1025 fix #1024: correct the comment of (default strategy)
  soul-admin/src/main/java/org/dromara/soul/admin/config/DataSyncConfiguration.java
Labels: soul-admin, type: refactor

#1020 feature: add url exclude filter.
  soul-bootstrap/src/main/resources/application-local.yml
  soul-web/src/main/java/org/dromara/soul/web/configuration/ExcludePathProperties.java
  soul-web/src/main/java/org/dromara/soul/web/configuration/SoulConfiguration.java
  soul-web/src/main/java/org/dromara/soul/web/filter/ExcludeFilter.java
Labels: type: new feature

#1039 Fix selector resultMap
  soul-admin/src/main/resources/mappers/selector-sqlmap.xml
Labels: soul-admin, type: bug

#1041 Update configuration location
  soul-bootstrap/src/main/resources/application-local.yml
Labels: type: duplicate

#1042 Add test for FileSizeFilter, and change the initialCapacity for the changedGroup list.
  soul-admin/src/main/java/org/dromara/soul/admin/listener/http/HttpLongPollingDataChangedListener.java
  soul-web/src/test/java/org/dromara/soul/web/filter/FileSizeFilterTest.java
Labels: in: test

#1043 do some refactor
  soul-admin/src/main/java/org/dromara/soul/admin/listener/websocket/WebsocketCollector.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/SoulClientRegisterServiceImpl.java
  soul-plugin/soul-plugin-alibaba-dubbo/src/main/java/org/dromara/soul/plugin/alibaba/dubbo/subscriber/AlibabaDubboMetaDataSubscriber.java
  soul-plugin/soul-plugin-apache-dubbo/src/main/java/org/dromara/soul/plugin/apache/dubbo/subscriber/ApacheDubboMetaDataSubscriber.java
Labels: type: refactor

#1048 [soul-plugin] refractor: make soul-plugin-base more clean
  soul-plugin/soul-plugin-alibaba-dubbo/src/main/java/org/dromara/soul/plugin/alibaba/dubbo/AlibabaDubboPlugin.java
  soul-plugin/soul-plugin-apache-dubbo/src/main/java/org/dromara/soul/plugin/apache/dubbo/ApacheDubboPlugin.java
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/AbstractSoulPlugin.java
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/utils/CheckUtils.java
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/utils/FallbackUtils.java
  soul-plugin/soul-plugin-base/src/test/java/org/dromara/soul/plugin/base/utils/FallbackUtilsTest.java
  soul-plugin/soul-plugin-divide/src/main/java/org/dromara/soul/plugin/divide/DividePlugin.java
  soul-plugin/soul-plugin-springcloud/src/main/java/org/dromara/soul/plugin/springcloud/SpringCloudPlugin.java
  soul-plugin/soul-plugin-waf/src/main/java/org/dromara/soul/plugin/waf/WafPlugin.java
Labels: type: refactor

#1051 adjust bean name of PermissionServiceImpl Class from "PermissionServi…
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/PermissionServiceImpl.java
Labels: admin: permission, type: refactor

#1053 fix soul-admin nacos don't synchronize data to nacos when nacos center is empty
  soul-admin/src/main/java/org/dromara/soul/admin/config/DataSyncConfiguration.java
  soul-admin/src/main/java/org/dromara/soul/admin/listener/nacos/NacosDataChangedListener.java
  soul-admin/src/main/java/org/dromara/soul/admin/listener/nacos/NacosDataInit.java
  soul-admin/src/test/java/org/dromara/soul/admin/listener/nacos/NacosDataChangedListenerTest.java
  soul-common/src/main/java/org/dromara/soul/common/constant/NacosPathConstants.java
Labels: data-sync: nacos

#1054 remove useless code
  soul-sync-data-center/soul-sync-data-nacos/src/main/java/org/dromara/soul/sync/data/nacos/handler/NacosCacheHandler.java
Labels: type: refactor

#1062 add soul internal request path to shiro white list
  soul-admin/src/main/resources/application.yml
Labels: soul-admin

#1066 Fix #1065:NoClassDefFoundError caused by dependency of commons-dbcp:1.2.1
  pom.xml
  soul-admin/pom.xml
Labels: type: build

#1064 repair issueNo 1060
  soul-plugin/soul-plugin-ratelimiter/src/main/java/org/dromara/soul/plugin/ratelimiter/handler/RateLimiterPluginDataHandler.java
  soul-plugin/soul-plugin-ratelimiter/src/main/java/org/dromara/soul/plugin/ratelimiter/handler/SoulReactiveRedisTemplate.java
  soul-plugin/soul-plugin-ratelimiter/src/main/java/org/dromara/soul/plugin/ratelimiter/handler/SoulReactiveScriptExecutor.java
Labels: plugin: ratelimiter, type: bug

#1072 cleanup
  soul-admin/src/main/java/org/dromara/soul/admin/controller/ResourceController.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/ResourceServiceImpl.java
  soul-plugin/soul-plugin-tars/pom.xml
  soul-plugin/soul-plugin-tars/src/test/java/org/dromara/soul/plugin/tars/TarsPluginTest.java
  soul-plugin/soul-plugin-tars/src/test/java/org/dromara/soul/plugin/tars/cache/ApplicationConfigCacheTest.java
  soul-plugin/soul-plugin-tars/src/test/java/org/dromara/soul/plugin/tars/subscriber/TarsMetaDataSubscriberTest.java
Labels: type: refactor

#1073 test: Add test case for SpringCloudPluginConfiguration.
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-springcloud/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-springcloud/src/test/java/org/dromara/soul/springboot/starter/plugin/springcloud/SpringCloudPluginConfigurationTest.java
Labels: in: test

#1074 test: Add test case for soul-spring-boot-starter-plugin.
  soul-spring-boot-starter/soul-spring-boot-starter-client/soul-spring-boot-starter-client-springcloud/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-client/soul-spring-boot-starter-client-springcloud/src/test/java/org/dromara/soul/springboot/starter/client/springcloud/SoulSpringCloudClientConfigurationTest.java
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-context-path/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-context-path/src/test/java/org/dromara/soul/springboot/starter/plugin/contextpath/ContextPathMappingPluginConfigurationTest.java
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-divide/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-divide/src/test/java/org/dromara/soul/spring/boot/plugin/divide/DividePluginConfigurationTest.java
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-global/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-global/src/test/java/org/dromara/soul/spring/boot/starter/plugin/global/GlobalPluginConfigurationTest.java
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-hystrix/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-hystrix/src/test/java/org/dromara/soul/springboot/starter/plugin/hystrix/HystrixPluginConfigurationTest.java
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-monitor/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-monitor/src/test/java/org/dromara/soul/springboot/starter/plugin/monitor/MonitorPluginConfigurationTest.java
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-ratelimiter/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-ratelimiter/src/test/java/org/dromara/soul/springboot/starter/plugin/ratelimiter/RateLimiterPluginConfigurationTest.java
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-resilience4j/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-resilience4j/src/test/java/org/dromara/soul/springboot/starter/plugin/resilience4j/Resilience4JPluginConfigurationTest.java
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-rewrite/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-rewrite/src/test/java/org/dromara/soul/springboot/starter/plugin/rewrite/RewritePluginConfigurationTest.java
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-sentinel/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-sentinel/src/test/java/org/dromara/soul/springboot/starter/plugin/sentinel/SentinelPluginConfigurationTest.java
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-sign/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-sign/src/test/java/org/dromara/soul/springboot/starter/plugin/sign/SignPluginConfigurationTest.java
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-sofa/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-sofa/src/test/java/org/dromara/soul/spring/boot/starter/plugin/sofa/SofaPluginConfigurationTest.java
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-tars/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-tars/src/test/java/org/dromara/soul/spring/boot/starter/plugin/tars/TarsPluginConfigurationTest.java
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-waf/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-waf/src/test/java/org/dromara/soul/springboot/starter/plugin/waf/WafPluginConfigurationTest.java
Labels: in: test
