Repository apache/shenyu, pull requests merged in 2021-12, with the labels that each got.

#2492 [issue #2366]Remove warning code in [shenyu-examples-dubbo]
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-alibaba-dubbo-service-annotation/src/main/java/org/apache/shenyu/examples/alibaba/dubbo/service/annotation/impl/DubboMultiParamServiceImpl.java
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-alibaba-dubbo-service-annotation/src/main/java/org/apache/shenyu/examples/alibaba/dubbo/service/annotation/impl/DubboTestServiceImpl.java
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-alibaba-dubbo-service/src/main/java/org/apache/shenyu/examples/alibaba/dubbo/service/impl/DubboMultiParamServiceImpl.java
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-alibaba-dubbo-service/src/main/java/org/apache/shenyu/examples/alibaba/dubbo/service/impl/DubboTestServiceImpl.java
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-annotation/src/main/java/org/apache/shenyu/examples/apache/dubbo/service/annotation/impl/DubboMultiParamServiceImpl.java
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-annotation/src/main/java/org/apache/shenyu/examples/apache/dubbo/service/annotation/impl/DubboTestServiceImpl.java
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service/src/main/java/org/apache/shenyu/examples/apache/dubbo/service/impl/DubboMultiParamServiceImpl.java
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service/src/main/java/org/apache/shenyu/examples/apache/dubbo/service/impl/DubboTestServiceImpl.java
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-spring-cloud-alibaba-dubbo-service-annotation/src/main/java/org/apache/shenyu/examples/spring/cloud/dubbo/service/annotation/impl/MultiParamServiceImpl.java
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-spring-cloud-alibaba-dubbo-service-annotation/src/main/java/org/apache/shenyu/examples/spring/cloud/dubbo/service/annotation/impl/TestServiceImpl.java
Labels: type: refactor, in: example, code: clean

#2481 [type: refactor]consul api switch
  shenyu-register-center/shenyu-register-client/shenyu-register-client-consul/pom.xml
  shenyu-register-center/shenyu-register-client/shenyu-register-client-consul/src/main/java/org/apache/shenyu/register/client/consul/ConsulClientRegisterRepository.java
  shenyu-register-center/shenyu-register-server/shenyu-register-server-consul/src/main/java/org/apache/shenyu/register/server/consul/ConsulServerRegisterRepository.java
  shenyu-register-center/shenyu-register-server/shenyu-register-server-consul/src/test/java/org/apache/shenyu/register/server/consul/ConsulServerRegisterRepositoryTest.java
Labels: type: refactor, client: register-consul

#2499 [ISSUE #2361] add docker-compose h2
  shenyu-dist/shenyu-docker-compose-dist/src/main/assembly/source.xml
  shenyu-dist/shenyu-docker-compose-dist/src/main/resources/stand-alone-h2/docker-compose.yaml
Labels: type: build

#2497 [ISSUE #2365] Add integrated test for combination of cryptor request …
  shenyu-integrated-test/shenyu-integrated-test-combination/src/test/java/org/apache/shenyu/integrated/test/combination/RequestAndResponsePluginTest.java
Labels: integration-test

#2498 [fix #2487] Support Dubbo Plugin Single Parameter Primitive Type
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/ReflectUtils.java
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/utils/BodyParamUtils.java
Labels: type: bug, plugin: alibaba-dubbo, plugin: apache-dubbo

#2501 [type: refactor] reset the dubbo loadbalance data_type to 3.
  script/2.4.1-upgrade-2.4.2.sql
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/main/resources/sql-script/mysql/schema.sql
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-alibaba-dubbo/src/main/java/org/apache/shenyu/plugin/alibaba/dubbo/handler/AlibabaDubboPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-alibaba-dubbo/src/main/java/org/apache/shenyu/plugin/alibaba/dubbo/proxy/AlibabaDubboGrayLoadBalance.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-alibaba-dubbo/src/test/java/org/apache/shenyu/plugin/alibaba/dubbo/handler/AlibabaDubboPluginDataTest.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-apache-dubbo/src/main/java/org/apache/shenyu/plugin/apache/dubbo/handler/ApacheDubboPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-apache-dubbo/src/main/java/org/apache/shenyu/plugin/apache/dubbo/proxy/ApacheDubboGrayLoadBalance.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-apache-dubbo/src/test/java/org/apache/shenyu/plugin/apache/dubbo/handler/ApacheDubboPluginDataHandlerTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-dubbo/shenyu-spring-boot-starter-plugin-alibaba-dubbo/src/main/java/org/apache/shenyu/springboot/starter/plugin/alibaba/dubbo/AlibabaDubboPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-dubbo/shenyu-spring-boot-starter-plugin-apache-dubbo/src/main/java/org/apache/shenyu/springboot/starter/plugin/apache/dubbo/ApacheDubboPluginConfiguration.java
Labels: plugin: dubbo, admin, type: refactor

#2510 refactor(integrated-test): remove code smell in integrated-test
  shenyu-integrated-test/shenyu-integrated-test-common/src/main/java/org/apache/shenyu/integratedtest/common/AbstractPluginDataInit.java
  shenyu-integrated-test/shenyu-integrated-test-common/src/main/java/org/apache/shenyu/integratedtest/common/dto/MotanDTO.java
  shenyu-integrated-test/shenyu-integrated-test-common/src/main/java/org/apache/shenyu/integratedtest/common/dto/OrderDTO.java
  shenyu-integrated-test/shenyu-integrated-test-common/src/main/java/org/apache/shenyu/integratedtest/common/helper/HttpHelper.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/SentinelPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/WafPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-motan/src/test/java/org/apache/shenyu/integrated/test/motan/MotanPluginTest.java
Labels: type: refactor, integration-test

#2507 [ISSUE #1824] shenyu-admin module test coverage improvement
  shenyu-admin/src/test/java/org/apache/shenyu/admin/disruptor/subscriber/MetadataExecutorSubscriberTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/disruptor/subscriber/URIRegisterExecutorSubscriberTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/shiro/bean/StatelessAuthFilterTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/shiro/bean/StatelessTokenTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/shiro/config/ShiroConfigurationTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/shiro/config/ShiroRealmTest.java
Labels: in: test

#2521 [type: refactor] ignore upstream check unit test
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/UpstreamCheckServiceTest.java
Labels: type: refactor, in: test

#2515 [ISSUE #2370] remove warning code in shenyu-plugin-sentinel
  shenyu-plugin/shenyu-plugin-sentinel/src/test/java/org/apache/shenyu/plugin/sentinel/SentinelPluginTest.java
Labels: in: test, code: clean

#2522 [type:refactor] optimize shenyu context module data.
  shenyu-plugin/shenyu-plugin-divide/src/main/java/org/apache/shenyu/plugin/divide/context/DivideShenyuContextDecorator.java
  shenyu-plugin/shenyu-plugin-global/src/main/java/org/apache/shenyu/plugin/global/DefaultShenyuContextBuilder.java
  shenyu-plugin/shenyu-plugin-springcloud/src/main/java/org/apache/shenyu/plugin/springcloud/context/SpringCloudShenyuContextDecorator.java
  shenyu-plugin/shenyu-plugin-websocket/src/main/java/org/apache/shenyu/plugin/websocket/context/WebSocketShenyuContextDecorator.java
Labels: type: refactor

#2533 [ISSUE #2532]: add <relativePath> in shenyu-examples' module pom.xml
  shenyu-examples/pom.xml
Labels: type: bug, type: build

#2520 [issue#2513] remove PaymentTypeService
  shenyu-examples/shenyu-examples-http/src/main/java/org/apache/shenyu/examples/http/config/HttpServerConfig.java
  shenyu-examples/shenyu-examples-http/src/main/java/org/apache/shenyu/examples/http/result/PaymentTypeService.java
Labels: type: refactor

#2530 [type: refactor] optimize response body data wrapper.
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/utils/ResponseUtils.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/decorator/CryptorResponseDecorator.java
  shenyu-plugin/shenyu-plugin-modify-response/src/main/java/org/apache/shenyu/plugin/modify/response/ModifyResponsePlugin.java
Labels: type: refactor

#2518 [type:refactor] optimize rpc response result, use the upstream origin…
  shenyu-examples/shenyu-examples-grpc/src/main/resources/application.yml
  shenyu-integrated-test/shenyu-integrated-test-combination/src/test/java/org/apache/shenyu/integrated/test/combination/RpcAndRequestPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-grpc/src/test/java/org/apache/shenyu/integrated/test/grpc/GrpcPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-motan/src/test/java/org/apache/shenyu/integrated/test/motan/MotanPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-sofa/src/test/java/org/apache/shenyu/integrated/test/sofa/SofaPluginTest.java
  shenyu-integrated-test/shenyu-integration-test-alibaba-dubbo/src/test/java/org/apache/shenyu/integratedtest/alibaba/dubbo/AlibabaDubboPluginTest.java
  shenyu-integrated-test/shenyu-integration-test-apache-dubbo/src/test/java/org/apache/shenyu/integratedtest/alibaba/dubbo/ApacheDubboPluginTest.java
  shenyu-plugin/shenyu-plugin-grpc/src/main/java/org/apache/shenyu/plugin/grpc/GrpcPlugin.java
  shenyu-plugin/shenyu-plugin-response/src/main/java/org/apache/shenyu/plugin/response/strategy/RPCMessageWriter.java
Labels: type: refactor

#2524 [type: bug] fix client timeout bug.
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/config/HttpClientProperties.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-httpclient/src/main/java/org/apache/shenyu/springboot/starter/plugin/httpclient/HttpClientPluginConfiguration.java
Labels: type: bug

#2511 [type: refactor]serverList configuration of consul update
  shenyu-register-center/shenyu-register-client/shenyu-register-client-consul/src/main/java/org/apache/shenyu/register/client/consul/ConsulClientRegisterRepository.java
Labels: type: refactor, instance: consul

#2529 [type: refactor] optimize upgrade sql script.
  script/2.4.1-upgrade-2.4.2-pg.sql
Labels: admin, type: refactor

#2534 [ISSUE #2321] In the implementation of the dashboarduserservice interface, the database access in the loop is optimized.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/DataPermissionMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DashboardUserServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DataPermissionServiceImpl.java
  shenyu-admin/src/main/resources/mappers/data-permission-sqlmap.xml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/DataPermissionServiceTest.java
Labels: admin, type: refactor

#2537 [ISSUE #1824] shenyu-admin module test coverage improvement
  shenyu-admin/src/test/java/org/apache/shenyu/admin/aspect/DataPermissionAspectTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/aspect/PageableAspectTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/config/DataSyncConfigurationTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/config/LdapConfigurationTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/config/MapperConfigTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/config/RegisterCenterConfigurationTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/config/ShenyuAdminConfigurationTest.java
Labels: in: test

#2542 [ISSUE #2321] In the implementation of metadataservice, the database access in the loop is optimized
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/DataPermissionMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/MetaDataMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/MetaDataServiceImpl.java
  shenyu-admin/src/main/resources/mappers/data-permission-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/meta-data-sqlmap.xml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/DataPermissionMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/MetaDataMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/MetaDataServiceTest.java
Labels: admin, type: refactor

#2543 [Issue #2370]remoe shenyu-plugin-dubbo warning code
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-alibaba-dubbo/src/main/java/org/apache/shenyu/plugin/alibaba/dubbo/cache/AlibabaDubboConfigCache.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-alibaba-dubbo/src/test/java/org/apache/shenyu/plugin/alibaba/dubbo/AlibabaDubboPluginTest.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-alibaba-dubbo/src/test/java/org/apache/shenyu/plugin/alibaba/dubbo/cache/AlibabaDubboConfigCacheTest.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-alibaba-dubbo/src/test/java/org/apache/shenyu/plugin/alibaba/dubbo/handler/AlibabaDubboPluginDataTest.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-alibaba-dubbo/src/test/java/org/apache/shenyu/plugin/alibaba/dubbo/proxy/AlibabaDubboProxyServiceTest.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-alibaba-dubbo/src/test/java/org/apache/shenyu/plugin/alibaba/dubbo/subscriber/AlibabaDubboMetaDataSubscriberTest.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-apache-dubbo/src/main/java/org/apache/shenyu/plugin/apache/dubbo/cache/ApacheDubboConfigCache.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-apache-dubbo/src/test/java/org/apache/shenyu/plugin/apache/dubbo/cache/ApacheDubboConfigCacheTest.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-apache-dubbo/src/test/java/org/apache/shenyu/plugin/apache/dubbo/proxy/ApacheDubboProxyServiceTest.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-apache-dubbo/src/test/java/org/apache/shenyu/plugin/apache/dubbo/subscriber/ApacheDubboMetaDataSubscriberTest.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-dubbo-common/src/main/java/org/apache/shenyu/plugin/dubbo/common/AbstractDubboPlugin.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-dubbo-common/src/main/java/org/apache/shenyu/plugin/dubbo/common/cache/DubboConfigCache.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-dubbo-common/src/test/java/org/apache/shenyu/plugin/dubbo/common/param/DubboParamResolveServiceTest.java
Labels: plugin: dubbo, type: refactor, code: clean

#2545 [type:feature] Optimize SQL files for resource,permission
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/MapperConfig.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mybatis/pg/interceptor/PostgreSqlUpdateInterceptor.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/spring/LocalDataSourceLoader.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/spring/ResourceAndPermissionDataSourceLoader.java
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/main/resources/sql-script/mysql/schema.sql
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
  shenyu-admin/src/test/java/org/apache/shenyu/admin/config/MapperConfigTest.java
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/AdminConstants.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-api/pom.xml
Labels: admin, type: refactor

#2547 [ISSUE #2321] In the implementation of the pluginhandleservice interface, the database access in the loop is optimized.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/PluginHandleMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/ShenyuDictMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/PluginHandleServiceImpl.java
  shenyu-admin/src/main/resources/mappers/plugin-handle-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/shenyu-dict-sqlmap.xml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/PluginHandleMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/ShenyuDictMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/PluginHandleServiceTest.java
Labels: admin, type: refactor

#2546 [ISSUE #2370]Remove shenyu-plugin-modify-response shenyu-plugin-param-mapping warning code
  shenyu-plugin/shenyu-plugin-modify-response/src/test/java/org/apache/shenyu/plugin/modify/response/ModifyResponsePluginTest.java
  shenyu-plugin/shenyu-plugin-param-mapping/src/main/java/org/apache/shenyu/plugin/param/mapping/strategy/FormDataOperator.java
  shenyu-plugin/shenyu-plugin-param-mapping/src/main/java/org/apache/shenyu/plugin/param/mapping/strategy/JsonOperator.java
  shenyu-plugin/shenyu-plugin-param-mapping/src/main/java/org/apache/shenyu/plugin/param/mapping/strategy/Operator.java
  shenyu-plugin/shenyu-plugin-param-mapping/src/test/java/org/apache/shenyu/plugin/param/mapping/strategy/FormDataOperatorTest.java
  shenyu-plugin/shenyu-plugin-param-mapping/src/test/java/org/apache/shenyu/plugin/param/mapping/strategy/JsonOperatorTest.java
Labels: type: refactor, code: clean

#2551 [type:feature] Add pg upgrade SQL data #2549
  script/2.4.1-upgrade-2.4.2-pg.sql
Labels: admin

#2552 [ISSUE #2512] add constructor for ShenyuClientRegisterRepository to supoort springmvc project without springboot
  shenyu-register-center/shenyu-register-client/shenyu-register-client-consul/src/main/java/org/apache/shenyu/register/client/consul/ConsulClientRegisterRepository.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-etcd/src/main/java/org/apache/shenyu/register/client/etcd/EtcdClientRegisterRepository.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-http/src/main/java/org/apache/shenyu/register/client/http/HttpClientRegisterRepository.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-nacos/src/main/java/org/apache/shenyu/register/client/nacos/NacosClientRegisterRepository.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-zookeeper/src/main/java/org/apache/shenyu/register/client/zookeeper/ZookeeperClientRegisterRepository.java
Labels: client: spring-mvc, client: spring-cloud, client: register, client: register-etcd, client: register-zookeeper, client: register-http, client: reigster-nacos, client: register-consul

#2556 [type: refactor] refactor class name, PostgreSql -> PostgreSQL.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/MapperConfig.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mybatis/pg/handler/PostgreSQLBooleanHandler.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mybatis/pg/interceptor/PostgreSQLQueryInterceptor.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/spring/PostgreSQLLoader.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/config/MapperConfigTest.java
Labels: admin, type: refactor

#2557 [type: refactor] support user fuzzy search.
  shenyu-admin/src/main/resources/mappers/dashboard-user-sqlmap.xml
Labels: admin, type: refactor

#2558 [type:feature]Add flag for initialize database to Shenyu dict
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/MapperConfig.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/ShenyuDictMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/ShenyuDictDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mybatis/pg/interceptor/PostgreSQLPrepareInterceptor.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mybatis/pg/interceptor/PostgreSQLQueryInterceptor.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/ShenyuDictService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/ShenyuDictServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/spring/ResourceAndPermissionDataSourceLoader.java
  shenyu-admin/src/main/resources/mappers/shenyu-dict-sqlmap.xml
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/main/resources/sql-script/mysql/schema.sql
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/AdminConstants.java
Labels: admin

#2559 [type: Integration-Test] Simplify the integration test process
  .github/workflows/integrated-test.yml
Labels: type: build

#2563 [type: refactor] code polish, fix "Not annotated method overrides method annotated with @NonNullApi" warning.
  shenyu-bootstrap/src/main/java/org/apache/shenyu/bootstrap/filter/HealthFilter.java
  shenyu-plugin/shenyu-plugin-oauth2/src/main/java/org/apache/shenyu/plugin/oauth2/filter/OAuth2PreFilter.java
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/CrossFilter.java
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/ExcludeFilter.java
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/FileSizeFilter.java
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/LocalDispatcherFilter.java
Labels: type: refactor, code: clean

#2567 [type:feactor]Fix resource bug
  shenyu-admin/src/main/java/org/apache/shenyu/admin/spring/ResourceAndPermissionDataSourceLoader.java
Labels: type: bug, admin

#2568 [new: feature] support https for upstream
  .github/workflows/integrated-test.yml
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterDivideServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/CommonUpstreamUtils.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterDivideServiceImplTest.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/constant/ShenyuClientConstants.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/init/ContextRegisterListener.java
  shenyu-examples/pom.xml
  shenyu-examples/shenyu-examples-https/Dockerfile
  shenyu-examples/shenyu-examples-https/pom.xml
  shenyu-examples/shenyu-examples-https/src/main/java/org/apache/shenyu/examples/https/ShenyuTestHttpsApplication.java
  shenyu-examples/shenyu-examples-https/src/main/java/org/apache/shenyu/examples/https/configuration/HttpsConfiguration.java
  shenyu-examples/shenyu-examples-https/src/main/java/org/apache/shenyu/examples/https/controller/OrderController.java
  shenyu-examples/shenyu-examples-https/src/main/resources/application.yml
  shenyu-examples/shenyu-examples-https/src/main/resources/keystore.p12
  shenyu-examples/shenyu-examples-motan/shenyu-examples-motan-api/pom.xml
  shenyu-integrated-test/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-http/src/main/resources/application.yml
  shenyu-integrated-test/shenyu-integrated-test-https/Dockerfile
  shenyu-integrated-test/shenyu-integrated-test-https/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-https/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-https/script/healthcheck.sh
  shenyu-integrated-test/shenyu-integrated-test-https/script/services.list
  shenyu-integrated-test/shenyu-integrated-test-https/src/main/java/org/apache/shenyu/integrated/test/https/HttpsIntegratedBootstrap.java
  shenyu-integrated-test/shenyu-integrated-test-https/src/main/resources/application.yml
  shenyu-integrated-test/shenyu-integrated-test-https/src/main/resources/keystore.p12
  shenyu-integrated-test/shenyu-integrated-test-https/src/test/java/org/apache/shenyu/integrated/test/https/HttpsDividePluginTest.java
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/config/HttpClientProperties.java
  shenyu-register-center/shenyu-register-common/src/main/java/org/apache/shenyu/register/common/dto/URIRegisterDTO.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-httpclient/src/main/java/org/apache/shenyu/springboot/starter/plugin/httpclient/HttpClientPluginConfiguration.java
Labels: type: new feature

#2576 [type:refactor] remove SpEL and Groovy plugins
  pom.xml
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/main/resources/sql-script/mysql/schema.sql
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
  shenyu-common/src/main/java/org/apache/shenyu/common/enums/OperatorEnum.java
  shenyu-dist/shenyu-bootstrap-dist/src/main/release-docs/LICENSE
  shenyu-dist/shenyu-bootstrap-dist/src/main/release-docs/NOTICE
  shenyu-dist/shenyu-bootstrap-dist/src/main/release-docs/licenses/LICENSE-groovy.txt
  shenyu-plugin/shenyu-plugin-base/pom.xml
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/condition/judge/GroovyPredicateJudge.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/condition/judge/SpELPredicateJudge.java
  shenyu-plugin/shenyu-plugin-base/src/main/resources/META-INF/shenyu/org.apache.shenyu.plugin.base.condition.judge.PredicateJudge
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/condition/judge/PredicateJudgeFactoryTest.java
Labels: feature: plugin

#2573 [type: refactor] refactor netty connfig.
  shenyu-bootstrap/src/main/resources/application-local.yml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-gateway/src/main/java/org/apache/shenyu/springboot/starter/netty/NettyChannelProperties.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-gateway/src/main/java/org/apache/shenyu/springboot/starter/netty/NettyTcpProperties.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-gateway/src/main/java/org/apache/shenyu/springboot/starter/netty/ShenyuNettyWebServerConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-gateway/src/test/java/org/apache/shenyu/springboot/starter/gateway/ShenyuConfigurationTest.java
Labels: type: refactor

#2577 [ISSUE #2080] Add unit test for LocalPluginController (#2080)
  shenyu-web/src/test/java/org/apache/shenyu/web/controller/LocalPluginControllerTest.java
Labels: in: test

#2580 [fix: bug] fix motan examples build error
  shenyu-examples/shenyu-examples-https/src/main/java/org/apache/shenyu/examples/https/controller/OrderController.java
  shenyu-examples/shenyu-examples-https/src/main/java/org/apache/shenyu/examples/https/dto/OrderDTO.java
  shenyu-examples/shenyu-examples-https/src/main/resources/application.yml
  shenyu-examples/shenyu-examples-motan/shenyu-examples-motan-api/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-http/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-http/src/main/resources/application.yml
  shenyu-integrated-test/shenyu-integrated-test-https/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-https/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-https/script/services.list
  shenyu-integrated-test/shenyu-integrated-test-https/src/main/resources/application.yml
  shenyu-integrated-test/shenyu-integrated-test-https/src/test/java/org/apache/shenyu/integrated/test/https/HttpsDividePluginTest.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-http/src/main/java/org/apache/shenyu/register/client/http/HttpClientRegisterRepository.java
Labels: type: bug, type: refactor, integration-test

#2582 [type:refactor] remove SpEL and Groovy plugins
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/main/resources/sql-script/mysql/schema.sql
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
Labels: feature: plugin

#2581 [type: refactor] refactor the response result logic, provide custom logic for data format.
  shenyu-common/src/main/java/org/apache/shenyu/common/config/ShenyuConfig.java
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
  shenyu-common/src/main/java/org/apache/shenyu/common/enums/DataFormatEnum.java
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/GsonUtils.java
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/ObjectTypeUtils.java
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/GsonUtilsTest.java
  shenyu-integrated-test/shenyu-integrated-test-grpc/src/test/java/org/apache/shenyu/integrated/test/grpc/GrpcPluginTest.java
  shenyu-plugin/shenyu-plugin-api/pom.xml
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/context/ShenyuContext.java
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/result/DefaultShenyuEntity.java
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/result/DefaultShenyuResult.java
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/result/ShenyuResult.java
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/result/ShenyuResultWrap.java
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/utils/WebFluxResultUtils.java
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/utils/XmlUtils.java
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/utils/ShenyuResultWrapTest.java
  shenyu-plugin/shenyu-plugin-global/src/main/java/org/apache/shenyu/plugin/global/DefaultShenyuContextBuilder.java
  shenyu-plugin/shenyu-plugin-response/src/main/java/org/apache/shenyu/plugin/response/strategy/WebClientMessageWriter.java
  shenyu-plugin/shenyu-plugin-response/src/test/java/org/apache/shenyu/plugin/response/strategy/RPCMessageWriterTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-gateway/src/test/java/org/apache/shenyu/springboot/starter/gateway/ShenyuConfigurationTest.java
Labels: type: refactor

#2586 [fix: bug] Custom spi config
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/vo/RuleConditionVO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/vo/SelectorConditionVO.java
  shenyu-common/src/main/java/org/apache/shenyu/common/enums/OperatorEnum.java
  shenyu-common/src/main/java/org/apache/shenyu/common/enums/ParamTypeEnum.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/OperatorEnumTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/ParamTypeEnumTest.java
Labels: type: bug, type: spi, admin

#2589 [ISSUE #2588] org.apache.shenyu.sync.data.etcd.EtcdClient method [getSubNodeKeyName] throw “StringIndexOutOfBoundsException”
  shenyu-sync-data-center/shenyu-sync-data-etcd/src/main/java/org/apache/shenyu/sync/data/etcd/EtcdClient.java
Labels: type: refactor

#2592 [ISSUE #2587] Fix the bug of #2587
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/PluginHandleServiceImpl.java
Labels: type: bug, type: refactor

#2596 [type: refactor] change class name
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/condition/judge/ExcludePredicateJudge.java
  shenyu-plugin/shenyu-plugin-base/src/main/resources/META-INF/shenyu/org.apache.shenyu.plugin.base.condition.judge.PredicateJudge
Labels: type: refactor

#2595 [type: refactor] optimize result media type and reset response header.
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/utils/WebFluxResultUtils.java
  shenyu-plugin/shenyu-plugin-response/src/main/java/org/apache/shenyu/plugin/response/strategy/WebClientMessageWriter.java
Labels: type: refactor

#2597 [type: refactor] optimize media type.
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/result/ShenyuResult.java
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/utils/WebFluxResultUtils.java
Labels: type: refactor

#2598 [type: refactor]: introduce bytebuddy dependencies for classloader.
  shenyu-agent/libs/byte-buddy-1.10.16.jar
  shenyu-agent/libs/byte-buddy-agent-1.10.16.jar
  shenyu-agent/shenyu-agent-bootstrap/src/main/java/org/apache/shenyu/agent/bootstrap/ShenyuAgentBootstrap.java
  shenyu-agent/shenyu-agent-core/src/main/java/org/apache/shenyu/agent/core/AgentInstaller.java
Labels: feature: agent

#2459 [type: feature]Add RpcContextPlugin to transmit header to rpc context.
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/main/resources/sql-script/mysql/schema.sql
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
  shenyu-bootstrap/pom.xml
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/rule/GeneralContextHandle.java
  shenyu-common/src/main/java/org/apache/shenyu/common/enums/PluginEnum.java
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-annotation/src/main/java/org/apache/shenyu/examples/apache/dubbo/service/annotation/impl/DubboTestServiceImpl.java
  shenyu-plugin/pom.xml
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-alibaba-dubbo/src/main/java/org/apache/shenyu/plugin/alibaba/dubbo/AlibabaDubboPlugin.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-apache-dubbo/src/main/java/org/apache/shenyu/plugin/apache/dubbo/ApacheDubboPlugin.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-apache-dubbo/src/main/java/org/apache/shenyu/plugin/apache/dubbo/proxy/ApacheDubboProxyService.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-dubbo-common/src/main/java/org/apache/shenyu/plugin/dubbo/common/AbstractDubboPlugin.java
  shenyu-plugin/shenyu-plugin-general-context/pom.xml
  shenyu-plugin/shenyu-plugin-general-context/src/main/java/org/apache/shenyu/plugin/general/context/GeneralContextPlugin.java
  shenyu-plugin/shenyu-plugin-general-context/src/main/java/org/apache/shenyu/plugin/general/context/handler/GeneralContextPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-general-context/src/test/java/org/apache/shenyu/plugin/general/context/GeneralContextPluginTest.java
  shenyu-plugin/shenyu-plugin-general-context/src/test/java/org/apache/shenyu/plugin/general/context/handler/GeneralContextPluginHandlerTest.java
  shenyu-plugin/shenyu-plugin-motan/src/main/java/org/apache/shenyu/plugin/motan/proxy/MotanProxyService.java
  shenyu-plugin/shenyu-plugin-sofa/src/main/java/org/apache/shenyu/plugin/sofa/SofaPlugin.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/pom.xml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-general-context/pom.xml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-general-context/src/main/java/org/apache/shenyu/springboot/starter/plugin/general/context/GeneralContextPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-general-context/src/main/resources/META-INF/spring.factories
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-general-context/src/main/resources/META-INF/spring.provides
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-general-context/src/test/java/org/apache/shenyu/springboot/starter/plugin/general/context/GeneralContextPluginConfigurationTest.java
Labels: plugin: generalContext

#2602 [ISSUE #2420] Enhance apache shenyu unit test
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/RoleControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/ShenyuHttpRegistryControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/listener/http/HttpLongPollingDataChangedListenerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/query/DataPermissionQueryTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/vo/UserRoleVOTest.java
  shenyu-sync-data-center/shenyu-sync-data-etcd/src/test/java/org/apache/shenyu/sync/data/etcd/EtcdClientTest.java
  shenyu-sync-data-center/shenyu-sync-data-etcd/src/test/java/org/apache/shenyu/sync/data/etcd/EtcdSyncDataServiceTest.java
Labels: in: test

#2601 [ISSUE #2321] In selectorserviceimpl, the database access in the loop is optimized.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/DataPermissionMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/SelectorConditionMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SelectorServiceImpl.java
  shenyu-admin/src/main/resources/mappers/data-permission-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/selector-condition-sqlmap.xml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/DataPermissionMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/SelectorConditionMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/SelectorServiceTest.java
Labels: admin, type: refactor

#2609 [type: refactor] optimize upstream check utils.
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/UpstreamCheckUtils.java
Labels: type: bug, type: refactor

#2612 [type: bug] fix 2611, support image.
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
  shenyu-plugin/shenyu-plugin-response/src/main/java/org/apache/shenyu/plugin/response/strategy/WebClientMessageWriter.java
Labels: type: bug, type: refactor

#2613 [type: new feature]add spring cloud plugin in dist
  shenyu-bootstrap/pom.xml
  shenyu-bootstrap/src/main/resources/application-local.yml
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-springcloud/src/main/java/org/apache/shenyu/springboot/starter/plugin/springcloud/SpringCloudPluginConfiguration.java
Labels: type: new feature

#2616 [type: refactor] list all common binary media types.
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
  shenyu-plugin/shenyu-plugin-response/src/main/java/org/apache/shenyu/plugin/response/strategy/WebClientMessageWriter.java
Labels: type: refactor

#2617 [type:feature]Add new dashboard file, support GeneralContextPlugin.
  shenyu-admin/src/main/resources/static/index.22acd9a3.js
  shenyu-admin/src/main/resources/static/index.28206906.js
  shenyu-admin/src/main/resources/static/index.298ebb95.css
  shenyu-admin/src/main/resources/static/index.html
Labels: admin

#2620 refactor(integrated-test): format docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-combination/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-grpc/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-http/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-https/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-motan/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-sofa/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-websocket/docker-compose.yml
  shenyu-integrated-test/shenyu-integration-test-alibaba-dubbo/docker-compose.yml
  shenyu-integrated-test/shenyu-integration-test-apache-dubbo/docker-compose.yml
Labels: integration-test

#2622 [type: refactor] cleanup useless dependencies
  pom.xml
Labels: type: refactor

#2621 [ISSUE #2459]context plugin support grpc
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-alibaba-dubbo/src/main/java/org/apache/shenyu/plugin/alibaba/dubbo/AlibabaDubboPlugin.java
  shenyu-plugin/shenyu-plugin-general-context/src/main/java/org/apache/shenyu/plugin/general/context/GeneralContextPlugin.java
  shenyu-plugin/shenyu-plugin-general-context/src/test/java/org/apache/shenyu/plugin/general/context/GeneralContextPluginTest.java
  shenyu-plugin/shenyu-plugin-grpc/src/main/java/org/apache/shenyu/plugin/grpc/GrpcPlugin.java
  shenyu-plugin/shenyu-plugin-grpc/src/main/java/org/apache/shenyu/plugin/grpc/client/GrpcClientBuilder.java
  shenyu-plugin/shenyu-plugin-grpc/src/main/java/org/apache/shenyu/plugin/grpc/intercept/ContextClientInterceptor.java
  shenyu-plugin/shenyu-plugin-motan/src/main/java/org/apache/shenyu/plugin/motan/proxy/MotanProxyService.java
Labels: plugin: grpc

#2630 [type:feature]Support cluster in dubbo
  shenyu-client/shenyu-client-dubbo/shenyu-client-alibaba-dubbo/src/main/java/org/apache/shenyu/client/alibaba/dubbo/AlibabaDubboServiceBeanListener.java
  shenyu-client/shenyu-client-dubbo/shenyu-client-apache-dubbo/src/main/java/org/apache/shenyu/client/apache/dubbo/ApacheDubboServiceBeanListener.java
  shenyu-client/shenyu-client-dubbo/shenyu-client-dubbo-common/src/main/java/org/apache/shenyu/client/dubbo/common/dto/DubboRpcExt.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-alibaba-dubbo/src/main/java/org/apache/shenyu/plugin/alibaba/dubbo/cache/AlibabaDubboConfigCache.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-apache-dubbo/src/main/java/org/apache/shenyu/plugin/apache/dubbo/cache/ApacheDubboConfigCache.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-dubbo-common/src/main/java/org/apache/shenyu/plugin/dubbo/common/cache/DubboParam.java
Labels: client: dubbo, plugin: dubbo, type: new feature

#2629 [type: feature] add install script
  shenyu-dist/shenyu-docker-compose-dist/src/main/resources/install.sh
Labels: type: build

#2631 [type: refactor] support user disable status.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/PlatformController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DashboardUserServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/ShenyuResultMessage.java
Labels: type: enhancement, admin

#2626 [ISSUE #2449] Add doc and unit test for register-instance (#2449)
  shenyu-register-center/shenyu-register-instance/shenyu-register-instance-core/src/test/java/org/apache/shenyu/register/instance/core/ShenyuInstanceRegisterRepositoryFactoryTest.java
  shenyu-register-center/shenyu-register-instance/shenyu-register-instance-zookeeper/src/test/java/org/apache/shenyu/register/instance/zookeeper/ZookeeperInstanceRegisterRepositoryTest.java
Labels: in: test

#2634 [ISSUE #2321] In roleservice, the recursion is optimized.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/MetaDataServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/PluginHandleServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/PluginServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/RoleServiceImpl.java
Labels: admin, type: refactor

#2623 [issue:1456]enhance test of shenyu-web
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/VersionUtils.java
  shenyu-web/src/test/java/org/apache/shenyu/web/loader/ShenyuPluginLoaderTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/logo/ShenyuLogoTest.java
Labels: in: test

#2636 [type:refactor]Dubbo ReferenceConfig when removed from the cache, call ReferenceConfig destroy method.
  shenyu-integrated-test/shenyu-integrated-test-https/script/services.list
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-alibaba-dubbo/src/main/java/org/apache/shenyu/plugin/alibaba/dubbo/cache/AlibabaDubboConfigCache.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-apache-dubbo/src/main/java/org/apache/shenyu/plugin/apache/dubbo/cache/ApacheDubboConfigCache.java
Labels: type: refactor

#2637 [type: fix] fix install.sh
  shenyu-dist/shenyu-docker-compose-dist/src/main/resources/install.sh
Labels: type: build

#2594 [new: feature] http service support spring mvc project
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/shutdown/ShenyuClientShutdownHook.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/init/ContextRegisterListener.java
  shenyu-examples/shenyu-examples-springmvc/Dockerfile
  shenyu-examples/shenyu-examples-springmvc/pom.xml
  shenyu-examples/shenyu-examples-springmvc/src/main/http/http-test-api.http
  shenyu-examples/shenyu-examples-springmvc/src/main/java/org/apache/shenyu/examples/springmvc/TestSpringMvcApplication.java
  shenyu-examples/shenyu-examples-springmvc/src/main/java/org/apache/shenyu/examples/springmvc/controller/HttpTestController.java
  shenyu-examples/shenyu-examples-springmvc/src/main/java/org/apache/shenyu/examples/springmvc/controller/OrderController.java
  shenyu-examples/shenyu-examples-springmvc/src/main/java/org/apache/shenyu/examples/springmvc/dto/OAuth2DTO.java
  shenyu-examples/shenyu-examples-springmvc/src/main/java/org/apache/shenyu/examples/springmvc/dto/OrderDTO.java
  shenyu-examples/shenyu-examples-springmvc/src/main/java/org/apache/shenyu/examples/springmvc/dto/UserDTO.java
  shenyu-examples/shenyu-examples-springmvc/src/main/java/org/apache/shenyu/examples/springmvc/result/ResultBean.java
  shenyu-examples/shenyu-examples-springmvc/src/main/resources/application.yml
  shenyu-examples/shenyu-examples-springmvc/src/main/resources/context/shenyu.xml
Labels: type: new feature, client: spring-mvc

#2643 [type:refactor] optimize cors for Access-Control-Allow-Origin header.
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/CrossFilter.java
Labels: type: refactor

#2645 [type:fix]Add DumperOptions for yaml parsing
  shenyu-agent/shenyu-agent-core/src/main/java/org/apache/shenyu/agent/core/yaml/ShenyuYamlEngine.java
Labels: type: refactor, feature: agent

#2648 [type:bug] dubbo example revise zookeeper version 3.4.6
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-alibaba-dubbo-service/pom.xml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-annotation/src/main/java/org/apache/shenyu/examples/apache/dubbo/service/annotation/TestApacheDubboAnnotationApplication.java
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-motan/script/services.list
Labels: type: refactor

#2649 [type: feature]Add ExtensionLoader#getJoins method.
  shenyu-spi/src/main/java/org/apache/shenyu/spi/ExtensionLoader.java
  shenyu-spi/src/test/java/org/apache/shenyu/spi/ExtensionLoaderTest.java
  shenyu-spi/src/test/java/org/apache/shenyu/spi/fixture/ArrayListSPI.java
  shenyu-spi/src/test/java/org/apache/shenyu/spi/fixture/EmptySPI.java
  shenyu-spi/src/test/java/org/apache/shenyu/spi/fixture/LinkedListSPI.java
  shenyu-spi/src/test/java/org/apache/shenyu/spi/fixture/ListSPI.java
  shenyu-spi/src/test/resources/META-INF/shenyu/org.apache.shenyu.spi.fixture.EmptySPI
  shenyu-spi/src/test/resources/META-INF/shenyu/org.apache.shenyu.spi.fixture.ListSPI
Labels: type: spi, type: refactor

#2608 [ISSUE #2603] ContainsPredicateJudge not work for multiple config
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/condition/judge/ContainsPredicateJudge.java
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/condition/judge/ContainsPredicateJudgeTest.java
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/condition/judge/PredicateJudgeFactoryTest.java
Labels: in: test

#2650 [new: feature] shenyu agent architecture
  shenyu-agent/shenyu-agent-api/src/main/java/org/apache/shenyu/agent/api/point/ConstructorPointCut.java
  shenyu-agent/shenyu-agent-api/src/main/java/org/apache/shenyu/agent/api/point/InstanceMethodPointCut.java
  shenyu-agent/shenyu-agent-api/src/main/java/org/apache/shenyu/agent/api/point/ShenyuAgentJoinPoint.java
  shenyu-agent/shenyu-agent-api/src/main/java/org/apache/shenyu/agent/api/point/StaticMethodPointCut.java
  shenyu-agent/shenyu-agent-core/src/main/java/org/apache/shenyu/agent/core/bytebuddy/interceptor/ConstructorInterceptor.java
  shenyu-agent/shenyu-agent-core/src/main/java/org/apache/shenyu/agent/core/bytebuddy/interceptor/InstanceMethodInterceptor.java
  shenyu-agent/shenyu-agent-core/src/main/java/org/apache/shenyu/agent/core/bytebuddy/interceptor/StaticMethodInterceptor.java
  shenyu-agent/shenyu-agent-core/src/main/java/org/apache/shenyu/agent/core/bytebuddy/matcher/ShenyuAgentTypeMatcher.java
  shenyu-agent/shenyu-agent-core/src/main/java/org/apache/shenyu/agent/core/bytebuddy/transformer/ShenyuAgentTransformer.java
  shenyu-agent/shenyu-agent-core/src/main/java/org/apache/shenyu/agent/core/loader/ShenyuAgentPluginLoader.java
  shenyu-dist/shenyu-bootstrap-dist/src/main/resources/conf/shenyu-agent.yaml
Labels: feature: agent

#2647 [fix: bug] fix motan examples
  shenyu-examples/shenyu-examples-motan/shenyu-examples-motan-api/pom.xml
Labels: in: example, plugin: motan, type: examples

#2654 [new: feature] shenyu agent architecture
  shenyu-agent/shenyu-agent-api/src/main/java/org/apache/shenyu/agent/api/config/ShenyuAgentConfig.java
  shenyu-agent/shenyu-agent-api/src/main/java/org/apache/shenyu/agent/api/spi/AbstractAgentPluginDefinition.java
  shenyu-agent/shenyu-agent-bootstrap/src/main/java/org/apache/shenyu/agent/bootstrap/ShenyuAgentBootstrap.java
  shenyu-agent/shenyu-agent-core/src/main/java/org/apache/shenyu/agent/core/bytebuddy/matcher/ShenyuAgentTypeMatcher.java
  shenyu-agent/shenyu-agent-core/src/main/java/org/apache/shenyu/agent/core/loader/SPILoader.java
  shenyu-agent/shenyu-agent-core/src/main/java/org/apache/shenyu/agent/core/loader/ShenyuAgentConfigLoader.java
  shenyu-agent/shenyu-agent-core/src/main/java/org/apache/shenyu/agent/core/loader/ShenyuAgentPluginLoader.java
  shenyu-agent/shenyu-agent-core/src/main/java/org/apache/shenyu/agent/core/plugin/PluginLifecycleManager.java
  shenyu-agent/shenyu-agent-core/src/main/java/org/apache/shenyu/agent/core/utils/ShenyuAgentConfigUtils.java
  shenyu-dist/shenyu-bootstrap-dist/src/main/resources/conf/shenyu-agent.yaml
Labels: feature: agent

#2656 [ISSUE #2071] feat mqtt server
  shenyu-protocol/shenyu-protocol-mqtt/src/main/java/org/apache/shenyu/protocol/mqtt/AbstractMessageType.java
  shenyu-protocol/shenyu-protocol-mqtt/src/main/java/org/apache/shenyu/protocol/mqtt/Connect.java
  shenyu-protocol/shenyu-protocol-mqtt/src/main/java/org/apache/shenyu/protocol/mqtt/MessageType.java
  shenyu-protocol/shenyu-protocol-mqtt/src/main/java/org/apache/shenyu/protocol/mqtt/MqttBootstrapServer.java
  shenyu-protocol/shenyu-protocol-mqtt/src/main/java/org/apache/shenyu/protocol/mqtt/MqttEnv.java
  shenyu-protocol/shenyu-protocol-mqtt/src/main/java/org/apache/shenyu/protocol/mqtt/MqttServerConfiguration.java
  shenyu-protocol/shenyu-protocol-mqtt/src/main/java/org/apache/shenyu/protocol/mqtt/MqttTransportHandler.java
  shenyu-protocol/shenyu-protocol-mqtt/src/main/java/org/apache/shenyu/protocol/mqtt/MqttTransportServerInitializer.java
  shenyu-protocol/shenyu-protocol-mqtt/src/main/java/org/apache/shenyu/protocol/mqtt/Publish.java
  shenyu-protocol/shenyu-protocol-mqtt/src/main/java/org/apache/shenyu/protocol/mqtt/annotation/Connect.java
  shenyu-protocol/shenyu-protocol-mqtt/src/main/java/org/apache/shenyu/protocol/mqtt/annotation/Disconnect.java
  shenyu-protocol/shenyu-protocol-mqtt/src/main/java/org/apache/shenyu/protocol/mqtt/annotation/Primary.java
  shenyu-protocol/shenyu-protocol-mqtt/src/main/java/org/apache/shenyu/protocol/mqtt/annotation/Publish.java
  shenyu-protocol/shenyu-protocol-mqtt/src/main/java/org/apache/shenyu/protocol/mqtt/annotation/Subscribe.java
  shenyu-protocol/shenyu-protocol-mqtt/src/main/java/org/apache/shenyu/protocol/mqtt/utils/EncryptUtil.java
Labels: type: new feature, plugin: mqtt

#2661 Adapt grpc plugin compile requirement with apple m1 silicon
  shenyu-examples/pom.xml
Labels: type: build

#2659 [new: feature] Add apache dubbo shenyu-client-apache-dubbo example
  shenyu-examples/shenyu-examples-dubbo/pom.xml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-xml/Dockerfile
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-xml/pom.xml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-xml/src/main/http/apache-dubbo-test-api.http
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-xml/src/main/java/org/apache/shenyu/examples/apache/dubbo/service/xml/TestApacheDubboXmlApplication.java
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-xml/src/main/java/org/apache/shenyu/examples/apache/dubbo/service/xml/impl/DubboMultiParamServiceImpl.java
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-xml/src/main/java/org/apache/shenyu/examples/apache/dubbo/service/xml/impl/DubboTestServiceImpl.java
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-xml/src/main/resources/application.yml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-xml/src/main/resources/shenyu.xml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-xml/src/main/resources/spring-dubbo.xml
Labels: in: example

#2665 [new: feature] shenyu agent package
  shenyu-dist/pom.xml
  shenyu-dist/shenyu-admin-dist/src/main/assembly/binary.xml
  shenyu-dist/shenyu-agent-dist/pom.xml
  shenyu-dist/shenyu-agent-dist/src/main/assembly/binary.xml
  shenyu-dist/shenyu-agent-dist/src/main/resources/conf/shenyu-agent.yaml
  shenyu-dist/shenyu-agent-dist/src/main/resources/conf/tracing-point.yaml
  shenyu-dist/shenyu-bootstrap-dist/src/main/assembly/binary.xml
Labels: type: new feature, feature: agent

#2666 [ISSUE #2321] In resourcepermissiondatasourceloader, the database access in the loop is optimized.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/PermissionMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/ResourceMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/ResourceService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/ResourceServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SelectorServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/spring/ResourcePermissionDataSourceLoader.java
  shenyu-admin/src/main/resources/application-mysql.yml
  shenyu-admin/src/main/resources/mappers/permission-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/resouce-sqlmap.xml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/PermissionMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/ResourceMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/ResourceServiceTest.java
Labels: admin, type: refactor, admin: permission

#2664 [type: bug] fix Connection has been closed BEFORE response and java.io.IOException: Connection reset by peer..
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/config/HttpClientProperties.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-httpclient/src/main/java/org/apache/shenyu/springboot/starter/plugin/httpclient/HttpClientPluginConfiguration.java
Labels: type: bug

#2667 [type: bug] Exceeded limit on max bytes to buffer : 262144.
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/utils/ResponseUtils.java
  shenyu-plugin/shenyu-plugin-response/src/test/java/org/apache/shenyu/plugin/response/strategy/WebClientMessageWriterTest.java
Labels: type: bug

#2671 [type: refactor] optimize shenyu error result.
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/result/ShenyuResult.java
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/result/ShenyuResultWrap.java
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/utils/WebFluxResultUtils.java
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/utils/ShenyuResultWrapTest.java
  shenyu-plugin/shenyu-plugin-context-path/src/main/java/org/apache/shenyu/plugin/context/path/ContextPathPlugin.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/request/CryptorRequestPlugin.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/response/CryptorResponsePlugin.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/utils/CryptorUtil.java
  shenyu-plugin/shenyu-plugin-divide/src/main/java/org/apache/shenyu/plugin/divide/DividePlugin.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-alibaba-dubbo/src/test/java/org/apache/shenyu/plugin/alibaba/dubbo/AlibabaDubboPluginTest.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-dubbo-common/src/main/java/org/apache/shenyu/plugin/dubbo/common/AbstractDubboPlugin.java
  shenyu-plugin/shenyu-plugin-grpc/src/main/java/org/apache/shenyu/plugin/grpc/GrpcPlugin.java
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/NettyHttpClientPlugin.java
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/WebClientPlugin.java
  shenyu-plugin/shenyu-plugin-hystrix/src/main/java/org/apache/shenyu/plugin/hystrix/command/Command.java
  shenyu-plugin/shenyu-plugin-jwt/src/main/java/org/apache/shenyu/plugin/jwt/JwtPlugin.java
  shenyu-plugin/shenyu-plugin-motan/src/main/java/org/apache/shenyu/plugin/motan/MotanPlugin.java
  shenyu-plugin/shenyu-plugin-ratelimiter/src/main/java/org/apache/shenyu/plugin/ratelimiter/RateLimiterPlugin.java
  shenyu-plugin/shenyu-plugin-resilience4j/src/main/java/org/apache/shenyu/plugin/resilience4j/executor/Executor.java
  shenyu-plugin/shenyu-plugin-response/src/main/java/org/apache/shenyu/plugin/response/strategy/RPCMessageWriter.java
  shenyu-plugin/shenyu-plugin-response/src/main/java/org/apache/shenyu/plugin/response/strategy/WebClientMessageWriter.java
  shenyu-plugin/shenyu-plugin-sentinel/src/main/java/org/apache/shenyu/plugin/sentinel/fallback/SentinelFallbackHandler.java
  shenyu-plugin/shenyu-plugin-sign/src/main/java/org/apache/shenyu/plugin/sign/SignPlugin.java
  shenyu-plugin/shenyu-plugin-sofa/src/main/java/org/apache/shenyu/plugin/sofa/SofaPlugin.java
  shenyu-plugin/shenyu-plugin-springcloud/src/main/java/org/apache/shenyu/plugin/springcloud/SpringCloudPlugin.java
  shenyu-plugin/shenyu-plugin-tars/src/main/java/org/apache/shenyu/plugin/tars/TarsPlugin.java
  shenyu-plugin/shenyu-plugin-waf/src/main/java/org/apache/shenyu/plugin/waf/WafPlugin.java
  shenyu-plugin/shenyu-plugin-websocket/src/main/java/org/apache/shenyu/plugin/websocket/WebSocketPlugin.java
  shenyu-web/src/main/java/org/apache/shenyu/web/fallback/DefaultFallbackController.java
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/FileSizeFilter.java
  shenyu-web/src/main/java/org/apache/shenyu/web/handler/GlobalErrorHandler.java
Labels: type: refactor

#2672 [type: refactor] update docker-compose & install.sh
  shenyu-dist/shenyu-docker-compose-dist/src/main/resources/install.sh
  shenyu-dist/shenyu-docker-compose-dist/src/main/resources/stand-alone-mysql/docker-compose.yaml
  shenyu-dist/shenyu-docker-compose-dist/src/main/resources/stand-alone-pg/docker-compose.yaml
Labels: type: build

#2676 [type: refactor] remove extra dependency
  shenyu-web/pom.xml
Labels: type: refactor

#2675 add permission for admin
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/AppAuthController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/AppAuthServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/PermissionServiceImpl.java
Labels: admin, type: refactor, admin: permission

#2677 [type: refactor] add http client strategy property.
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/config/HttpClientProperties.java
Labels: type: refactor

#2668 [ISSUE #2420] Enhance apache shenyu unit test
  shenyu-sync-data-center/shenyu-sync-data-consul/src/test/java/org/apache/shenyu/sync/data/consul/config/ConsulConfigTest.java
  shenyu-sync-data-center/shenyu-sync-data-http/src/test/java/org/apache/shenyu/sync/data/http/config/HttpConfigTest.java
  shenyu-sync-data-center/shenyu-sync-data-nacos/src/test/java/org/apache/shenyu/sync/data/nacos/config/NacosACMConfigTest.java
  shenyu-sync-data-center/shenyu-sync-data-nacos/src/test/java/org/apache/shenyu/sync/data/nacos/config/NacosConfigTest.java
  shenyu-sync-data-center/shenyu-sync-data-websocket/src/test/java/org/apache/shenyu/plugin/sync/data/websocket/client/ShenyuWebsocketClientTest.java
  shenyu-sync-data-center/shenyu-sync-data-websocket/src/test/java/org/apache/shenyu/plugin/sync/data/websocket/config/WebsocketConfigTest.java
Labels: in: test

#2683 [ISSUE #2679]Add integration test for httpTestController
  shenyu-examples/shenyu-examples-http/src/main/java/org/apache/shenyu/examples/http/controller/HttpTestController.java
  shenyu-integrated-test/shenyu-integrated-test-common/src/main/java/org/apache/shenyu/integratedtest/common/dto/UserDTO.java
  shenyu-integrated-test/shenyu-integrated-test-common/src/main/java/org/apache/shenyu/integratedtest/common/helper/HttpHelper.java
  shenyu-integrated-test/shenyu-integrated-test-common/src/main/java/org/apache/shenyu/integratedtest/common/result/ResultBean.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/HttpTestControllerTest.java
Labels: integration-test

#2688 [type: bug] fix responseTimeout can not config in yaml.
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/config/HttpClientProperties.java
Labels: type: refactor

#2689 [ISSUE #2679] Add integration test for orderController
  shenyu-integrated-test/shenyu-integrated-test-common/src/main/java/org/apache/shenyu/integratedtest/common/dto/OAuth2DTO.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/OrderControllerTest.java
Labels: integration-test
