Repository apache/shenyu, pull requests merged in 2021-02, with the labels that each got.

#1078 To optimize the soul test class
  soul-common/src/test/java/org/dromara/soul/common/concurrent/SoulThreadFactoryTest.java
  soul-common/src/test/java/org/dromara/soul/common/constant/RedisKeyConstantsTest.java
  soul-common/src/test/java/org/dromara/soul/common/constant/ZkPathConstantsTest.java
  soul-common/src/test/java/org/dromara/soul/common/dto/convert/rule/RuleHandleFactoryTest.java
  soul-common/src/test/java/org/dromara/soul/common/enums/ConfigGroupEnumTest.java
  soul-common/src/test/java/org/dromara/soul/common/enums/DataEventTypeEnumTest.java
Labels: in: test

#1080 delete the RestController,just use Controller
  soul-client/soul-client-http/soul-client-springmvc/src/main/java/org/dromara/soul/client/springmvc/init/SpringMvcClientBeanPostProcessor.java
  soul-client/soul-client-http/soul-client-springmvc/src/test/java/org/dromara/soul/client/springmvc/init/SpringMvcClientBeanPostProcessorTest.java
Labels: client: spring-mvc

#1100 [#1071]Add test case for soul-admin
  soul-admin/src/test/java/org/dromara/soul/admin/controller/RoleControllerTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/mapper/RoleMapperTest.java
  soul-admin/src/test/java/org/dromara/soul/admin/service/RoleServiceTest.java
Labels: in: test

#1106 Bump guava version to fix dependencies conflict #1000
  pom.xml
  soul-client/soul-client-dubbo/soul-client-alibaba-dubbo/src/main/java/org/dromara/soul/client/alibaba/dubbo/AlibabaDubboServiceBeanPostProcessor.java
  soul-client/soul-client-dubbo/soul-client-apache-dubbo/src/main/java/org/dromara/soul/client/apache/dubbo/ApacheDubboServiceBeanPostProcessor.java
  soul-client/soul-client-sofa/src/main/java/org/dromara/soul/client/sofa/SofaServiceBeanPostProcessor.java
  soul-client/soul-client-tars/src/main/java/org/dromara/soul/client/tars/TarsServiceBeanPostProcessor.java
  soul-plugin/soul-plugin-ratelimiter/src/main/java/org/dromara/soul/plugin/ratelimiter/handler/SoulReactiveScriptExecutor.java
Labels: type: refactor
