Repository apache/shenyu, pull requests merged in 2021-06, with the labels that each got.

#1560 polish
  shenyu-admin/src/main/java/org/apache/shenyu/admin/aspect/DataPermissionAspect.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/aspect/annotation/DataPermission.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DataPermissionServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/RuleServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SelectorServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SyncDataServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/spring/LocalDataSourceLoader.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/config/DataSyncConfigurationTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/SyncDataServiceTest.java
  shenyu-web/src/main/java/org/apache/shenyu/web/configuration/ShenyuConfiguration.java
  shenyu-web/src/main/java/org/apache/shenyu/web/configuration/properties/ExcludePathProperties.java
  shenyu-web/src/main/java/org/apache/shenyu/web/configuration/properties/ShenyuConfig.java
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/ExcludeFilter.java
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/TimeWebFilter.java
  shenyu-web/src/test/java/org/apache/shenyu/web/filter/ExcludeFilterTest.java
Labels: admin: permission, soul-admin, type: refactor

#1557 Add test for WebsocketDataHandler
  shenyu-sync-data-center/shenyu-sync-data-websocket/src/test/java/org/apache/shenyu/plugin/sync/data/websocket/handler/WebsocketDataHandlerTest.java
Labels: in: test

#1571 Zookeeper synchronization remove java serialization #1563
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/zookeeper/ZookeeperDataChangedListener.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/listener/zookeeper/ZookeeperDataChangedListenerTest.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/AppAuthData.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/AuthParamData.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/AuthPathData.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/ConditionData.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/ConfigData.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/MetaData.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/PluginData.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/RuleData.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/SelectorData.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/WebsocketData.java
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/JsonUtils.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-consul/src/main/java/org/apache/shenyu/register/client/consul/ConsulClientRegisterRepository.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-etcd/src/main/java/org/apache/shenyu/register/client/etcd/EtcdClientRegisterRepository.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-etcd/src/test/java/org/apache/shenyu/register/client/etcd/EtcdClientRegisterRepositoryTest.java
  shenyu-register-center/shenyu-register-common/src/main/java/org/apache/shenyu/register/common/path/RegisterPathConstants.java
  shenyu-sync-data-center/shenyu-sync-data-zookeeper/src/main/java/org/apache/shenyu/sync/data/zookeeper/ZookeeperSyncDataService.java
  shenyu-sync-data-center/shenyu-sync-data-zookeeper/src/test/java/org/apache/shenyu/sync/data/zookeeper/ZookeeperSyncDataServiceTest.java
Labels: data-sync: zookeeper, type: refactor

#1583 Fix magic value and forgotten override.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/RoleController.java
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/GsonUtils.java
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/support/CachedBodyOutputMessage.java
Labels: type: refactor

#1588 add test for request plugin
  shenyu-plugin/shenyu-plugin-request/pom.xml
  shenyu-plugin/shenyu-plugin-request/src/test/java/org/apache/shenyu/plugin/request/RequestPluginTest.java
  shenyu-plugin/shenyu-plugin-request/src/test/java/org/apache/shenyu/plugin/request/handler/RequestPluginHandlerTest.java
Labels: in: test, plugin: request

#1575 add throwing wrap
  shenyu-common/src/main/java/org/apache/shenyu/common/enums/PluginEnum.java
  shenyu-plugin/shenyu-plugin-jwt/src/main/java/org/apache/shenyu/plugin/jwt/JwtPlugin.java
  shenyu-plugin/shenyu-plugin-jwt/src/main/java/org/apache/shenyu/plugin/jwt/exception/ThrowingFunction.java
Labels: type: refactor

#1585 [Test #1569] Add metrics reporter test for ut#1569
  shenyu-metrics/shenyu-metrics-spi/src/test/java/org/apache/shenyu/metrics/reporter/MetricsReporterTest.java
Labels: feature: metrics, in: test

#1616 [ISSUE #1615] modify shiro's white list to support swagger
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/properties/ShiroProperties.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/shiro/config/ShiroConfiguration.java
  shenyu-admin/src/main/resources/application.yml
Labels: admin, type: refactor

#1608 [ISSUE #1606] LocalDataSourceLoader custom read init_script path
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/properties/DataBaseProperties.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/spring/LocalDataSourceLoader.java
  shenyu-admin/src/main/resources/application.yml
Labels: admin, type: refactor

#1618 [ISSUE #1590] refactor response plugin
  shenyu-bootstrap/pom.xml
  shenyu-bootstrap/src/main/java/org/apache/shenyu/bootstrap/configuration/ShenyuNettyWebServerFactory.java
  shenyu-bootstrap/src/main/java/org/apache/shenyu/bootstrap/filter/HealthFilter.java
  shenyu-plugin/shenyu-plugin-response/src/main/java/org/apache/shenyu/plugin/response/ResponsePlugin.java
  shenyu-plugin/shenyu-plugin-response/src/main/java/org/apache/shenyu/plugin/response/config/HttpClientProperties.java
  shenyu-plugin/shenyu-plugin-response/src/main/java/org/apache/shenyu/plugin/response/strategy/MessageWriter.java
  shenyu-plugin/shenyu-plugin-response/src/main/java/org/apache/shenyu/plugin/response/strategy/NettyClientMessageWriter.java
  shenyu-plugin/shenyu-plugin-response/src/main/java/org/apache/shenyu/plugin/response/strategy/RPCMessageWriter.java
  shenyu-plugin/shenyu-plugin-response/src/main/java/org/apache/shenyu/plugin/response/strategy/ResponseHandler.java
  shenyu-plugin/shenyu-plugin-response/src/main/java/org/apache/shenyu/plugin/response/strategy/Strategy.java
  shenyu-plugin/shenyu-plugin-response/src/main/java/org/apache/shenyu/plugin/response/strategy/WebClientMessageWriter.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-gateway/pom.xml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-response/src/main/java/org/apache/shenyu/springboot/starter/plugin/response/ResponsePluginConfiguration.java
Labels: plugin: response, type: refactor

#1626 [ISSUE #1625] Move context-path plugin to shenyu starter gateway
  shenyu-bootstrap/pom.xml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-gateway/pom.xml
Labels: type: refactor

#1627 [BUILD] add asf.yaml
  .asf.yaml
Labels: type: build

#1631 [ISSUE #1630] Add batch size to notify client concurrently
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/properties/HttpSyncProperties.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/http/HttpLongPollingDataChangedListener.java
Labels: data-sync: http, type: refactor

#1634 [BUILD] update readme
  README.md
  README_CN.md
Labels: type: build

#1635 [BUILD] update readme
  README.md
  README_CN.md
Labels: type: build

#1644 [BUILD] add jwt plugin's init sql
  shenyu-admin/src/main/resources/META-INF/schema.h2.sql
  shenyu-admin/src/main/resources/META-INF/schema.sql
Labels: admin, type: build

#1645 Remove release-drafter workflow action
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/task.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/release-drafter-config.yml
  .github/workflows/release-drafter.yml
  README.md
  README_CN.md
  pom.xml
  shenyu-admin/pom.xml
Labels: type: build

#1664 [BUILD] refactor apache shenyu logo
  README.md
  README_CN.md
Labels: type: build

#1663 [ISSUE #1662] Fix check url return false
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/UpstreamCheckUtils.java
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/UpstreamCheckUtilsTest.java
Labels: type: refactor

#1668 fix param plugin sql for h2
  shenyu-admin/src/main/resources/META-INF/schema.h2.sql
Labels: admin

#1671 polish context plugin's skip function
  shenyu-plugin/shenyu-plugin-context-path/src/main/java/org/apache/shenyu/plugin/context/path/ContextPathPlugin.java
Labels: type: refactor

#1654 [ISSUE #1653] Refactor Code about client register.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/RegisterCenterConfiguration.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/disruptor/RegisterServerDisruptorPublisher.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/disruptor/subscriber/MetadataExecutorSubscriber.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/disruptor/subscriber/URIRegisterExecutorSubscriber.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/MetaDataService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/PluginService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/RuleService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/SelectorService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/ShenyuClientRegisterService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/MetaDataServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/PluginServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/RuleServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SelectorServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/ShenyuClientRegisterServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/AbstractShenyuClientRegisterServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterDefaultServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterDubboServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterGrpcServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterMotanServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterServiceFactory.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterSofaServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterSpringCloudServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterSpringMVCServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterTarsServiceImpl.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/ShenyuHttpRegistryControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/RuleServiceTest.java
  shenyu-bootstrap/pom.xml
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
Labels: client: register, type: refactor

#1675 [ISSUE #1674] Add test case for shenyu-plugin-response module
  shenyu-plugin/shenyu-plugin-response/src/test/java/org/apache/shenyu/plugin/response/ResponsePluginTest.java
  shenyu-plugin/shenyu-plugin-response/src/test/java/org/apache/shenyu/plugin/response/strategy/NettyClientMessageWriterTest.java
  shenyu-plugin/shenyu-plugin-response/src/test/java/org/apache/shenyu/plugin/response/strategy/RPCMessageWriterTest.java
  shenyu-plugin/shenyu-plugin-response/src/test/java/org/apache/shenyu/plugin/response/strategy/WebClientMessageWriterTest.java
Labels: in: test

#1683 code polish.
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/context/ShenyuContext.java
  shenyu-plugin/shenyu-plugin-context-path/src/test/java/org/apache/shenyu/plugin/context/path/ContextPathPluginTest.java
Labels: type: refactor

#1628 [ISSUE #1628] Feature Request shenyu-oauth2-plugin : Added OAuth2 plugin
  pom.xml
  shenyu-admin/src/main/resources/META-INF/schema.h2.sql
  shenyu-admin/src/main/resources/META-INF/schema.sql
  shenyu-bootstrap/pom.xml
  shenyu-bootstrap/src/main/resources/application-local.yml
  shenyu-common/src/main/java/org/apache/shenyu/common/enums/PluginEnum.java
  shenyu-examples/shenyu-examples-http/src/main/java/org/apache/shenyu/examples/http/controller/OrderController.java
  shenyu-examples/shenyu-examples-http/src/main/java/org/apache/shenyu/examples/http/dto/OAuth2DTO.java
  shenyu-plugin/pom.xml
  shenyu-plugin/shenyu-plugin-oauth2/pom.xml
  shenyu-plugin/shenyu-plugin-oauth2/src/main/java/org/apache/shenyu/plugin/oauth2/OAuth2Plugin.java
  shenyu-plugin/shenyu-plugin-oauth2/src/main/java/org/apache/shenyu/plugin/oauth2/filter/OAuth2PreFilter.java
  shenyu-plugin/shenyu-plugin-oauth2/src/test/java/org/apache/shenyu/plugin/oauth2/OAuth2PluginTest.java
  shenyu-plugin/shenyu-plugin-oauth2/src/test/java/org/apache/shenyu/plugin/oauth2/filter/OAuth2PreFilterTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/pom.xml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-oauth2/pom.xml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-oauth2/src/main/java/org/apache/shenyu/springboot/starter/plugin/oauth2/DefaultClientsConfiguredCondition.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-oauth2/src/main/java/org/apache/shenyu/springboot/starter/plugin/oauth2/OAuth2PluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-oauth2/src/main/resources/META-INF/spring.factories
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-oauth2/src/main/resources/META-INF/spring.provides
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-oauth2/src/test/java/org/apache/shenyu/springboot/starter/plugin/oauth2/OAuth2PluginConfigurationTest.java
Labels: plugin: oauth2

#1688 [ISSUS #1687] Complete selector type in OAuth2PreFilter
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/init/SpringMvcClientBeanPostProcessor.java
  shenyu-plugin/shenyu-plugin-oauth2/src/main/java/org/apache/shenyu/plugin/oauth2/filter/OAuth2PreFilter.java
Labels: plugin: oauth2, type: refactor

#1690 [Feature #1689] add execute multi-path sql script
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/properties/DataBaseProperties.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/spring/LocalDataSourceLoader.java
  shenyu-admin/src/main/resources/application.yml
Labels: type: refactor
