Repository apache/shenyu, pull requests merged in 2021-04, with the labels that each got.

#1213 fix issue1212
  soul-admin/src/main/java/org/dromara/soul/admin/listener/websocket/WebsocketCollector.java
  soul-admin/src/main/java/org/dromara/soul/admin/listener/websocket/WebsocketConfigurator.java
  soul-admin/src/main/java/org/dromara/soul/admin/listener/websocket/WebsocketListener.java
  soul-sync-data-center/soul-sync-data-websocket/src/main/java/org/dromara/soul/plugin/sync/data/websocket/WebsocketSyncDataService.java
Labels: data-sync: websocket

#1217 Add release drafter action and CHANGELOG.md
  .github/release-drafter-config.yml
  .github/workflows/release-drafter.yml
  CHANGELOG.md
Labels: type: build

#1236 UpStreamCheckUtils detection failing when upstream using hostname without port
  soul-common/src/main/java/org/dromara/soul/common/utils/UpstreamCheckUtils.java
  soul-common/src/test/java/org/dromara/soul/common/utils/UpstreamCheckUtilsTest.java
Labels: type: refactor

#1225 fix ReadTimeoutException: null
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-httpclient/src/main/java/org/dromara/soul/springboot/starter/plugin/httpclient/HttpClientPluginConfiguration.java
Labels: plugin: http-client, type: bug

#1265 minor refactoring
  soul-bootstrap/src/main/java/org/dromara/soul/bootstrap/SoulBootstrapApplication.java
  soul-bootstrap/src/main/java/org/dromara/soul/bootstrap/configuration/SoulNettyWebServerFactory.java
  soul-bootstrap/src/main/java/org/dromara/soul/bootstrap/filter/HealthFilter.java
  soul-common/src/main/java/org/dromara/soul/common/utils/SignUtils.java
  soul-plugin/soul-plugin-api/src/main/java/org/dromara/soul/plugin/api/utils/WebFluxResultUtils.java
Labels: type: refactor

#1270 add soul executor latency millis
  soul-common/src/main/java/org/dromara/soul/common/utils/DateUtils.java
  soul-plugin/soul-plugin-monitor/src/main/java/org/dromara/soul/plugin/monitor/MonitorPlugin.java
Labels: plugin: monitor

#1272 Fix ratelimiter
  soul-common/src/main/java/org/dromara/soul/common/dto/convert/RateLimiterHandle.java
  soul-plugin/soul-plugin-ratelimiter/src/main/java/org/dromara/soul/plugin/ratelimiter/executor/RedisRateLimiter.java
Labels: plugin: ratelimiter

#1274 fix and finish ConcurrentRateLimiterAlgorithm
  soul-plugin/soul-plugin-ratelimiter/src/main/java/org/dromara/soul/plugin/ratelimiter/RateLimiterPlugin.java
  soul-plugin/soul-plugin-ratelimiter/src/main/java/org/dromara/soul/plugin/ratelimiter/algorithm/ConcurrentRateLimiterAlgorithm.java
  soul-plugin/soul-plugin-ratelimiter/src/main/resources/META-INF/scripts/concurrent_request_rate_limiter.lua
  soul-plugin/soul-plugin-ratelimiter/src/test/java/org/dromara/soul/plugin/ratelimiter/executor/RedisRateLimiterScriptsTest.java
  soul-web/src/main/resources/META-INF/scripts/concurrent_request_rate_limiter.lua
  soul-web/src/main/resources/META-INF/scripts/request_rate_limiter.lua
Labels: plugin: ratelimiter, type: refactor

#1275 Refactor ratelimiter
  soul-plugin/soul-plugin-ratelimiter/src/main/java/org/dromara/soul/plugin/ratelimiter/RateLimiterPlugin.java
  soul-plugin/soul-plugin-ratelimiter/src/main/java/org/dromara/soul/plugin/ratelimiter/algorithm/ConcurrentRateLimiterAlgorithm.java
  soul-plugin/soul-plugin-ratelimiter/src/main/java/org/dromara/soul/plugin/ratelimiter/algorithm/RateLimiterAlgorithm.java
  soul-plugin/soul-plugin-ratelimiter/src/main/java/org/dromara/soul/plugin/ratelimiter/executor/RedisRateLimiter.java
  soul-plugin/soul-plugin-ratelimiter/src/main/resources/META-INF/scripts/request_rate_limiter.lua
  soul-web/src/main/resources/META-INF/soul/org.dromara.soul.web.balance.LoadBalance
  soul-web/src/main/resources/META-INF/soul/org.dromara.soul.web.condition.strategy.MatchStrategy
Labels: plugin: ratelimiter, type: refactor

#1284 Create ZookeeperServerRegisterRepositoryTest.java
  soul-register-center/soul-register-server/soul-register-server-zookeeper/src/test/java/org/dromara/soul/register/server/zookeeper/ZookeeperServerRegisterRepositoryTest.java
Labels: in: test

#1307 #1295, add SpEL for judge conditions
  soul-common/src/main/java/org/dromara/soul/common/enums/OperatorEnum.java
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/condition/judge/OperatorJudgeFactory.java
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/condition/judge/SpELJudge.java
  soul-plugin/soul-plugin-base/src/test/java/org/dromara/soul/plugin/base/condition/judge/OperatorJudgeFactoryTest.java
Labels: feature: plugin, type: new feature

#1322 #1295, add Groovy for judge conditions
  pom.xml
  soul-common/src/main/java/org/dromara/soul/common/enums/OperatorEnum.java
  soul-plugin/soul-plugin-base/pom.xml
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/condition/judge/GroovyJudge.java
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/condition/judge/OperatorJudgeFactory.java
  soul-plugin/soul-plugin-base/src/test/java/org/dromara/soul/plugin/base/condition/judge/OperatorJudgeFactoryTest.java
Labels: feature: plugin, type: new feature

#1329 Issues/1327
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/condition/judge/TimerBeforeOperatorJudge.java
  soul-plugin/soul-plugin-base/src/test/java/org/dromara/soul/plugin/base/condition/judge/OperatorJudgeFactoryTest.java
Labels: in: test

#1330 support motan
  pom.xml
  soul-admin/src/main/java/org/dromara/soul/admin/controller/SoulHttpRegistryController.java
  soul-admin/src/main/java/org/dromara/soul/admin/disruptor/subscriber/MetadataExecutorSubscriber.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/SoulClientRegisterService.java
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/SoulClientRegisterServiceImpl.java
  soul-admin/src/main/resources/META-INF/schema.h2.sql
  soul-admin/src/main/resources/META-INF/schema.sql
  soul-client/pom.xml
  soul-client/soul-client-motan/pom.xml
  soul-client/soul-client-motan/src/main/java/org/dromara/soul/client/motan/MotanServiceBeanPostProcessor.java
  soul-client/soul-client-motan/src/main/java/org/dromara/soul/client/motan/common/annotation/SoulMotanClient.java
  soul-client/soul-client-motan/src/main/java/org/dromara/soul/client/motan/common/dto/MotanRpcExt.java
  soul-common/src/main/java/org/dromara/soul/common/config/MotanRegisterConfig.java
  soul-common/src/main/java/org/dromara/soul/common/constant/Constants.java
  soul-common/src/main/java/org/dromara/soul/common/enums/PluginEnum.java
  soul-common/src/main/java/org/dromara/soul/common/enums/RpcTypeEnum.java
  soul-examples/soul-examples-motan/soul-examples-motan-service/pom.xml
  soul-examples/soul-examples-motan/soul-examples-motan-service/src/main/java/org/dromara/soul/examples/motan/service/TestMotanApplication.java
  soul-examples/soul-examples-motan/soul-examples-motan-service/src/main/java/org/dromara/soul/examples/motan/service/impl/MotanDemoServiceImpl.java
  soul-examples/soul-examples-motan/soul-examples-motan-service/src/main/resources/application.yml
  soul-plugin/pom.xml
  soul-plugin/soul-plugin-api/src/main/java/org/dromara/soul/plugin/api/result/SoulResultEnum.java
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/ParamTransformPlugin.java
  soul-plugin/soul-plugin-motan/pom.xml
  soul-plugin/soul-plugin-motan/src/main/java/org/dromara/soul/plugin/motan/MotanPlugin.java
  soul-plugin/soul-plugin-motan/src/main/java/org/dromara/soul/plugin/motan/cache/ApplicationConfigCache.java
  soul-plugin/soul-plugin-motan/src/main/java/org/dromara/soul/plugin/motan/context/MotanSoulContextDecorator.java
  soul-plugin/soul-plugin-motan/src/main/java/org/dromara/soul/plugin/motan/handler/MotanPluginDataHandler.java
  soul-plugin/soul-plugin-motan/src/main/java/org/dromara/soul/plugin/motan/proxy/MotanProxyService.java
  soul-plugin/soul-plugin-motan/src/main/java/org/dromara/soul/plugin/motan/response/MotanResponsePlugin.java
  soul-plugin/soul-plugin-motan/src/main/java/org/dromara/soul/plugin/motan/subscriber/MotanMetaDataSubscriber.java
  soul-plugin/soul-plugin-motan/src/main/java/org/dromara/soul/plugin/motan/util/PrxInfoUtil.java
  soul-register-center/soul-register-client/soul-register-client-http/src/main/java/org/dromara/soul/register/client/http/HttpClientRegisterRepository.java
  soul-register-center/soul-register-common/src/main/java/org/dromara/soul/register/common/enums/RegisterTypeEnum.java
  soul-spring-boot-starter/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-client/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-client/soul-spring-boot-starter-client-motan/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-client/soul-spring-boot-starter-client-motan/src/main/java/org/dromara/soul/springboot/starter/client/motan/SoulMotanClientConfiguration.java
  soul-spring-boot-starter/soul-spring-boot-starter-client/soul-spring-boot-starter-client-motan/src/main/resources/META-INF/spring.factories
  soul-spring-boot-starter/soul-spring-boot-starter-client/soul-spring-boot-starter-client-motan/src/main/resources/META-INF/spring.provides
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-motan/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-motan/src/main/java/org/dromara/soul/spring/boot/starter/plugin/motan/MotanPluginConfiguration.java
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-motan/src/main/resources/META-INF/spring.factories
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-motan/src/main/resources/META-INF/spring.provides
Labels: plugin: motan

#1331 #1295, change to standard Groovy expression and support GString
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/condition/judge/GroovyJudge.java
  soul-plugin/soul-plugin-base/src/test/java/org/dromara/soul/plugin/base/condition/judge/OperatorJudgeFactoryTest.java
Labels: feature: plugin, type: new feature

#1339 #1309, rename like operator to contains
  soul-common/src/main/java/org/dromara/soul/common/enums/OperatorEnum.java
  soul-common/src/test/java/org/dromara/soul/common/enums/OperatorEnumTest.java
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/condition/judge/ContainsOperatorJudge.java
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/condition/judge/OperatorJudgeFactory.java
  soul-plugin/soul-plugin-base/src/test/java/org/dromara/soul/plugin/base/condition/judge/OperatorJudgeFactoryTest.java
Labels: feature: plugin, type: refactor

#1337 Add test TimerAfterOperatorJudge in OperatorJudgeFactoryTest
  soul-plugin/soul-plugin-base/src/test/java/org/dromara/soul/plugin/base/condition/judge/OperatorJudgeFactoryTest.java
Labels: in: test

#1340 #1309, rename regEx to regex
  soul-common/src/main/java/org/dromara/soul/common/enums/OperatorEnum.java
  soul-common/src/test/java/org/dromara/soul/common/enums/OperatorEnumTest.java
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/condition/judge/OperatorJudgeFactory.java
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/condition/judge/RegexOperatorJudge.java
Labels: feature: plugin, type: refactor

#1344 #1343, replace the term Operator by Predicate in soul-plugin-base module
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/condition/judge/ContainsPredicateJudge.java
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/condition/judge/EqualsPredicateJudge.java
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/condition/judge/GroovyPredicateJudge.java
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/condition/judge/MatchPredicateJudge.java
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/condition/judge/PredicateJudge.java
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/condition/judge/PredicateJudgeFactory.java
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/condition/judge/RegexPredicateJudge.java
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/condition/judge/SpELPredicateJudge.java
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/condition/judge/TimerAfterPredicateJudge.java
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/condition/judge/TimerBeforePredicateJudge.java
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/condition/strategy/AndMatchStrategy.java
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/condition/strategy/OrMatchStrategy.java
  soul-plugin/soul-plugin-base/src/test/java/org/dromara/soul/plugin/base/condition/judge/PredicateJudgeFactoryTest.java
Labels: feature: plugin, type: refactor

#1351 add nacos authentication parameters
  soul-register-center/soul-register-client/soul-register-client-nacos/src/main/java/org/dromara/soul/register/client/nacos/NacosClientRegisterRepository.java
Labels: client: reigster-nacos

#1353 Add cookie Condiition
  soul-common/src/main/java/org/dromara/soul/common/enums/ParamTypeEnum.java
  soul-plugin/soul-plugin-base/src/main/java/org/dromara/soul/plugin/base/condition/strategy/AbstractMatchStrategy.java
Labels: type: refactor

#1358 fix: the cached AppAuthData don't contain path and param info (#1357)
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/AppAuthServiceImpl.java
  soul-sync-data-center/soul-sync-data-websocket/src/main/java/org/dromara/soul/plugin/sync/data/websocket/WebsocketSyncDataService.java
Labels: type: refactor

#1362 refactor Context path plugin
  soul-admin/src/main/resources/META-INF/schema.h2.sql
  soul-admin/src/main/resources/META-INF/schema.sql
  soul-common/src/main/java/org/dromara/soul/common/dto/convert/rule/impl/ContextMappingHandle.java
  soul-plugin/soul-plugin-context-path/src/main/java/org/dromara/soul/plugin/contextpath/ContextPathMappingPlugin.java
  soul-plugin/soul-plugin-context-path/src/main/java/org/dromara/soul/plugin/contextpath/handler/ContextPathMappingPluginDataHandler.java
Labels: plugin: context-mapping, type: refactor

#1360 debug plugin, print request and response info
  soul-admin/src/main/resources/META-INF/schema.h2.sql
  soul-admin/src/main/resources/META-INF/schema.sql
  soul-bootstrap/pom.xml
  soul-common/src/main/java/org/dromara/soul/common/enums/PluginEnum.java
  soul-plugin/pom.xml
  soul-plugin/soul-plugin-logging/pom.xml
  soul-plugin/soul-plugin-logging/src/main/java/org/dromara/soul/plugin/logging/LoggingPlugin.java
  soul-plugin/soul-plugin-logging/src/test/java/org/dromara/soul/plugin/logging/LoggingPluginTest.java
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-logging/pom.xml
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-logging/src/main/java/org/dromara/soul/springboot/starter/plugin/logging/LoggingPluginConfiguration.java
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-logging/src/main/resources/META-INF/spring.factories
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-logging/src/main/resources/META-INF/spring.provides
  soul-spring-boot-starter/soul-spring-boot-starter-plugin/soul-spring-boot-starter-plugin-logging/src/test/java/org/dromara/soul/springboot/starter/plugin/logging/LoggingPluginConfigurationTest.java
Labels: feature: plugin

#1364 Add Header-Max-Size and Request_Max_Size to divide plugin.
  soul-admin/src/main/resources/META-INF/schema.h2.sql
  soul-admin/src/main/resources/META-INF/schema.sql
  soul-common/src/main/java/org/dromara/soul/common/constant/Constants.java
  soul-common/src/main/java/org/dromara/soul/common/dto/convert/rule/impl/DivideRuleHandle.java
  soul-plugin/soul-plugin-api/src/main/java/org/dromara/soul/plugin/api/result/SoulResultEnum.java
  soul-plugin/soul-plugin-divide/src/main/java/org/dromara/soul/plugin/divide/DividePlugin.java
Labels: plugin: divide

#1352 add create-pr-4-dashboard.yml
  .github/workflows/create-pr-4-dashboard.yml
Labels: type: build

#1368 fix issue 1363
  soul-admin/src/main/java/org/dromara/soul/admin/service/impl/MetaDataServiceImpl.java
Labels: soul-admin, type: refactor
