Repository apache/shenyu, pull requests merged in 2022-04, with the labels that each got.

#3162 [fix: bug] fix RedisCache bug
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-redis/src/main/java/org/apache/shenyu/plugin/cache/redis/RedisCache.java
Labels: type: refactor, plugin: cache

#3164 [type: refactor] optimize cache-plugin config logic.
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-handler/src/main/java/org/apache/shenyu/plugin/cache/config/CacheConfig.java
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-handler/src/main/java/org/apache/shenyu/plugin/cache/handler/CachePluginDataHandler.java
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-handler/src/main/java/org/apache/shenyu/plugin/cache/utils/CacheUtils.java
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-redis/src/main/java/org/apache/shenyu/plugin/cache/redis/RedisCache.java
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-spi/src/main/java/org/apache/shenyu/plugin/cache/ICache.java
Labels: type: refactor, plugin: cache

#3174 [ISSUE #3168] SQL Upgrade add id
  script/2.4.1-upgrade-2.4.2-mysql.sql
  script/2.4.1-upgrade-2.4.2-pg.sql
  script/2.4.2-upgrade-2.4.3-mysql.sql
  script/2.4.2-upgrade-2.4.3-pg.sql
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/main/resources/sql-script/mysql/schema.sql
Labels: admin

#3182 fix sql
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
Labels: admin, type: refactor

#3178 [ISSUE #3175] admin interface permission
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/DashboardUserController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/MetaDataController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/PluginController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/PluginHandleController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ResourceController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/RoleController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ShenyuDictController.java
Labels: admin: permission

#3181 [ISSUE #3179] resource add button gives an error
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ResourceController.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/ResourceControllerTest.java
Labels: admin

#3183 [type: refactor] Add jvm_enabled prop in config yaml of metrics plugin
  shenyu-bootstrap/src/main/resources/application.yml
Labels: plugin: metrics

#3184 [ISSUE #3180] Remove default datetime of the h2、mysql、pg.
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/main/resources/sql-script/mysql/schema.sql
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
Labels: admin, type: refactor

#3190 docs: fix dead link in pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: type: community

#3188 fix stop.sh execute failed in macos (#3187)
  shenyu-dist/shenyu-admin-dist/src/main/resources/bin/stop.sh
  shenyu-dist/shenyu-bootstrap-dist/src/main/resources/bin/stop.sh
Labels: type: bug, type: build

#3191 [type: test]: Add unit test for package ：plugin-logging-rocketmq-utils
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/test/java/org/apache/shenyu/plugin/logging/utils/LogCollectConfigUtilsTest.java
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/test/java/org/apache/shenyu/plugin/logging/utils/LogCollectUtilsTest.java
Labels: in: test

#3192 [type:refactor #3088] Format meta-data-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/meta-data-sqlmap.xml
Labels: admin, type: refactor

#3189 docs: add a section 'discussion and support'
  README.md
  README_CN.md
Labels: type: build

#3205 [type: build] update README.md
  README.md
  README_CN.md
Labels: in: document, type: build

#3206 docs: fix typo
  README.md
Labels: type: build

#3207 [type: refactor] Optimize how to build rpcType
  shenyu-plugin/shenyu-plugin-global/src/main/java/org/apache/shenyu/plugin/global/DefaultShenyuContextBuilder.java
Labels: type: refactor

#3220 [type: refactor]delete ShenyuContextDecorator duplicate code
  shenyu-plugin/shenyu-plugin-grpc/src/main/java/org/apache/shenyu/plugin/grpc/context/GrpcShenyuContextDecorator.java
  shenyu-plugin/shenyu-plugin-motan/src/main/java/org/apache/shenyu/plugin/motan/context/MotanShenyuContextDecorator.java
  shenyu-plugin/shenyu-plugin-sofa/src/main/java/org/apache/shenyu/plugin/sofa/context/SofaShenyuContextDecorator.java
  shenyu-plugin/shenyu-plugin-tars/src/main/java/org/apache/shenyu/plugin/tars/context/TarsShenyuContextDecorator.java
Labels: type: refactor

#3214 [type: refactor] optimize request query codec.
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/utils/RequestQueryCodecUtil.java
Labels: type: refactor

#3212 [ISSUE #2969] fix isFull not working in springcloud and http application
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/AbstractContextPathRegisterService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/AbstractShenyuClientRegisterServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterSpringCloudServiceImpl.java
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/main/java/org/apache/shenyu/client/springcloud/init/ContextRegisterListener.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/init/ContextRegisterListener.java
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/PathUtils.java
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/PathUtilsTest.java
Labels: type: refactor

#3193 [ISSUE #3158] support big request body and formdata
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/RpcParamTransformPlugin.java
Labels: type: refactor

#3208 [refactor ]fix swagger version, and use VersionUtils to replace and simplify it
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/SwaggerConfiguration.java
Labels: type: refactor

#3213 [type: refactor] optimize admin permission.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/PluginController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ShenyuDictController.java
Labels: type: refactor, admin: permission

#3237 [BUG #3235]request plugin uri encode
  shenyu-plugin/shenyu-plugin-request/src/main/java/org/apache/shenyu/plugin/request/RequestPlugin.java
Labels: type: bug

#3236 [type: refactor] refactor shenyu-admin: format SQL to improve code readability.
  shenyu-admin/src/main/resources/mappers/auth-param-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/auth-path-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/dashboard-user-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/data-permission-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/meta-data-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/permission-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/plugin-handle-sqlmap.xml
Labels: admin, type: refactor

#3240 [type: refactor] Optimize admin upstream check
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/UpstreamCheckService.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/UpstreamCheckServiceTest.java
Labels: type: refactor

#3238 [type: refactor]code polish.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/MetaDataService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/MetaDataServiceImpl.java
Labels: admin, type: refactor

#3230 [type:bug]Sync data error when disable metaData.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/MetaDataMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/MetaDataServiceImpl.java
  shenyu-admin/src/main/resources/mappers/meta-data-sqlmap.xml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/MetaDataMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/MetaDataServiceTest.java
Labels: admin, data-sync: nacos, data-sync: http, data-sync: websocket, data-sync: zookeeper, data-sync: etcd, data-sync: consul

#3225 [ISSUE #3224] reuse HttpClient if available
  shenyu-plugin/shenyu-plugin-websocket/pom.xml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-websocket/src/main/java/org/apache/shenyu/springboot/plugin/websocket/WebSocketPluginConfiguration.java
Labels: type: refactor

#3216 With nacos, a service can register multiple types of RPC clients
  shenyu-register-center/shenyu-register-client/shenyu-register-client-nacos/src/main/java/org/apache/shenyu/register/client/nacos/NacosClientRegisterRepository.java
Labels: type: refactor, client: reigster-nacos

#3227 [ISSUE #3209]Swagger add header parameter X-Access-Token.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/SwaggerConfiguration.java
Labels: admin, type: refactor

#3211 [type: refactor] Refactor docker-compose yaml and install script
  shenyu-dist/shenyu-docker-compose-dist/README.md
  shenyu-dist/shenyu-docker-compose-dist/src/main/resources/docker-compose.yaml
  shenyu-dist/shenyu-docker-compose-dist/src/main/resources/install.sh
  shenyu-dist/shenyu-docker-compose-dist/src/main/resources/stand-alone-mysql/docker-compose.yaml
  shenyu-dist/shenyu-docker-compose-dist/src/main/resources/stand-alone-pg/docker-compose.yaml
Labels: buid

#3152 [Type:fature] add new pagination scheme
  shenyu-admin/src/http/http-debug-app-auth-controller-api.http
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/AppAuthController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/PagedController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/AppAuthMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/page/PageCondition.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/result/AdminResult.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/result/ShenyuAdminResult.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/AppAuthService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/PageService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/AppAuthServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/ResultUtil.java
  shenyu-admin/src/main/resources/mappers/app-auth-sqlmap.xml
Labels: admin, type: refactor

#3222 [ISSUE #3221]plugin snapshot api
  shenyu-admin/src/http/http-debug-plugin-controller-api.http
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/PluginController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/PluginMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/vo/PluginSnapshotVO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/PluginService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/SyncDataService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/PluginServiceImpl.java
  shenyu-admin/src/main/resources/mappers/plugin-sqlmap.xml
Labels: admin

#3245 [ISSUE #3177] match once and only once
  shenyu-common/src/main/java/org/apache/shenyu/common/cache/MemorySafeLRUMap.java
  shenyu-common/src/test/java/org/apache/shenyu/common/cache/MemorySafeLRUMapTest.java
  shenyu-plugin/shenyu-plugin-global/src/main/java/org/apache/shenyu/plugin/global/cache/MetaDataCache.java
Labels: type: refactor

#3172 [ISSUE #3171] change threadPool to CachedThreadPool from ForkJoinPool
  script/2.4.2-upgrade-2.4.3-mysql.sql
  script/2.4.2-upgrade-2.4.3-pg.sql
  script/2.4.3-upgrade-2.5.0-mysql.sql
  script/2.4.3-upgrade-2.5.0-pg.sql
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/main/resources/sql-script/mysql/schema.sql
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/plugin/MotanRegisterConfig.java
  shenyu-plugin/shenyu-plugin-motan/src/main/java/org/apache/shenyu/plugin/motan/proxy/MotanProxyService.java
Labels: type: new feature

#3252 [type: refactor] Docker-compose install script supports default version as latest
  shenyu-dist/shenyu-docker-compose-dist/src/main/resources/install.sh
Labels: type: build

#3256 [type: test]:Increase the test coverage of package: plugin logging rocketmq to more than 80%
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/test/java/org/apache/shenyu/plugin/logging/DefaultLogCollectorTest.java
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/test/java/org/apache/shenyu/plugin/logging/body/BodyWriterTest.java
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/test/java/org/apache/shenyu/plugin/logging/body/LoggingServerHttpResponseTest.java
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/test/java/org/apache/shenyu/plugin/logging/config/LogCollectConfigTest.java
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/test/java/org/apache/shenyu/plugin/logging/entity/LZ4CompressDataTest.java
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/test/java/org/apache/shenyu/plugin/logging/entity/ShenyuRequestLogTest.java
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/test/java/org/apache/shenyu/plugin/logging/handler/LoggingRocketMQPluginDataHandlerTest.java
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/test/java/org/apache/shenyu/plugin/logging/rocketmq/RocketMQLogCollectClientTest.java
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/test/java/org/apache/shenyu/plugin/logging/sampler/CountSamplerTest.java
Labels: in: test

#3253 [ISSUE #3026] [type:new feature] part4 MotanPlugin support using shared pool
  script/2.4.3-upgrade-2.5.0-mysql.sql
  script/2.4.3-upgrade-2.5.0-pg.sql
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/main/resources/sql-script/mysql/schema.sql
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/plugin/MotanRegisterConfig.java
  shenyu-plugin/shenyu-plugin-grpc/src/main/java/org/apache/shenyu/plugin/grpc/client/GrpcClientBuilder.java
  shenyu-plugin/shenyu-plugin-motan/src/main/java/org/apache/shenyu/plugin/motan/proxy/MotanProxyService.java
Labels: type: refactor, plugin: motan

#3259 [ISSUE #3258]add plugin page list api
  shenyu-admin/src/http/http-debug-plugin-controller-api.http
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/PluginController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/PluginMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/page/condition/BaseExcludedSearchCondition.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/page/condition/SearchCondition.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/page/condition/SwitchCondition.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/query/PluginQueryCondition.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/PluginService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/PluginServiceImpl.java
  shenyu-admin/src/main/resources/mappers/plugin-sqlmap.xml
Labels: admin

#3074 Features: new shenyu-proxy, partial implementation of the network layer.
  pom.xml
  shenyu-loadbalancer/src/test/java/org/apache/shenyu/loadbalancer/cache/UpstreamCheckTaskTest.java
  shenyu-proxy/pom.xml
  shenyu-proxy/proxy-remote/pom.xml
  shenyu-proxy/proxy-remote/src/main/java/org/apache/shenyu/proxy/remote/AbstractServer.java
  shenyu-proxy/proxy-remote/src/main/java/org/apache/shenyu/proxy/remote/Channel.java
  shenyu-proxy/proxy-remote/src/main/java/org/apache/shenyu/proxy/remote/ChannelFuture.java
  shenyu-proxy/proxy-remote/src/main/java/org/apache/shenyu/proxy/remote/ChannelHandler.java
  shenyu-proxy/proxy-remote/src/main/java/org/apache/shenyu/proxy/remote/Server.java
  shenyu-proxy/proxy-remote/src/main/java/org/apache/shenyu/proxy/remote/ServerConfig.java
  shenyu-proxy/proxy-remote/src/main/java/org/apache/shenyu/proxy/remote/netty/NettyChannel.java
  shenyu-proxy/proxy-remote/src/main/java/org/apache/shenyu/proxy/remote/netty/NettyChannelFuture.java
  shenyu-proxy/proxy-remote/src/main/java/org/apache/shenyu/proxy/remote/netty/NettyServer.java
  shenyu-proxy/proxy-remote/src/main/java/org/apache/shenyu/proxy/remote/netty/NettyServerHandler.java
  shenyu-proxy/proxy-remote/src/test/java/org/apache/shenyu/proxy/remote/NettyServerTest.java
Labels: type: new feature, cluster: proxy

#3264 [type: refactor] refactor httpclient plugin.
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/AbstractHttpClientPlugin.java
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/NettyHttpClientPlugin.java
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/WebClientPlugin.java
Labels: type: refactor, plugin: http-client

#3265 upgrade apache dubbo due to security issues
  pom.xml
  shenyu-bootstrap/pom.xml
  shenyu-client/shenyu-client-dubbo/shenyu-client-apache-dubbo/pom.xml
  shenyu-client/shenyu-client-dubbo/shenyu-client-apache-dubbo/src/main/java/org/apache/shenyu/client/apache/dubbo/ApacheDubboServiceBeanListener.java
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-annotation/pom.xml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-xml/pom.xml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service/pom.xml
  shenyu-integrated-test/pom.xml
Labels: client: dubbo, type: refactor, plugin: apache-dubbo

#3268 upgrade zookeeper jar in examples to match secure version in main pom
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-alibaba-dubbo-service-annotation/pom.xml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-alibaba-dubbo-service/pom.xml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-annotation/pom.xml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-xml/pom.xml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service/pom.xml
Labels: in: example

#3269 upgrade commons-io due to cve
  pom.xml
  shenyu-plugin/shenyu-plugin-cryptor/pom.xml
Labels: type: security

#3277 [type:Fixbug]springmvc example register error
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/AuthPathWarpDTO.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/AppAuthControllerTest.java
  shenyu-examples/shenyu-examples-springmvc/src/main/resources/context/shenyu.xml
Labels: in: example

#3281 [type: test]:Fix the error about collect method in AbstractLogCollector
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/test/java/org/apache/shenyu/plugin/logging/DefaultLogCollectorTest.java
Labels: type: refactor, in: test

#3282 [type: test]:fixes #3270 Increase the test coverage of package: plugin-websocket to 80%
  shenyu-plugin/shenyu-plugin-websocket/src/test/java/org/apache/shenyu/plugin/websocket/WebSocketPluginTest.java
  shenyu-plugin/shenyu-plugin-websocket/src/test/java/org/apache/shenyu/plugin/websocket/context/WebSocketShenyuContextDecoratorTest.java
  shenyu-plugin/shenyu-plugin-websocket/src/test/java/org/apache/shenyu/plugin/websocket/handler/WebSocketPluginDataHandlerTest.java
Labels: in: test

#3273 [ISSUE #3255] optimize the performance of AbstractShenyuPlugin#filterSelector
  script/2.4.3-upgrade-2.5.0-mysql.sql
  script/2.4.3-upgrade-2.5.0-pg.sql
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SelectorServiceImpl.java
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/main/resources/sql-script/mysql/schema.sql
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
  shenyu-common/src/main/java/org/apache/shenyu/common/enums/OperatorEnum.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/condition/judge/EndsWithPredicateJudge.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/condition/judge/StartsWithPredicateJudge.java
  shenyu-plugin/shenyu-plugin-base/src/main/resources/META-INF/shenyu/org.apache.shenyu.plugin.base.condition.judge.PredicateJudge
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/condition/judge/PredicateJudgeFactoryTest.java
Labels: type: new feature

#3279 [tpye:refactor]code polish in PluginService
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/PluginMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/PluginService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/PluginServiceImpl.java
  shenyu-admin/src/main/resources/mappers/plugin-sqlmap.xml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/PluginMapperTest.java
Labels: admin

#3288 [type: test]:fixes #3283 Increase the test coverage of package: plugin-springcloud to more than 80%
  shenyu-plugin/shenyu-plugin-springcloud/src/test/java/org/apache/shenyu/plugin/springcloud/SpringCloudPluginTest.java
  shenyu-plugin/shenyu-plugin-springcloud/src/test/java/org/apache/shenyu/plugin/springcloud/context/SpringCloudShenyuContextDecoratorTest.java
  shenyu-plugin/shenyu-plugin-springcloud/src/test/java/org/apache/shenyu/plugin/springcloud/handler/SpringCloudPluginDataHandlerTest.java
  shenyu-plugin/shenyu-plugin-springcloud/src/test/java/org/apache/shenyu/plugin/springcloud/loadbalance/LoadBalanceKeyHolderTest.java
  shenyu-plugin/shenyu-plugin-springcloud/src/test/java/org/apache/shenyu/plugin/springcloud/loadbalance/LoadBalanceKeyTest.java
  shenyu-plugin/shenyu-plugin-springcloud/src/test/java/org/apache/shenyu/plugin/springcloud/loadbalance/LoadBalanceRuleTest.java
Labels: in: test

#3289 [type: remove]remove proxy module
  pom.xml
  shenyu-proxy/pom.xml
  shenyu-proxy/shenyu-proxy-remote/pom.xml
  shenyu-proxy/shenyu-proxy-remote/src/main/java/org/apache/shenyu/proxy/remote/AbstractServer.java
  shenyu-proxy/shenyu-proxy-remote/src/main/java/org/apache/shenyu/proxy/remote/Channel.java
  shenyu-proxy/shenyu-proxy-remote/src/main/java/org/apache/shenyu/proxy/remote/ChannelFuture.java
  shenyu-proxy/shenyu-proxy-remote/src/main/java/org/apache/shenyu/proxy/remote/ChannelHandler.java
  shenyu-proxy/shenyu-proxy-remote/src/main/java/org/apache/shenyu/proxy/remote/Server.java
  shenyu-proxy/shenyu-proxy-remote/src/main/java/org/apache/shenyu/proxy/remote/ServerConfig.java
  shenyu-proxy/shenyu-proxy-remote/src/main/java/org/apache/shenyu/proxy/remote/netty/NettyChannel.java
  shenyu-proxy/shenyu-proxy-remote/src/main/java/org/apache/shenyu/proxy/remote/netty/NettyChannelFuture.java
  shenyu-proxy/shenyu-proxy-remote/src/main/java/org/apache/shenyu/proxy/remote/netty/NettyServer.java
  shenyu-proxy/shenyu-proxy-remote/src/main/java/org/apache/shenyu/proxy/remote/netty/NettyServerHandler.java
  shenyu-proxy/shenyu-proxy-remote/src/test/java/org/apache/shenyu/proxy/remote/NettyServerTest.java
Labels: type: refactor

#3287 [ISSUE #3258]rule and selector page list api
  shenyu-admin/src/http/http-debug-rule-controller-api.http
  shenyu-admin/src/http/http-debug-selector-controller-api.http
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/RuleController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/SelectorController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/RuleMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/SelectorMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/query/RuleQueryCondition.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/query/SelectorQueryCondition.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/RuleService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/SelectorService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/RuleServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SelectorServiceImpl.java
  shenyu-admin/src/main/resources/mappers/rule-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/selector-sqlmap.xml
Labels: admin, type: refactor

#3291 [type:refactor] optimize response cors headers.
  shenyu-plugin/shenyu-plugin-response/src/main/java/org/apache/shenyu/plugin/response/strategy/WebClientMessageWriter.java
Labels: type: refactor

#3295 [type:refactor] optimize response cros header filter logic.
  shenyu-plugin/shenyu-plugin-response/src/main/java/org/apache/shenyu/plugin/response/strategy/WebClientMessageWriter.java
Labels: type: refactor

#3297 First take the modulo and then convert to int
  shenyu-common/src/main/java/org/apache/shenyu/common/timer/TimingWheel.java
Labels: type: refactor

#3298 [type: refactor] refactor shenyu web filter
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-common/src/main/java/org/apache/shenyu/common/config/ShenyuConfig.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-gateway/src/main/java/org/apache/shenyu/springboot/starter/gateway/ShenyuConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-gateway/src/test/java/org/apache/shenyu/springboot/starter/gateway/ShenyuConfigurationTest.java
  shenyu-web/pom.xml
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/ExcludeFilter.java
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/FallbackFilter.java
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/HealthFilter.java
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/LocalDispatcherFilter.java
  shenyu-web/src/test/java/org/apache/shenyu/web/filter/FallbackFilterTest.java
Labels: type: bug, type: refactor

#3305 [type: test]: fixes #3292 Increase the test coverage of package: plugin-rewrite to more than 80%
  shenyu-plugin/shenyu-plugin-rewrite/src/test/java/org/apache/shenyu/plugin/rewrite/RewritePluginTest.java
  shenyu-plugin/shenyu-plugin-rewrite/src/test/java/org/apache/shenyu/plugin/rewrite/handler/RewritePluginDataHandlerTest.java
Labels: in: test

#3300 [ISSUE #3251]Swagger request param currentPage locates in body for get request.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/AppAuthController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/DashboardUserController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/MetaDataController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/PluginHandleController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ResourceController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/RoleController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/RuleController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/SelectorController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ShenyuDictController.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/DashboardUserControllerTest.java
Labels: admin, type: refactor

#3306 [type: refactor] refactor shenyu http client
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-httpclient/src/main/java/org/apache/shenyu/springboot/starter/plugin/httpclient/HttpClientPluginConfiguration.java
Labels: type: refactor, plugin: http-client

#3315 [ISSUE #3303] [type: refactor] refactor shared thread pool
  shenyu-common/src/main/java/org/apache/shenyu/common/concurrent/EagerExecutorService.java
  shenyu-common/src/main/java/org/apache/shenyu/common/concurrent/MemoryLimitedTaskQueue.java
  shenyu-common/src/main/java/org/apache/shenyu/common/concurrent/ShenyuThreadPoolExecutor.java
  shenyu-common/src/main/java/org/apache/shenyu/common/concurrent/TaskQueue.java
  shenyu-web/src/main/java/org/apache/shenyu/web/configuration/ShenyuThreadPoolConfiguration.java
Labels: type: refactor

#3316 [type:refactor] optimize the performance of MemoryLimitCalculator#maxAvailable
  shenyu-common/src/main/java/org/apache/shenyu/common/concurrent/MemoryLimitCalculator.java
Labels: type: refactor

#3314 [ISSUE #3284] correct fix #3063
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-httpclient/src/main/java/org/apache/shenyu/springboot/starter/plugin/httpclient/HttpClientPluginConfiguration.java
Labels: type: refactor

#3322 [type: refactor] refactor shenyu filter logic and method name
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/AbstractWebFilter.java
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/ExcludeFilter.java
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/FallbackFilter.java
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/HealthFilter.java
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/LocalDispatcherFilter.java
Labels: type: refactor

#3323 [ISSUE #3303] [type:refactor] add MemorySafeTaskQueue
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-common/src/main/java/org/apache/shenyu/common/concurrent/MemorySafeLinkedBlockingQueue.java
  shenyu-common/src/main/java/org/apache/shenyu/common/concurrent/MemorySafeTaskQueue.java
  shenyu-common/src/main/java/org/apache/shenyu/common/config/ShenyuConfig.java
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
  shenyu-common/src/test/java/org/apache/shenyu/common/concurrent/MemorySafeLinkedBlockingQueueTest.java
  shenyu-plugin/shenyu-plugin-global/src/main/java/org/apache/shenyu/plugin/global/cache/MetaDataCache.java
  shenyu-web/src/main/java/org/apache/shenyu/web/configuration/ShenyuThreadPoolConfiguration.java
Labels: type: new feature

#3313 [ISSUE #3275] Add unit tests for org.apache.shenyu.common.config
  shenyu-common/src/test/java/org/apache/shenyu/common/config/ShenyuConfigTest.java
Labels: in: test

#3320 [ISSUE #3299] Commit LocalDispatcherFilter test case
  shenyu-web/src/test/java/org/apache/shenyu/web/filter/LocalDispatcherFilterTest.java
Labels: in: test

#3308 [ISSUE #3299] Add unit tests for org.apache.shenyu.web.filter.HealthF…
  shenyu-web/src/test/java/org/apache/shenyu/web/filter/HealthFilterTest.java
Labels: in: test

#3326 [type:refactor]Code polish in DashboardUserService
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/DashboardUserMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/DataPermissionMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/UserRoleMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DashboardUserServiceImpl.java
  shenyu-admin/src/main/resources/mappers/dashboard-user-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/data-permission-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/user-role-sqlmap.xml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/DashboardUserServiceTest.java
Labels: admin, type: refactor

#3329 [ISSUE #3325] To optimize the shenyu webfilter unit test.
  shenyu-web/src/test/java/org/apache/shenyu/web/filter/ExcludeFilterTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/filter/FallbackFilterTest.java
Labels: type: refactor, in: test

#3304 [ISSUE #1536] ShenYu-admin Support oracle database
  shenyu-admin/pom.xml
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/MapperConfig.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mybatis/oracle/OracleSQLPrepareInterceptor.java
  shenyu-admin/src/main/resources/application-oracle.yml
  shenyu-admin/src/main/resources/sql-script/oracle/schema.sql
Labels: admin, type: new feature

#3324 [type: refactor] refactor shenyu divide plugin
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/rule/impl/DivideRuleHandle.java
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/result/ShenyuResultWrap.java
  shenyu-plugin/shenyu-plugin-divide/src/main/java/org/apache/shenyu/plugin/divide/DividePlugin.java
Labels: type: refactor

#3332 [ISSUE #3331] User permissions Exclude admin
  shenyu-admin/src/main/java/org/apache/shenyu/admin/shiro/config/ShiroRealm.java
Labels: admin, admin: permission

#3327 [type:refactor]Code polish in MetaDataService
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DataPermissionServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/MetaDataServiceImpl.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/MetaDataServiceTest.java
Labels: admin, type: refactor

#3334 encode queryParam's key to avoid 400 error when queryParam is like ?p…
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/utils/RequestQueryCodecUtil.java
Labels: type: bug

#3333 [type:Integration Test] Add cache-plugin Integration Test
  shenyu-examples/shenyu-examples-http/src/main/java/org/apache/shenyu/examples/http/controller/HttpTestController.java
  shenyu-integrated-test/shenyu-integrated-test-http/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/CachePluginTest.java
Labels: integration-test

#3340 [type: refactor] optimize&refactor shenyu result wrap.
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/result/ShenyuResultWrap.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/utils/CryptorUtil.java
  shenyu-plugin/shenyu-plugin-divide/src/main/java/org/apache/shenyu/plugin/divide/DividePlugin.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-alibaba-dubbo/src/test/java/org/apache/shenyu/plugin/alibaba/dubbo/AlibabaDubboPluginTest.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-dubbo-common/src/main/java/org/apache/shenyu/plugin/dubbo/common/AbstractDubboPlugin.java
  shenyu-plugin/shenyu-plugin-grpc/src/main/java/org/apache/shenyu/plugin/grpc/GrpcPlugin.java
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/AbstractHttpClientPlugin.java
  shenyu-plugin/shenyu-plugin-hystrix/src/main/java/org/apache/shenyu/plugin/hystrix/command/Command.java
  shenyu-plugin/shenyu-plugin-jwt/src/main/java/org/apache/shenyu/plugin/jwt/JwtPlugin.java
  shenyu-plugin/shenyu-plugin-motan/src/main/java/org/apache/shenyu/plugin/motan/MotanPlugin.java
  shenyu-plugin/shenyu-plugin-ratelimiter/src/main/java/org/apache/shenyu/plugin/ratelimiter/RateLimiterPlugin.java
  shenyu-plugin/shenyu-plugin-resilience4j/src/main/java/org/apache/shenyu/plugin/resilience4j/executor/Executor.java
  shenyu-plugin/shenyu-plugin-response/src/main/java/org/apache/shenyu/plugin/response/strategy/RPCMessageWriter.java
  shenyu-plugin/shenyu-plugin-response/src/main/java/org/apache/shenyu/plugin/response/strategy/WebClientMessageWriter.java
  shenyu-plugin/shenyu-plugin-sentinel/src/main/java/org/apache/shenyu/plugin/sentinel/fallback/SentinelFallbackHandler.java
  shenyu-plugin/shenyu-plugin-sofa/src/main/java/org/apache/shenyu/plugin/sofa/SofaPlugin.java
  shenyu-plugin/shenyu-plugin-springcloud/src/main/java/org/apache/shenyu/plugin/springcloud/SpringCloudPlugin.java
  shenyu-plugin/shenyu-plugin-tars/src/main/java/org/apache/shenyu/plugin/tars/TarsPlugin.java
  shenyu-plugin/shenyu-plugin-websocket/src/main/java/org/apache/shenyu/plugin/websocket/WebSocketPlugin.java
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/FileSizeFilter.java
Labels: type: refactor

#3311 [ISSUE #3133] add alert module
  pom.xml
  shenyu-alert/pom.xml
  shenyu-alert/src/main/java/org/apache/shenyu/alert/AlertStrategyFactory.java
  shenyu-alert/src/main/java/org/apache/shenyu/alert/DingTalkProp.java
  shenyu-alert/src/main/java/org/apache/shenyu/alert/EmailProp.java
  shenyu-alert/src/main/java/org/apache/shenyu/alert/strategy/AlertStrategy.java
  shenyu-alert/src/main/java/org/apache/shenyu/alert/strategy/DingTalkStrategy.java
  shenyu-alert/src/main/java/org/apache/shenyu/alert/strategy/EmailStrategy.java
  shenyu-alert/src/main/resources/META-INF/shenyu/org.apache.shenyu.alert.strategy.AlertStrategy
Labels: type: new feature

#3342 [type:refactor] fix wrong alignment
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-httpclient/src/main/java/org/apache/shenyu/springboot/starter/plugin/httpclient/HttpClientPluginConfiguration.java
Labels: type: refactor, bootstrap

#3335 [ISSUE #3318] Fix keep waiting for acquiring memory unexpectedly
  shenyu-common/src/main/java/org/apache/shenyu/common/concurrent/MemoryLimiter.java
  shenyu-common/src/test/java/org/apache/shenyu/common/concurrent/MemoryLimiterTest.java
Labels: common

#3343 Update SignUtils.java [common]
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/SignUtils.java
Labels: type: refactor, plugin: sign

#3352 [type: fix] fix bug of TarsPluginDataHandler, this logic isn't used.
  shenyu-plugin/shenyu-plugin-tars/src/main/java/org/apache/shenyu/plugin/tars/handler/TarsPluginDataHandler.java
Labels: type: refactor

#3339 [ISSUE #3121] remove the disabled plugin from webhandler's plugins
  shenyu-common/src/main/java/org/apache/shenyu/common/enums/PluginHandlerEventEnums.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/cache/CommonPluginDataSubscriber.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/cache/PluginHandlerEvent.java
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/cache/CommonPluginDataSubscriberTest.java
  shenyu-web/src/main/java/org/apache/shenyu/web/handler/ShenyuWebHandler.java
  shenyu-web/src/test/java/org/apache/shenyu/web/controller/LocalPluginControllerTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/handler/ShenyuWebHandlerTest.java
Labels: type: new feature

#3328 [ISSUE #3221] record operation logs in admin
  script/2.4.3-upgrade-2.5.0-mysql.sql
  script/2.4.3-upgrade-2.5.0-pg.sql
  shenyu-admin/src/http/http-debug-operation-record-log-controller-api.http
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/properties/DashboardProperties.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/OperationRecordLogController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/RecordLogDataChangedAdapterListener.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/OperationRecordLogMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/OperationRecordLog.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/enums/EventTypeEnum.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/event/AdminDataModelChangedEvent.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/event/BatchChangedEvent.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/event/BatchPluginChangedEvent.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/event/PluginChangedEvent.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/OperationRecordLogService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/OperationRecordLogServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/PluginServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/publish/AdminDataModelChangedEventPublisher.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/publish/PluginEventPublisher.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/SessionUtil.java
  shenyu-admin/src/main/resources/mappers/operation-record-log-sqlmap.xml
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/main/resources/sql-script/mysql/schema.sql
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/PluginServiceTest.java
Labels: admin, type: new feature

#3363 [ISSUE #3173] support configurable timeout for MotanPlugin
  shenyu-client/shenyu-client-motan/src/main/java/org/apache/shenyu/client/motan/MotanServiceBeanPostProcessor.java
  shenyu-client/shenyu-client-motan/src/main/java/org/apache/shenyu/client/motan/common/dto/MotanRpcExt.java
  shenyu-examples/shenyu-examples-motan/shenyu-examples-motan-api/src/main/java/org/apache/shenyu/examples/motan/service/MotanDemoService.java
  shenyu-examples/shenyu-examples-motan/shenyu-examples-motan-service/src/main/java/org/apache/shenyu/examples/motan/service/TestMotanApplication.java
  shenyu-examples/shenyu-examples-motan/shenyu-examples-motan-service/src/main/java/org/apache/shenyu/examples/motan/service/config/RegistryProperties.java
  shenyu-examples/shenyu-examples-motan/shenyu-examples-motan-service/src/main/java/org/apache/shenyu/examples/motan/service/impl/MotanDemoServiceImpl.java
  shenyu-plugin/shenyu-plugin-motan/src/main/java/org/apache/shenyu/plugin/motan/cache/ApplicationConfigCache.java
Labels: type: refactor, plugin: motan
