Repository apache/shenyu, pull requests merged in 2022-03, with the labels that each got.

#2948 [ISSUE #2947] Fix pg schema.sql .
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
Labels: type: bug, admin

#2946 [Type:Refactor] optimize some code in admin
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/AbstractDataChangedListener.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/DataPermissionMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DashboardUserServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/MetaDataServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/PluginServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/RuleServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SelectorServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SyncDataServiceImpl.java
  shenyu-admin/src/main/resources/mappers/data-permission-sqlmap.xml
Labels: type: refactor

#2954 [Type:Refactor] Refactor code
  shenyu-sync-data-center/shenyu-sync-data-http/src/main/java/org/apache/shenyu/sync/data/http/HttpSyncDataService.java
Labels: type: refactor

#2959 [type:fix] fix install.sh
  shenyu-dist/shenyu-docker-compose-dist/src/main/resources/install.sh
Labels: type: bug

#2961 [type: refactor]fix shenyu agent InstanceMethodInterceptor and StaticMethodIntercepto…
  shenyu-agent/shenyu-agent-api/src/main/java/org/apache/shenyu/agent/api/handler/StaticMethodHandler.java
  shenyu-agent/shenyu-agent-core/src/main/java/org/apache/shenyu/agent/core/bytebuddy/interceptor/InstanceMethodInterceptor.java
  shenyu-agent/shenyu-agent-core/src/main/java/org/apache/shenyu/agent/core/bytebuddy/interceptor/StaticMethodInterceptor.java
Labels: type: refactor, feature: agent

#2962 [ISSUE 2956]extend validation existed
  shenyu-admin/src/main/java/org/apache/shenyu/admin/exception/ResourceNotFoundException.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/exception/ShenyuAdminException.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/validation/ExistProvider.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/validation/annotation/Existed.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/validation/validator/ExistedValidator.java
Labels: admin, type: new feature

#2968 [ISSUE #2966] support redirecting to URIs outside of bootstrap and refactoring code.
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/UriUtils.java
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/UriUtilsTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/SentinelPluginTest.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/fallback/FallbackHandler.java
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/fallback/FallbackHandlerTest.java
  shenyu-plugin/shenyu-plugin-resilience4j/src/main/java/org/apache/shenyu/plugin/resilience4j/Resilience4JPlugin.java
  shenyu-plugin/shenyu-plugin-resilience4j/src/main/java/org/apache/shenyu/plugin/resilience4j/executor/Executor.java
  shenyu-plugin/shenyu-plugin-resilience4j/src/test/java/org/apache/shenyu/plugin/resilience4j/executor/CombinedExecutorTest.java
  shenyu-plugin/shenyu-plugin-sentinel/src/main/java/org/apache/shenyu/plugin/sentinel/fallback/SentinelFallbackHandler.java
  shenyu-plugin/shenyu-plugin-sentinel/src/test/java/org/apache/shenyu/plugin/sentinel/fallback/SentinelFallbackHandlerTest.java
Labels: plugin: resilience4j, type: new feature

#2941 [type:new feature] [ISSUE #2940] support config dubbo consumer pool
  script/2.4.2-upgrade-2.4.3-mysql.sql
  script/2.4.2-upgrade-2.4.3-pg.sql
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/main/resources/sql-script/mysql/schema.sql
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/plugin/DubboRegisterConfig.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-apache-dubbo/src/main/java/org/apache/shenyu/plugin/apache/dubbo/cache/ApacheDubboConfigCache.java
Labels: plugin: dubbo, type: new feature, plugin: alibaba-dubbo, plugin: apache-dubbo

#2977 [ISSUE #2940] alibaba dubbo part
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-alibaba-dubbo/src/main/java/org/apache/shenyu/plugin/alibaba/dubbo/cache/AlibabaDubboConfigCache.java
Labels: plugin: dubbo, type: refactor, plugin: alibaba-dubbo

#2979 [ISSUE #1888]Fix the encryption tool class
  script/2.4.2-upgrade-2.4.3-mysql.sql
  script/2.4.2-upgrade-2.4.3-pg.sql
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/ShaUtils.java
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/main/resources/sql-script/mysql/schema.sql
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
  shenyu-admin/src/test/java/org/apache/shenyu/admin/utils/ShaUtilsTest.java
Labels: type: refactor

#2978 [type: refactor] add http client in yaml
  shenyu-bootstrap/src/main/resources/application.yml
Labels: type: refactor

#2980 [ISSUE #2627] [type:refactor] refactor httpclient plugin
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/AbstractHttpClientPlugin.java
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/NettyHttpClientPlugin.java
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/WebClientPlugin.java
Labels: type: refactor

#2975 Add local API authorization
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/DashboardUserController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DashboardUserServiceImpl.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/DashboardUserMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/DashboardUserServiceTest.java
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-common/src/main/java/org/apache/shenyu/common/config/ShenyuConfig.java
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/ShaUtils.java
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/ShaUtilsTest.java
  shenyu-integrated-test/shenyu-integrated-test-alibaba-dubbo/src/main/resources/application-local.yml
  shenyu-integrated-test/shenyu-integrated-test-apache-dubbo/src/main/resources/application-local.yml
  shenyu-integrated-test/shenyu-integrated-test-combination/src/main/resources/application-local.yml
  shenyu-integrated-test/shenyu-integrated-test-common/src/main/java/org/apache/shenyu/integratedtest/common/helper/HttpHelper.java
  shenyu-integrated-test/shenyu-integrated-test-grpc/src/main/resources/application-local.yml
  shenyu-integrated-test/shenyu-integrated-test-http/src/main/resources/application.yml
  shenyu-integrated-test/shenyu-integrated-test-https/src/main/resources/application.yml
  shenyu-integrated-test/shenyu-integrated-test-motan/src/main/resources/application-local.yml
  shenyu-integrated-test/shenyu-integrated-test-sofa/src/main/resources/application-local.yml
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/src/main/resources/application-local.yml
  shenyu-integrated-test/shenyu-integrated-test-websocket/src/main/resources/application-local.yml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-gateway/src/main/java/org/apache/shenyu/springboot/starter/gateway/ShenyuConfiguration.java
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/LocalDispatcherFilter.java
Labels: type: enhancement, type: security

#2986 [type:fix] fix CVE-2021-41303
  pom.xml
Labels: type: security

#2991 [type: delete]: remove monitor plugin.
  script/2.4.2-upgrade-2.4.3-mysql.sql
  script/2.4.2-upgrade-2.4.3-pg.sql
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/main/resources/sql-script/mysql/schema.sql
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
  shenyu-bootstrap/pom.xml
  shenyu-common/src/main/java/org/apache/shenyu/common/enums/PluginEnum.java
  shenyu-dist/shenyu-agent-dist/src/main/resources/conf/tracing-point.yaml
  shenyu-integrated-test/shenyu-integrated-test-agent/shenyu-integrated-test-agent-tracing/shenyu-integrated-test-agent-tracing-jaeger/src/main/resources/conf/tracing-point.yaml
  shenyu-integrated-test/shenyu-integrated-test-agent/shenyu-integrated-test-agent-tracing/shenyu-integrated-test-agent-tracing-opentelemetry/src/main/resources/conf/tracing-point.yaml
  shenyu-integrated-test/shenyu-integrated-test-agent/shenyu-integrated-test-agent-tracing/shenyu-integrated-test-agent-tracing-zipkin/src/main/resources/conf/tracing-point.yaml
  shenyu-plugin/pom.xml
  shenyu-plugin/shenyu-plugin-monitor/pom.xml
  shenyu-plugin/shenyu-plugin-monitor/src/main/java/org/apache/shenyu/plugin/monitor/MonitorPlugin.java
  shenyu-plugin/shenyu-plugin-monitor/src/main/java/org/apache/shenyu/plugin/monitor/handler/MonitorPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-monitor/src/test/java/org/apache/shenyu/plugin/monitor/MonitorPluginTest.java
  shenyu-plugin/shenyu-plugin-monitor/src/test/java/org/apache/shenyu/plugin/monitor/handler/MonitorPluginDataHandlerTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/pom.xml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-monitor/pom.xml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-monitor/src/main/java/org/apache/shenyu/springboot/starter/plugin/monitor/MonitorPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-monitor/src/main/resources/META-INF/spring.factories
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-monitor/src/main/resources/META-INF/spring.provides
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-monitor/src/test/java/org/apache/shenyu/springboot/starter/plugin/monitor/MonitorPluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-http/src/test/resources/mock_configs_fetch_response.json
Labels: type: refactor

#2994 [type: bug] fix metrics build info bug
  shenyu-agent/shenyu-agent-plugins/shenyu-agent-plugin-metrics/shenyu-agent-plugin-metrics-prometheus/src/main/java/org/apache/shenyu/agent/plugin/metrics/prometheus/boot/PrometheusPluginBootService.java
  shenyu-agent/shenyu-agent-plugins/shenyu-agent-plugin-metrics/shenyu-agent-plugin-metrics-prometheus/src/main/java/org/apache/shenyu/agent/plugin/metrics/prometheus/collector/BuildInfoCollector.java
Labels: type: bug, agent: metrics

#2995 [type: refactor] remove shenyu metrics module
  pom.xml
  shenyu-metrics/pom.xml
  shenyu-metrics/shenyu-metrics-facade/pom.xml
  shenyu-metrics/shenyu-metrics-facade/src/main/java/org/apache/shenyu/metrics/facade/MetricsTrackerFacade.java
  shenyu-metrics/shenyu-metrics-prometheus/pom.xml
  shenyu-metrics/shenyu-metrics-prometheus/src/main/java/org/apache/shenyu/metrics/prometheus/collector/BuildInfoCollector.java
  shenyu-metrics/shenyu-metrics-prometheus/src/main/java/org/apache/shenyu/metrics/prometheus/register/PrometheusMetricsRegister.java
  shenyu-metrics/shenyu-metrics-prometheus/src/main/java/org/apache/shenyu/metrics/prometheus/service/PrometheusBootService.java
  shenyu-metrics/shenyu-metrics-prometheus/src/main/resources/META-INF/shenyu/org.apache.shenyu.metrics.spi.MetricsBootService
  shenyu-metrics/shenyu-metrics-prometheus/src/main/resources/META-INF/shenyu/org.apache.shenyu.metrics.spi.MetricsRegister
  shenyu-metrics/shenyu-metrics-prometheus/src/test/java/org/apache/shenyu/metrics/prometheus/collector/BuildInfoCollectorTest.java
  shenyu-metrics/shenyu-metrics-prometheus/src/test/java/org/apache/shenyu/metrics/prometheus/register/PrometheusMetricsRegisterTest.java
  shenyu-metrics/shenyu-metrics-prometheus/src/test/java/org/apache/shenyu/metrics/prometheus/service/PrometheusBootServiceTest.java
  shenyu-metrics/shenyu-metrics-spi/pom.xml
  shenyu-metrics/shenyu-metrics-spi/src/main/java/org/apache/shenyu/metrics/config/JmxConfig.java
  shenyu-metrics/shenyu-metrics-spi/src/main/java/org/apache/shenyu/metrics/config/MetricsConfig.java
  shenyu-metrics/shenyu-metrics-spi/src/main/java/org/apache/shenyu/metrics/constant/LabelNames.java
  shenyu-metrics/shenyu-metrics-spi/src/main/java/org/apache/shenyu/metrics/entity/Metric.java
  shenyu-metrics/shenyu-metrics-spi/src/main/java/org/apache/shenyu/metrics/enums/MetricType.java
  shenyu-metrics/shenyu-metrics-spi/src/main/java/org/apache/shenyu/metrics/reporter/MetricsReporter.java
  shenyu-metrics/shenyu-metrics-spi/src/main/java/org/apache/shenyu/metrics/spi/MetricsBootService.java
  shenyu-metrics/shenyu-metrics-spi/src/main/java/org/apache/shenyu/metrics/spi/MetricsRegister.java
  shenyu-metrics/shenyu-metrics-spi/src/test/java/org/apache/shenyu/metrics/config/JmxConfigTest.java
  shenyu-metrics/shenyu-metrics-spi/src/test/java/org/apache/shenyu/metrics/config/MetricsConfigTest.java
  shenyu-metrics/shenyu-metrics-spi/src/test/java/org/apache/shenyu/metrics/enums/MetricsTypeEnumTest.java
  shenyu-metrics/shenyu-metrics-spi/src/test/java/org/apache/shenyu/metrics/reporter/MetricsReporterTest.java
Labels: type: refactor

#2996 [type: docs]: update readme
  README.md
  README_CN.md
Labels: in: document

#2989 [ISSUE #2983] Fix judgment of the contains condition of all plugins d…
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/condition/judge/ContainsPredicateJudge.java
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/condition/judge/ContainsPredicateJudgeTest.java
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/condition/judge/PredicateJudgeFactoryTest.java
Labels: type: refactor

#2998 [type: refactor] fix metrics pom
  shenyu-plugin/shenyu-plugin-cryptor/pom.xml
Labels: type: enhancement

#2999 [ISSUE #2627] [type:refactor] part 2
  shenyu-loadbalancer/src/main/java/org/apache/shenyu/loadbalancer/entity/Upstream.java
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/utils/RequestUrlUtils.java
  shenyu-plugin/shenyu-plugin-divide/src/main/java/org/apache/shenyu/plugin/divide/DividePlugin.java
  shenyu-plugin/shenyu-plugin-uri/src/main/java/org/apache/shenyu/plugin/uri/URIPlugin.java
Labels: type: refactor

#3000 [ISSUE:#2956]valid user dashboard api param
  shenyu-admin/src/http/http-debug-dashboard-user-controller-api.http
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/DashboardUserController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/exception/ExceptionHandlers.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/exception/ValidFailException.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/DashboardUserMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/Assert.java
  shenyu-admin/src/main/resources/mappers/dashboard-user-sqlmap.xml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/DashboardUserControllerTest.java
Labels: admin, type: refactor

#3006 [ISSUE #2956]valid data permission api paramater
  shenyu-admin/src/http/http-debug-data-permission-controller-api.http
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ConfigController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/DataPermissionController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/DataPermissionDTO.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/DataPermissionControllerTest.java
Labels: admin

#3005 Fixed Possible Json Ordering Permutations in Tests
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/GsonUtilsTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/JsonUtilsTest.java
Labels: type: bug, in: test

#3007 [ISSUE #2627] [type:new feature] DividePlugin support failover retry
  script/2.4.2-upgrade-2.4.3-mysql.sql
  script/2.4.2-upgrade-2.4.3-pg.sql
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/main/resources/sql-script/mysql/schema.sql
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/rule/impl/DivideRuleHandle.java
  shenyu-common/src/main/java/org/apache/shenyu/common/enums/RetryEnum.java
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/result/ShenyuResultEnum.java
  shenyu-plugin/shenyu-plugin-divide/src/main/java/org/apache/shenyu/plugin/divide/DividePlugin.java
  shenyu-plugin/shenyu-plugin-httpclient/pom.xml
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/AbstractHttpClientPlugin.java
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/NettyHttpClientPlugin.java
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/WebClientPlugin.java
Labels: type: new feature

#2990 [ISSUE #2931]Resolve hystrix plugin configuration rules do not take effect
  shenyu-plugin/shenyu-plugin-hystrix/src/main/java/org/apache/shenyu/plugin/hystrix/command/Command.java
  shenyu-plugin/shenyu-plugin-hystrix/src/main/java/org/apache/shenyu/plugin/hystrix/command/HystrixCommand.java
  shenyu-plugin/shenyu-plugin-hystrix/src/main/java/org/apache/shenyu/plugin/hystrix/command/HystrixCommandOnThread.java
  shenyu-plugin/shenyu-plugin-hystrix/src/main/java/org/apache/shenyu/plugin/hystrix/handler/HystrixPluginDataHandler.java
Labels: type: bug, plugin: hystrix

#3008 [ISSUE #3003] Optime SQL Initialization Database ID insert method
  script/2.4.2-upgrade-2.4.3-mysql.sql
  script/2.4.2-upgrade-2.4.3-pg.sql
  shenyu-admin/src/main/java/org/apache/shenyu/admin/spring/LocalDataSourceLoader.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/spring/PostgreSQLLoader.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/SQLInitUtils.java
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/main/resources/sql-script/mysql/schema.sql
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/AdminConstants.java
Labels: admin

#3012 #3002 fix failed to register Dubbo protocol interface with Shenyu Admin in specific scenario.
  shenyu-client/shenyu-client-dubbo/shenyu-client-apache-dubbo/src/main/java/org/apache/shenyu/client/apache/dubbo/ApacheDubboServiceBeanListener.java
Labels: client: dubbo, plugin: apache-dubbo

#3014 [type: refactor] support websocket client configuration
  shenyu-common/src/main/java/org/apache/shenyu/common/config/ShenyuConfig.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-websocket/src/main/java/org/apache/shenyu/springboot/plugin/websocket/WebSocketPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-websocket/src/test/java/org/apache/shenyu/springboot/plugin/websocket/WebSocketPluginConfigurationTest.java
Labels: type: refactor, plugin: websocket

#3020 [ISSUE #3019] <Remove trigger in the pg sql script>
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/MapperConfig.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mybatis/pg/interceptor/PostgreSqlUpdateInterceptor.java
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/ReflectUtils.java
Labels: admin

#3022 [ISSUE #3021] optime init sql
  shenyu-admin/src/main/java/org/apache/shenyu/admin/spring/LocalDataSourceLoader.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/spring/PostgreSQLLoader.java
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/AdminConstants.java
Labels: admin

#3023 [ISSUE #2956]valid meta data api paramater
  shenyu-admin/src/http/http-debug-meta-data-controller-api.http
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/MetaDataController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/exception/ExceptionHandlers.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/MetaDataMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/BatchCommonDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/MetaDataDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/MetaDataServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/provider/MetaDataPathProvider.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/validation/annotation/Existed.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/validation/validator/ExistedValidator.java
  shenyu-admin/src/main/resources/mappers/meta-data-sqlmap.xml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/MetaDataControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/MetaDataServiceTest.java
Labels: admin, type: refactor

#3034 [ISSUE #3033] [type:new feature] support config netty thread pool in HttpClient
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/config/HttpClientProperties.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-httpclient/src/main/java/org/apache/shenyu/springboot/starter/plugin/httpclient/HttpClientPluginConfiguration.java
Labels: type: new feature

#3029 [ISSUE #3025] fix http headers lose bug
  shenyu-plugin/shenyu-plugin-general-context/src/main/java/org/apache/shenyu/plugin/general/context/GeneralContextPlugin.java
Labels: type: refactor

#3036 [ISSUE #2956] valid plugin api paramater
  shenyu-admin/src/http/http-debug-platform-controller-api.http
  shenyu-admin/src/http/http-debug-plugin-controller-api.http
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/PluginController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/PluginMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/PluginDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/PluginServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/provider/PluginNameProvider.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/validation/annotation/Existed.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/validation/validator/ExistedValidator.java
  shenyu-admin/src/main/resources/mappers/plugin-sqlmap.xml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/MetaDataControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/PluginControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/PluginServiceTest.java
Labels: admin

#3038 [ISSUE #3037] Fix Bug The Rewrite Plugin should support {PathVariable…
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/PathMatchUtils.java
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/PathMatchUtilsTest.java
  shenyu-plugin/shenyu-plugin-rewrite/src/main/java/org/apache/shenyu/plugin/rewrite/RewritePlugin.java
Labels: type: new feature, plugin: rewrite

#3040 [ISSUE #2956]plugin-handle and resource api paramater
  shenyu-admin/src/http/http-debug-plugin-handle-controller-api.http
  shenyu-admin/src/http/http-debug-resource-controller-api.http
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/PluginHandleController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ResourceController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/PluginHandleMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/ResourceMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/PluginHandleDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/ResourceDTO.java
  shenyu-admin/src/main/resources/mappers/plugin-handle-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/resouce-sqlmap.xml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/PluginHandleControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/ResourceControllerTest.java
Labels: admin

#3043 [ISSUE #3026] part1: support MemoryLimitedLinkedBlockingQueue
  shenyu-common/src/main/java/org/apache/shenyu/common/concurrent/MemoryLimitedLinkedBlockingQueue.java
  shenyu-common/src/main/java/org/apache/shenyu/common/concurrent/MemoryLimiter.java
  shenyu-common/src/test/java/org/apache/shenyu/common/concurrent/MemoryLimitedLinkedBlockingQueueTest.java
Labels: type: new feature

#3045 [type:doc]: add license and notice
  LICENSE
  NOTICE
  shenyu-dist/shenyu-bootstrap-dist/src/main/release-docs/LICENSE
  shenyu-dist/shenyu-bootstrap-dist/src/main/release-docs/NOTICE
Labels: in: document

#3048 [ISSUE ##2956]valid role rule selector api
  shenyu-admin/src/http/http-debug-role-controller-api.http
  shenyu-admin/src/http/http-debug-rule-controller-api.http
  shenyu-admin/src/http/http-debug-selector-controller-api.http
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/RoleController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/RuleController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/SelectorController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/RoleMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/RuleMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/SelectorMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/RoleDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/RuleDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/SelectorDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SelectorServiceImpl.java
  shenyu-admin/src/main/resources/mappers/role-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/rule-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/selector-sqlmap.xml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/RoleControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/RuleControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/SelectorControllerTest.java
Labels: admin

#3050 [type: refactor] refactor agent code
  shenyu-agent/shenyu-agent-api/src/main/java/org/apache/shenyu/agent/api/exception/ShenyuAgentException.java
  shenyu-agent/shenyu-agent-core/src/main/java/org/apache/shenyu/agent/core/bytebuddy/transformer/ShenyuAgentTransformer.java
  shenyu-agent/shenyu-agent-core/src/main/java/org/apache/shenyu/agent/core/loader/ShenyuAgentPluginLoader.java
  shenyu-agent/shenyu-agent-core/src/main/java/org/apache/shenyu/agent/core/locator/ShenyuAgentLocator.java
  shenyu-agent/shenyu-agent-plugins/shenyu-agent-plugin-metrics/shenyu-agent-plugin-metrics-api/src/main/java/org/apache/shenyu/agent/plugin/metrics/api/MetricsRecorder.java
  shenyu-agent/shenyu-agent-plugins/shenyu-agent-plugin-metrics/shenyu-agent-plugin-metrics-prometheus/src/main/java/org/apache/shenyu/agent/plugin/metrics/prometheus/collector/BuildInfoCollector.java
  shenyu-agent/shenyu-agent-plugins/shenyu-agent-plugin-tracing/shenyu-agent-plugin-tracing-jaeger/src/main/java/org/apache/shenyu/agent/plugin/tracing/jaeger/boot/JaegerAgentPluginBootService.java
  shenyu-agent/shenyu-agent-plugins/shenyu-agent-plugin-tracing/shenyu-agent-plugin-tracing-jaeger/src/main/java/org/apache/shenyu/agent/plugin/tracing/jaeger/span/JaegerErrorSpan.java
  shenyu-agent/shenyu-agent-plugins/shenyu-agent-plugin-tracing/shenyu-agent-plugin-tracing-zipkin/src/main/java/org/apache/shenyu/agent/plugin/tracing/zipkin/boot/ZipkinAgentPluginBootService.java
  shenyu-agent/shenyu-agent-plugins/shenyu-agent-plugin-tracing/shenyu-agent-plugin-tracing-zipkin/src/main/java/org/apache/shenyu/agent/plugin/tracing/zipkin/enums/SamplerTypeEnum.java
  shenyu-dist/shenyu-agent-dist/src/main/resources/conf/shenyu-agent.yaml
Labels: type: refactor, feature: agent

#3051 [type: refactor]: remove ByteArrayOutputStream.
  shenyu-agent/shenyu-agent-core/src/main/java/org/apache/shenyu/agent/core/loader/ShenyuAgentPluginLoader.java
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/ShenyuPluginLoader.java
Labels: type: refactor

#3053 [ISSUE #3026] [type:new feature] part2: dubbo support shared thread pool
  script/2.4.2-upgrade-2.4.3-mysql.sql
  script/2.4.2-upgrade-2.4.3-pg.sql
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/main/resources/sql-script/mysql/schema.sql
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-common/src/main/java/org/apache/shenyu/common/concurrent/MemoryLimitCalculator.java
  shenyu-common/src/main/java/org/apache/shenyu/common/concurrent/MemoryLimitedLinkedBlockingQueue.java
  shenyu-common/src/main/java/org/apache/shenyu/common/concurrent/MemoryLimitedTaskQueue.java
  shenyu-common/src/main/java/org/apache/shenyu/common/concurrent/MemoryLimiter.java
  shenyu-common/src/main/java/org/apache/shenyu/common/concurrent/ShenyuThreadPoolExecutor.java
  shenyu-common/src/main/java/org/apache/shenyu/common/config/ShenyuConfig.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-alibaba-dubbo/src/main/java/org/apache/shenyu/plugin/alibaba/dubbo/threadpool/SharedThreadPool.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-alibaba-dubbo/src/main/resources/META-INF/dubbo/com.alibaba.dubbo.common.threadpool.ThreadPool
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-apache-dubbo/src/main/java/org/apache/shenyu/plugin/apache/dubbo/threadpool/SharedThreadPool.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-apache-dubbo/src/main/resources/META-INF/dubbo/org.apache.dubbo.common.threadpool.ThreadPool
  shenyu-web/pom.xml
  shenyu-web/src/main/java/org/apache/shenyu/web/configuration/ShenyuThreadPoolConfiguration.java
Labels: type: new feature

#3061 [ISSUE #2956]valid shenyu dict api
  shenyu-admin/src/http/http-debug-dict-controller-api.http
  shenyu-admin/src/http/http-debug-registry-controller-api.http
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/RuleController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ShenyuDictController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/ShenyuDictMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/MetaDataDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/ShenyuDictDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/ShenyuDictServiceImpl.java
  shenyu-admin/src/main/resources/mappers/shenyu-dict-sqlmap.xml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/ShenyuDictControllerTest.java
Labels: admin

#3068 [ISSUE #3063] fix bug
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-loadbalancer/src/test/java/org/apache/shenyu/loadbalancer/cache/UpstreamCheckTaskTest.java
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/config/HttpClientProperties.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-httpclient/src/main/java/org/apache/shenyu/springboot/starter/plugin/httpclient/HttpClientPluginConfiguration.java
Labels: type: refactor

#3055 [ISSUE #2879]Fix bug, data syn with nacos.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/nacos/NacosDataChangedListener.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/nacos/NacosDataInit.java
Labels: type: bug, type: refactor, data-sync: nacos

#3071 [ISSUE #3070] [type:refactor] Use PortUtils#findPort to replace dupli…
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/main/java/org/apache/shenyu/client/springcloud/init/ContextRegisterListener.java
  shenyu-examples/shenyu-examples-springcloud/src/main/resources/application.yml
Labels: type: refactor

#3069 [Task #3065] Improve websocket example supporting automatic register shenyu admin.
  shenyu-examples/shenyu-examples-websocket/pom.xml
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-annotation-websocket/pom.xml
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-annotation-websocket/src/main/java/org/apache/shenyu/examples/websocket/TestAnnotationWebsocketApplication.java
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-annotation-websocket/src/main/java/org/apache/shenyu/examples/websocket/config/WebSocketConfig.java
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-annotation-websocket/src/main/java/org/apache/shenyu/examples/websocket/ws/WsServerEndpoint.java
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-annotation-websocket/src/main/resources/application.yml
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-native-websocket/Dockerfile
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-native-websocket/pom.xml
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-native-websocket/src/main/java/org/apache/shenyu/examples/websocket/TestNativeWebsocketApplication.java
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-native-websocket/src/main/java/org/apache/shenyu/examples/websocket/config/WebSocketConfig.java
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-native-websocket/src/main/java/org/apache/shenyu/examples/websocket/config/WsSessionManager.java
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-native-websocket/src/main/java/org/apache/shenyu/examples/websocket/controller/TestHttpController.java
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-native-websocket/src/main/java/org/apache/shenyu/examples/websocket/handler/HttpAuthHandler.java
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-native-websocket/src/main/java/org/apache/shenyu/examples/websocket/interceptor/WebSocketInterceptor.java
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-native-websocket/src/main/resources/application.yml
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-reactive-websocket/pom.xml
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-reactive-websocket/src/main/java/org/apache/shenyu/examples/websocket/TestReactiveWebsocketApplication.java
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-reactive-websocket/src/main/java/org/apache/shenyu/examples/websocket/config/WebSocketConfiguration.java
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-reactive-websocket/src/main/java/org/apache/shenyu/examples/websocket/handler/EchoHandler.java
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-reactive-websocket/src/main/resources/application.yml
  shenyu-integrated-test/shenyu-integrated-test-websocket/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-websocket/src/test/java/org/apache/shenyu/integrated/test/websocket/WebsocketPluginTest.java
Labels: plugin: websocket, in: example

#3075 [new : feature] add metrics plugin
  shenyu-bootstrap/pom.xml
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-common/src/main/java/org/apache/shenyu/common/config/ShenyuConfig.java
  shenyu-common/src/main/java/org/apache/shenyu/common/enums/PluginEnum.java
  shenyu-plugin/pom.xml
  shenyu-plugin/shenyu-plugin-metrics/pom.xml
  shenyu-plugin/shenyu-plugin-metrics/src/main/java/org/apache/shenyu/plugin/metrics/MetricsPlugin.java
  shenyu-plugin/shenyu-plugin-metrics/src/main/java/org/apache/shenyu/plugin/metrics/config/Metric.java
  shenyu-plugin/shenyu-plugin-metrics/src/main/java/org/apache/shenyu/plugin/metrics/constant/LabelNames.java
  shenyu-plugin/shenyu-plugin-metrics/src/main/java/org/apache/shenyu/plugin/metrics/enums/MetricType.java
  shenyu-plugin/shenyu-plugin-metrics/src/main/java/org/apache/shenyu/plugin/metrics/prometheus/PrometheusMetricsRegister.java
  shenyu-plugin/shenyu-plugin-metrics/src/main/java/org/apache/shenyu/plugin/metrics/prometheus/PrometheusMetricsService.java
  shenyu-plugin/shenyu-plugin-metrics/src/main/java/org/apache/shenyu/plugin/metrics/reporter/MetricsReporter.java
  shenyu-plugin/shenyu-plugin-metrics/src/main/java/org/apache/shenyu/plugin/metrics/spi/MetricsRegister.java
  shenyu-plugin/shenyu-plugin-metrics/src/main/java/org/apache/shenyu/plugin/metrics/spi/MetricsService.java
  shenyu-plugin/shenyu-plugin-metrics/src/main/resources/META-INF/shenyu/org.apache.shenyu.plugin.metrics.spi.MetricsRegister
  shenyu-plugin/shenyu-plugin-metrics/src/main/resources/META-INF/shenyu/org.apache.shenyu.plugin.metrics.spi.MetricsService
  shenyu-plugin/shenyu-plugin-metrics/src/test/java/org/apache/shenyu/plugin/metrics/prometheus/PrometheusMetricsRegisterTest.java
  shenyu-plugin/shenyu-plugin-metrics/src/test/java/org/apache/shenyu/plugin/metrics/prometheus/PrometheusMetricsServiceTest.java
  shenyu-plugin/shenyu-plugin-metrics/src/test/java/org/apache/shenyu/plugin/metrics/reporter/MetricsReporterTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/pom.xml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-metrics/pom.xml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-metrics/src/main/java/org/apache/shenyu/springboot/starter/plugin/metrics/MetricsPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-metrics/src/main/java/org/apache/shenyu/springboot/starter/plugin/metrics/boot/MetricsRunner.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-metrics/src/main/resources/META-INF/spring.factories
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-metrics/src/main/resources/META-INF/spring.provides
Labels: feature: metrics, plugin: metrics

#3060 [type: refactor]remove agent
  shenyu-dist/shenyu-docker-compose-dist/src/main/resources/install.sh
  shenyu-dist/shenyu-docker-compose-dist/src/main/resources/stand-alone-h2/docker-compose.yaml
  shenyu-dist/shenyu-docker-compose-dist/src/main/resources/stand-alone-mysql/docker-compose.yaml
  shenyu-dist/shenyu-docker-compose-dist/src/main/resources/stand-alone-pg/docker-compose.yaml
Labels: type: refactor

#3083 [ISSUE #3082] Fix Nacos namespace config
  shenyu-bootstrap/src/main/resources/application-nacos.yml
  shenyu-examples/shenyu-examples-springcloud/src/main/resources/application-nacos.yml
Labels: type: refactor

#3086 [type: refactor] Minor code optimizations
  shenyu-bootstrap/pom.xml
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/config/HttpClientProperties.java
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/main/java/org/apache/shenyu/plugin/logging/AbstractLogCollector.java
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/main/java/org/apache/shenyu/plugin/logging/LogConsumeClient.java
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/main/java/org/apache/shenyu/plugin/logging/body/BodyWriter.java
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/main/java/org/apache/shenyu/plugin/logging/body/LoggingServerHttpRequest.java
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/main/java/org/apache/shenyu/plugin/logging/constant/LoggingConstant.java
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/main/java/org/apache/shenyu/plugin/logging/rocketmq/RocketMQLogCollectClient.java
  shenyu-plugin/shenyu-plugin-metrics/src/main/java/org/apache/shenyu/plugin/metrics/constant/LabelNames.java
  shenyu-plugin/shenyu-plugin-metrics/src/main/java/org/apache/shenyu/plugin/metrics/prometheus/PrometheusMetricsService.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-metrics/src/main/java/org/apache/shenyu/springboot/starter/plugin/metrics/boot/MetricsRunner.java
Labels: type: refactor

#3078 [type:refactor] format SQL
  shenyu-admin/src/main/resources/mappers/app-auth-sqlmap.xml
Labels: admin, type: refactor

#3093 [Type:refactor]change logback theme
  shenyu-admin/src/main/resources/logback.xml
  shenyu-bootstrap/src/main/resources/logback.xml
Labels: type: refactor

#3096 [type:refactor] optimize webclient message writer to cancel business response override.
  shenyu-plugin/shenyu-plugin-response/src/main/java/org/apache/shenyu/plugin/response/strategy/WebClientMessageWriter.java
Labels: type: refactor

#3099 refactor admin : format SQL. (#3088)
  shenyu-admin/src/main/resources/mappers/permission-sqlmap.xml
Labels: admin, type: refactor

#3100 [type : bug] When the service shutdown, remov it from the selector
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/ConsulServerConfiguration.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/disruptor/executor/RegisterServerConsumerExecutor.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/converter/AbstractSelectorHandleConverter.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/converter/DivideSelectorHandleConverter.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/converter/DubboSelectorHandleConverter.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/converter/GrpcSelectorHandleConverter.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/converter/SelectorHandleConverter.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/converter/SpringCloudSelectorHandleConverter.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/converter/TarsSelectorHandleConverter.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/UpstreamCheckService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/AbstractShenyuClientRegisterServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterDivideServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterDubboServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterGrpcServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterSpringCloudServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterTarsServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/CommonUpstreamUtils.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/UpstreamCheckServiceTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterDivideServiceImplTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterDubboServiceImplTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterGrpcServiceImplTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterSpringCloudServiceImplTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterTarsServiceImplTest.java
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/selector/CommonUpstream.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/selector/DubboUpstream.java
  shenyu-loadbalancer/src/main/java/org/apache/shenyu/loadbalancer/cache/UpstreamCacheManager.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-consul/src/main/java/org/apache/shenyu/register/client/consul/ConsulClientRegisterRepository.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-http/src/main/java/org/apache/shenyu/register/client/http/HttpClientRegisterRepository.java
  shenyu-register-center/shenyu-register-common/src/main/java/org/apache/shenyu/register/common/dto/MetaDataRegisterDTO.java
  shenyu-register-center/shenyu-register-common/src/main/java/org/apache/shenyu/register/common/dto/URIRegisterDTO.java
  shenyu-register-center/shenyu-register-server/shenyu-register-server-consul/src/main/java/org/apache/shenyu/register/server/consul/ConsulServerRegisterRepository.java
  shenyu-register-center/shenyu-register-server/shenyu-register-server-consul/src/main/java/org/apache/shenyu/register/server/consul/ShenyuConsulConfigWatch.java
  shenyu-register-center/shenyu-register-server/shenyu-register-server-etcd/src/main/java/org/apache/shenyu/register/server/etcd/EtcdServerRegisterRepository.java
  shenyu-register-center/shenyu-register-server/shenyu-register-server-nacos/src/main/java/org/apache/shenyu/register/server/nacos/NacosServerRegisterRepository.java
  shenyu-register-center/shenyu-register-server/shenyu-register-server-zookeeper/src/main/java/org/apache/shenyu/register/server/zookeeper/ZookeeperServerRegisterRepository.java
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/LocalDispatcherFilter.java
Labels: type: bug, admin, type: refactor, client: register, client: register-etcd, client: register-zookeeper, client: register-http, client: register-consul

#3107 [type:refactor] code polish for shenyu-admin
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/custom/UserInfo.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/AppAuthServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/FallbackShenyuClientRegisterService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/SQLInitUtils.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/ShenyuResultMessage.java
Labels: admin, type: refactor

#3111 Filter out the virtual URIRegisterDTO when the last service is down
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/AbstractShenyuClientRegisterServiceImpl.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterDivideServiceImplTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterDubboServiceImplTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterGrpcServiceImplTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterSpringCloudServiceImplTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterTarsServiceImplTest.java
  shenyu-loadbalancer/src/test/java/org/apache/shenyu/loadbalancer/cache/UpstreamCheckTaskTest.java
Labels: type: refactor

#3115 [type: refactor] support-multiple register center for spring cloud pl…
  shenyu-bootstrap/pom.xml
  shenyu-bootstrap/src/main/resources/application-example.yml
  shenyu-bootstrap/src/main/resources/application-nacos.yml
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-examples/shenyu-examples-springcloud/pom.xml
  shenyu-examples/shenyu-examples-springcloud/src/main/resources/application-example.yml
  shenyu-examples/shenyu-examples-springcloud/src/main/resources/application-nacos.yml
  shenyu-examples/shenyu-examples-springcloud/src/main/resources/application.yml
Labels: type: refactor

#3116 [ISSUE #3112] add switch configuration for plugins to enable it or not
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/main/java/org/apache/shenyu/plugin/logging/config/LogCollectConfig.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-context-path/src/main/java/org/apache/shenyu/springboot/starter/plugin/context/path/ContextPathPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-cryptor/src/main/java/org/apache/shenyu/springboot/starter/plugin/cryptor/CryptorPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-divide/src/main/java/org/apache/shenyu/springboot/plugin/divide/DividePluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-dubbo/shenyu-spring-boot-starter-plugin-alibaba-dubbo/src/main/java/org/apache/shenyu/springboot/starter/plugin/alibaba/dubbo/AlibabaDubboPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-dubbo/shenyu-spring-boot-starter-plugin-apache-dubbo/src/main/java/org/apache/shenyu/springboot/starter/plugin/apache/dubbo/ApacheDubboPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-general-context/src/main/java/org/apache/shenyu/springboot/starter/plugin/general/context/GeneralContextPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-grpc/src/main/java/org/apache/shenyu/springboot/starter/plugin/grpc/GrpcPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-hystrix/src/main/java/org/apache/shenyu/springboot/starter/plugin/hystrix/HystrixPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-jwt/src/main/java/org/apache/shenyu/springboot/starter/plugin/jwt/JwtPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-logging-rocketmq/src/main/java/org/apache/shenyu/springboot/starter/plugin/logging/rocketmq/LoggingRocketMQPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-logging/src/main/java/org/apache/shenyu/springboot/starter/plugin/logging/LoggingPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-modify-response/src/main/java/org/apache/shenyu/springboot/starter/plugin/modify/response/ModifyResponsePluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-motan/src/main/java/org/apache/shenyu/springboot/starter/plugin/motan/MotanPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-mqtt/src/main/java/org/apache/shenyu/springboot/starter/plugin/mqtt/MqttPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-oauth2/src/main/java/org/apache/shenyu/springboot/starter/plugin/oauth2/OAuth2PluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-param-mapping/src/main/java/org/apache/shenyu/springboot/starter/plugin/param/mapping/ParamMappingPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-ratelimiter/src/main/java/org/apache/shenyu/springboot/starter/plugin/ratelimiter/RateLimiterPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-redirect/src/main/java/org/apache/shenyu/springboot/starter/plugin/redirect/RedirectPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-request/src/main/java/org/apache/shenyu/springboot/starter/plugin/request/RequestPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-resilience4j/src/main/java/org/apache/shenyu/springboot/starter/plugin/resilience4j/Resilience4JPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-response/src/main/java/org/apache/shenyu/springboot/starter/plugin/response/ResponsePluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-rewrite/src/main/java/org/apache/shenyu/springboot/starter/plugin/rewrite/RewritePluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-sentinel/src/main/java/org/apache/shenyu/springboot/starter/plugin/sentinel/SentinelPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-sign/src/main/java/org/apache/shenyu/springboot/starter/plugin/sign/SignPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-sofa/src/main/java/org/apache/shenyu/springboot/starter/plugin/sofa/SofaPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-springcloud/src/main/java/org/apache/shenyu/springboot/starter/plugin/springcloud/SpringCloudPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-tars/src/main/java/org/apache/shenyu/springboot/starter/plugin/tars/TarsPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-uri/src/main/java/org/apache/shenyu/springboot/starter/plugin/uri/URIPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-waf/src/main/java/org/apache/shenyu/springboot/starter/plugin/waf/WafPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-websocket/src/main/java/org/apache/shenyu/springboot/plugin/websocket/WebSocketPluginConfiguration.java
Labels: type: new feature

#3120 [ISSUE #2618] Modify degradeRuleCount type to double.
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/rule/SentinelHandle.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/SentinelPluginTest.java
  shenyu-plugin/shenyu-plugin-sentinel/src/test/java/org/apache/shenyu/plugin/sentinel/SentinelPluginTest.java
  shenyu-plugin/shenyu-plugin-sentinel/src/test/java/org/apache/shenyu/plugin/sentinel/handler/SentinelRuleHandleTest.java
Labels: plugin: sentinel, type: refactor

#3124 [type:license]: update NOTICE file
  NOTICE
  shenyu-dist/shenyu-bootstrap-dist/src/main/release-docs/NOTICE
Labels: in: document

#3117 Modify the method for determining whether a parameter is null
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/main/java/org/apache/shenyu/plugin/logging/AbstractLogCollector.java
Labels: type: refactor

#3114 [ISSUE #3026] [type:new feature] GrpcPlugin support using shared pool
  script/2.4.2-upgrade-2.4.3-mysql.sql
  script/2.4.2-upgrade-2.4.3-pg.sql
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/main/resources/sql-script/mysql/schema.sql
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/plugin/GrpcRegisterConfig.java
  shenyu-plugin/shenyu-plugin-grpc/src/main/java/org/apache/shenyu/plugin/grpc/client/GrpcClientBuilder.java
  shenyu-plugin/shenyu-plugin-grpc/src/main/java/org/apache/shenyu/plugin/grpc/handler/GrpcPluginDataHandler.java
  shenyu-web/src/main/java/org/apache/shenyu/web/configuration/ShenyuThreadPoolConfiguration.java
Labels: type: new feature, plugin: grpc

#3128 [type:refactor]logging-rocketmq-plugin doc,sql upgrade,config
  script/2.4.2-upgrade-2.4.3-mysql.sql
  script/2.4.2-upgrade-2.4.3-pg.sql
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/main/resources/sql-script/mysql/schema.sql
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
  shenyu-plugin/shenyu-plugin-logging-rocketmq/pom.xml
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/main/java/org/apache/shenyu/plugin/logging/AbstractLogCollector.java
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/main/java/org/apache/shenyu/plugin/logging/DefaultLogCollector.java
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/main/java/org/apache/shenyu/plugin/logging/LogCollector.java
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/main/java/org/apache/shenyu/plugin/logging/LoggingRocketMQPlugin.java
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/main/java/org/apache/shenyu/plugin/logging/body/LoggingServerHttpRequest.java
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/main/java/org/apache/shenyu/plugin/logging/body/LoggingServerHttpResponse.java
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/main/java/org/apache/shenyu/plugin/logging/config/LogCollectConfig.java
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/main/java/org/apache/shenyu/plugin/logging/entity/LZ4CompressData.java
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/main/java/org/apache/shenyu/plugin/logging/handler/LoggingRocketMQPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/main/java/org/apache/shenyu/plugin/logging/rocketmq/RocketMQLogCollectClient.java
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/main/java/org/apache/shenyu/plugin/logging/utils/LogCollectConfigUtils.java
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/main/java/org/apache/shenyu/plugin/logging/utils/LogCollectUtils.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-logging-rocketmq/src/main/java/org/apache/shenyu/springboot/starter/plugin/logging/rocketmq/LoggingRocketMQPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-logging-rocketmq/src/test/java/org/apache/shenyu/springboot/starter/plugin/logging/rocketmq/LoggingRocketMQPluginConfigurationTest.java
Labels: type: refactor, plugin: logging-rocketMQ

#3097 [type: new feature] add Cache plugin.
  script/2.4.2-upgrade-2.4.3-mysql.sql
  script/2.4.2-upgrade-2.4.3-pg.sql
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/main/resources/sql-script/mysql/schema.sql
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
  shenyu-bootstrap/pom.xml
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/rule/impl/CacheWriteRuleHandle.java
  shenyu-common/src/main/java/org/apache/shenyu/common/enums/PluginEnum.java
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/Singleton.java
  shenyu-plugin/pom.xml
  shenyu-plugin/shenyu-plugin-cache/pom.xml
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-base/pom.xml
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-base/src/main/java/org/apache/shenyu/plugin/cache/base/config/CacheConfig.java
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-base/src/main/java/org/apache/shenyu/plugin/cache/base/handler/CacheHandler.java
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-base/src/main/java/org/apache/shenyu/plugin/cache/base/utils/CacheUtils.java
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-base/src/test/java/org/apache/shenyu/plugin/cache/base/redis/handler/CacheHandlerTest.java
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-memory/pom.xml
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-memory/src/main/java/org/apache/shenyu/plugin/cache/memory/MemoryCache.java
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-memory/src/main/java/org/apache/shenyu/plugin/cache/memory/MemoryCacheBuilder.java
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-memory/src/main/resources/META-INF/shenyu/org.apache.shenyu.plugin.cache.ICacheBuilder
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-memory/src/test/java/org/apache/shenyu/plugin/cache/memory/MemoryCacheTest.java
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-read/pom.xml
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-read/src/main/java/org/apache/shenyu/plugin/cache/read/CacheReadPlugin.java
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-redis/pom.xml
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-redis/src/main/java/org/apache/shenyu/plugin/cache/redis/RedisCache.java
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-redis/src/main/java/org/apache/shenyu/plugin/cache/redis/RedisCacheBuilder.java
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-redis/src/main/java/org/apache/shenyu/plugin/cache/redis/RedisConfigProperties.java
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-redis/src/main/java/org/apache/shenyu/plugin/cache/redis/RedisConnectionFactory.java
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-redis/src/main/java/org/apache/shenyu/plugin/cache/redis/serializer/ByteArrayRedisSerializer.java
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-redis/src/main/java/org/apache/shenyu/plugin/cache/redis/serializer/ShenyuRedisSerializationContext.java
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-redis/src/main/resources/META-INF/shenyu/org.apache.shenyu.plugin.cache.ICacheBuilder
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-redis/src/test/java/org/apache/shenyu/plugin/cache/redis/RedisCacheTest.java
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-redis/src/test/java/org/apache/shenyu/plugin/cache/redis/RedisConfigPropertiesTest.java
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-spi/pom.xml
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-spi/src/main/java/org/apache/shenyu/plugin/cache/ICache.java
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-spi/src/main/java/org/apache/shenyu/plugin/cache/ICacheBuilder.java
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-write/pom.xml
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-write/src/main/java/org/apache/shenyu/plugin/cache/write/CacheWritePlugin.java
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-write/src/main/java/org/apache/shenyu/plugin/cache/write/handler/CacheWritePluginDataHandler.java
  shenyu-plugin/shenyu-plugin-ratelimiter/pom.xml
  shenyu-plugin/shenyu-plugin-ratelimiter/src/main/java/org/apache/shenyu/plugin/ratelimiter/handler/RateLimiterPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-ratelimiter/src/main/java/org/apache/shenyu/plugin/ratelimiter/handler/ShenyuReactiveRedisTemplate.java
  shenyu-plugin/shenyu-plugin-ratelimiter/src/main/java/org/apache/shenyu/plugin/ratelimiter/handler/ShenyuReactiveScriptExecutor.java
  shenyu-plugin/shenyu-plugin-ratelimiter/src/test/java/org/apache/shenyu/plugin/ratelimiter/executor/RedisRateLimiterScriptsTest.java
  shenyu-plugin/shenyu-plugin-ratelimiter/src/test/java/org/apache/shenyu/plugin/ratelimiter/handler/RateLimiterPluginDataHandlerTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/pom.xml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-cache/pom.xml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-cache/src/main/java/org/apache/shenyu/springboot/starter/plugin/cache/CachePluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-cache/src/main/resources/META-INF/spring.factories
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-cache/src/main/resources/META-INF/spring.provides
Labels: type: new feature, plugin: cache

#3129 [type:refactor] the predicate judge of Exclude and Match maintain opposite semantics.
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/condition/judge/ExcludePredicateJudge.java
Labels: type: refactor, type: new feature

#3134 [type:refactor]optimize code about data init when sync data.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/DataSyncConfiguration.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/AbstractDataChangedInit.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/DataChangedInit.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/consul/ConsulDataChangedInit.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/etcd/EtcdDataChangedInit.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/nacos/NacosDataChangedInit.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/zookeeper/ZookeeperDataChangedInit.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/config/DataSyncConfigurationTest.java
Labels: admin, type: refactor, data-sync: nacos, data-sync: http, data-sync: websocket, data-sync: zookeeper, data-sync: etcd, data-sync: consul

#3135 [type: refactor] refactor cache plugin
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-base/src/main/java/org/apache/shenyu/plugin/cache/base/config/CacheConfig.java
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-base/src/main/java/org/apache/shenyu/plugin/cache/base/handler/CacheHandler.java
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-base/src/main/java/org/apache/shenyu/plugin/cache/base/utils/CacheUtils.java
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-read/src/main/java/org/apache/shenyu/plugin/cache/read/CacheReadPlugin.java
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-redis/src/main/java/org/apache/shenyu/plugin/cache/redis/RedisCache.java
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-redis/src/main/java/org/apache/shenyu/plugin/cache/redis/RedisConfigProperties.java
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-write/src/main/java/org/apache/shenyu/plugin/cache/write/CacheWritePlugin.java
Labels: type: refactor, plugin: cache

#3113 [fix admin #3090 ] Fix click on the "EditResourceDetails" button error
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/AppAuthController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/AuthPathMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/AppAuthServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/validation/annotation/Existed.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/validation/validator/ExistedValidator.java
  shenyu-admin/src/main/resources/mappers/auth-path-sqlmap.xml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterDubboServiceImplTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterSpringCloudServiceImplTest.java
  shenyu-loadbalancer/src/test/java/org/apache/shenyu/loadbalancer/cache/UpstreamCheckTaskTest.java
Labels: type: bug, admin

#3140 [ISSUE #3122]Refactor ReflectUtils and fixed #3122
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/Assert.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/validation/annotation/Existed.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/validation/validator/ExistedValidator.java
  shenyu-client/shenyu-client-grpc/src/main/java/org/apache/shenyu/client/grpc/json/JsonServerCallListener.java
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/ReflectUtils.java
Labels: type: refactor

#3149 [type: add]: add mockito LICENSE.
  shenyu-dist/shenyu-bootstrap-dist/src/main/release-docs/LICENSE
Labels: type: build

#3151 [type: test]: Add unit test for `LoggingRocketMQPlugin.java`
  shenyu-plugin/shenyu-plugin-logging-rocketmq/src/test/java/org/apache/shenyu/plugin/logging/LoggingRocketMQPluginTest.java
Labels: in: test

#3154 [ISSUE #2070] add motan plugin dependency to shenyu-bootstrap
  shenyu-bootstrap/pom.xml
  shenyu-dist/shenyu-bootstrap-dist/src/main/release-docs/LICENSE
  shenyu-dist/shenyu-bootstrap-dist/src/main/release-docs/licenses/LICENSE-motan
Labels: type: build, plugin: motan

#3153 format SQL, fix #3088
  shenyu-admin/src/main/resources/mappers/dashboard-user-sqlmap.xml
Labels: admin, type: refactor

#3150 HTTP registers the client plug-in port occupancy detection
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/UpstreamCheckService.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-http/src/main/java/org/apache/shenyu/register/client/http/HttpClientRegisterRepository.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-http/src/main/java/org/apache/shenyu/register/client/http/utils/RuntimeUtils.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-http/src/main/java/org/apache/shenyu/register/client/http/utils/SystemUtils.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-http/src/test/java/org/apache/shenyu/register/client/http/utils/OkHttpToolsTest.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-http/src/test/java/org/apache/shenyu/register/client/http/utils/RegisterUtilsTest.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-http/src/test/java/org/apache/shenyu/register/client/http/utils/RuntimeUtilsTest.java
Labels: type: refactor, client: register-http

#3156 [type: refactor] refactor motan license
  shenyu-dist/shenyu-bootstrap-dist/src/main/release-docs/licenses/LICENSE-motan.txt
Labels: type: release

#3159 [type: add]: add rocketmq-client LICENSE.
  shenyu-dist/shenyu-bootstrap-dist/src/main/release-docs/LICENSE
Labels: type: build

#3160 fix bug of issues-3158
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/RpcParamTransformPlugin.java
Labels: type: bug
