Repository apache/shenyu, pull requests merged in 2022-12, with the labels that each got.

#4230 [type:refactor] removed unnecessary singleton
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/AppAuthDO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/AppAuthServiceImpl.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/AppAuthMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/AppAuthServiceTest.java
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/SignUtils.java
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/SignUtilsTest.java
Labels: admin, type: refactor

#4231 [Task]api-doc add field and detail crud(#4029)
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/DetailController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/FieldController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/DetailMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/FieldMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/DetailDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/FieldDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/query/DetailQuery.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/query/FieldQuery.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/vo/DetailVO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/vo/FieldVO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/DetailService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/FieldService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DetailServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/FieldServiceImpl.java
  shenyu-admin/src/main/resources/mappers/detail-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/field-sqlmap.xml
Labels: type: new feature, admin: API Document

#4229 [ISSUE 4228] fixed generating mock data in multithreading
  shenyu-plugin/shenyu-plugin-mock/src/main/java/org/apache/shenyu/plugin/mock/generator/ArrayGenerator.java
  shenyu-plugin/shenyu-plugin-mock/src/main/java/org/apache/shenyu/plugin/mock/generator/BoolGenerator.java
  shenyu-plugin/shenyu-plugin-mock/src/main/java/org/apache/shenyu/plugin/mock/generator/CurrentTimeGenerator.java
  shenyu-plugin/shenyu-plugin-mock/src/main/java/org/apache/shenyu/plugin/mock/generator/EmailGenerator.java
  shenyu-plugin/shenyu-plugin-mock/src/main/java/org/apache/shenyu/plugin/mock/generator/EnStringGenerator.java
  shenyu-plugin/shenyu-plugin-mock/src/main/java/org/apache/shenyu/plugin/mock/generator/ExpressionGenerator.java
  shenyu-plugin/shenyu-plugin-mock/src/main/java/org/apache/shenyu/plugin/mock/generator/Generator.java
  shenyu-plugin/shenyu-plugin-mock/src/main/java/org/apache/shenyu/plugin/mock/generator/GeneratorFactory.java
  shenyu-plugin/shenyu-plugin-mock/src/main/java/org/apache/shenyu/plugin/mock/generator/PhoneGenerator.java
  shenyu-plugin/shenyu-plugin-mock/src/main/java/org/apache/shenyu/plugin/mock/generator/RandomDoubleGenerator.java
  shenyu-plugin/shenyu-plugin-mock/src/main/java/org/apache/shenyu/plugin/mock/generator/RandomIntGenerator.java
  shenyu-plugin/shenyu-plugin-mock/src/main/java/org/apache/shenyu/plugin/mock/generator/RangeDataGenerator.java
  shenyu-plugin/shenyu-plugin-mock/src/main/java/org/apache/shenyu/plugin/mock/generator/ZhStringGenerator.java
  shenyu-plugin/shenyu-plugin-mock/src/test/java/org/apache/shenyu/plugin/mock/generator/ArrayGeneratorTest.java
  shenyu-plugin/shenyu-plugin-mock/src/test/java/org/apache/shenyu/plugin/mock/generator/BoolGeneratorTest.java
  shenyu-plugin/shenyu-plugin-mock/src/test/java/org/apache/shenyu/plugin/mock/generator/CurrentTimeGeneratorTest.java
  shenyu-plugin/shenyu-plugin-mock/src/test/java/org/apache/shenyu/plugin/mock/generator/EmailGeneratorTest.java
  shenyu-plugin/shenyu-plugin-mock/src/test/java/org/apache/shenyu/plugin/mock/generator/EnStringGeneratorTest.java
  shenyu-plugin/shenyu-plugin-mock/src/test/java/org/apache/shenyu/plugin/mock/generator/ExpressionGeneratorTest.java
  shenyu-plugin/shenyu-plugin-mock/src/test/java/org/apache/shenyu/plugin/mock/generator/PhoneGeneratorTest.java
  shenyu-plugin/shenyu-plugin-mock/src/test/java/org/apache/shenyu/plugin/mock/generator/RandomDoubleGeneratorTest.java
  shenyu-plugin/shenyu-plugin-mock/src/test/java/org/apache/shenyu/plugin/mock/generator/RandomIntGeneratorTest.java
  shenyu-plugin/shenyu-plugin-mock/src/test/java/org/apache/shenyu/plugin/mock/generator/RangeDataGeneratorTest.java
  shenyu-plugin/shenyu-plugin-mock/src/test/java/org/apache/shenyu/plugin/mock/generator/ZhStringGeneratorTest.java
Labels: type: refactor, plugin: mock

#4233 [Task] support user specify http request domain
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
  shenyu-plugin/shenyu-plugin-divide/src/main/java/org/apache/shenyu/plugin/divide/DividePlugin.java
Labels: type: new feature

#4236 [ISSUE #4235]supports generation of mock data on request
  shenyu-plugin/shenyu-plugin-mock/src/main/java/org/apache/shenyu/plugin/mock/MockPlugin.java
  shenyu-plugin/shenyu-plugin-mock/src/main/java/org/apache/shenyu/plugin/mock/api/MockRequest.java
  shenyu-plugin/shenyu-plugin-mock/src/main/java/org/apache/shenyu/plugin/mock/generator/ArrayGenerator.java
  shenyu-plugin/shenyu-plugin-mock/src/main/java/org/apache/shenyu/plugin/mock/generator/BoolGenerator.java
  shenyu-plugin/shenyu-plugin-mock/src/main/java/org/apache/shenyu/plugin/mock/generator/CurrentTimeGenerator.java
  shenyu-plugin/shenyu-plugin-mock/src/main/java/org/apache/shenyu/plugin/mock/generator/EmailGenerator.java
  shenyu-plugin/shenyu-plugin-mock/src/main/java/org/apache/shenyu/plugin/mock/generator/EnStringGenerator.java
  shenyu-plugin/shenyu-plugin-mock/src/main/java/org/apache/shenyu/plugin/mock/generator/ExpressionGenerator.java
  shenyu-plugin/shenyu-plugin-mock/src/main/java/org/apache/shenyu/plugin/mock/generator/Generator.java
  shenyu-plugin/shenyu-plugin-mock/src/main/java/org/apache/shenyu/plugin/mock/generator/GeneratorFactory.java
  shenyu-plugin/shenyu-plugin-mock/src/main/java/org/apache/shenyu/plugin/mock/generator/PhoneGenerator.java
  shenyu-plugin/shenyu-plugin-mock/src/main/java/org/apache/shenyu/plugin/mock/generator/RandomDoubleGenerator.java
  shenyu-plugin/shenyu-plugin-mock/src/main/java/org/apache/shenyu/plugin/mock/generator/RandomIntGenerator.java
  shenyu-plugin/shenyu-plugin-mock/src/main/java/org/apache/shenyu/plugin/mock/generator/RangeDataGenerator.java
  shenyu-plugin/shenyu-plugin-mock/src/main/java/org/apache/shenyu/plugin/mock/generator/ZhStringGenerator.java
  shenyu-plugin/shenyu-plugin-mock/src/test/java/org/apache/shenyu/plugin/mock/generator/ArrayGeneratorTest.java
  shenyu-plugin/shenyu-plugin-mock/src/test/java/org/apache/shenyu/plugin/mock/generator/BoolGeneratorTest.java
  shenyu-plugin/shenyu-plugin-mock/src/test/java/org/apache/shenyu/plugin/mock/generator/CurrentTimeGeneratorTest.java
  shenyu-plugin/shenyu-plugin-mock/src/test/java/org/apache/shenyu/plugin/mock/generator/EmailGeneratorTest.java
  shenyu-plugin/shenyu-plugin-mock/src/test/java/org/apache/shenyu/plugin/mock/generator/EnStringGeneratorTest.java
  shenyu-plugin/shenyu-plugin-mock/src/test/java/org/apache/shenyu/plugin/mock/generator/ExpressionGeneratorTest.java
  shenyu-plugin/shenyu-plugin-mock/src/test/java/org/apache/shenyu/plugin/mock/generator/GeneratorFactoryTest.java
  shenyu-plugin/shenyu-plugin-mock/src/test/java/org/apache/shenyu/plugin/mock/generator/PhoneGeneratorTest.java
  shenyu-plugin/shenyu-plugin-mock/src/test/java/org/apache/shenyu/plugin/mock/generator/RandomDoubleGeneratorTest.java
  shenyu-plugin/shenyu-plugin-mock/src/test/java/org/apache/shenyu/plugin/mock/generator/RandomIntGeneratorTest.java
  shenyu-plugin/shenyu-plugin-mock/src/test/java/org/apache/shenyu/plugin/mock/generator/RangeDataGeneratorTest.java
  shenyu-plugin/shenyu-plugin-mock/src/test/java/org/apache/shenyu/plugin/mock/generator/ZhStringGeneratorTest.java
Labels: type: new feature, plugin: mock

#4254 [ISSUE #4253] fix #4253 issue in sign plugin
  shenyu-plugin/shenyu-plugin-sign/src/main/java/org/apache/shenyu/plugin/sign/SignPlugin.java
Labels: type: refactor, plugin: sign

#4256 [type:feature] added array method of expression in mock plugin
  shenyu-plugin/shenyu-plugin-mock/src/main/java/org/apache/shenyu/plugin/mock/generator/ExpressionGenerator.java
  shenyu-plugin/shenyu-plugin-mock/src/main/java/org/apache/shenyu/plugin/mock/util/MockUtil.java
  shenyu-plugin/shenyu-plugin-mock/src/test/java/org/apache/shenyu/plugin/mock/generator/ExpressionGeneratorTest.java
Labels: type: new feature, plugin: mock

#4257 [ISSUE #4029] add api doc upgrade sql
  db/init/oracle/schema.sql
  db/upgrade/2.5.0-upgrade-2.5.1-mysql.sql
  db/upgrade/2.5.0-upgrade-2.5.1-oracle.sql
  db/upgrade/2.5.0-upgrade-2.5.1-pg.sql
Labels: admin, admin: API Document, sql

#4261 [type:refactor] decoupled sign plugin
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/support/RequestDecorator.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/utils/ResponseUtils.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/utils/ServerWebExchangeUtils.java
  shenyu-plugin/shenyu-plugin-sign/src/main/java/org/apache/shenyu/plugin/sign/SignPlugin.java
  shenyu-plugin/shenyu-plugin-sign/src/main/java/org/apache/shenyu/plugin/sign/exception/SignPluginException.java
Labels: type: refactor

#4260 [ISSUE #4243] to avoid load the same ext plugins repeatedly
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/ShenyuPluginLoader.java
  shenyu-web/src/test/java/org/apache/shenyu/web/loader/ShenyuPluginLoaderTest.java
Labels: type: bug

#4258 [Task]support diff nacos namespace
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/AbstractShenyuPlugin.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-apache-dubbo/src/main/java/org/apache/shenyu/plugin/apache/dubbo/cache/ApacheDubboConfigCache.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-apache-dubbo/src/main/java/org/apache/shenyu/plugin/apache/dubbo/handler/ApacheDubboMetaDataHandler.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-apache-dubbo/src/main/java/org/apache/shenyu/plugin/apache/dubbo/proxy/ApacheDubboProxyService.java
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-apache-dubbo/src/test/java/org/apache/shenyu/plugin/apache/dubbo/cache/ApacheDubboConfigCacheTest.java
Labels: plugin: dubbo, type: new feature, plugin: alibaba-dubbo, plugin: apache-dubbo

#4268 Fix appAuth delete bug
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/AppAuthServiceImpl.java
Labels: type: bug, admin

#4267 [bugfix]fix #4253 issue in Cryptor-Request Plugin
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/exception/ResponsiveException.java
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/utils/WebFluxResultUtils.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/decorator/CryptorRequestDecorator.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/decorator/CryptorResponseDecorator.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/request/CryptorRequestPlugin.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/utils/CryptorUtil.java
  shenyu-plugin/shenyu-plugin-sign/src/main/java/org/apache/shenyu/plugin/sign/SignPlugin.java
  shenyu-plugin/shenyu-plugin-sign/src/main/java/org/apache/shenyu/plugin/sign/exception/SignPluginException.java
Labels: type: bug, plugin: cryptor

#4275 [type:refactor] added more test and fixed checkParam
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/CryptorRequestPluginTest.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/request/CryptorRequestPlugin.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/response/CryptorResponsePlugin.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/utils/CryptorUtil.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/utils/JsonUtil.java
Labels: type: refactor, plugin: cryptor

#4248 [Task] add sdk grpc examples (#3925)
  shenyu-examples/shenyu-examples-sdk/pom.xml
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-grpc/pom.xml
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-grpc/shenyu-examples-sdk-grpc-consumer/Dockerfile
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-grpc/shenyu-examples-sdk-grpc-consumer/pom.xml
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-grpc/shenyu-examples-sdk-grpc-consumer/src/main/http/sdk-grpc-test-api.http
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-grpc/shenyu-examples-sdk-grpc-consumer/src/main/java/org/apache/shenyu/examples/sdk/grpc/consumer/ShenyuSdkGrpcConsumerApplication.java
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-grpc/shenyu-examples-sdk-grpc-consumer/src/main/java/org/apache/shenyu/examples/sdk/grpc/consumer/api/ShenyuGrpcClientApi.java
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-grpc/shenyu-examples-sdk-grpc-consumer/src/main/java/org/apache/shenyu/examples/sdk/grpc/consumer/controller/ShenyuSdkGrpcConsumerController.java
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-grpc/shenyu-examples-sdk-grpc-consumer/src/main/java/org/apache/shenyu/examples/sdk/grpc/consumer/dto/EchoRequest.java
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-grpc/shenyu-examples-sdk-grpc-consumer/src/main/java/org/apache/shenyu/examples/sdk/grpc/consumer/dto/EchoResponse.java
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-grpc/shenyu-examples-sdk-grpc-consumer/src/main/java/org/apache/shenyu/examples/sdk/grpc/consumer/dto/GrpcData.java
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-grpc/shenyu-examples-sdk-grpc-consumer/src/main/java/org/apache/shenyu/examples/sdk/grpc/consumer/dto/HelloRequest.java
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-grpc/shenyu-examples-sdk-grpc-consumer/src/main/java/org/apache/shenyu/examples/sdk/grpc/consumer/dto/HelloResponse.java
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-grpc/shenyu-examples-sdk-grpc-consumer/src/main/resources/application.yaml
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-grpc/shenyu-examples-sdk-grpc-provider/Dockerfile
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-grpc/shenyu-examples-sdk-grpc-provider/pom.xml
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-grpc/shenyu-examples-sdk-grpc-provider/src/main/java/org/apache/shenyu/examples/sdk/grpc/provider/ShenyuSdkGrpcProviderApplication.java
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-grpc/shenyu-examples-sdk-grpc-provider/src/main/resources/application.yml
Labels: in: example, sdk

#4265 update rule-sqlmap.xml selector-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/rule-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/selector-sqlmap.xml
Labels: admin

#4278 [type:refactor] modify the deprecated parse method of JsonParser to parseString
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterDivideServiceImplTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterDubboServiceImplTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterGrpcServiceImplTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterSofaServiceImplTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterSpringCloudServiceImplTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterTarsServiceImplTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/GsonUtilsTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/JsonUtilsTest.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/utils/CryptorUtil.java
Labels: type: refactor, in: test

#4244 replace `Thread.sleep` with `Awaitility` to speed up unit tests.
  shenyu-plugin/shenyu-plugin-mqtt/pom.xml
  shenyu-plugin/shenyu-plugin-mqtt/src/test/java/org/apache/shenyu/plugin/mqtt/handler/MqttPluginDataHandlerTest.java
Labels: type: refactor, in: test

#4281 [type:refactor] added test of requestBody and more other test in SignPluginTest
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/SignPluginTest.java
Labels: integration-test

#4259 Update ShenyuExtConfiguration.java
  shenyu-web/src/main/java/org/apache/shenyu/web/configuration/ShenyuExtConfiguration.java
  shenyu-web/src/main/java/org/apache/shenyu/web/forward/ForwardedRemoteAddressResolver.java
  shenyu-web/src/test/java/org/apache/shenyu/web/configuration/ShenyuExtConfigurationTest.java
Labels: type: refactor
