Repository apache/shenyu, pull requests merged in 2022-05, with the labels that each got.

#3373 Increase the test coverage of package: plugin-resilienct4j to more than 80%
  shenyu-plugin/shenyu-plugin-resilience4j/src/test/java/org/apache/shenyu/plugin/resilience4j/build/Resilience4JBuilderTest.java
  shenyu-plugin/shenyu-plugin-resilience4j/src/test/java/org/apache/shenyu/plugin/resilience4j/conf/Resilience4JConfTest.java
  shenyu-plugin/shenyu-plugin-resilience4j/src/test/java/org/apache/shenyu/plugin/resilience4j/handler/Resilience4JHandlerTest.java
Labels: in: test

#3361 [type: refactor]Code polish in DubboPlugin
  shenyu-plugin/shenyu-plugin-dubbo/shenyu-plugin-dubbo-common/src/main/java/org/apache/shenyu/plugin/dubbo/common/AbstractDubboPlugin.java
Labels: plugin: dubbo, type: refactor

#3376 [ISSUE #3375] Add shenyu-register-instance-consul Test
  shenyu-register-center/shenyu-register-instance/shenyu-register-instance-consul/src/test/java/org/apache/shenyu/register/instance/consul/ConsulInstanceRegisterRepositoryTest.java
Labels: in: test

#3380 [type:docs] add MATURITY.md
  MATURITY.md
Labels: in: document

#3371 [ISSUE #3275]test common: add unit test cases
  shenyu-common/src/test/java/org/apache/shenyu/common/concurrent/MemoryLimitCalculatorTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/concurrent/MemoryLimitedLinkedBlockingQueueTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/concurrent/MemoryLimitedTaskQueueTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/concurrent/ShenyuThreadPoolExecutorTest.java
Labels: in: test

#3383 [type:refactor] refactor IpUtils#getHost
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/IpUtils.java
Labels: type: refactor, common

#3385 [type:Integration Test] Add rewrite-plugin Integration Test
  shenyu-integrated-test/shenyu-integrated-test-http/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/RewritePluginTest.java
Labels: plugin: rewrite, integration-test

#3379 [fix:compatibility #3374]grpc plugin compatible with low version and output standard format json
  shenyu-client/shenyu-client-grpc/src/main/java/org/apache/shenyu/client/grpc/json/JsonServerServiceInterceptor.java
  shenyu-integrated-test/shenyu-integrated-test-grpc/src/test/java/org/apache/shenyu/integrated/test/grpc/GrpcPluginTest.java
  shenyu-plugin/shenyu-plugin-grpc/src/main/java/org/apache/shenyu/plugin/grpc/proto/MessageWriter.java
  shenyu-plugin/shenyu-plugin-grpc/src/main/java/org/apache/shenyu/plugin/grpc/proto/ShenyuGrpcResponse.java
Labels: type: refactor, plugin: grpc

#3388 [ISSUR #3362] Replace zookeeper client to Curator and save data in zk without magic header
  pom.xml
  shenyu-admin/pom.xml
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/DataSyncConfiguration.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/ZookeeperConfiguration.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/properties/ZookeeperProperties.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/zookeeper/HttpServiceDiscovery.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/zookeeper/ZookeeperDataChangedInit.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/zookeeper/ZookeeperDataChangedListener.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/zookeeper/ZookeeperDataInit.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/config/DataSyncConfigurationTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/config/ZookeeperConfigurationTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/config/ZookeeperPropertiesTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/listener/zookeeper/HttpServiceDiscoveryTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/listener/zookeeper/ZookeeperDataChangedListenerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/listener/zookeeper/ZookeeperDataInitTest.java
  shenyu-bootstrap/pom.xml
  shenyu-common/pom.xml
  shenyu-dist/shenyu-admin-dist/src/main/release-docs/LICENSE
  shenyu-dist/shenyu-bootstrap-dist/src/main/release-docs/LICENSE
  shenyu-register-center/shenyu-register-client-server/shenyu-register-client-server-zookeeper/pom.xml
  shenyu-register-center/shenyu-register-client-server/shenyu-register-client-server-zookeeper/src/main/java/org/apache/shenyu/register/client/server/zookeeper/ZookeeperClient.java
  shenyu-register-center/shenyu-register-client-server/shenyu-register-client-server-zookeeper/src/main/java/org/apache/shenyu/register/client/server/zookeeper/ZookeeperClientServerRegisterRepository.java
  shenyu-register-center/shenyu-register-client-server/shenyu-register-client-server-zookeeper/src/main/java/org/apache/shenyu/register/client/server/zookeeper/ZookeeperConfig.java
  shenyu-register-center/shenyu-register-client-server/shenyu-register-client-server-zookeeper/src/test/java/org/apache/shenyu/register/client/server/zookeeper/ZookeeperClientTest.java
  shenyu-register-center/shenyu-register-client-server/shenyu-register-client-server-zookeeper/src/test/java/org/apache/shenyu/register/client/server/zookeeper/ZookeeperServerRegisterRepositoryTest.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-zookeeper/pom.xml
  shenyu-register-center/shenyu-register-client/shenyu-register-client-zookeeper/src/main/java/org/apache/shenyu/register/client/zookeeper/ZookeeperClient.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-zookeeper/src/main/java/org/apache/shenyu/register/client/zookeeper/ZookeeperClientRegisterRepository.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-zookeeper/src/main/java/org/apache/shenyu/register/client/zookeeper/ZookeeperConfig.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-zookeeper/src/test/java/org/apache/shenyu/register/client/zookeeper/ZookeeperClientRegisterRepositoryTest.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-zookeeper/src/test/java/org/apache/shenyu/register/client/zookeeper/ZookeeperClientTest.java
  shenyu-register-center/shenyu-register-common/src/main/java/org/apache/shenyu/register/common/path/RegisterPathConstants.java
  shenyu-register-center/shenyu-register-instance/shenyu-register-instance-zookeeper/pom.xml
  shenyu-register-center/shenyu-register-instance/shenyu-register-instance-zookeeper/src/main/java/org/apache/shenyu/register/instance/zookeeper/ZookeeperClient.java
  shenyu-register-center/shenyu-register-instance/shenyu-register-instance-zookeeper/src/main/java/org/apache/shenyu/register/instance/zookeeper/ZookeeperConfig.java
  shenyu-register-center/shenyu-register-instance/shenyu-register-instance-zookeeper/src/main/java/org/apache/shenyu/register/instance/zookeeper/ZookeeperInstanceRegisterRepository.java
  shenyu-register-center/shenyu-register-instance/shenyu-register-instance-zookeeper/src/test/java/org/apache/shenyu/register/instance/zookeeper/ZookeeperClientTest.java
  shenyu-register-center/shenyu-register-instance/shenyu-register-instance-zookeeper/src/test/java/org/apache/shenyu/register/instance/zookeeper/ZookeeperInstanceRegisterRepositoryTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-zookeeper/src/main/java/org/apache/shenyu/springboot/sync/data/zookeeper/ZookeeperProperties.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-zookeeper/src/main/java/org/apache/shenyu/springboot/sync/data/zookeeper/ZookeeperSyncDataConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-zookeeper/src/test/java/org/apache/shenyu/springboot/sync/data/zookeeper/ZookeeperSyncDataConfigurationTest.java
  shenyu-sync-data-center/shenyu-sync-data-zookeeper/pom.xml
  shenyu-sync-data-center/shenyu-sync-data-zookeeper/src/main/java/org/apache/shenyu/sync/data/zookeeper/ZookeeperClient.java
  shenyu-sync-data-center/shenyu-sync-data-zookeeper/src/main/java/org/apache/shenyu/sync/data/zookeeper/ZookeeperConfig.java
  shenyu-sync-data-center/shenyu-sync-data-zookeeper/src/main/java/org/apache/shenyu/sync/data/zookeeper/ZookeeperSyncDataService.java
  shenyu-sync-data-center/shenyu-sync-data-zookeeper/src/test/java/org/apache/shenyu/sync/data/zookeeper/ZookeeperSyncDataServiceTest.java
Labels: type: refactor, data-sync: zookeeper, client: register-zookeeper

#3378 [ISSUE #3239] [New features]Shenyu-admin add new module: API document aggregation display & sandbox test.
  shenyu-admin/pom.xml
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/properties/ApiDocProperties.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ApiDocController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/SandboxController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/SelectorController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/ApplicationStartListener.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/DataChangedEventDispatcher.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/bean/CustomCode.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/bean/DocInfo.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/bean/DocItem.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/bean/DocModule.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/bean/DocParameter.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/bean/UpstreamInstance.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/vo/DocVO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/vo/MenuDocItem.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/vo/MenuModule.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/vo/MenuProject.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/SelectorService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SelectorServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/manager/DocManager.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/manager/DocParser.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/manager/LoadServiceDocEntry.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/manager/ServiceDocManager.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/manager/impl/DocManagerImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/manager/impl/LoadServiceDocEntryImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/manager/impl/ServiceDocManagerImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/manager/impl/SwaggerDocParser.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/HttpUtils.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/ShenyuSignatureUtils.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/UploadUtils.java
  shenyu-admin/src/main/resources/application.yml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/SelectorControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/listener/DataChangedEventDispatcherTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/SelectorServiceTest.java
  shenyu-dist/shenyu-admin-dist/src/main/release-docs/LICENSE
Labels: admin, type: new feature

#3395 [type:refactor] code polish in admin
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/RuleServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SelectorServiceImpl.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/RuleServiceTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/SelectorServiceTest.java
Labels: admin, type: refactor

#3404 [type:feat] alert template
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/AlertTemplateController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/AlertTemplateMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/AlertTemplateDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/AlertTemplateDO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/vo/AlertTemplateVO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/AlertTemplateService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/AlertTemplateServiceImpl.java
  shenyu-admin/src/main/resources/mappers/alert-template-sqlmap.xml
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/main/resources/sql-script/mysql/schema.sql
Labels: type: new feature

#3417 [ISSUE #3414] optimize rpcExt in motan client and tars client
  shenyu-client/shenyu-client-motan/src/main/java/org/apache/shenyu/client/motan/MotanServiceBeanPostProcessor.java
  shenyu-client/shenyu-client-motan/src/main/java/org/apache/shenyu/client/motan/common/dto/MotanRpcExt.java
  shenyu-client/shenyu-client-tars/src/main/java/org/apache/shenyu/client/tars/TarsServiceBeanPostProcessor.java
  shenyu-client/shenyu-client-tars/src/main/java/org/apache/shenyu/client/tars/common/dto/TarsRpcExt.java
Labels: type: refactor, client: tars, client: motan

#3422 [ISSUE #3396] Fix type convert exception in `PostgreSQLBooleanHandler.java`.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mybatis/pg/handler/PostgreSQLBooleanHandler.java
  shenyu-admin/src/main/resources/mappers/operation-record-log-sqlmap.xml
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
Labels: admin

#3426 [type: test] add NettyWebServerConfiguration test
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-gateway/src/test/java/org/apache/shenyu/springboot/starter/netty/ShenyuNettyWebServerConfigurationTest.java
Labels: in: test

#3428 [type:refactor] fix lost logic bug
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/cache/MetaDataCache.java
  shenyu-plugin/shenyu-plugin-divide/src/main/java/org/apache/shenyu/plugin/divide/handler/DividePluginDataHandler.java
  shenyu-plugin/shenyu-plugin-global/pom.xml
  shenyu-plugin/shenyu-plugin-global/src/main/java/org/apache/shenyu/plugin/global/DefaultShenyuContextBuilder.java
  shenyu-plugin/shenyu-plugin-global/src/main/java/org/apache/shenyu/plugin/global/subsciber/MetaDataCacheSubscriber.java
  shenyu-plugin/shenyu-plugin-global/src/test/java/org/apache/shenyu/plugin/global/cache/MetaDataCacheTest.java
  shenyu-plugin/shenyu-plugin-global/src/test/java/org/apache/shenyu/plugin/global/subsciber/MetaDataCacheSubscriberTest.java
Labels: type: bug, type: refactor

#3430 [ISSUE #3350] why contextpath "/springcloud" != "springcloud" ?
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/main/java/org/apache/shenyu/client/springcloud/init/ContextRegisterListener.java
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/main/java/org/apache/shenyu/client/springcloud/init/SpringCloudClientBeanPostProcessor.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/init/ContextRegisterListener.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/init/SpringMvcClientBeanPostProcessor.java
Labels: type: refactor, client: spring-cloud

#3434 Update README.md
  README.md
Labels: in: document

#3423 [ISSUE 3407] sub task1 add the logic of annotation on the splicing class for apache dubbo client
  shenyu-client/shenyu-client-dubbo/shenyu-client-apache-dubbo/src/main/java/org/apache/shenyu/client/apache/dubbo/ApacheDubboServiceBeanListener.java
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-annotation/src/main/java/org/apache/shenyu/examples/apache/dubbo/service/annotation/impl/DubboClassMultiParamServiceImpl.java
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-annotation/src/main/java/org/apache/shenyu/examples/apache/dubbo/service/annotation/impl/DubboClassTestServiceImpl.java
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-dubbo-api/src/main/java/org/apache/shenyu/examples/dubbo/api/service/DubboClassMultiParamService.java
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-dubbo-api/src/main/java/org/apache/shenyu/examples/dubbo/api/service/DubboClassTestService.java
Labels: client: dubbo, type: refactor

#3448 SpringMvcClient register metadata by default
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/annotation/ShenyuSpringMvcClient.java
Labels: type: refactor, client: spring-mvc

#3433 [ISSUE #3406] Sofa and tars using shared thread pool.
  db/init/mysql/schema.sql
  db/init/oracle/schema.sql
  db/init/pg/create-table.sql
  db/upgrade/2.4.3-upgrade-2.5.0-mysql.sql
  db/upgrade/2.4.3-upgrade-2.5.0-pg.sql
  shenyu-admin/src/main/java/org/apache/shenyu/admin/transfer/DashboardUserTransfer.java
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/plugin/TarsRegisterConfig.java
  shenyu-common/src/test/java/org/apache/shenyu/common/dto/convert/plugin/TarsRegisterConfigTest.java
  shenyu-plugin/shenyu-plugin-grpc/src/main/java/org/apache/shenyu/plugin/grpc/transfer/ShenyuServiceTransfer.java
  shenyu-plugin/shenyu-plugin-motan/src/main/java/org/apache/shenyu/plugin/motan/proxy/MotanProxyService.java
  shenyu-plugin/shenyu-plugin-tars/src/main/java/org/apache/shenyu/plugin/tars/TarsPlugin.java
  shenyu-plugin/shenyu-plugin-tars/src/main/java/org/apache/shenyu/plugin/tars/cache/ApplicationConfigCache.java
  shenyu-plugin/shenyu-plugin-tars/src/main/java/org/apache/shenyu/plugin/tars/handler/TarsPluginDataHandler.java
  shenyu-web/src/main/java/org/apache/shenyu/web/configuration/ShenyuThreadPoolConfiguration.java
Labels: type: enhancement, type: refactor, plugin: tars

#3451 [ISSUE #3449] Fix tars plugin thread pool field can not config
  db/init/mysql/schema.sql
  db/init/oracle/schema.sql
  db/init/pg/create-table.sql
  db/upgrade/2.4.3-upgrade-2.5.0-mysql.sql
  db/upgrade/2.4.3-upgrade-2.5.0-pg.sql
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
Labels: type: refactor

#3442 [ISSUE #3436] task2 SpringCloudClient register more detaild metadata
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterSpringCloudServiceImpl.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterSpringCloudServiceImplTest.java
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/main/java/org/apache/shenyu/client/springcloud/annotation/ShenyuSpringCloudClient.java
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/main/java/org/apache/shenyu/client/springcloud/init/SpringCloudClientBeanPostProcessor.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/init/SpringMvcClientBeanPostProcessor.java
Labels: type: enhancement, client: spring-cloud

#3453 [ISSUE #3452] Fix spring-boot-starter typo
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-alibaba-dubbo/src/main/java/org/apache/shenyu/springboot/starter/client/alibaba/dubbo/ShenyuAlibabaDubboClientConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-apache-dubbo/src/main/java/org/apache/shenyu/springboot/starter/client/apache/dubbo/ShenyuApacheDubboClientConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-common/src/main/java/org/apache/shenyu/springboot/starter/client/common/config/ShenyuClientCommonBeanConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-grpc/src/main/java/org/apache/dromara/springboot/starter/client/grpc/ShenyuGrpcClientConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-motan/src/main/java/org/apache/shenyu/springboot/starter/client/motan/ShenyuMotanClientConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-motan/src/test/java/org/apache/shenyu/springboot/starter/client/motan/ShenyuMotanClientConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-sofa/src/main/java/org/apache/shenyu/springboot/starter/client/sofa/ShenyuSofaClientConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-spring-websocket/src/main/java/org/apache/shenyu/springboot/starter/client/spring/websocket/ShenyuSpringWebSocketClientConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-springcloud/src/main/java/org/apache/shenyu/springboot/starter/client/springcloud/ShenyuSpringCloudClientConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-springmvc/src/main/java/org/apache/shenyu/springboot/starter/client/springmvc/ShenyuSpringMvcClientConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-tars/src/main/java/org/apache/shenyu/springboot/starter/client/tars/ShenyuTarsClientConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-gateway/src/main/java/org/apache/shenyu/springboot/starter/gateway/ShenyuConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-gateway/src/main/java/org/apache/shenyu/springboot/starter/netty/NettyChannelProperties.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-gateway/src/main/java/org/apache/shenyu/springboot/starter/netty/NettyTcpProperties.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-gateway/src/main/java/org/apache/shenyu/springboot/starter/netty/ShenyuNettyWebServerConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-context-path/src/main/java/org/apache/shenyu/springboot/starter/plugin/context/path/ContextPathPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-cryptor/src/main/java/org/apache/shenyu/springboot/starter/plugin/cryptor/CryptorPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-divide/src/main/java/org/apache/shenyu/springboot/plugin/divide/DividePluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-dubbo/shenyu-spring-boot-starter-plugin-alibaba-dubbo/src/main/java/org/apache/shenyu/springboot/starter/plugin/alibaba/dubbo/AlibabaDubboPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-dubbo/shenyu-spring-boot-starter-plugin-apache-dubbo/src/main/java/org/apache/shenyu/springboot/starter/plugin/apache/dubbo/ApacheDubboPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-dubbo/shenyu-spring-boot-starter-plugin-dubbo-common/src/main/java/org/apache/shenyu/springboot/plugin/dubbo/common/DubboCommonConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-grpc/src/main/java/org/apache/shenyu/springboot/starter/plugin/grpc/GrpcPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-httpclient/src/main/java/org/apache/shenyu/springboot/starter/plugin/httpclient/HttpClientPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-hystrix/src/main/java/org/apache/shenyu/springboot/starter/plugin/hystrix/HystrixPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-jwt/src/main/java/org/apache/shenyu/springboot/starter/plugin/jwt/JwtPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-logging-console/src/main/java/org/apache/shenyu/springboot/starter/plugin/logging/console/LoggingConsolePluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-metrics/src/main/java/org/apache/shenyu/springboot/starter/plugin/metrics/MetricsPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-motan/src/main/java/org/apache/shenyu/springboot/starter/plugin/motan/MotanPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-mqtt/src/main/java/org/apache/shenyu/springboot/starter/plugin/mqtt/MqttPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-oauth2/src/main/java/org/apache/shenyu/springboot/starter/plugin/oauth2/OAuth2PluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-param-mapping/src/main/java/org/apache/shenyu/springboot/starter/plugin/param/mapping/ParamMappingPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-ratelimiter/src/main/java/org/apache/shenyu/springboot/starter/plugin/ratelimiter/RateLimiterPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-resilience4j/src/main/java/org/apache/shenyu/springboot/starter/plugin/resilience4j/Resilience4JPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-response/src/main/java/org/apache/shenyu/springboot/starter/plugin/response/ResponsePluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-sentinel/src/main/java/org/apache/shenyu/springboot/starter/plugin/sentinel/SentinelPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-sign/src/main/java/org/apache/shenyu/springboot/starter/plugin/sign/SignPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-sofa/src/main/java/org/apache/shenyu/springboot/starter/plugin/sofa/SofaPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-springcloud/src/main/java/org/apache/shenyu/springboot/starter/plugin/springcloud/SpringCloudPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-tars/src/main/java/org/apache/shenyu/springboot/starter/plugin/tars/TarsPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-uri/src/main/java/org/apache/shenyu/springboot/starter/plugin/uri/URIPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-waf/src/main/java/org/apache/shenyu/springboot/starter/plugin/waf/WafPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-websocket/src/main/java/org/apache/shenyu/springboot/plugin/websocket/WebSocketPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-etcd/src/main/java/org/apache/shenyu/springboot/sync/data/etcd/EtcdSyncDataConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-http/src/main/java/org/apache/shenyu/springboot/starter/sync/data/http/HttpSyncDataConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-nacos/src/main/java/org/apache/shenyu/springboot/starter/sync/data/nacos/NacosSyncDataConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-zookeeper/src/main/java/org/apache/shenyu/springboot/sync/data/zookeeper/ZookeeperSyncDataConfiguration.java
Labels: type: refactor

#3441 [ISSUE #3407]task 5,add the logic of annotation on the splicing class…
  shenyu-client/shenyu-client-sofa/src/main/java/org/apache/shenyu/client/sofa/SofaServiceBeanPostProcessor.java
  shenyu-examples/shenyu-examples-sofa/shenyu-examples-sofa-api/src/main/java/org/apache/shenyu/examples/sofa/api/service/SofaClientMultiParamService.java
  shenyu-examples/shenyu-examples-sofa/shenyu-examples-sofa-api/src/main/java/org/apache/shenyu/examples/sofa/api/service/SofaClientSingleParamService.java
  shenyu-examples/shenyu-examples-sofa/shenyu-examples-sofa-service/src/main/java/org/apache/shenyu/examples/sofa/service/impl/SofaClientMultiParamServiceImpl.java
  shenyu-examples/shenyu-examples-sofa/shenyu-examples-sofa-service/src/main/java/org/apache/shenyu/examples/sofa/service/impl/SofaClientSingleParamServiceImpl.java
Labels: type: enhancement, client: sofa

#3454 [Task #3407] add the logic of annotation on the splicing class: gRPC
  shenyu-client/shenyu-client-grpc/src/main/java/org/apache/shenyu/client/grpc/GrpcClientBeanPostProcessor.java
  shenyu-examples/shenyu-examples-grpc/src/main/http/grpc-class-annotation-test-api.http
  shenyu-examples/shenyu-examples-grpc/src/main/java/org/apache/shenyu/examples/grpc/demo/EventServiceImpl.java
  shenyu-examples/shenyu-examples-grpc/src/main/java/org/apache/shenyu/examples/grpc/demo/HelloServiceImpl.java
  shenyu-examples/shenyu-examples-grpc/src/main/resources/proto/event.proto
  shenyu-examples/shenyu-examples-grpc/src/main/resources/proto/hello.proto
Labels: type: enhancement, client: grpc

#3435 [type: test]:Add the unit test of package: plugin-motan
  shenyu-plugin/shenyu-plugin-motan/pom.xml
  shenyu-plugin/shenyu-plugin-motan/src/test/java/org/apache/shenyu/plugin/motan/MotanPluginTest.java
  shenyu-plugin/shenyu-plugin-motan/src/test/java/org/apache/shenyu/plugin/motan/cache/ApplicationConfigCacheTest.java
  shenyu-plugin/shenyu-plugin-motan/src/test/java/org/apache/shenyu/plugin/motan/context/MotanShenyuContextDecoratorTest.java
  shenyu-plugin/shenyu-plugin-motan/src/test/java/org/apache/shenyu/plugin/motan/handler/MotanPluginDataHandlerTest.java
  shenyu-plugin/shenyu-plugin-motan/src/test/java/org/apache/shenyu/plugin/motan/util/PrxInfoUtilTest.java
Labels: integration-test
