Repository apache/shenyu, pull requests merged in 2022-02, with the labels that each got.

#2821 feature(Integrated-Test): combination integrated test for Request Plugins
  shenyu-examples/shenyu-examples-http/src/main/java/org/apache/shenyu/examples/http/controller/HttpTestController.java
  shenyu-integrated-test/shenyu-integrated-test-combination/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-combination/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-combination/src/main/resources/application-local.yml
  shenyu-integrated-test/shenyu-integrated-test-combination/src/test/java/org/apache/shenyu/integrated/test/combination/MultiRequestPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-common/src/main/java/org/apache/shenyu/integratedtest/common/dto/ModifyResponseDTO.java
  shenyu-integrated-test/shenyu-integrated-test-common/src/main/java/org/apache/shenyu/integratedtest/common/helper/HttpHelper.java
Labels: integration-test

#2825 feature(integrated-test): add integrated test for tracing-jaeger plugin
  .github/workflows/integrated-test-agent-tracing.yml
  shenyu-integrated-test/shenyu-integrated-test-agent/shenyu-integrated-test-agent-tracing/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-agent/shenyu-integrated-test-agent-tracing/shenyu-integrated-test-agent-tracing-jaeger/Dockerfile
  shenyu-integrated-test/shenyu-integrated-test-agent/shenyu-integrated-test-agent-tracing/shenyu-integrated-test-agent-tracing-jaeger/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-agent/shenyu-integrated-test-agent-tracing/shenyu-integrated-test-agent-tracing-jaeger/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-agent/shenyu-integrated-test-agent-tracing/shenyu-integrated-test-agent-tracing-jaeger/script/healthcheck.sh
  shenyu-integrated-test/shenyu-integrated-test-agent/shenyu-integrated-test-agent-tracing/shenyu-integrated-test-agent-tracing-jaeger/script/services.list
  shenyu-integrated-test/shenyu-integrated-test-agent/shenyu-integrated-test-agent-tracing/shenyu-integrated-test-agent-tracing-jaeger/src/main/assembly/binary.xml
  shenyu-integrated-test/shenyu-integrated-test-agent/shenyu-integrated-test-agent-tracing/shenyu-integrated-test-agent-tracing-jaeger/src/main/java/org/apache/shenyu/integrated/test/agent/jaeger/JaegerIntegratedBootstrap.java
  shenyu-integrated-test/shenyu-integrated-test-agent/shenyu-integrated-test-agent-tracing/shenyu-integrated-test-agent-tracing-jaeger/src/main/resources/application.yml
  shenyu-integrated-test/shenyu-integrated-test-agent/shenyu-integrated-test-agent-tracing/shenyu-integrated-test-agent-tracing-jaeger/src/main/resources/bin/start.sh
  shenyu-integrated-test/shenyu-integrated-test-agent/shenyu-integrated-test-agent-tracing/shenyu-integrated-test-agent-tracing-jaeger/src/main/resources/bin/stop.sh
  shenyu-integrated-test/shenyu-integrated-test-agent/shenyu-integrated-test-agent-tracing/shenyu-integrated-test-agent-tracing-jaeger/src/main/resources/conf/logback.xml
  shenyu-integrated-test/shenyu-integrated-test-agent/shenyu-integrated-test-agent-tracing/shenyu-integrated-test-agent-tracing-jaeger/src/main/resources/conf/shenyu-agent.yaml
  shenyu-integrated-test/shenyu-integrated-test-agent/shenyu-integrated-test-agent-tracing/shenyu-integrated-test-agent-tracing-jaeger/src/main/resources/conf/tracing-point.yaml
  shenyu-integrated-test/shenyu-integrated-test-agent/shenyu-integrated-test-agent-tracing/shenyu-integrated-test-agent-tracing-jaeger/src/test/java/org/apache/shenyu/integrated/test/agent/jaeger/JaegerPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-agent/shenyu-integrated-test-agent-tracing/shenyu-integrated-test-agent-tracing-jaeger/src/test/java/org/apache/shenyu/integrated/test/agent/jaeger/result/JaegerSpan.java
Labels: integration-test, agent: jaeger

#2826 feature(integrated-test): add upload and download file in examples-http
  shenyu-examples/shenyu-examples-http/src/main/java/org/apache/shenyu/examples/http/controller/HttpTestController.java
  shenyu-integrated-test/shenyu-integrated-test-common/src/main/java/org/apache/shenyu/integratedtest/common/helper/HttpHelper.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/HttpTestControllerTest.java
Labels: integration-test

#2828 [ISSUE 2827] shenyu_checkstyle.xml does not support annotations from junit5
  script/shenyu_checkstyle.xml
Labels: type: build

#2832 [type: refactor] correct param name
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/main/java/org/apache/shenyu/client/springcloud/init/SpringCloudClientBeanPostProcessor.java
  shenyu-client/shenyu-client-tars/src/main/java/org/apache/shenyu/client/tars/TarsServiceBeanPostProcessor.java
Labels: type: refactor

#2823 [ISSUE 2754] refactor admin buildHandle about register uri.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterDivideServiceImpl.java
Labels: type: bug, type: refactor

#2834 [ISSUE #2833] fix TarsServiceBeanPostProcessor when client use AOP
  shenyu-client/shenyu-client-tars/src/main/java/org/apache/shenyu/client/tars/TarsServiceBeanPostProcessor.java
  shenyu-examples/shenyu-examples-tars/pom.xml
  shenyu-examples/shenyu-examples-tars/src/main/java/org/apache/shenyu/examples/tars/aop/Log.java
  shenyu-examples/shenyu-examples-tars/src/main/java/org/apache/shenyu/examples/tars/aop/LogInterceptor.java
  shenyu-examples/shenyu-examples-tars/src/main/java/org/apache/shenyu/examples/tars/servant/testapp/impl/HelloServantImpl.java
Labels: client: tars

#2841 [ISSUE 2830] Update junit4 to junit5 - update for common module
  shenyu-common/pom.xml
  shenyu-common/src/test/java/org/apache/shenyu/common/concurrent/ShenyuThreadFactoryTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/constant/DefaultPathConstantsTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/constant/RedisKeyConstantsTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/dto/ConfigDataTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/dto/MetaDataTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/AdminPluginOperateEnumTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/AdminResourceEnumTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/ConfigGroupEnumTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/DataEventTypeEnumTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/DataSyncEnumTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/HttpMethodEnumTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/HystrixIsolationModeEnumTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/LoadBalanceEnumTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/MatchModeEnumTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/OperatorEnumTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/ParamTypeEnumTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/PluginEnumTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/PluginRoleEnumTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/PluginTypeEnumTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/RateLimitEnumTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/RedisModeEnumTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/ResultEnumTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/RpcTypeEnumTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/SelectorTypeEnumTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/SerializeEnumTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/WafEnumTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/WafModelEnumTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/exception/CommonErrorCodeTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/exception/SerializerExceptionTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/exception/ShenyuExceptionTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/timer/HierarchicalWheelTimerTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/timer/WheelTimerFactoryTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/DateUtilsTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/GsonUtilsTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/HttpParamConverterTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/IpUtilsTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/JsonUtilsTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/LogUtilsTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/Md5UtilsTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/ParamCheckUtilsTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/PathMatchUtilsTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/ReflectUtilsTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/SignUtilsTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/SpiLoadFactoryTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/ThreadUtilsTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/UUIDUtilsTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/UpstreamCheckUtilsTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/VersionUtilsTest.java
  shenyu-plugin/shenyu-plugin-resilience4j/src/test/java/org/apache/shenyu/plugin/resilience4j/core/RateLimiterTest.java
Labels: in: test

#2851 [ISSUE 2830] Update junit4 to junit5 modify shenyu-web shenyu-spi shenyu-protocol shenyu-register-center shenyu-sync-data-center module
  shenyu-protocol/shenyu-protocol-grpc/pom.xml
  shenyu-protocol/shenyu-protocol-grpc/src/test/java/org/apache/shenyu/protocol/grpc/message/JsonMessageTest.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-etcd/src/test/java/org/apache/shenyu/register/client/etcd/EtcdClientRegisterRepositoryTest.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-http/src/test/java/org/apache/shenyu/register/client/http/RegisterUtilsTest.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-nacos/src/test/java/org/apache/shenyu/register/client/nacos/NacosClientRegisterRepositoryTest.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-zookeeper/src/test/java/org/apache/shenyu/register/client/zookeeper/ZookeeperClientRegisterRepositoryTest.java
  shenyu-register-center/shenyu-register-instance/shenyu-register-instance-core/src/test/java/org/apache/shenyu/register/instance/core/ShenyuInstanceRegisterRepositoryFactoryTest.java
  shenyu-register-center/shenyu-register-instance/shenyu-register-instance-etcd/src/test/java/org/apache/shenyu/register/instance/etcd/EtcdInstanceRegisterRepositoryTest.java
  shenyu-register-center/shenyu-register-instance/shenyu-register-instance-zookeeper/src/test/java/org/apache/shenyu/register/instance/zookeeper/ZookeeperInstanceRegisterRepositoryTest.java
  shenyu-register-center/shenyu-register-server/shenyu-register-server-consul/src/test/java/org/apache/shenyu/register/server/consul/ConsulServerRegisterRepositoryTest.java
  shenyu-register-center/shenyu-register-server/shenyu-register-server-etcd/src/test/java/org/apache/shenyu/register/server/etcd/EtcdServerRegisterRepositoryTest.java
  shenyu-register-center/shenyu-register-server/shenyu-register-server-nacos/src/test/java/org/apache/shenyu/register/server/nacos/NacosServerRegisterRepositoryTest.java
  shenyu-register-center/shenyu-register-server/shenyu-register-server-zookeeper/src/test/java/org/apache/shenyu/register/server/zookeeper/ZookeeperServerRegisterRepositoryTest.java
  shenyu-spi/src/test/java/org/apache/shenyu/spi/ExtensionLoaderTest.java
  shenyu-spi/src/test/java/org/apache/shenyu/spi/SpiExtensionFactoryTest.java
  shenyu-sync-data-center/shenyu-sync-data-consul/pom.xml
  shenyu-sync-data-center/shenyu-sync-data-consul/src/test/java/org/apache/shenyu/sync/data/consul/ConsulSyncDataServiceTest.java
  shenyu-sync-data-center/shenyu-sync-data-consul/src/test/java/org/apache/shenyu/sync/data/consul/config/ConsulConfigTest.java
  shenyu-sync-data-center/shenyu-sync-data-consul/src/test/java/org/apache/shenyu/sync/data/consul/handler/ConsulCacheHandlerTest.java
  shenyu-sync-data-center/shenyu-sync-data-etcd/pom.xml
  shenyu-sync-data-center/shenyu-sync-data-etcd/src/test/java/org/apache/shenyu/sync/data/etcd/EtcdClientTest.java
  shenyu-sync-data-center/shenyu-sync-data-etcd/src/test/java/org/apache/shenyu/sync/data/etcd/EtcdSyncDataServiceTest.java
  shenyu-sync-data-center/shenyu-sync-data-http/src/test/java/org/apache/shenyu/sync/data/http/config/HttpConfigTest.java
  shenyu-sync-data-center/shenyu-sync-data-http/src/test/java/org/apache/shenyu/sync/data/http/refresh/AppAuthDataRefreshTest.java
  shenyu-sync-data-center/shenyu-sync-data-http/src/test/java/org/apache/shenyu/sync/data/http/refresh/MetaDataRefreshTest.java
  shenyu-sync-data-center/shenyu-sync-data-http/src/test/java/org/apache/shenyu/sync/data/http/refresh/PluginDataRefreshTest.java
  shenyu-sync-data-center/shenyu-sync-data-http/src/test/java/org/apache/shenyu/sync/data/http/refresh/RuleDataRefreshTest.java
  shenyu-sync-data-center/shenyu-sync-data-http/src/test/java/org/apache/shenyu/sync/data/http/refresh/SelectorDataRefreshTest.java
  shenyu-sync-data-center/shenyu-sync-data-nacos/src/test/java/org/apache/shenyu/sync/data/nacos/NacosSyncDataServiceTest.java
  shenyu-sync-data-center/shenyu-sync-data-nacos/src/test/java/org/apache/shenyu/sync/data/nacos/config/NacosACMConfigTest.java
  shenyu-sync-data-center/shenyu-sync-data-nacos/src/test/java/org/apache/shenyu/sync/data/nacos/config/NacosConfigTest.java
  shenyu-sync-data-center/shenyu-sync-data-nacos/src/test/java/org/apache/shenyu/sync/data/nacos/handler/NacosCacheHandlerTest.java
  shenyu-sync-data-center/shenyu-sync-data-websocket/pom.xml
  shenyu-sync-data-center/shenyu-sync-data-websocket/src/test/java/org/apache/shenyu/plugin/sync/data/websocket/client/ShenyuWebsocketClientTest.java
  shenyu-sync-data-center/shenyu-sync-data-websocket/src/test/java/org/apache/shenyu/plugin/sync/data/websocket/config/WebsocketConfigTest.java
  shenyu-sync-data-center/shenyu-sync-data-websocket/src/test/java/org/apache/shenyu/plugin/sync/data/websocket/handler/AuthDataHandlerTest.java
  shenyu-sync-data-center/shenyu-sync-data-websocket/src/test/java/org/apache/shenyu/plugin/sync/data/websocket/handler/MetaDataHandlerTest.java
  shenyu-sync-data-center/shenyu-sync-data-websocket/src/test/java/org/apache/shenyu/plugin/sync/data/websocket/handler/PluginDataHandlerTest.java
  shenyu-sync-data-center/shenyu-sync-data-websocket/src/test/java/org/apache/shenyu/plugin/sync/data/websocket/handler/RuleDataHandlerTest.java
  shenyu-sync-data-center/shenyu-sync-data-websocket/src/test/java/org/apache/shenyu/plugin/sync/data/websocket/handler/SelectorDataHandlerTest.java
  shenyu-sync-data-center/shenyu-sync-data-websocket/src/test/java/org/apache/shenyu/plugin/sync/data/websocket/handler/WebsocketDataHandlerTest.java
  shenyu-sync-data-center/shenyu-sync-data-zookeeper/pom.xml
  shenyu-sync-data-center/shenyu-sync-data-zookeeper/src/test/java/org/apache/shenyu/sync/data/zookeeper/ZookeeperSyncDataServiceTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/controller/LocalAppAuthControllerTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/controller/LocalMetadataControllerTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/controller/LocalPluginControllerTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/filter/CrossFilterTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/filter/ExcludeFilterTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/filter/FallbackFilterTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/filter/FileSizeFilterTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/forward/ForwardedRemoteAddressResolverTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/handler/GlobalErrorHandlerTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/handler/ShenyuWebHandlerTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/loader/ShenyuPluginLoaderTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/loader/ShenyuPluginPathBuilderTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/logo/ShenyuLogoTest.java
Labels: in: test

#2856 [#2846]Update application.yml to fix
  shenyu-bootstrap/src/main/resources/application.yml
Labels: type: refactor

#2858 [type: refactor] support octet-stream context-type.
  shenyu-plugin/shenyu-plugin-response/src/main/java/org/apache/shenyu/plugin/response/strategy/WebClientMessageWriter.java
Labels: type: refactor

#2853 [ISSUE 2830] change Junit4 to Junit5 in shenyu-spring-boot-starter
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-alibaba-dubbo/src/test/java/org/apache/shenyu/springboot/starter/client/alibaba/dubbo/ShenyuAlibabaDubboClientConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-apache-dubbo/src/test/java/org/apache/shenyu/springboot/starter/client/apache/dubbo/ShenyuApacheDubboClientConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-common/src/test/java/org/apache/shenyu/springboot/starter/client/common/config/ShenyuClientCommonBeanConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-grpc/src/test/java/org/apache/dromara/springboot/starter/client/grpc/ShenyuGrpcClientConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-motan/src/test/java/org/apache/shenyu/springboot/starter/client/motan/ShenyuMotanClientConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-sofa/src/test/java/org/apache/shenyu/springboot/starter/client/sofa/ShenyuSofaClientConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-springcloud/src/test/java/org/apache/shenyu/springboot/starter/client/springcloud/ShenyuSpringCloudClientConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-springmvc/src/test/java/org/apache/shenyu/springboot/starter/client/springmvc/ShenyuSpringMvcClientConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-tars/src/test/java/org/apache/shenyu/springboot/starter/client/tars/ShenyuTarsClientConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-gateway/src/test/java/org/apache/shenyu/springboot/starter/gateway/ShenyuConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-context-path/src/test/java/org/apache/shenyu/springboot/starter/plugin/context/path/ContextPathPluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-cryptor/src/test/java/org/apache/shenyu/springboot/starter/plugin/cryptor/CryptorPluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-divide/src/test/java/org/apache/shenyu/springboot/plugin/divide/DividePluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-dubbo/shenyu-spring-boot-starter-plugin-alibaba-dubbo/src/test/java/org/apache/shenyu/springboot/starter/plugin/alibaba/dubbo/AlibabaDubboPluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-dubbo/shenyu-spring-boot-starter-plugin-apache-dubbo/src/test/java/org/apache/shenyu/springboot/starter/plugin/apache/dubbo/ApacheDubboPluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-dubbo/shenyu-spring-boot-starter-plugin-dubbo-common/src/test/java/org/apache/shenyu/springboot/plugin/dubbo/common/DubboCommonConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-general-context/src/test/java/org/apache/shenyu/springboot/starter/plugin/general/context/GeneralContextPluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-global/src/test/java/org/apache/shenyu/springboot/starter/plugin/global/GlobalPluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-grpc/src/test/java/org/apache/shenyu/springboot/starter/plugin/grpc/GrpcPluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-httpclient/src/test/java/org/apache/shenyu/springboot/starter/plugin/httpclient/HttpClientPluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-hystrix/src/test/java/org/apache/shenyu/springboot/starter/plugin/hystrix/HystrixPluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-jwt/src/test/java/org/apache/shenyu/springboot/starter/plugin/jwt/JwtPluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-logging/src/test/java/org/apache/shenyu/springboot/starter/plugin/logging/LoggingPluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-modify-response/src/test/java/org/apache/shenyu/springboot/starter/plugin/modify/response/ModifyResponsePluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-monitor/src/test/java/org/apache/shenyu/springboot/starter/plugin/monitor/MonitorPluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-motan/src/test/java/org/apache/shenyu/springboot/starter/plugin/motan/MotanPluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-mqtt/src/test/java/org/apache/shenyu/springboot/starter/plugin/mqtt/MqttPluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-oauth2/src/test/java/org/apache/shenyu/springboot/starter/plugin/oauth2/OAuth2PluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-param-mapping/src/test/java/org/apache/shenyu/springboot/starter/plugin/param/mapping/ParamMappingPluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-ratelimiter/src/test/java/org/apache/shenyu/springboot/starter/plugin/ratelimiter/RateLimiterPluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-redirect/src/test/java/org/apache/shenyu/springboot/starter/plugin/redirect/RedirectPluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-request/src/test/java/org/apache/shenyu/springboot/starter/plugin/request/RequestPluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-resilience4j/src/test/java/org/apache/shenyu/springboot/starter/plugin/resilience4j/Resilience4JPluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-response/src/test/java/org/apache/shenyu/springboot/starter/plugin/response/ResponsePluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-rewrite/src/test/java/org/apache/shenyu/springboot/starter/plugin/rewrite/RewritePluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-sentinel/src/test/java/org/apache/shenyu/springboot/starter/plugin/sentinel/SentinelPluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-sign/src/test/java/org/apache/shenyu/springboot/starter/plugin/sign/SignPluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-sofa/src/test/java/org/apache/shenyu/springboot/starter/plugin/sofa/SofaPluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-springcloud/src/test/java/org/apache/shenyu/springboot/starter/plugin/springcloud/SpringCloudPluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-tars/src/test/java/org/apache/shenyu/springboot/starter/plugin/tars/TarsPluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-uri/src/test/java/org/apache/shenyu/springboot/starter/plugin/uri/URIPluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-waf/src/test/java/org/apache/shenyu/springboot/starter/plugin/waf/WafPluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-websocket/src/test/java/org/apache/shenyu/springboot/plugin/websocket/WebSocketPluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-http/src/test/java/org/apache/shenyu/springboot/starter/sync/data/http/HttpClientPluginConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-nacos/src/test/java/org/apache/shenyu/springboot/starter/sync/data/nacos/NacosSyncDataConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-websocket/src/test/java/org/apache/shenyu/springboot/starter/sync/data/websocket/WebsocketSyncDataConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-zookeeper/src/test/java/org/apache/shenyu/springboot/sync/data/zookeeper/ZookeeperSyncDataConfigurationTest.java
Labels: in: test

#2857 [ISSUE 2830] migrate from junit 4 to 5 for client, agent and loadbalancer modules
  pom.xml
  shenyu-agent/shenyu-agent-core/src/test/java/org/apache/shenyu/agent/core/ShenyuYamlEngineTest.java
  shenyu-client/shenyu-client-dubbo/shenyu-client-alibaba-dubbo/src/test/java/org/apache/shenyu/client/alibaba/dubbo/validation/AlibabaDubboClientValidatorTest.java
  shenyu-client/shenyu-client-dubbo/shenyu-client-apache-dubbo/src/test/java/org/apache/shenyu/client/apache/dubbo/validation/ApacheDubboClientValidationTest.java
  shenyu-client/shenyu-client-dubbo/shenyu-client-apache-dubbo/src/test/java/org/apache/shenyu/client/apache/dubbo/validation/ApacheDubboClientValidatorTest.java
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/test/java/org/apache/shenyu/client/springcloud/init/SpringCloudClientBeanPostProcessorTest.java
  shenyu-client/shenyu-client-tars/src/test/java/org/apache/shenyu/client/tars/TarsServiceBeanPostProcessorTest.java
  shenyu-common/pom.xml
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/UpstreamCheckUtilsTest.java
  shenyu-loadbalancer/src/test/java/org/apache/shenyu/loadbalancer/cache/UpstreamCheckTaskTest.java
  shenyu-loadbalancer/src/test/java/org/apache/shenyu/loadbalancer/factory/LoadBalancerFactoryTest.java
  shenyu-loadbalancer/src/test/java/org/apache/shenyu/loadbalancer/spi/HashLoadBalanceTest.java
  shenyu-loadbalancer/src/test/java/org/apache/shenyu/loadbalancer/spi/RandomLoadBalanceTest.java
  shenyu-loadbalancer/src/test/java/org/apache/shenyu/loadbalancer/spi/RoundRobinLoadBalanceTest.java
Labels: in: test

#2855 [ISSUE 2830] Update junit4 to junit5 in integrated-test module
  shenyu-integrated-test/shenyu-integrated-test-agent/shenyu-integrated-test-agent-tracing/shenyu-integrated-test-agent-tracing-jaeger/src/test/java/org/apache/shenyu/integrated/test/agent/jaeger/JaegerPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-agent/shenyu-integrated-test-agent-tracing/shenyu-integrated-test-agent-tracing-opentelemetry/src/test/java/org/apache/shenyu/integrated/test/agent/opentelemetry/OpenTelemetryPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-agent/shenyu-integrated-test-agent-tracing/shenyu-integrated-test-agent-tracing-zipkin/src/test/java/org/apache/shenyu/integrated/test/agent/zipkin/ZipkinPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-alibaba-dubbo/src/test/java/org/apache/shenyu/integrated/test/alibaba/dubbo/AlibabaDubboPluginMultiParamTest.java
  shenyu-integrated-test/shenyu-integrated-test-alibaba-dubbo/src/test/java/org/apache/shenyu/integrated/test/alibaba/dubbo/AlibabaDubboPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-apache-dubbo/src/test/java/org/apache/shenyu/integrated/test/alibaba/dubbo/ApacheDubboPluginMultiParamTest.java
  shenyu-integrated-test/shenyu-integrated-test-apache-dubbo/src/test/java/org/apache/shenyu/integrated/test/alibaba/dubbo/ApacheDubboPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-combination/src/test/java/org/apache/shenyu/integrated/test/combination/MultiRequestPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-combination/src/test/java/org/apache/shenyu/integrated/test/combination/RequestAndResponsePluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-combination/src/test/java/org/apache/shenyu/integrated/test/combination/RpcAndRequestPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-grpc/src/test/java/org/apache/shenyu/integrated/test/grpc/GrpcPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/DividePluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/HttpTestControllerTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/OrderControllerTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/RequestControllerTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/ShenyuClientPathControllerTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/SpringMvcMappingPathControllerTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/ContextPathPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/CryptorRequestPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/CryptorResponsePluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/JwtPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/ModifyResponsePluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/ParamMappingPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/RateLimiterPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/RedirectPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/RequestPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/SentinelPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/SignPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/WafPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-https/src/test/java/org/apache/shenyu/integrated/test/https/HttpsDividePluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-motan/src/test/java/org/apache/shenyu/integrated/test/motan/MotanPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-sofa/src/test/java/org/apache/shenyu/integrated/test/sofa/SofaPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/src/test/java/org/apache/shenyu/integratedtest/springcloud/SpringCloudPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-websocket/src/test/java/org/apache/shenyu/integrated/test/websocket/WebsocketPluginTest.java
Labels: in: test, integration-test

#2859 fix: shell error
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/RegisterCenterConfiguration.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ShenyuHttpRegistryController.java
  shenyu-dist/shenyu-admin-dist/src/main/resources/bin/start.sh
  shenyu-dist/shenyu-admin-dist/src/main/resources/bin/stop.sh
  shenyu-dist/shenyu-bootstrap-dist/src/main/resources/bin/start.sh
  shenyu-dist/shenyu-bootstrap-dist/src/main/resources/bin/stop.sh
Labels: type: bug

#2864 upgrade unit test framework of shenyu-metrics from JUnit4 toJUnit5
  shenyu-metrics/shenyu-metrics-prometheus/src/test/java/org/apache/shenyu/metrics/prometheus/collector/BuildInfoCollectorTest.java
  shenyu-metrics/shenyu-metrics-prometheus/src/test/java/org/apache/shenyu/metrics/prometheus/register/PrometheusMetricsRegisterTest.java
  shenyu-metrics/shenyu-metrics-prometheus/src/test/java/org/apache/shenyu/metrics/prometheus/service/PrometheusBootServiceTest.java
  shenyu-metrics/shenyu-metrics-spi/src/test/java/org/apache/shenyu/metrics/config/JmxConfigTest.java
  shenyu-metrics/shenyu-metrics-spi/src/test/java/org/apache/shenyu/metrics/config/MetricsConfigTest.java
  shenyu-metrics/shenyu-metrics-spi/src/test/java/org/apache/shenyu/metrics/enums/MetricsTypeEnumTest.java
  shenyu-metrics/shenyu-metrics-spi/src/test/java/org/apache/shenyu/metrics/reporter/MetricsReporterTest.java
Labels: in: test

#2862 [ISSUE 2830] Update junit4 to junit5 - remove dup dependencies in sub-modules and make wire-mock compatible
  shenyu-register-center/shenyu-register-client/shenyu-register-client-http/src/test/java/org/apache/shenyu/register/client/http/OkHttpToolsTest.java
  shenyu-sync-data-center/shenyu-sync-data-consul/pom.xml
  shenyu-sync-data-center/shenyu-sync-data-etcd/pom.xml
  shenyu-sync-data-center/shenyu-sync-data-http/src/test/java/org/apache/shenyu/sync/data/http/HttpSyncDataServiceTest.java
  shenyu-sync-data-center/shenyu-sync-data-websocket/pom.xml
  shenyu-sync-data-center/shenyu-sync-data-zookeeper/pom.xml
Labels: in: test

#2869 [type: refactor] fix misspelled token
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/ShenyuResultMessage.java
Labels: type: refactor

#2867 [ISSUE #2830] upgrade 5 files unit test framework from from junit4 to junit5
  shenyu-admin/src/test/java/org/apache/shenyu/admin/listener/http/HttpLongPollingDataChangedListenerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/vo/PluginVOTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/vo/RuleConditionVOTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/vo/SelectorConditionVOTest.java
  shenyu-plugin/shenyu-plugin-uri/src/test/java/org/apache/shenyu/plugin/uri/URIPluginTest.java
Labels: in: test

#2861 [ISSUE #2860] spring cloud client auto set port
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/main/java/org/apache/shenyu/client/springcloud/init/ContextRegisterListener.java
  shenyu-examples/shenyu-examples-springcloud/src/main/resources/application.yml
Labels: type: refactor, client: spring-cloud

#2873 [ISSUE #2847] fix retryCount not work bug
  shenyu-examples/shenyu-examples-http/src/main/http/http-test-api.http
  shenyu-examples/shenyu-examples-http/src/main/java/org/apache/shenyu/examples/http/controller/ShenyuClientPathController.java
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/WebClientPlugin.java
Labels: type: bug, type: refactor

#2875 [ISSUE #2874] spring mvc client set port automatically
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/init/ContextRegisterListener.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/init/SpringMvcClientBeanPostProcessor.java
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/PortUtils.java
  shenyu-examples/shenyu-examples-http/src/main/resources/application.yml
Labels: type: refactor, client: register-http

#2876 [type: refactor] fix agent NPE and log error
  shenyu-agent/shenyu-agent-core/src/main/java/org/apache/shenyu/agent/core/bytebuddy/interceptor/StaticMethodInterceptor.java
  shenyu-agent/shenyu-agent-core/src/main/java/org/apache/shenyu/agent/core/bytebuddy/matcher/ShenyuAgentTypeMatcher.java
  shenyu-agent/shenyu-agent-core/src/main/java/org/apache/shenyu/agent/core/locator/ShenyuAgentLocator.java
  shenyu-agent/shenyu-agent-core/src/main/java/org/apache/shenyu/agent/core/utils/ShenyuAgentConfigUtils.java
Labels: type: refactor

#2839 [ISSUE #2831] fix double log
  shenyu-admin/src/main/resources/logback.xml
  shenyu-bootstrap/src/main/resources/logback.xml
  shenyu-dist/shenyu-docker-compose-dist/src/main/resources/install.sh
Labels: type: bug

#2889 [type:fix] fix token pasrse error
  shenyu-plugin/shenyu-plugin-jwt/src/main/java/org/apache/shenyu/plugin/jwt/JwtPlugin.java
Labels: type: bug, type: refactor, plugin: jwt

#2885 [ISSUE #2884] add shenyu-examples-springmvc-tomcat
  shenyu-examples/pom.xml
  shenyu-examples/shenyu-examples-springmvc-tomcat/pom.xml
  shenyu-examples/shenyu-examples-springmvc-tomcat/src/main/http/http-test-api-local.http
  shenyu-examples/shenyu-examples-springmvc-tomcat/src/main/http/http-test-api.http
  shenyu-examples/shenyu-examples-springmvc-tomcat/src/main/java/org/apache/shenyu/examples/springmvc/controller/HttpTestController.java
  shenyu-examples/shenyu-examples-springmvc-tomcat/src/main/java/org/apache/shenyu/examples/springmvc/controller/OrderController.java
  shenyu-examples/shenyu-examples-springmvc-tomcat/src/main/java/org/apache/shenyu/examples/springmvc/dto/OAuth2DTO.java
  shenyu-examples/shenyu-examples-springmvc-tomcat/src/main/java/org/apache/shenyu/examples/springmvc/dto/OrderDTO.java
  shenyu-examples/shenyu-examples-springmvc-tomcat/src/main/java/org/apache/shenyu/examples/springmvc/dto/UserDTO.java
  shenyu-examples/shenyu-examples-springmvc-tomcat/src/main/java/org/apache/shenyu/examples/springmvc/result/ResultBean.java
  shenyu-examples/shenyu-examples-springmvc-tomcat/src/main/resources/application.properties
  shenyu-examples/shenyu-examples-springmvc-tomcat/src/main/resources/context/shenyu.xml
  shenyu-examples/shenyu-examples-springmvc-tomcat/src/main/resources/spring-mvc.xml
  shenyu-examples/shenyu-examples-springmvc-tomcat/src/main/webapp/WEB-INF/web.xml
Labels: in: example, type: examples

#2880 [ISSUE #2878] fix UpstreamCheckService failed to remove the invalid upstream added in web
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SelectorServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/UpstreamCheckService.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/SelectorServiceTest.java
Labels: type: bug, admin

#2902 update dashboard (#2901)
  shenyu-admin/src/main/resources/static/index.02e466b0.js
  shenyu-admin/src/main/resources/static/index.2882ca83.js
  shenyu-admin/src/main/resources/static/index.html
Labels: admin

#2904 [Volunteer #2892] Synchronize sorting of plugins.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/transfer/PluginTransfer.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/PluginData.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/cache/CommonPluginDataSubscriber.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/cache/SortPluginEvent.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-gateway/src/main/java/org/apache/shenyu/springboot/starter/gateway/ShenyuConfiguration.java
  shenyu-sync-data-center/shenyu-sync-data-http/src/main/java/org/apache/shenyu/sync/data/http/refresh/PluginDataRefresh.java
  shenyu-web/src/main/java/org/apache/shenyu/web/handler/ShenyuWebHandler.java
Labels: type: new feature

#2906 [type: refactor] refactor log
  shenyu-admin/src/main/resources/logback.xml
  shenyu-bootstrap/src/main/resources/logback.xml
  shenyu-dist/shenyu-admin-dist/src/main/resources/logback.xml
  shenyu-dist/shenyu-bootstrap-dist/src/main/resources/logback.xml
  shenyu-dist/shenyu-docker-compose-dist/src/main/resources/install.sh
Labels: type: refactor

#2914 [type: build] update why named shenyu in readme
  README.md
  README_CN.md
Labels: type: build, type: community

#2913 [refactor: metrics] fix agent metrics init bug
  shenyu-agent/shenyu-agent-plugins/shenyu-agent-plugin-metrics/shenyu-agent-plugin-metrics-common/src/main/java/org/apache/shenyu/agent/plugin/metrics/common/definition/MetricsAgentPluginDefinition.java
  shenyu-agent/shenyu-agent-plugins/shenyu-agent-plugin-metrics/shenyu-agent-plugin-metrics-common/src/main/java/org/apache/shenyu/agent/plugin/metrics/common/factory/MetricsRecorderPool.java
Labels: type: refactor, agent: metrics

#2912 [BUG] <shenyu agent zipkin method tag error> #2911
  shenyu-agent/shenyu-agent-plugins/shenyu-agent-plugin-tracing/shenyu-agent-plugin-tracing-common/src/main/java/org/apache/shenyu/agent/plugin/tracing/common/constant/TracingConstants.java
  shenyu-agent/shenyu-agent-plugins/shenyu-agent-plugin-tracing/shenyu-agent-plugin-tracing-jaeger/src/main/java/org/apache/shenyu/agent/plugin/tracing/jaeger/handler/JaegerGlobalPluginHandler.java
  shenyu-agent/shenyu-agent-plugins/shenyu-agent-plugin-tracing/shenyu-agent-plugin-tracing-opentelemetry/src/main/java/org/apache/shenyu/agent/plugin/tracing/opentelemetry/handler/OpenTelemetryGlobalPluginHandler.java
  shenyu-agent/shenyu-agent-plugins/shenyu-agent-plugin-tracing/shenyu-agent-plugin-tracing-zipkin/src/main/java/org/apache/shenyu/agent/plugin/tracing/zipkin/handler/ZipkinGlobalPluginHandler.java
Labels: type: bug, agent: zipkin

#2915 [type: bug]The trouble of big data in Websocket. #2891
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/properties/WebsocketSyncProperties.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/websocket/WebsocketCollector.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/websocket/WebsocketConfigurator.java
  shenyu-admin/src/main/resources/application.yml
Labels: type: bug, data-sync: websocket

#2918 [type: refactor ] refactor jwt support multi-level tokens
  shenyu-plugin/shenyu-plugin-jwt/src/main/java/org/apache/shenyu/plugin/jwt/JwtPlugin.java
  shenyu-plugin/shenyu-plugin-jwt/src/test/java/org/apache/shenyu/plugin/jwt/JwtPluginTest.java
Labels: type: refactor, plugin: jwt

#2925 change to Duration.ofMiles to avoid calculate manually
  shenyu-plugin/shenyu-plugin-resilience4j/src/main/java/org/apache/shenyu/plugin/resilience4j/build/Resilience4JBuilder.java
Labels: type: refactor, plugin: resilience4j

#2922 [type:refactor][ISSUE #2916]change ribbon default ServerListRefreshInterval from 30s to 10s
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-common/src/main/java/org/apache/shenyu/common/config/ShenyuConfig.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-springcloud/src/main/java/org/apache/shenyu/springboot/starter/plugin/springcloud/SpringCloudPluginConfiguration.java
Labels: plugin: spring-cloud, type: refactor

#2928 [ISSUE #1888] Optimize the password encryption
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/SecretConfiguration.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/DashboardUserController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DashboardUserServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/AesUtils.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/CipherUtils.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/ShaUtils.java
  shenyu-admin/src/main/resources/application.yml
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/main/resources/sql-script/mysql/schema.sql
  shenyu-admin/src/main/resources/sql-script/pg/schema.sql
  shenyu-admin/src/test/java/org/apache/shenyu/admin/config/SecretConfigurationTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/DashboardUserMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/DashboardUserServiceTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/utils/CipherUtilsTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/utils/ShaUtilsTest.java
Labels: admin, type: refactor

#2929 set default value if the customer's config is invalid for resilience4…
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/rule/Resilience4JHandle.java
  shenyu-integrated-test/pom.xml
Labels: type: refactor, plugin: resilience4j

#2935 [ISSUE #1888] Add database upgrade script
  script/2.4.2-upgrade-2.4.3-mysql.sql
  script/2.4.2-upgrade-2.4.3-pg.sql
Labels: admin

#2938 fix fallbackUri only works for APIs in `shenyu-bootstrap` in resilience4j plugin issue
  shenyu-plugin/shenyu-plugin-resilience4j/src/main/java/org/apache/shenyu/plugin/resilience4j/executor/Executor.java
  shenyu-plugin/shenyu-plugin-resilience4j/src/test/java/org/apache/shenyu/plugin/resilience4j/executor/CombinedExecutorTest.java
Labels: type: refactor, plugin: resilience4j

#2936 [type: refactor] fix generics
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ShenyuHttpRegistryController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/disruptor/RegisterServerDisruptorPublisher.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/disruptor/executor/RegisterServerConsumerExecutor.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/transfer/DashboardUserTransfer.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/disruptor/ShenyuClientRegisterEventPublisher.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/disruptor/executor/RegisterClientConsumerExecutor.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/disruptor/subcriber/ShenyuClientURIExecutorSubscriber.java
  shenyu-client/shenyu-client-dubbo/shenyu-client-alibaba-dubbo/src/main/java/org/apache/shenyu/client/alibaba/dubbo/AlibabaDubboServiceBeanListener.java
  shenyu-common/src/main/java/org/apache/shenyu/common/timer/AbstractRetryTask.java
  shenyu-common/src/main/java/org/apache/shenyu/common/timer/AbstractRoundTask.java
  shenyu-disruptor/src/main/java/org/apache/shenyu/disruptor/DisruptorProviderManage.java
  shenyu-disruptor/src/main/java/org/apache/shenyu/disruptor/event/OrderlyDisruptorEventFactory.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-http/src/main/java/org/apache/shenyu/register/client/http/HttpClientRegisterRepository.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-http/src/main/java/org/apache/shenyu/register/client/http/utils/RegisterUtils.java
  shenyu-register-center/shenyu-register-common/src/main/java/org/apache/shenyu/register/common/subsriber/AbstractQueueConsumerFactory.java
  shenyu-register-center/shenyu-register-server/shenyu-register-server-api/src/main/java/org/apache/shenyu/register/server/api/ShenyuServerRegisterPublisher.java
  shenyu-register-center/shenyu-register-server/shenyu-register-server-consul/src/test/java/org/apache/shenyu/register/server/consul/ConsulServerRegisterRepositoryTest.java
  shenyu-register-center/shenyu-register-server/shenyu-register-server-etcd/src/test/java/org/apache/shenyu/register/server/etcd/EtcdServerRegisterRepositoryTest.java
  shenyu-register-center/shenyu-register-server/shenyu-register-server-nacos/src/test/java/org/apache/shenyu/register/server/nacos/NacosServerRegisterRepositoryTest.java
  shenyu-register-center/shenyu-register-server/shenyu-register-server-zookeeper/src/test/java/org/apache/shenyu/register/server/zookeeper/ZookeeperServerRegisterRepositoryTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-alibaba-dubbo/src/test/java/org/apache/shenyu/springboot/starter/client/alibaba/dubbo/ShenyuAlibabaDubboClientConfigurationTest.java
  shenyu-sync-data-center/shenyu-sync-data-consul/src/main/java/org/apache/shenyu/sync/data/consul/ConsulSyncDataService.java
Labels: type: refactor

#2942 [type: feature]: add shenyu_execute_latency_millis metrics.
  shenyu-agent/shenyu-agent-plugins/shenyu-agent-plugin-metrics/shenyu-agent-plugin-metrics-api/src/main/java/org/apache/shenyu/agent/plugin/metrics/api/MetricsRecorder.java
  shenyu-agent/shenyu-agent-plugins/shenyu-agent-plugin-metrics/shenyu-agent-plugin-metrics-api/src/main/java/org/apache/shenyu/agent/plugin/metrics/api/constant/MetricsConstant.java
  shenyu-agent/shenyu-agent-plugins/shenyu-agent-plugin-metrics/shenyu-agent-plugin-metrics-prometheus/src/main/java/org/apache/shenyu/agent/plugin/metrics/prometheus/handler/PrometheusGlobalPluginHandler.java
  shenyu-agent/shenyu-agent-plugins/shenyu-agent-plugin-metrics/shenyu-agent-plugin-metrics-prometheus/src/main/java/org/apache/shenyu/agent/plugin/metrics/prometheus/recorder/HistogramRecorder.java
  shenyu-dist/shenyu-agent-dist/src/main/resources/conf/metrics-meta.yaml
Labels: agent: metrics

#2943 [ISSUE #2910] Add integrated test for Resilience4j plugin
  shenyu-examples/shenyu-examples-http/src/main/java/org/apache/shenyu/examples/http/controller/HttpTestController.java
  shenyu-integrated-test/shenyu-integrated-test-http/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/Resilience4JPluginTest.java
Labels: integration-test
