Repository apache/shenyu, pull requests merged in 2022-11, with the labels that each got.

#4150 [type:fix] fixed AbstractShenyuPluginTest:increase independence of te…
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/AbstractShenyuPluginTest.java
Labels: in: test

#4126 [Task] support API document Api doc detail mapper #4029
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/DetailMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/DetailDO.java
  shenyu-admin/src/main/resources/mappers/detail-sqlmap.xml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/DetailMapperTest.java
Labels: type: new feature, admin: API Document

#4155 [ISSUE #4071] fix ConcurrentModificationException
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/cache/BaseDataCache.java
Labels: type: refactor

#3756 [ISSUE #3713]Add new plugin: key-auth
  db/init/mysql/schema.sql
  db/init/oracle/schema.sql
  db/init/pg/create-table.sql
  db/upgrade/2.5.0-upgrade-2.5.1-mysql.sql
  db/upgrade/2.5.0-upgrade-2.5.1-oracle.sql
  db/upgrade/2.5.0-upgrade-2.5.1-pg.sql
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-bootstrap/pom.xml
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/rule/impl/KeyAuthRuleHandle.java
  shenyu-common/src/main/java/org/apache/shenyu/common/enums/PluginEnum.java
  shenyu-common/src/test/java/org/apache/shenyu/common/dto/convert/rule/impl/KeyAuthRuleHandleTest.java
  shenyu-plugin/pom.xml
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/result/ShenyuResultEnum.java
  shenyu-plugin/shenyu-plugin-key-auth/pom.xml
  shenyu-plugin/shenyu-plugin-key-auth/src/main/java/org/apache/shenyu/plugin/key/auth/KeyAuthPlugin.java
  shenyu-plugin/shenyu-plugin-key-auth/src/main/java/org/apache/shenyu/plugin/key/auth/handler/KeyAuthPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-key-auth/src/test/java/org/apache/shenyu/plugin/key/auth/KeyAuthPluginTest.java
  shenyu-plugin/shenyu-plugin-key-auth/src/test/java/org/apache/shenyu/plugin/key/auth/handler/KeyAuthPluginDataHandlerTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/pom.xml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-key-auth/pom.xml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-key-auth/src/main/java/org/apache/shenyu/springboot/starter/plugin/key/auth/KeyAuthPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-key-auth/src/main/resources/META-INF/spring.factories
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-key-auth/src/main/resources/META-INF/spring.provides
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-key-auth/src/test/java/org/apache/shenyu/springboot/starter/plugin/key/auth/KeyAuthPluginConfigurationTest.java
Labels: type: new feature

#4159 [Task] Sdk http example(#3925)
  shenyu-examples/pom.xml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-xml/pom.xml
  shenyu-examples/shenyu-examples-sdk/pom.xml
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-http/Dockerfile
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-http/pom.xml
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-http/src/main/http/sdk-http-test-api.http
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-http/src/main/java/org/apache/shenyu/examples/sdk/http/ShenyuSdkHttpExampleApplication.java
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-http/src/main/java/org/apache/shenyu/examples/sdk/http/api/ShenyuHttpClientApi.java
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-http/src/main/java/org/apache/shenyu/examples/sdk/http/controller/HttpServiceController.java
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-http/src/main/java/org/apache/shenyu/examples/sdk/http/controller/ShenyuHttpSdkExampleController.java
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-http/src/main/java/org/apache/shenyu/examples/sdk/http/dto/SdkTestDto.java
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-http/src/main/resources/application.yaml
Labels: in: example, sdk

#4161 [ISSUE #4157]Prevent the first time from failing to load
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/client/AbstractContextRefreshedEventListener.java
Labels: type: bug, client: dubbo

#4164 [type:feature] add rule cache
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-common/src/main/java/org/apache/shenyu/common/config/ShenyuConfig.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/AbstractShenyuPlugin.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/cache/CommonPluginDataSubscriber.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/cache/MatchDataCache.java
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/cache/MatchDataCacheTest.java
  shenyu-web/src/main/java/org/apache/shenyu/web/controller/LocalPluginController.java
Labels: type: refactor, type: performance

#4133 [Task #3011]The JwtRuleHandle should be coustomerd
  shenyu-plugin/shenyu-plugin-jwt/src/main/java/org/apache/shenyu/plugin/jwt/JwtPlugin.java
  shenyu-plugin/shenyu-plugin-jwt/src/main/java/org/apache/shenyu/plugin/jwt/handle/JwtPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-jwt/src/main/java/org/apache/shenyu/plugin/jwt/rule/DefaultJwtRuleHandle.java
  shenyu-plugin/shenyu-plugin-jwt/src/main/java/org/apache/shenyu/plugin/jwt/rule/JwtRuleHandle.java
  shenyu-plugin/shenyu-plugin-jwt/src/main/java/org/apache/shenyu/plugin/jwt/strategy/DefaultJwtConvertStrategy.java
  shenyu-plugin/shenyu-plugin-jwt/src/main/java/org/apache/shenyu/plugin/jwt/strategy/JwtConvertStrategy.java
  shenyu-plugin/shenyu-plugin-jwt/src/main/java/org/apache/shenyu/plugin/jwt/strategy/JwtConvertStrategyFactory.java
  shenyu-plugin/shenyu-plugin-jwt/src/main/resources/META-INF/shenyu/org.apache.shenyu.plugin.jwt.strategy.JwtConvertStrategy
  shenyu-plugin/shenyu-plugin-jwt/src/test/java/org/apache/shenyu/plugin/jwt/JwtPluginTest.java
  shenyu-plugin/shenyu-plugin-jwt/src/test/java/org/apache/shenyu/plugin/jwt/handle/JwtPluginDataHandlerTest.java
  shenyu-plugin/shenyu-plugin-jwt/src/test/java/org/apache/shenyu/plugin/jwt/rule/CustomJwtRuleHandle.java
  shenyu-plugin/shenyu-plugin-jwt/src/test/java/org/apache/shenyu/plugin/jwt/rule/JwtRuleHandleTest.java
  shenyu-plugin/shenyu-plugin-jwt/src/test/java/org/apache/shenyu/plugin/jwt/strategy/CustomJwtConvertStrategy.java
  shenyu-plugin/shenyu-plugin-jwt/src/test/java/org/apache/shenyu/plugin/jwt/strategy/DefaultJwtConvertStrategyTest.java
  shenyu-plugin/shenyu-plugin-jwt/src/test/resources/META-INF/shenyu/org.apache.shenyu.plugin.jwt.strategy.JwtConvertStrategy
Labels: plugin: jwt

#4175 eliminate generic warnings
  shenyu-plugin/shenyu-plugin-jwt/src/main/java/org/apache/shenyu/plugin/jwt/JwtPlugin.java
  shenyu-plugin/shenyu-plugin-jwt/src/main/java/org/apache/shenyu/plugin/jwt/handle/JwtPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-jwt/src/main/java/org/apache/shenyu/plugin/jwt/rule/JwtRuleHandle.java
  shenyu-plugin/shenyu-plugin-jwt/src/main/java/org/apache/shenyu/plugin/jwt/strategy/DefaultJwtConvertStrategy.java
  shenyu-plugin/shenyu-plugin-jwt/src/main/java/org/apache/shenyu/plugin/jwt/strategy/JwtConvertStrategy.java
  shenyu-plugin/shenyu-plugin-jwt/src/main/java/org/apache/shenyu/plugin/jwt/strategy/JwtConvertStrategyFactory.java
  shenyu-plugin/shenyu-plugin-jwt/src/test/java/org/apache/shenyu/plugin/jwt/strategy/CustomJwtConvertStrategy.java
Labels: plugin: jwt

#4179 [type:feature] MockRequestRecordMapper development.
  db/init/mysql/schema.sql
  db/init/oracle/schema.sql
  db/init/pg/create-table.sql
  db/upgrade/2.5.0-upgrade-2.5.1-mysql.sql
  db/upgrade/2.5.0-upgrade-2.5.1-oracle.sql
  db/upgrade/2.5.0-upgrade-2.5.1-pg.sql
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/MockRequestRecordMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/MockRequestRecordDO.java
  shenyu-admin/src/main/resources/mappers/mock-request-record-sqlmap.xml
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/MockRequestRecordMapperTest.java
Labels: type: new feature, admin: API Document

#4188 feat:add TagController and TagRelationController unit test
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/TagController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/TagRelationController.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/TagControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/TagRelationControllerTest.java
Labels: in: test, admin: API Document

#4190 [fix]change HttpShenyuSdkClient#CloseableHttpAsyncClient be global resources(#3925)
  shenyu-sdk/shenyu-sdk-httpclient/src/main/java/org/apache/shenyu/sdk/httpclient/HttpShenyuSdkClient.java
Labels: type: refactor, sdk

#4178 [type: refactor] refactor abstractshenyuplugin#execute
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/AbstractShenyuPlugin.java
  shenyu-spi/src/main/java/org/apache/shenyu/spi/ExtensionLoader.java
Labels: type: refactor

#4197 [type:fix] fix cache too large
  shenyu-common/src/main/java/org/apache/shenyu/common/cache/MemorySafeWindowTinyLFUMap.java
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
Labels: type: refactor

#4199 [Task]add apache and alibaba dubbo sdk examples #3925
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-dubbo/shenyu-examples-sdk-alibaba-dubbo-consumer/src/main/http/sdk-alibaba-dubbo-test-api.http
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-dubbo/shenyu-examples-sdk-alibaba-dubbo-consumer/src/main/java/org/apache/shenyu/examples/sdk/alibaba/dubbo/consumer/api/ShenyuAlibabaDubboClientApi.java
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-dubbo/shenyu-examples-sdk-alibaba-dubbo-consumer/src/main/java/org/apache/shenyu/examples/sdk/alibaba/dubbo/consumer/controller/ShenyuAlibabaDubboSdkExampleController.java
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-dubbo/shenyu-examples-sdk-alibaba-dubbo-consumer/src/main/java/org/apache/shenyu/examples/sdk/alibaba/dubbo/consumer/dto/DubboRequestBody.java
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-dubbo/shenyu-examples-sdk-alibaba-dubbo-consumer/src/main/java/org/apache/shenyu/examples/sdk/alibaba/dubbo/consumer/dto/DubboTestSaveRequest.java
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-dubbo/shenyu-examples-sdk-apache-dubbo-consumer/src/main/http/sdk-apache-dubbo-test-api.http
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-dubbo/shenyu-examples-sdk-apache-dubbo-consumer/src/main/java/org/apache/shenyu/examples/sdk/apache/dubbo/consumer/api/ShenyuApacheDubboClientApi.java
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-dubbo/shenyu-examples-sdk-apache-dubbo-consumer/src/main/java/org/apache/shenyu/examples/sdk/apache/dubbo/consumer/controller/ShenyuApacheDubboSdkExampleController.java
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-dubbo/shenyu-examples-sdk-apache-dubbo-consumer/src/main/java/org/apache/shenyu/examples/sdk/apache/dubbo/consumer/dto/DubboRequestBody.java
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-dubbo/shenyu-examples-sdk-apache-dubbo-consumer/src/main/java/org/apache/shenyu/examples/sdk/apache/dubbo/consumer/dto/DubboTestSaveRequest.java
Labels: sdk

#4205 [type:optimize] optimized shaUtil
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/ShaUtils.java
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/ShaUtilsTest.java
Labels: type: refactor

#4209 [ISSUE #4198]Fix the TagRelationQuery.java equals method
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/query/TagRelationQuery.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/query/TagRelationQueryTest.java
Labels: type: bug, admin

#4216 feat:add unittest
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/AppAuthControllerTest.java
Labels: admin, in: test

#4218 Task(shenyu-examples-sdk-springcloud) (#3925)
  shenyu-examples/shenyu-examples-sdk/pom.xml
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-springcloud/pom.xml
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-springcloud/shenyu-examples-sdk-springcloud-consumer/Dockerfile
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-springcloud/shenyu-examples-sdk-springcloud-consumer/pom.xml
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-springcloud/shenyu-examples-sdk-springcloud-consumer/src/main/http/sdk-spring-cloud-test-api.http
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-springcloud/shenyu-examples-sdk-springcloud-consumer/src/main/java/org/apache/shenyu/examples/sdk/springcloud/consumer/ShenyuSdkSpringCloudConsumerExampleApplication.java
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-springcloud/shenyu-examples-sdk-springcloud-consumer/src/main/java/org/apache/shenyu/examples/sdk/springcloud/consumer/api/ShenyuSpringCloudClientApi.java
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-springcloud/shenyu-examples-sdk-springcloud-consumer/src/main/java/org/apache/shenyu/examples/sdk/springcloud/consumer/controller/ShenyuSdkSpringCloudConsumerController.java
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-springcloud/shenyu-examples-sdk-springcloud-consumer/src/main/java/org/apache/shenyu/examples/sdk/springcloud/consumer/dto/OrderDTO.java
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-springcloud/shenyu-examples-sdk-springcloud-consumer/src/main/resources/application.yaml
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-springcloud/shenyu-examples-sdk-springcloud-provider/Dockerfile
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-springcloud/shenyu-examples-sdk-springcloud-provider/pom.xml
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-springcloud/shenyu-examples-sdk-springcloud-provider/src/main/java/org/apache/shenyu/examples/sdk/springcloud/provider/ShenyuSdkSpringCloudProviderApplication.java
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-springcloud/shenyu-examples-sdk-springcloud-provider/src/main/resources/application.yml
Labels: in: example, type: examples

#4215 [ISSUE #3275] improve unit test coverage of 'ReflectUtils
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/ReflectUtilsTest.java
Labels: in: test

#4217 [type: refactor] refactor DefaultSignService#signVerify，No functional changes
  shenyu-plugin/shenyu-plugin-sign/src/main/java/org/apache/shenyu/plugin/sign/SignPlugin.java
  shenyu-plugin/shenyu-plugin-sign/src/main/java/org/apache/shenyu/plugin/sign/api/SignService.java
  shenyu-plugin/shenyu-plugin-sign/src/main/java/org/apache/shenyu/plugin/sign/api/VerifyResult.java
  shenyu-plugin/shenyu-plugin-sign/src/main/java/org/apache/shenyu/plugin/sign/api/VerifySupplier.java
  shenyu-plugin/shenyu-plugin-sign/src/main/java/org/apache/shenyu/plugin/sign/service/DefaultSignService.java
  shenyu-plugin/shenyu-plugin-sign/src/test/java/org/apache/shenyu/plugin/sign/SignPluginTest.java
  shenyu-plugin/shenyu-plugin-sign/src/test/java/org/apache/shenyu/plugin/sign/service/DefaultSignServiceTest.java
Labels: type: refactor, plugin: sign
