Repository apache/shenyu, pull requests merged in 2022-08, with the labels that each got.

#3781 [type: refactor]delete deprecated file.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/NacosConfiguration.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/ZookeeperConfiguration.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/config/NacosConfigurationTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/config/ZookeeperConfigurationTest.java
Labels: admin, type: refactor

#3790 Update Static files(#3789)
  shenyu-admin/src/main/resources/static/index.473ec4d1.js
  shenyu-admin/src/main/resources/static/index.607d052d.js
  shenyu-admin/src/main/resources/static/index.6c35abcb.css
  shenyu-admin/src/main/resources/static/index.html
  shenyu-admin/src/main/resources/static/static/asf_logo.1bf96e15.svg
  shenyu-admin/src/main/resources/static/static/bg.5d2990f7.jpg
  shenyu-admin/src/main/resources/static/static/support-apache.f17e77a6.png
Labels: admin, type: refactor

#3785 [type:feat] cross add originRegex type
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-common/src/main/java/org/apache/shenyu/common/config/ShenyuConfig.java
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/CrossFilter.java
  shenyu-web/src/test/java/org/apache/shenyu/web/filter/CrossFilterTest.java
Labels: type: new feature

#3791 [ISSUE #3777] banning #printStackTrace in source code
  script/shenyu_checkstyle.xml
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/disruptor/subcriber/ShenyuClientURIExecutorSubscriber.java
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/GsonUtils.java
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/UpstreamCheckUtilsTest.java
  shenyu-examples/shenyu-examples-grpc/src/main/java/org/apache/shenyu/examples/grpc/demo/EventServiceImpl.java
  shenyu-examples/shenyu-examples-grpc/src/main/java/org/apache/shenyu/examples/grpc/demo/HelloServiceImpl.java
  shenyu-examples/shenyu-examples-grpc/src/main/java/org/apache/shenyu/examples/grpc/stream/StreamServiceImpl.java
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-native-websocket/src/main/java/org/apache/shenyu/examples/websocket/config/WsSessionManager.java
  shenyu-plugin/shenyu-plugin-sofa/src/main/java/org/apache/shenyu/plugin/sofa/cache/ApplicationConfigCache.java
Labels: type: refactor

#3797 [ISSUE #3796] [fix] Shenyu client registration by consul only register 1 metadata
  shenyu-register-center/shenyu-register-client/shenyu-register-client-consul/src/main/java/org/apache/shenyu/register/client/consul/ConsulClientRegisterRepository.java
Labels: type: bug, client: register-consul

#3800 [type:feat] commonBinaryTypes add force-download.
  shenyu-plugin/shenyu-plugin-response/src/main/java/org/apache/shenyu/plugin/response/strategy/WebClientMessageWriter.java
Labels: type: enhancement, type: refactor

#3795 [ISSUE #3794] websocket datasync can chose allow origin to avoid CSRF
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/properties/WebsocketSyncProperties.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/websocket/WebsocketConfigurator.java
  shenyu-admin/src/main/resources/application.yml
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-integrated-test/shenyu-integrated-test-alibaba-dubbo/src/main/resources/application-local.yml
  shenyu-integrated-test/shenyu-integrated-test-apache-dubbo/src/main/resources/application-local.yml
  shenyu-integrated-test/shenyu-integrated-test-combination/src/main/resources/application-local.yml
  shenyu-integrated-test/shenyu-integrated-test-grpc/src/main/resources/application-local.yml
  shenyu-integrated-test/shenyu-integrated-test-http/src/main/resources/application.yml
  shenyu-integrated-test/shenyu-integrated-test-https/src/main/resources/application.yml
  shenyu-integrated-test/shenyu-integrated-test-motan/src/main/resources/application-local.yml
  shenyu-integrated-test/shenyu-integrated-test-sofa/src/main/resources/application-local.yml
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/src/main/resources/application-local.yml
  shenyu-integrated-test/shenyu-integrated-test-websocket/src/main/resources/application-local.yml
  shenyu-sync-data-center/shenyu-sync-data-websocket/src/main/java/org/apache/shenyu/plugin/sync/data/websocket/WebsocketSyncDataService.java
  shenyu-sync-data-center/shenyu-sync-data-websocket/src/main/java/org/apache/shenyu/plugin/sync/data/websocket/client/ShenyuWebsocketClient.java
  shenyu-sync-data-center/shenyu-sync-data-websocket/src/main/java/org/apache/shenyu/plugin/sync/data/websocket/config/WebsocketConfig.java
  shenyu-sync-data-center/shenyu-sync-data-websocket/src/test/java/org/apache/shenyu/plugin/sync/data/websocket/config/WebsocketConfigTest.java
Labels: type: new feature, data-sync: websocket, client: websocket

#3802 [ BUG ] bug fix: spi does not match sql script config.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/AbstractShenyuClientRegisterServiceImpl.java
  shenyu-common/src/main/java/org/apache/shenyu/common/enums/OperatorEnum.java
  shenyu-common/src/test/java/org/apache/shenyu/common/enums/OperatorEnumTest.java
  shenyu-plugin/shenyu-plugin-base/src/main/resources/META-INF/shenyu/org.apache.shenyu.plugin.base.condition.judge.PredicateJudge
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/condition/judge/PredicateJudgeFactoryTest.java
Labels: type: refactor

#3798 [ISSUE #3740] add websocket upload file example and integrated test
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-annotation-websocket/src/main/java/org/apache/shenyu/examples/websocket/service/SaveFile.java
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-annotation-websocket/src/main/java/org/apache/shenyu/examples/websocket/service/SaveFileImpl.java
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-annotation-websocket/src/main/java/org/apache/shenyu/examples/websocket/ws/UpLoadController.java
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-native-websocket/src/main/java/org/apache/shenyu/examples/websocket/config/WsSessionManager.java
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-native-websocket/src/main/java/org/apache/shenyu/examples/websocket/controller/TestHttpController.java
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-reactive-websocket/src/main/java/org/apache/shenyu/examples/websocket/config/WebSocketConfiguration.java
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-reactive-websocket/src/main/java/org/apache/shenyu/examples/websocket/handler/UploadFileHandler.java
  shenyu-integrated-test/shenyu-integrated-test-websocket/src/test/java/org/apache/shenyu/integrated/test/websocket/UploadControllerTest.java
Labels: in: example, integration-test

#3810 [Task #3740] add upload file example and integrated test.
  shenyu-examples/shenyu-examples-https/src/main/http/https-test-api-local.http
  shenyu-examples/shenyu-examples-https/src/main/http/https-test-api.http
  shenyu-examples/shenyu-examples-https/src/main/java/org/apache/shenyu/examples/https/controller/UploadController.java
  shenyu-examples/shenyu-examples-springcloud/src/main/http/spring-cloud-test-api-local.http
  shenyu-examples/shenyu-examples-springcloud/src/main/http/spring-cloud-test-api.http
  shenyu-examples/shenyu-examples-springcloud/src/main/java/org/apache/shenyu/examples/springcloud/controller/UploadController.java
  shenyu-integrated-test/shenyu-integrated-test-https/src/test/java/org/apache/shenyu/integrated/test/https/HttpsUploadFileTest.java
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/src/test/java/org/apache/shenyu/integratedtest/springcloud/SpringCloudPluginUploadTest.java
Labels: in: example, integration-test

#3813 [type: refactor] fix group and package
  shenyu-client/shenyu-client-dubbo/shenyu-client-alibaba-dubbo/src/main/java/org/apache/shenyu/client/alibaba/dubbo/AlibabaDubboServiceBeanListener.java
  shenyu-client/shenyu-client-dubbo/shenyu-client-apache-dubbo/src/main/java/org/apache/shenyu/client/apache/dubbo/ApacheDubboServiceBeanListener.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-grpc/src/main/java/org/apache/springboot/starter/client/grpc/ShenyuGrpcClientConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-grpc/src/main/resources/META-INF/spring.factories
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-grpc/src/test/java/org/apache/springboot/starter/client/grpc/ShenyuGrpcClientConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-grpc/src/test/java/org/apache/springboot/starter/client/grpc/server/ShenyuGrpcServerBuilderTest.java
Labels: type: refactor, client: grpc

#3815 [type:refactor] Update ShenYu Architecture Image With 3D.
  README.md
Labels: type: community

#3804 [ISSUE #3157] Optimize admin dto validate.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/AppAuthController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/DashboardUserController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/AppAuthDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/AuthApplyDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/AuthPathApplyDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/AuthPathDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/AuthPathWarpDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/DashboardUserDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/MetaDataDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/PluginHandleDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/RoleDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/SelectorDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/ShenyuDictDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/UserRoleDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DashboardUserServiceImpl.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/AppAuthControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/DashboardUserControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/PluginHandleControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/ShenyuDictControllerTest.java
Labels: good first issue, admin

#3817 Integration test docker compose file update for logging-kafka
  db/init/mysql/schema.sql
  db/init/oracle/schema.sql
  db/init/pg/create-table.sql
  db/upgrade/2.4.3-upgrade-2.5.0-mysql.sql
  db/upgrade/2.4.3-upgrade-2.5.0-pg.sql
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-integrated-test/shenyu-integrated-test-http/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-http/pom.xml
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-kafka/src/test/java/org/apache/shenyu/plugin/logging/kafka/LoggingKafkaPluginTest.java
Labels: integration-test

#3825 [ISSUE 3822] When onDeleted, ruleId has been deleted, so change to getPluginNameBySelectorId to get pluginName.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/RuleMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/event/selector/BatchSelectorDeletedEvent.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/RuleServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/publish/RuleEventPublisher.java
  shenyu-admin/src/main/resources/mappers/rule-sqlmap.xml
  shenyu-web/src/main/java/org/apache/shenyu/web/controller/LocalPluginController.java
Labels: admin

#3827 [type:BUG] admin new selector type is full error.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/SelectorDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/SelectorService.java
Labels: admin

#3828 [type:BUG] hystrix plugin can't circuitBreaker.
  shenyu-plugin/shenyu-plugin-hystrix/src/main/java/org/apache/shenyu/plugin/hystrix/HystrixPlugin.java
  shenyu-plugin/shenyu-plugin-hystrix/src/main/java/org/apache/shenyu/plugin/hystrix/builder/HystrixBuilder.java
  shenyu-plugin/shenyu-plugin-hystrix/src/main/java/org/apache/shenyu/plugin/hystrix/command/Command.java
  shenyu-plugin/shenyu-plugin-hystrix/src/main/java/org/apache/shenyu/plugin/hystrix/command/HystrixCommand.java
  shenyu-plugin/shenyu-plugin-hystrix/src/main/java/org/apache/shenyu/plugin/hystrix/command/HystrixCommandOnThread.java
  shenyu-plugin/shenyu-plugin-hystrix/src/main/java/org/apache/shenyu/plugin/hystrix/handler/HystrixPluginDataHandler.java
Labels: type: bug, plugin: hystrix

#3818 [ISSUE #3805] sub task3 add @ShenyuService for `shenyu-client-alibaba-dubbo`
  shenyu-client/shenyu-client-dubbo/shenyu-client-alibaba-dubbo/src/main/java/org/apache/shenyu/client/alibaba/dubbo/annotation/ShenyuService.java
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-alibaba-dubbo-service-annotation/src/main/java/org/apache/shenyu/examples/alibaba/dubbo/service/annotation/impl/DubboClassMultiParamServiceImpl.java
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-alibaba-dubbo-service-annotation/src/main/java/org/apache/shenyu/examples/alibaba/dubbo/service/annotation/impl/DubboClassTestServiceImpl.java
Labels: type: enhancement, client: dubbo

#3833 [ISSUE #3814] fix admin: oracle db init sql script.
  db/init/oracle/schema.sql
Labels: type: bug, admin

#3837 [type: bug] fix h2 sql
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/ConditionData.java
Labels: type: bug, admin

#3840 [ISSUE #3839] fill metadata as much as possible
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/main/java/org/apache/shenyu/client/springcloud/init/SpringCloudClientEventListener.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/init/SpringMvcClientEventListener.java
Labels: type: refactor, client: spring-mvc, client: spring-cloud

#3856 [type: add]: 2.5.0 RELEASE-NOTES.md
  RELEASE-NOTES.md
Labels: type: release

#3869 [type:fix] fix sql error
  db/init/mysql/schema.sql
Labels: admin

#3863 [ISSUE #3862] Change NullPointException to be explicit
  shenyu-register-center/shenyu-register-common/src/main/java/org/apache/shenyu/register/common/config/ShenyuClientConfig.java
Labels: type: refactor

#3844 [ISSUE #3841] <admin apidoc enhance: sample values are displayed when microservice the request parameter uses "@ApiImplicitParam">
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/bean/DocParameter.java
  shenyu-admin/src/main/resources/application.yml
Labels: admin: API Document

#3845 [ISSUE #3843]admin apidoc fix: the required attribute prompt is incorrect when micro service parameter uses "@ApiModelProperty".
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/manager/impl/SwaggerDocParser.java
Labels: admin: API Document

#3853 [ISSUE #3805] Add simpler client annotations for websocket.
  shenyu-client/shenyu-client-websocket/shenyu-client-spring-websocket/pom.xml
  shenyu-client/shenyu-client-websocket/shenyu-client-spring-websocket/src/main/java/org/apache/shenyu/client/spring/websocket/annotation/ShenyuServerEndpoint.java
  shenyu-client/shenyu-client-websocket/shenyu-client-spring-websocket/src/main/java/org/apache/shenyu/client/spring/websocket/init/ShenyuServerEndpointerExporter.java
  shenyu-client/shenyu-client-websocket/shenyu-client-spring-websocket/src/main/java/org/apache/shenyu/client/spring/websocket/init/SpringWebSocketClientEventListener.java
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-annotation-websocket/src/main/java/org/apache/shenyu/examples/websocket/ws/UploadController.java
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-annotation-websocket/src/main/java/org/apache/shenyu/examples/websocket/ws/WsServerEndpoint.java
Labels: type: enhancement, client: websocket

#3851 [fix: motan plugin #3176] add configuration in starter
  pom.xml
  shenyu-client/shenyu-client-motan/pom.xml
  shenyu-examples/shenyu-examples-motan/shenyu-examples-motan-service/pom.xml
  shenyu-examples/shenyu-examples-motan/shenyu-examples-motan-service/src/main/java/org/apache/shenyu/examples/motan/service/TestMotanApplication.java
  shenyu-examples/shenyu-examples-motan/shenyu-examples-motan-service/src/main/java/org/apache/shenyu/examples/motan/service/impl/MotanClassDemoServiceImpl.java
  shenyu-examples/shenyu-examples-motan/shenyu-examples-motan-service/src/main/java/org/apache/shenyu/examples/motan/service/impl/MotanDemoServiceImpl.java
  shenyu-examples/shenyu-examples-motan/shenyu-examples-motan-service/src/main/resources/application.yml
  shenyu-plugin/shenyu-plugin-motan/pom.xml
  shenyu-plugin/shenyu-plugin-motan/src/main/java/org/apache/shenyu/plugin/motan/handler/MotanMetaDataHandler.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-motan/pom.xml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-motan/src/main/java/org/apache/shenyu/springboot/starter/client/motan/ShenyuMotanClientConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-motan/src/main/java/org/apache/shenyu/springboot/starter/client/motan/property/RegistryConfig.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-motan/src/main/java/org/apache/shenyu/springboot/starter/client/motan/property/ShenyuMotanConfig.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-motan/src/test/java/org/apache/shenyu/springboot/starter/client/motan/ShenyuMotanClientConfigurationTest.java
Labels: type: enhancement, client: motan

#3819 [WeOpen-Star #3805] Add convenience annotation for `shenyu-client-springcloud` and `shenyu-client-springmvc`.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/disruptor/subscriber/MetadataExecutorSubscriber.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/AbstractShenyuClientRegisterServiceImpl.java
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/main/java/org/apache/shenyu/client/springcloud/annotation/ShenyuDeleteMapping.java
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/main/java/org/apache/shenyu/client/springcloud/annotation/ShenyuGetMapping.java
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/main/java/org/apache/shenyu/client/springcloud/annotation/ShenyuPatchMapping.java
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/main/java/org/apache/shenyu/client/springcloud/annotation/ShenyuPostMapping.java
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/main/java/org/apache/shenyu/client/springcloud/annotation/ShenyuPutMapping.java
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/main/java/org/apache/shenyu/client/springcloud/annotation/ShenyuRequestMapping.java
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/test/java/org/apache/shenyu/client/springcloud/annotation/ShenyuDeleteMappingTest.java
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/test/java/org/apache/shenyu/client/springcloud/annotation/ShenyuGetMappingTest.java
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/test/java/org/apache/shenyu/client/springcloud/annotation/ShenyuPatchMappingTest.java
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/test/java/org/apache/shenyu/client/springcloud/annotation/ShenyuPostMappingTest.java
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/test/java/org/apache/shenyu/client/springcloud/annotation/ShenyuPutMappingTest.java
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/test/java/org/apache/shenyu/client/springcloud/annotation/ShenyuRequestMappingTest.java
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/test/java/org/apache/shenyu/client/springcloud/init/SpringCloudClientEventListenerTest.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/annotation/ShenyuDeleteMapping.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/annotation/ShenyuGetMapping.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/annotation/ShenyuPatchMapping.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/annotation/ShenyuPostMapping.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/annotation/ShenyuPutMapping.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/annotation/ShenyuRequestMapping.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/annotation/ShenyuSpringMvcClient.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/test/java/org/apache/shenyu/client/springmvc/annotation/ShenyuDeleteMappingTest.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/test/java/org/apache/shenyu/client/springmvc/annotation/ShenyuGetMappingTest.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/test/java/org/apache/shenyu/client/springmvc/annotation/ShenyuPatchMappingTest.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/test/java/org/apache/shenyu/client/springmvc/annotation/ShenyuPostMappingTest.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/test/java/org/apache/shenyu/client/springmvc/annotation/ShenyuPutMappingTest.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/test/java/org/apache/shenyu/client/springmvc/annotation/ShenyuRequestMappingTest.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/test/java/org/apache/shenyu/client/springmvc/init/SpringMvcClientEventListenerTest.java
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/AdminConstants.java
  shenyu-examples/shenyu-examples-springcloud/src/main/java/org/apache/shenyu/examples/springcloud/controller/OrderController.java
  shenyu-examples/shenyu-examples-springmvc/src/main/java/org/apache/shenyu/examples/springmvc/controller/OrderController.java
Labels: type: enhancement, client: spring-mvc, client: spring-cloud

#3875 [iSSUE #3874]Fixbug/selector page
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/properties/DashboardProperties.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/PagedController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/RuleController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/SelectorController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/page/PageCondition.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/query/RuleQueryCondition.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/query/SelectorQueryCondition.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/PageService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/RuleServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SelectorServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/JwtUtils.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/SessionUtil.java
  shenyu-admin/src/main/resources/mappers/rule-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/selector-sqlmap.xml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/RuleControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/SelectorControllerTest.java
Labels: type: bug, admin

#3876 [type: build] Fix docker image publish failed in github action
  .github/workflows/docker-publish-dockerhub.yml
Labels: type: build, type: release

#3878 [type: refactor] refactor example to 2.5.1
  pom.xml
  shenyu-examples/pom.xml
  shenyu-examples/shenyu-examples-common/pom.xml
  shenyu-examples/shenyu-examples-dubbo/pom.xml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-alibaba-dubbo-service-annotation/pom.xml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-alibaba-dubbo-service/pom.xml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-annotation/pom.xml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-xml/pom.xml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service/pom.xml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-dubbo-api/pom.xml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-spring-cloud-alibaba-dubbo-service-annotation/pom.xml
  shenyu-examples/shenyu-examples-eureka/pom.xml
  shenyu-examples/shenyu-examples-grpc/pom.xml
  shenyu-examples/shenyu-examples-http/pom.xml
  shenyu-examples/shenyu-examples-https/pom.xml
  shenyu-examples/shenyu-examples-motan/pom.xml
  shenyu-examples/shenyu-examples-motan/shenyu-examples-motan-api/pom.xml
  shenyu-examples/shenyu-examples-motan/shenyu-examples-motan-service/pom.xml
  shenyu-examples/shenyu-examples-plugin/pom.xml
  shenyu-examples/shenyu-examples-sofa/pom.xml
  shenyu-examples/shenyu-examples-sofa/shenyu-examples-sofa-api/pom.xml
  shenyu-examples/shenyu-examples-sofa/shenyu-examples-sofa-service/pom.xml
  shenyu-examples/shenyu-examples-springcloud/pom.xml
  shenyu-examples/shenyu-examples-springmvc-tomcat/pom.xml
  shenyu-examples/shenyu-examples-springmvc/pom.xml
  shenyu-examples/shenyu-examples-tars/pom.xml
  shenyu-examples/shenyu-examples-websocket/pom.xml
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-annotation-websocket/pom.xml
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-native-websocket/pom.xml
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-reactive-websocket/pom.xml
  shenyu-integrated-test/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-alibaba-dubbo/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-apache-dubbo/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-combination/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-common/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-grpc/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-http/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-https/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-motan/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-sofa/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-spring-cloud/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-websocket/pom.xml
Labels: type: refactor

#3879 [type: refactor] remove disclaimer
  .licenserc.yaml
  DISCLAIMER
Labels: type: refactor

#3850 Update the nameaddress and topic configuration in logging-kafka
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-common/src/main/java/org/apache/shenyu/plugin/logging/common/constant/GenericLoggingConstant.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-kafka/src/main/java/org/apache/shenyu/plugin/logging/kafka/client/KafkaLogCollectClient.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-kafka/src/main/java/org/apache/shenyu/plugin/logging/kafka/handler/LoggingKafkaPluginDataHandler.java
Labels: type: refactor, plugin: logging-kafka

#3831 [type:test] Improve the unit test coverage.
  shenyu-client/shenyu-client-tars/src/test/java/org/apache/shenyu/client/tars/TarsServiceBeanPostProcessorTest.java
  shenyu-loadbalancer/src/main/java/org/apache/shenyu/loadbalancer/factory/LoadBalancerFactory.java
  shenyu-loadbalancer/src/test/java/org/apache/shenyu/loadbalancer/cache/UpstreamCacheManagerTest.java
  shenyu-loadbalancer/src/test/java/org/apache/shenyu/loadbalancer/cache/UpstreamCheckTaskTest.java
  shenyu-loadbalancer/src/test/java/org/apache/shenyu/loadbalancer/cache/UpstreamWithSelectorIdTest.java
  shenyu-loadbalancer/src/test/java/org/apache/shenyu/loadbalancer/entity/UpstreamTest.java
  shenyu-loadbalancer/src/test/java/org/apache/shenyu/loadbalancer/spi/HashLoadBalanceTest.java
  shenyu-loadbalancer/src/test/java/org/apache/shenyu/loadbalancer/spi/RandomLoadBalancerTest.java
  shenyu-loadbalancer/src/test/java/org/apache/shenyu/loadbalancer/spi/RoundRobinLoadBalanceTest.java
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/ShenyuPluginPathBuilder.java
  shenyu-web/src/test/java/org/apache/shenyu/web/configuration/ShenyuThreadPoolConfigurationTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/controller/LocalPluginControllerTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/filter/CrossFilterTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/filter/ExcludeFilterTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/filter/FallbackFilterTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/filter/FileSizeFilterTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/filter/HealthFilterTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/forward/ForwardedRemoteAddressResolverTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/handler/GlobalErrorHandlerTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/handler/ShenyuWebHandlerTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/loader/ShenyuLoaderServiceTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/loader/ShenyuPluginLoaderTest.java
  shenyu-web/src/test/java/org/apache/shenyu/web/logo/ShenyuLogoTest.java
Labels: in: test

#3848 [type:Integration Test] add integrated-test of Oauth2 plugin
  shenyu-examples/shenyu-examples-http/src/main/java/org/apache/shenyu/examples/http/controller/OauthController.java
  shenyu-integrated-test/shenyu-integrated-test-https/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-https/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-https/src/main/resources/application.yml
  shenyu-integrated-test/shenyu-integrated-test-https/src/test/java/org/apache/shenyu/integrated/test/https/Oauth2PluginTest.java
Labels: integration-test

#3898 [ISSUE #3381]Fix change password error.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/DashboardUserController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/DashboardUserModifyPasswordDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/DashboardUserDO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/DashboardUserService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DashboardUserServiceImpl.java
Labels: type: bug, admin, admin: permission

#3901 Upgrade okhttp to a secure version
  pom.xml
Labels: type: upgrade
