Repository apache/shenyu, pull requests merged in 2023-01, with the labels that each got.

#4293 add sdk duplicate class check
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sdk/src/main/java/org/apache/shenyu/springboot/starter/sdk/ShenyuSdkAutoConfiguration.java
Labels: type: new feature, sdk

#4299 [ISSUE #4029] add shenyu-client-api-doc part2 admin module
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ShenyuClientHttpRegistryController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/disruptor/RegisterClientServerDisruptorPublisher.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/disruptor/executor/RegisterServerConsumerExecutor.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/disruptor/subscriber/ApiDocExecutorSubscriber.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/ApiMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/ApiService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/ApiServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/AbstractShenyuClientRegisterServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterService.java
  shenyu-admin/src/main/resources/mappers/api-sqlmap.xml
Labels: admin, type: new feature, admin: API Document

#4300 [ISSUE #3450]Add brpc-plugin
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/plugin/BrpcRegisterConfig.java
  shenyu-plugin/pom.xml
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/result/ShenyuResultEnum.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/RpcParamTransformPlugin.java
  shenyu-plugin/shenyu-plugin-brpc/pom.xml
  shenyu-plugin/shenyu-plugin-brpc/src/main/java/org/apache/shenyu/plugin/brpc/BrpcPlugin.java
  shenyu-plugin/shenyu-plugin-brpc/src/main/java/org/apache/shenyu/plugin/brpc/cache/ApplicationConfigCache.java
  shenyu-plugin/shenyu-plugin-brpc/src/main/java/org/apache/shenyu/plugin/brpc/context/BrpcShenyuContextDecorator.java
  shenyu-plugin/shenyu-plugin-brpc/src/main/java/org/apache/shenyu/plugin/brpc/exception/ShenyuBrpcPluginException.java
  shenyu-plugin/shenyu-plugin-brpc/src/main/java/org/apache/shenyu/plugin/brpc/handler/BrpcMetaDataHandler.java
  shenyu-plugin/shenyu-plugin-brpc/src/main/java/org/apache/shenyu/plugin/brpc/handler/BrpcPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-brpc/src/main/java/org/apache/shenyu/plugin/brpc/proxy/BrpcProxyService.java
  shenyu-plugin/shenyu-plugin-brpc/src/main/java/org/apache/shenyu/plugin/brpc/util/ProxyInfoUtil.java
  shenyu-plugin/shenyu-plugin-brpc/src/test/java/org/apache/shenyu/plugin/brpc/BrpcPluginTest.java
  shenyu-plugin/shenyu-plugin-brpc/src/test/java/org/apache/shenyu/plugin/brpc/cache/ApplicationConfigCacheTest.java
  shenyu-plugin/shenyu-plugin-brpc/src/test/java/org/apache/shenyu/plugin/brpc/context/BrpcShenyuContextDecoratorTest.java
  shenyu-plugin/shenyu-plugin-brpc/src/test/java/org/apache/shenyu/plugin/brpc/handler/BrpcPluginDataHandlerTest.java
  shenyu-plugin/shenyu-plugin-brpc/src/test/java/org/apache/shenyu/plugin/brpc/util/ProxyInfoUtilTest.java
  shenyu-plugin/shenyu-plugin-context-path/src/main/java/org/apache/shenyu/plugin/context/path/ContextPathPlugin.java
  shenyu-plugin/shenyu-plugin-response/src/main/java/org/apache/shenyu/plugin/response/strategy/RPCMessageWriter.java
  shenyu-plugin/shenyu-plugin-rewrite/src/main/java/org/apache/shenyu/plugin/rewrite/RewritePlugin.java
Labels: type: new feature, plugin: brpc

#4295 [type:refactor] refactor sdk.
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-dubbo/shenyu-examples-sdk-alibaba-dubbo-consumer/src/main/java/org/apache/shenyu/examples/sdk/alibaba/dubbo/consumer/api/ShenyuAlibabaDubboClientApi.java
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-dubbo/shenyu-examples-sdk-apache-dubbo-consumer/src/main/http/sdk-apache-dubbo-test-api.http
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-dubbo/shenyu-examples-sdk-apache-dubbo-consumer/src/main/java/org/apache/shenyu/examples/sdk/apache/dubbo/consumer/api/ShenyuApacheDubboClientApi.java
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-dubbo/shenyu-examples-sdk-apache-dubbo-consumer/src/main/java/org/apache/shenyu/examples/sdk/apache/dubbo/consumer/impl/ShenyuApacheDubboClientAplFallBack.java
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-grpc/shenyu-examples-sdk-grpc-consumer/src/main/java/org/apache/shenyu/examples/sdk/grpc/consumer/api/ShenyuGrpcClientApi.java
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-springcloud/shenyu-examples-sdk-springcloud-consumer/src/main/java/org/apache/shenyu/examples/sdk/springcloud/consumer/api/ShenyuSpringCloudClientApi.java
  shenyu-integrated-test/shenyu-integrated-test-sdk-apache-dubbo/src/main/resources/application.yml
  shenyu-integrated-test/shenyu-integrated-test-sdk-apache-dubbo/src/test/java/org/apache/shenyu/integrated/test/apache/dubbo/ApacheDubboPluginTest.java
  shenyu-sdk/shenyu-sdk-spring/src/main/java/org/apache/shenyu/sdk/spring/factory/Contract.java
  shenyu-sdk/shenyu-sdk-spring/src/main/java/org/apache/shenyu/sdk/spring/proxy/ShenyuClientInvocationHandler.java
  shenyu-sdk/shenyu-sdk-spring/src/main/java/org/apache/shenyu/sdk/spring/proxy/ShenyuClientMethodHandler.java
  shenyu-sdk/shenyu-sdk-spring/src/main/java/org/apache/shenyu/sdk/spring/support/SpringMvcContract.java
Labels: sdk

#4283 [ISSUE #4276] remove redundant cookie setting
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/WebClientPlugin.java
Labels: type: bug, type: refactor

#4305 [type:feat] add trie test
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-common/src/main/java/org/apache/shenyu/common/config/ShenyuConfig.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/trie/ShenyuTrie.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/trie/ShenyuTrieNode.java
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/AbstractShenyuPluginTest.java
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/cache/CommonPluginDataSubscriberTest.java
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/trie/ShenyuTrieTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-gateway/src/main/java/org/apache/shenyu/springboot/starter/gateway/ShenyuConfiguration.java
  shenyu-web/src/test/java/org/apache/shenyu/web/controller/LocalPluginControllerTest.java
Labels: plugin: base

#4306 [type:fix] ModifyResponsePlugin resetting the configuration of maxInMemorySize in yml to the default value 256K
  shenyu-plugin/shenyu-plugin-modify-response/src/main/java/org/apache/shenyu/plugin/modify/response/ModifyResponsePlugin.java
Labels: plugin: modify-response

#4308 [type:test] fix Kafka test takes too long.
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-kafka/src/test/java/org/apache/shenyu/plugin/logging/kafka/handler/LoggingKafkaPluginDataHandlerTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-kafka/src/test/java/org/apache/shenyu/plugin/logging/kafka/kafka/KafkaLogCollectClientTest.java
Labels: in: test

#4311 [type:feature] refactor some code for mock request of api doc.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/MockRequestRecordController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/SandboxController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/MockRequestRecordDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/MockRequestRecordService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/SandboxService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/MockRequestRecordServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SandboxServiceImpl.java
Labels: admin, type: refactor, admin: API Document

#4309 [ISSUE #3450]Add brpc example
  shenyu-client/shenyu-client-brpc/src/main/java/org/apache/shenyu/client/brpc/BrpcContextRefreshedEventListener.java
  shenyu-client/shenyu-client-brpc/src/main/java/org/apache/shenyu/client/brpc/common/annotation/ShenyuBrpcService.java
  shenyu-examples/pom.xml
  shenyu-examples/shenyu-examples-brpc/Dockerfile
  shenyu-examples/shenyu-examples-brpc/pom.xml
  shenyu-examples/shenyu-examples-brpc/shenyu-examples-brpc-api/pom.xml
  shenyu-examples/shenyu-examples-brpc/shenyu-examples-brpc-api/src/main/java/org/apache/shenyu/examples/brpc/api/entity/Address.java
  shenyu-examples/shenyu-examples-brpc/shenyu-examples-brpc-api/src/main/java/org/apache/shenyu/examples/brpc/api/entity/ExtInfo.java
  shenyu-examples/shenyu-examples-brpc/shenyu-examples-brpc-api/src/main/java/org/apache/shenyu/examples/brpc/api/entity/Gender.java
  shenyu-examples/shenyu-examples-brpc/shenyu-examples-brpc-api/src/main/java/org/apache/shenyu/examples/brpc/api/entity/User.java
  shenyu-examples/shenyu-examples-brpc/shenyu-examples-brpc-api/src/main/java/org/apache/shenyu/examples/brpc/api/service/BrpcDemoService.java
  shenyu-examples/shenyu-examples-brpc/shenyu-examples-brpc-service/pom.xml
  shenyu-examples/shenyu-examples-brpc/shenyu-examples-brpc-service/src/main/http/brpc-test-api.http
  shenyu-examples/shenyu-examples-brpc/shenyu-examples-brpc-service/src/main/java/org/apache/shenyu/examples/brpc/service/TestBrpcApplication.java
  shenyu-examples/shenyu-examples-brpc/shenyu-examples-brpc-service/src/main/java/org/apache/shenyu/examples/brpc/service/impl/BrpcDemoServiceImpl.java
  shenyu-examples/shenyu-examples-brpc/shenyu-examples-brpc-service/src/main/resources/application.yml
  shenyu-plugin/shenyu-plugin-brpc/src/main/java/org/apache/shenyu/plugin/brpc/proxy/BrpcProxyService.java
Labels: type: new feature, in: example, type: examples

#4282 [type:refactor] Refactored some integration tests
  shenyu-integrated-test/shenyu-integrated-test-common/src/main/java/org/apache/shenyu/integratedtest/common/utils/ConfUtils.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/CryptorRequestPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/CryptorResponsePluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/JwtPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/MockPluginTest.java
Labels: integration-test

#4323 [type:refactor] change the Chinese note to English
  shenyu-client/shenyu-client-dubbo/shenyu-client-alibaba-dubbo/src/main/java/org/apache/shenyu/client/alibaba/dubbo/AlibabaDubboServiceBeanListener.java
  shenyu-client/shenyu-client-dubbo/shenyu-client-apache-dubbo/src/main/java/org/apache/shenyu/client/apache/dubbo/ApacheDubboServiceBeanListener.java
  shenyu-examples/shenyu-examples-grpc/src/main/http/grpc-test-api.http
  shenyu-examples/shenyu-examples-tars/pom.xml
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-annotation-websocket/src/main/java/org/apache/shenyu/examples/websocket/service/SaveFileImpl.java
Labels: client: dubbo, in: example

#4326 add leastActive load balance
  db/init/mysql/schema.sql
  db/init/oracle/schema.sql
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-common/src/main/java/org/apache/shenyu/common/enums/LoadBalanceEnum.java
  shenyu-loadbalancer/src/main/java/org/apache/shenyu/loadbalancer/spi/LeastActiveLoadBalance.java
  shenyu-loadbalancer/src/test/java/org/apache/shenyu/loadbalancer/spi/LeastActiveLoadBalanceTest.java
Labels: type: new feature

#4320 [type:refactor] refactor apidoc_dubbo get dubbo version
  shenyu-client/shenyu-client-brpc/src/main/java/org/apache/shenyu/client/brpc/BrpcContextRefreshedEventListener.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/client/AbstractContextRefreshedEventListener.java
  shenyu-client/shenyu-client-dubbo/shenyu-client-alibaba-dubbo/src/main/java/org/apache/shenyu/client/alibaba/dubbo/AlibabaDubboServiceBeanListener.java
  shenyu-client/shenyu-client-dubbo/shenyu-client-apache-dubbo/src/main/java/org/apache/shenyu/client/apache/dubbo/ApacheDubboServiceBeanListener.java
  shenyu-client/shenyu-client-grpc/src/main/java/org/apache/shenyu/client/grpc/GrpcClientEventListener.java
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/main/java/org/apache/shenyu/client/springcloud/init/SpringCloudClientEventListener.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/init/SpringMvcClientEventListener.java
  shenyu-client/shenyu-client-motan/src/main/java/org/apache/shenyu/client/motan/MotanServiceEventListener.java
  shenyu-client/shenyu-client-sofa/src/main/java/org/apache/shenyu/client/sofa/SofaServiceEventListener.java
  shenyu-client/shenyu-client-tars/src/main/java/org/apache/shenyu/client/tars/TarsServiceBeanEventListener.java
  shenyu-client/shenyu-client-websocket/shenyu-client-spring-websocket/src/main/java/org/apache/shenyu/client/spring/websocket/init/SpringWebSocketClientEventListener.java
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-alibaba-dubbo-service/src/main/resources/spring-dubbo.xml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service/src/main/resources/spring-dubbo.xml
Labels: client: dubbo, type: refactor, admin: API Document

#4327 [type: sql] fix sql
  db/init/mysql/schema.sql
  db/upgrade/2.5.0-upgrade-2.5.1-mysql.sql
Labels: sql, plugin: brpc
