Repository apache/shenyu, pull requests merged in 2023-05, with the labels that each got.

#4586 4534
  db/init/mysql/schema.sql
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/DiscoveryMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/DiscoveryRelMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/DiscoveryDO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/DiscoveryRelDO.java
  shenyu-admin/src/main/resources/mappers/discovery-rel-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/discovery-sqlmap.xml
Labels: discovery

#4603 【Type:Feature】Super admin forces password change
  shenyu-admin/src/main/java/org/apache/shenyu/admin/aspect/controller/ControllerMethodAdvice.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/aspect/controller/PrintLogControllerMethodAdviceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/aspect/controller/RestControllerAspect.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/aspect/controller/SuperAdminPasswordSafeAdvice.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/properties/DashboardProperties.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/DashboardUserController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/vo/AlertTemplateVO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/vo/ApiVO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/vo/DetailVO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/vo/FieldVO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/vo/MetaDataVO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/vo/MockRequestRecordVO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/vo/PermissionMenuVO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/vo/RoleEditVO.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/aspect/PrintApiLogAspectTest.java
Labels: admin, type: new feature, admin: permission

#4600 [ISSUE #4560] spring-mvc(boot) client support collect api-meta
  shenyu-client/shenyu-client-autoconfig/src/main/java/org/apache/shenyu/client/auto/config/ClientRegisterConfiguration.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/parser/PreApiMetaBeanParser.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/register/SpringMvcApiBeansExtractor.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/register/apimeta/SpringMvcApiMetaBeanMatcher.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/register/apimeta/SpringMvcApiMetaDefinitionMatcher.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/register/apimeta/SpringMvcApiMetaDefinitionParser.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/register/apimeta/SpringMvcPreApiMetaBeanMatcher.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/register/apimeta/SpringMvcPreApiMetaBeanParser.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/test/java/org/apache/shenyu/client/springmvc/register/SpringMvcApiBeansExtractorTest.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/test/java/org/apache/shenyu/client/springmvc/register/apimeta/SpringMvcApiMetaBeanMatcherTest.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/test/java/org/apache/shenyu/client/springmvc/register/apimeta/SpringMvcApiMetaDefinitionMatcherTest.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/test/java/org/apache/shenyu/client/springmvc/register/apimeta/SpringMvcApiMetaDefinitionParserTest.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/test/java/org/apache/shenyu/client/springmvc/register/apimeta/SpringMvcPreApiMetaBeanMatcherTest.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/test/java/org/apache/shenyu/client/springmvc/register/apimeta/SpringMvcPreApiMetaBeanParserTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-springmvc/pom.xml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-springmvc/src/main/java/org/apache/shenyu/springboot/starter/client/springmvc/ShenyuSpringMvcClientConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-springmvc/src/main/java/org/apache/shenyu/springboot/starter/client/springmvc/ShenyuSpringMvcClientInfoRegisterConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-springmvc/src/main/resources/META-INF/spring.factories
Labels: type: new feature, client: register

#4593 fix hystrix fallback bug
  shenyu-integrated-test/shenyu-integrated-test-http/src/main/resources/application.yml
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/RequestControllerTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/HystrixPluginTest.java
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/result/ShenyuResultEnum.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/fallback/FallbackHandler.java
  shenyu-plugin/shenyu-plugin-hystrix/src/main/java/org/apache/shenyu/plugin/hystrix/command/Command.java
  shenyu-plugin/shenyu-plugin-hystrix/src/main/java/org/apache/shenyu/plugin/hystrix/command/HystrixCommand.java
  shenyu-plugin/shenyu-plugin-hystrix/src/main/java/org/apache/shenyu/plugin/hystrix/command/HystrixCommandOnThread.java
  shenyu-plugin/shenyu-plugin-hystrix/src/test/java/org/apache/shenyu/plugin/hystrix/command/HystrixCommandOnThreadTest.java
  shenyu-web/src/main/java/org/apache/shenyu/web/fallback/DefaultFallbackController.java
Labels: type: bug, plugin: sentinel, plugin: resilience4j, plugin: hystrix

#4614 [type: newfeature] refactor health webfilter
  shenyu-bootstrap/src/main/java/org/apache/shenyu/bootstrap/config/CollapseSlashesConfiguration.java
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-gateway/src/main/java/org/apache/shenyu/springboot/starter/gateway/ShenyuConfiguration.java
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/CollapseSlashesFilter.java
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/HealthFilter.java
  shenyu-web/src/test/java/org/apache/shenyu/web/filter/HealthFilterTest.java
Labels: type: new feature

#4618 [type:feature] Change password strictness
  shenyu-admin/src/http/http-debug-dashboard-user-controller-api.http
  shenyu-admin/src/main/java/org/apache/shenyu/admin/aspect/controller/SuperAdminPasswordSafeAdvice.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/DashboardUserController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/constant/RegConstant.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/DashboardUserDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/DashboardUserModifyPasswordDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/DashboardUserService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DashboardUserServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/ShenyuResultMessage.java
  shenyu-admin/src/main/resources/static/index.3a360bb9.js
  shenyu-admin/src/main/resources/static/index.66672504.js
  shenyu-admin/src/main/resources/static/index.98c5ed36.css
  shenyu-admin/src/main/resources/static/index.html
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/DashboardUserControllerTest.java
Labels: admin, admin: permission

#4572 new feature for shenyu discovery service impl zk DiscoveryService( #4562)
  shenyu-discovery/shenyu-discovery-api/pom.xml
  shenyu-discovery/shenyu-discovery-zookeeper/pom.xml
  shenyu-discovery/shenyu-discovery-zookeeper/src/main/java/org/apache/shenyu/discovery/zookeeper/ZookeeperDiscoveryService.java
Labels: type: new feature, discovery

#4621 #4534 discovery upstream and proxy selector proxy crud
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/DiscoveryUpstreamController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ProxySelectorController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/DiscoveryUpstreamMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/ProxySelectorMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/DiscoveryUpstreamDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/ProxySelectorDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/DiscoveryUpstreamDO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/ProxySelectorDO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/query/ProxySelectorQuery.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/vo/ProxySelectorVO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/DiscoveryUpstreamService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/ProxySelectorService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DiscoveryUpstreamServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/ProxySelectorServiceImpl.java
  shenyu-admin/src/main/resources/mappers/discovery-upstream-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/proxy-selector-sqlmap.xml
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/DiscoveryUpstreamMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/ProxySelectorMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/DiscoveryUpstreamServiceTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/ProxySelectorServiceTest.java
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/AdminConstants.java
Labels: admin, discovery

#4610 Add test cases for service.manager.impl
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/manager/impl/DocManagerImplTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/manager/impl/LoadServiceDocEntryImplTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/manager/impl/ServiceDocManagerImplTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/manager/impl/SwaggerDocParserTest.java
Labels: in: test

#4623 refactor some code
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/ContextPathPluginTest.java
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/ShenyuPlugin.java
  shenyu-plugin/shenyu-plugin-context-path/src/main/java/org/apache/shenyu/plugin/context/path/ContextPathPlugin.java
Labels: type: refactor, plugin: context-path

#4624 refactor oauth2 plugin
  shenyu-integrated-test/shenyu-integrated-test-https/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-https/src/test/java/org/apache/shenyu/integrated/test/https/Oauth2PluginTest.java
  shenyu-plugin/shenyu-plugin-oauth2/pom.xml
  shenyu-plugin/shenyu-plugin-oauth2/src/main/java/org/apache/shenyu/plugin/oauth2/OAuth2Plugin.java
  shenyu-plugin/shenyu-plugin-oauth2/src/main/java/org/apache/shenyu/plugin/oauth2/filter/OAuth2PreFilter.java
  shenyu-plugin/shenyu-plugin-oauth2/src/test/java/org/apache/shenyu/plugin/oauth2/OAuth2PluginTest.java
  shenyu-plugin/shenyu-plugin-oauth2/src/test/java/org/apache/shenyu/plugin/oauth2/filter/OAuth2PreFilterTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-oauth2/pom.xml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-oauth2/src/main/java/org/apache/shenyu/springboot/starter/plugin/oauth2/DefaultClientsConfiguredCondition.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-oauth2/src/main/java/org/apache/shenyu/springboot/starter/plugin/oauth2/OAuth2PluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-oauth2/src/test/java/org/apache/shenyu/springboot/starter/plugin/oauth2/OAuth2PluginConfigurationTest.java
Labels: type: refactor, plugin: oauth2

#4627 fix docker image build from openjdk11 env set error
  shenyu-examples/shenyu-examples-https/src/main/resources/application.yml
  shenyu-integrated-test/shenyu-integrated-test-https/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-https/src/main/resources/application.yml
Labels: integration-test

#4632 add test cases for ShenyuClientApiDocExecutorSubscriber class.
  shenyu-client/shenyu-client-core/src/test/java/org/apache/shenyu/client/core/disruptor/subcriber/ShenyuClientApiDocExecutorSubscriberTest.java
Labels: client: api-doc

#4634 [ISSUE #4629] fix ConfigController loading order
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/DataSyncConfiguration.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ConfigController.java
Labels: admin, type: refactor, data-sync: http

#4639 [type:fix] fix spring cloud service choose
  shenyu-plugin/shenyu-plugin-springcloud/src/main/java/org/apache/shenyu/plugin/springcloud/loadbalance/ShenyuSpringCloudServiceChooser.java
Labels: plugin: spring-cloud, type: refactor

#4644 shenyu-spring-boot-starter-plugin-mock add spring.factories
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-mock/src/main/resources/META-INF/spring.factories
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-mock/src/main/resources/META-INF/spring.provides
Labels: type: bug, plugin: mock

#4648 refactor method name.
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/ListUtil.java
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/ListUtilTest.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/AbstractShenyuPlugin.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/trie/ShenyuTrie.java
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/trie/ShenyuRuleTrieTest.java
Labels: type: refactor

#4651 [ISSUE #4548] Add unit test to the sofa component.
  shenyu-client/shenyu-client-sofa/src/test/java/org/apache/shenyu/client/sofa/SofaServiceEventListenerTest.java
Labels: in: test, client: sofa

#4657 feat:tcp nacos sync
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/AbstractListDataChangedListener.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/DataChangedEventDispatcher.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/DataChangedListener.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/apollo/ApolloDataChangedListener.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/consul/ConsulDataChangedListener.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/nacos/NacosDataChangedInit.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/nacos/NacosDataChangedListener.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/listener/http/HttpLongPollingDataChangedListenerTest.java
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/ApolloPathConstants.java
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/ConsulConstants.java
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/NacosPathConstants.java
  shenyu-common/src/main/java/org/apache/shenyu/common/enums/ConfigGroupEnum.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-nacos/src/main/java/org/apache/shenyu/springboot/starter/sync/data/nacos/NacosSyncDataConfiguration.java
  shenyu-sync-data-center/shenyu-sync-data-nacos/src/main/java/org/apache/shenyu/sync/data/nacos/NacosSyncDataService.java
  shenyu-sync-data-center/shenyu-sync-data-nacos/src/main/java/org/apache/shenyu/sync/data/nacos/handler/NacosCacheHandler.java
  shenyu-sync-data-center/shenyu-sync-data-nacos/src/test/java/org/apache/shenyu/sync/data/nacos/NacosSyncDataServiceTest.java
  shenyu-sync-data-center/shenyu-sync-data-nacos/src/test/java/org/apache/shenyu/sync/data/nacos/handler/NacosCacheHandlerTest.java
Labels: type: new feature, data-sync: nacos

#4669 Optimize code of sentinel-plugin
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/rule/SentinelHandle.java
  shenyu-common/src/test/java/org/apache/shenyu/common/dto/convert/rule/SentinelHandleTest.java
  shenyu-plugin/shenyu-plugin-sentinel/src/main/java/org/apache/shenyu/plugin/sentinel/SentinelPlugin.java
  shenyu-plugin/shenyu-plugin-sentinel/src/main/java/org/apache/shenyu/plugin/sentinel/handler/SentinelRuleHandle.java
Labels: plugin: sentinel, type: refactor

#4658 [type:refactor] refactor cache and add endpoint to expose cache
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/AbstractShenyuPlugin.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/cache/CommonPluginDataSubscriber.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/cache/MatchDataCache.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/cache/MetaDataCache.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/trie/ShenyuTrie.java
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/cache/CommonPluginDataSubscriberTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-gateway/src/main/java/org/apache/shenyu/springboot/starter/gateway/ShenyuConfiguration.java
  shenyu-web/src/main/java/org/apache/shenyu/web/controller/LocalPluginController.java
  shenyu-web/src/main/java/org/apache/shenyu/web/endpoint/ShenyuControllerEndpoint.java
  shenyu-web/src/test/java/org/apache/shenyu/web/controller/LocalPluginControllerTest.java
Labels: client: register

#4673 support shenyu admin, bootstrap service stop script bat in windows
  shenyu-dist/shenyu-admin-dist/src/main/resources/bin/stop.bat
  shenyu-dist/shenyu-bootstrap-dist/src/main/resources/bin/stop.bat
Labels: type: new feature

#4681 [type:fix] fix springmvc and springcloud client
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/main/java/org/apache/shenyu/client/springcloud/init/SpringCloudClientEventListener.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/init/SpringMvcClientEventListener.java
  shenyu-client/shenyu-client-websocket/shenyu-client-spring-websocket/src/main/java/org/apache/shenyu/client/spring/websocket/init/SpringWebSocketClientEventListener.java
Labels: client: spring-mvc, client: spring-cloud, client: websocket

#4688 [ISSUE #4548] Add unit test to the sofa component.
  shenyu-client/shenyu-client-sofa/src/test/java/org/apache/shenyu/client/sofa/SofaServiceEventListenerTest.java
Labels: in: test

#4689 docs: precision fix for terminology in the quick start guide
  README.md
Labels: type: refactor
