Repository apache/shenyu, pull requests merged in 2023-04, with the labels that each got.

#4525 [type:fix] fix zookeeper sync error
  shenyu-sync-data-center/shenyu-sync-data-zookeeper/src/main/java/org/apache/shenyu/sync/data/zookeeper/ZookeeperClient.java
  shenyu-sync-data-center/shenyu-sync-data-zookeeper/src/main/java/org/apache/shenyu/sync/data/zookeeper/ZookeeperSyncDataService.java
  shenyu-sync-data-center/shenyu-sync-data-zookeeper/src/test/java/org/apache/shenyu/sync/data/zookeeper/ZookeeperClientTest.java
Labels: type: bug, data-sync: zookeeper

#4524 [type:fix] fix MemorySafeWindowTinyLFUMap memory leak error
  shenyu-common/src/main/java/org/apache/shenyu/common/cache/MemorySafeWindowTinyLFUMap.java
  shenyu-common/src/test/java/org/apache/shenyu/common/cache/MemorySafeWindowTinyLFUMapTest.java
Labels: type: bug

#4528 [type:fix] fix lack separator of path of ApiDoc
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/client/AbstractContextRefreshedEventListener.java
Labels: client: api-doc

#4523 add load jar plugin unit test
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/ShenyuPluginLoader.java
  shenyu-web/src/test/java/org/apache/shenyu/web/loader/ShenyuPluginLoaderTest.java
  shenyu-web/src/test/resources/plugin-jar-base64.txt
Labels: in: test

#4533 fix ShenyuTrie NPE
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/trie/ShenyuTrie.java
Labels: type: bug

#4522 [ISSUE #4508]Tolerant Path Slash. fix #4508
  shenyu-bootstrap/src/main/java/org/apache/shenyu/bootstrap/config/CollapseSlashesConfiguration.java
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-common/src/main/java/org/apache/shenyu/common/config/ShenyuConfig.java
Labels: type: new feature

#4536 [type:refactor] refactor shenyu trie
  shenyu-common/src/main/java/org/apache/shenyu/common/config/ShenyuConfig.java
  shenyu-common/src/main/java/org/apache/shenyu/common/enums/TrieMatchModeEnum.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/cache/CommonPluginDataSubscriber.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/trie/ShenyuTrie.java
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/AbstractShenyuPluginTest.java
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/cache/CommonPluginDataSubscriberTest.java
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/trie/ShenyuTrieTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-gateway/src/main/java/org/apache/shenyu/springboot/starter/gateway/ShenyuConfiguration.java
  shenyu-web/src/test/java/org/apache/shenyu/web/controller/LocalPluginControllerTest.java
Labels: plugin: base

#4550 [type:test] add test cases for shenyu-admin.model (#4540)
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/bean/DocParameterTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/bean/UpstreamInstanceTest.java
Labels: in: test

#4551 [Task#4540]Add test cases for the HttpUtils class
  shenyu-admin/src/test/java/org/apache/shenyu/admin/utils/HttpUtilsTest.java
Labels: in: test

#4556 [type:optimize] optimize shenyu parameters
  shenyu-bootstrap/pom.xml
  shenyu-bootstrap/src/main/resources/logback.xml
  shenyu-client/shenyu-client-sofa/pom.xml
  shenyu-dist/shenyu-bootstrap-dist/src/main/resources/logback.xml
  shenyu-examples/shenyu-examples-sofa/shenyu-examples-sofa-service/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-combination/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-sofa/pom.xml
  shenyu-plugin/shenyu-plugin-sofa/pom.xml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-sofa/pom.xml
Labels: type: refactor

#4557 [ISSUE #4517]shenyu rule cache test case
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/trie/ShenyuTrieTest.java
Labels: type: refactor, in: test

#4561 [new feature] Init shenyu discovery service
  db/init/mysql/schema.sql
  pom.xml
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-discovery/pom.xml
  shenyu-discovery/shenyu-discovery-api/pom.xml
  shenyu-discovery/shenyu-discovery-api/src/main/java/org/apache/shenyu/discovery/api/ShenyuDiscoveryService.java
  shenyu-discovery/shenyu-discovery-api/src/main/java/org/apache/shenyu/discovery/api/config/DiscoveryConfig.java
  shenyu-discovery/shenyu-discovery-api/src/main/java/org/apache/shenyu/discovery/api/listener/DataChangedEvent.java
  shenyu-discovery/shenyu-discovery-api/src/main/java/org/apache/shenyu/discovery/api/listener/DataChangedEventListener.java
  shenyu-discovery/shenyu-discovery-zookeeper/pom.xml
  shenyu-discovery/shenyu-discovery-zookeeper/src/main/java/org/apache/shenyu/discovery/zookeeper/ZookeeperDiscoveryService.java
  shenyu-discovery/shenyu-discovery-zookeeper/src/main/resources/META-INF/shenyu/org.apache.shenyu.discovery.api.ShenyuDiscoveryService
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/AbstractHttpClientPlugin.java
Labels: discovery

#4565 [type:optimize] optimize shenyu parameters
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-dist/shenyu-bootstrap-dist/src/main/resources/bin/start.bat
  shenyu-dist/shenyu-bootstrap-dist/src/main/resources/bin/start.sh
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/config/HttpClientProperties.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-httpclient/src/main/java/org/apache/shenyu/springboot/starter/plugin/httpclient/HttpClientPluginConfiguration.java
Labels: type: performance

#4564 add validation for ApiDto.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/ApiDTO.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/ApiControllerTest.java
Labels: type: refactor, admin: API Document

#4567 feat: support k8s probes
  shenyu-admin/src/main/resources/application.yml
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/HealthFilter.java
Labels: type: refactor

#4542 [ISSUE #4029] api doc client document field
  pom.xml
  shenyu-client/shenyu-client-core/pom.xml
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/client/AbstractContextRefreshedEventListener.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/utils/OpenApiUtils.java
  shenyu-examples/pom.xml
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-annotation-websocket/pom.xml
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-native-websocket/pom.xml
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-native-websocket/src/main/java/org/apache/shenyu/examples/websocket/interceptor/WebSocketInterceptor.java
Labels: admin: API Document

#4583 [ISSUE #4560] Initializes spring-boot-client auto config
  shenyu-client/pom.xml
  shenyu-client/shenyu-client-autoconfig/pom.xml
  shenyu-client/shenyu-client-autoconfig/src/main/java/org/apache/shenyu/client/auto/config/ClientRegisterConfiguration.java
  shenyu-client/shenyu-client-autoconfig/src/main/java/org/apache/shenyu/client/auto/config/EnableClientRegister.java
Labels: type: new feature, client: register

#4576 [ISSUE #259] fix chinese garbled code
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/WebClientPlugin.java
  shenyu-plugin/shenyu-plugin-response/src/main/java/org/apache/shenyu/plugin/response/strategy/WebClientMessageWriter.java
Labels: type: bug, plugin: http-client

#4587 [type:refactor]rename some class name
  shenyu-client/shenyu-client-autoconfig/src/main/java/org/apache/shenyu/client/auto/config/ClientRegisterConfiguration.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/constant/ShenyuClientConstants.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/ClientApiRefreshedEventListener.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/matcher/AnnotatedApiBeanMatcher.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/matcher/ApiBeanMatcher.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/parser/ApiDocDefinitionParser.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/parser/ApiMetaBeanParser.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/parser/ApiMetaDefinitionParser.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/registrar/PreApiBeanRegistrar.java
Labels: type: refactor

#4592 Refactor the custom plugin support hot load and hot update plugin without reboot gateway
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/utils/SpringBeanUtils.java
  shenyu-web/src/main/java/org/apache/shenyu/web/handler/ShenyuWebHandler.java
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/PluginJarParser.java
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/ShenyuExtPathPluginJarLoader.java
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/ShenyuLoaderService.java
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/ShenyuPluginClassLoader.java
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/ShenyuPluginClassloaderHolder.java
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/ShenyuPluginLoader.java
Labels: type: refactor

#4598 Optimized for ShenyuWebHandler#putExtPlugins method
  shenyu-web/src/main/java/org/apache/shenyu/web/handler/ShenyuWebHandler.java
Labels: type: refactor

#4591 [ISSUE #4029] link part
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ApiController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/ApiServiceImpl.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/ApiServiceTest.java
  shenyu-client/shenyu-client-brpc/src/main/java/org/apache/shenyu/client/brpc/BrpcContextRefreshedEventListener.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/client/AbstractContextRefreshedEventListener.java
  shenyu-client/shenyu-client-dubbo/shenyu-client-alibaba-dubbo/src/main/java/org/apache/shenyu/client/alibaba/dubbo/AlibabaDubboServiceBeanListener.java
  shenyu-client/shenyu-client-dubbo/shenyu-client-apache-dubbo/src/main/java/org/apache/shenyu/client/apache/dubbo/ApacheDubboServiceBeanListener.java
  shenyu-client/shenyu-client-grpc/src/main/java/org/apache/shenyu/client/grpc/GrpcClientEventListener.java
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/main/java/org/apache/shenyu/client/springcloud/init/SpringCloudClientEventListener.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/init/SpringMvcClientEventListener.java
  shenyu-client/shenyu-client-motan/src/main/java/org/apache/shenyu/client/motan/MotanServiceEventListener.java
  shenyu-client/shenyu-client-sofa/src/main/java/org/apache/shenyu/client/sofa/SofaServiceEventListener.java
  shenyu-client/shenyu-client-tars/src/main/java/org/apache/shenyu/client/tars/TarsServiceBeanEventListener.java
  shenyu-client/shenyu-client-websocket/shenyu-client-spring-websocket/src/main/java/org/apache/shenyu/client/spring/websocket/init/SpringWebSocketClientEventListener.java
  shenyu-register-center/shenyu-register-common/src/main/java/org/apache/shenyu/register/common/dto/ApiDocRegisterDTO.java
Labels: admin, admin: API Document, client: api-doc

#4597 upgrade hutool 5.8.18
  pom.xml
Labels: type: upgrade
