Repository apache/shenyu, pull requests merged in 2023-12, with the labels that each got.

#5336 Some code optimizations:removing duplicate code and extracting the same code for common use.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/properties/DashboardProperties.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/properties/JwtProperties.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/OperationRecordLogServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/PluginServiceImpl.java
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/AdminConstants.java
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-grpc/src/main/java/org/apache/shenyu/plugin/grpc/client/GrpcClientBuilder.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-httpclient/src/main/java/org/apache/shenyu/springboot/starter/plugin/httpclient/HttpClientPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-websocket/src/main/java/org/apache/shenyu/springboot/plugin/websocket/WebSocketPluginConfiguration.java
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/FileSizeFilter.java
Labels: type: refactor

#5334 [ISSUE #5333]Upgrade Shiro version to a secure version.
  pom.xml
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ResourceController.java
Labels: admin

#5338 [ISSUE#5330] Fix ext plugin can't load after admin close the plugin
  shenyu-web/src/main/java/org/apache/shenyu/web/handler/ShenyuWebHandler.java
Labels: bootstrap

#5347 [type:refactor] refactor shenyu admin listener module
  shenyu-admin-listener/shenyu-admin-listener-api/src/test/java/org/apache/shenyu/admin/listener/AbstractConfigurationTest.java
  shenyu-admin-listener/shenyu-admin-listener-consul/src/test/java/org/apache/shenyu/admin/config/ConsulSyncConfigurationTest.java
  shenyu-admin-listener/shenyu-admin-listener-consul/src/test/java/org/apache/shenyu/admin/config/properties/ConsulPropertiesTest.java
  shenyu-admin-listener/shenyu-admin-listener-etcd/src/test/java/org/apache/shenyu/admin/config/EtcdSyncConfigurationTest.java
  shenyu-admin-listener/shenyu-admin-listener-etcd/src/test/java/org/apache/shenyu/admin/config/properties/EtcdPropertiesTest.java
  shenyu-admin-listener/shenyu-admin-listener-nacos/pom.xml
  shenyu-admin-listener/shenyu-admin-listener-nacos/src/test/java/org/apache/shenyu/admin/config/NacosSyncConfigurationTest.java
  shenyu-admin-listener/shenyu-admin-listener-nacos/src/test/java/org/apache/shenyu/admin/config/properties/AbstractConfigurationTest.java
  shenyu-admin-listener/shenyu-admin-listener-nacos/src/test/java/org/apache/shenyu/admin/config/properties/NacosPropertiesTest.java
  shenyu-admin-listener/shenyu-admin-listener-polaris/src/test/java/org/apache/shenyu/admin/config/PolarisSyncConfigurationTest.java
  shenyu-admin-listener/shenyu-admin-listener-polaris/src/test/java/org/apache/shenyu/admin/config/properties/PolarisPropertiesTest.java
  shenyu-admin-listener/shenyu-admin-listener-zookeeper/pom.xml
  shenyu-admin-listener/shenyu-admin-listener-zookeeper/src/main/java/org/apache/shenyu/admin/config/ZookeeperSyncConfiguration.java
  shenyu-admin-listener/shenyu-admin-listener-zookeeper/src/main/java/org/apache/shenyu/admin/config/properties/ZookeeperConfig.java
  shenyu-admin-listener/shenyu-admin-listener-zookeeper/src/main/java/org/apache/shenyu/admin/listener/zookeeper/ZookeeperClient.java
  shenyu-admin-listener/shenyu-admin-listener-zookeeper/src/main/java/org/apache/shenyu/admin/listener/zookeeper/ZookeeperDataChangedInit.java
  shenyu-admin-listener/shenyu-admin-listener-zookeeper/src/main/java/org/apache/shenyu/admin/listener/zookeeper/ZookeeperDataChangedListener.java
  shenyu-admin-listener/shenyu-admin-listener-zookeeper/src/test/java/org/apache/shenyu/admin/config/ZookeeperSyncConfigurationTest.java
  shenyu-admin-listener/shenyu-admin-listener-zookeeper/src/test/java/org/apache/shenyu/admin/config/properties/AbstractConfigurationTest.java
  shenyu-admin-listener/shenyu-admin-listener-zookeeper/src/test/java/org/apache/shenyu/admin/config/properties/ZookeeperPropertiesTest.java
  shenyu-admin-listener/shenyu-admin-listener-zookeeper/src/test/java/org/apache/shenyu/admin/listener/zookeeper/ZookeeperClientTest.java
  shenyu-admin-listener/shenyu-admin-listener-zookeeper/src/test/java/org/apache/shenyu/admin/listener/zookeeper/ZookeeperDataChangedInitTest.java
  shenyu-admin-listener/shenyu-admin-listener-zookeeper/src/test/java/org/apache/shenyu/admin/listener/zookeeper/ZookeeperDataChangedListenerTest.java
  shenyu-admin/pom.xml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/config/DataSyncConfigurationTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/config/HttpLongPollingSyncConfigurationTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/config/WebSocketSyncConfigurationTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/config/properties/HttpSyncPropertiesTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/config/properties/WebsocketSyncPropertiesTest.java
  shenyu-web/src/main/java/org/apache/shenyu/web/logo/ShenyuLogo.java
  shenyu-web/src/test/java/org/apache/shenyu/web/logo/ShenyuLogoTest.java
Labels: type: refactor

#5348 [type:fix]fix logging plugin
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-common/src/main/java/org/apache/shenyu/plugin/logging/common/handler/AbstractLogPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-rocketmq/src/main/java/org/apache/shenyu/plugin/logging/rocketmq/handler/LoggingRocketMQPluginDataHandler.java
Labels: type: refactor

#5353 Update README.md - Fix the mistake in the quickstart.
  README.md
Labels: in: document, type: refactor, type: docker

#5358 [type:refactor]remove brpc insert and upgrade sql
  db/init/mysql/schema.sql
  db/init/og/create-table.sql
  db/init/oracle/schema.sql
  db/init/pg/create-table.sql
  db/upgrade/2.6.0-upgrade-2.6.1-mysql.sql
  db/upgrade/2.6.0-upgrade-2.6.1-og.sql
  db/upgrade/2.6.0-upgrade-2.6.1-oracle.sql
  db/upgrade/2.6.0-upgrade-2.6.1-pg.sql
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
Labels: sql

#5356 [type:release] update license and upgrade springboot
  pom.xml
  shenyu-dist/shenyu-admin-dist/src/main/release-docs/LICENSE
  shenyu-dist/shenyu-bootstrap-dist/src/main/release-docs/LICENSE
  shenyu-e2e/pom.xml
  shenyu-examples/pom.xml
  shenyu-integrated-test/pom.xml
Labels: type: dependencies, type: release

#5364 [type:release] add release doc 2.6.1
  RELEASE-NOTES.md
Labels: type: release

#5357 [type:refactor]Refactoring log plugin selector handler
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-aliyun-sls/src/main/java/org/apache/shenyu/plugin/aliyun/sls/collector/AliyunSlsLogCollector.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-aliyun-sls/src/test/java/org/apache/shenyu/plugin/aliyun/sls/LoggingAliyunSlsPluginTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-clickhouse/src/main/java/org/apache/shenyu/plugin/logging/clickhouse/collector/ClickHouseLogCollector.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-clickhouse/src/test/java/org/apache/shenyu/plugin/logging/clickhouse/LoggingClickHousePluginTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-common/src/main/java/org/apache/shenyu/plugin/logging/common/AbstractLoggingPlugin.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-common/src/main/java/org/apache/shenyu/plugin/logging/common/collector/AbstractLogCollector.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-common/src/main/java/org/apache/shenyu/plugin/logging/common/config/GenericApiConfig.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-common/src/main/java/org/apache/shenyu/plugin/logging/common/entity/ShenyuRequestLog.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-common/src/main/java/org/apache/shenyu/plugin/logging/common/handler/AbstractLogPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-common/src/main/java/org/apache/shenyu/plugin/logging/common/sampler/CountSampler.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-common/src/main/java/org/apache/shenyu/plugin/logging/common/sampler/Sampler.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-common/src/main/java/org/apache/shenyu/plugin/logging/common/utils/LogCollectConfigUtils.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-common/src/test/java/org/apache/shenyu/plugin/logging/common/sampler/CountSamplerTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-common/src/test/java/org/apache/shenyu/plugin/logging/common/utils/LogCollectConfigUtilsTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-elasticsearch/src/main/java/org/apache/shenyu/plugin/logging/elasticsearch/collector/ElasticSearchLogCollector.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-elasticsearch/src/test/java/org/apache/shenyu/plugin/logging/elasticsearch/LoggingElasticSearchPluginTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-elasticsearch/src/test/java/org/apache/shenyu/plugin/logging/elasticsearch/handler/LoggingElasticSearchPluginDataHandlerTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-huawei-lts/src/main/java/org/apache/shenyu/plugin/huawei/lts/collector/HuaweiLtsLogCollector.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-huawei-lts/src/test/java/org/apache/shenyu/plugin/huawei/lts/LoggingHuaweiLtsPluginTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-kafka/src/main/java/org/apache/shenyu/plugin/logging/kafka/client/KafkaLogCollectClient.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-kafka/src/main/java/org/apache/shenyu/plugin/logging/kafka/collector/KafkaLogCollector.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-kafka/src/test/java/org/apache/shenyu/plugin/logging/kafka/LoggingKafkaPluginTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-kafka/src/test/java/org/apache/shenyu/plugin/logging/kafka/handler/LoggingKafkaPluginDataHandlerTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-pulsar/src/main/java/org/apache/shenyu/plugin/logging/pulsar/collector/PulsarLogCollector.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-pulsar/src/test/java/org/apache/shenyu/plugin/logging/pulsar/LoggingPulsarPluginTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-rabbitmq/src/main/java/org/apache/shenyu/plugin/logging/rabbitmq/conllector/RabbitmqLogCollector.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-rabbitmq/src/test/java/org/apache/shenyu/plulgin/logging/rabbitmq/LoggingRabbitmqPluginTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-rabbitmq/src/test/java/org/apache/shenyu/plulgin/logging/rabbitmq/handler/LoggingRabbitmqPluginDataHandlerTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-rocketmq/src/main/java/org/apache/shenyu/plugin/logging/rocketmq/LoggingRocketMQPlugin.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-rocketmq/src/main/java/org/apache/shenyu/plugin/logging/rocketmq/client/RocketMQLogCollectClient.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-rocketmq/src/main/java/org/apache/shenyu/plugin/logging/rocketmq/collector/RocketMQLogCollector.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-rocketmq/src/main/java/org/apache/shenyu/plugin/logging/rocketmq/handler/LoggingRocketMQPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-rocketmq/src/test/java/org/apache/shenyu/plugin/logging/rocketmq/LoggingRocketMQPluginTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-rocketmq/src/test/java/org/apache/shenyu/plugin/logging/rocketmq/client/RocketMQLogCollectClientTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-rocketmq/src/test/java/org/apache/shenyu/plugin/logging/rocketmq/handler/LoggingRocketMQPluginDataHandlerTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-tencent-cls/src/main/java/org/apache/shenyu/plugin/tencent/cls/collector/TencentClsSlsLogCollector.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-tencent-cls/src/test/java/org/apache/shenyu/plugin/tencent/cls/LoggingTencentClsPluginTest.java
Labels: plugin: logging-rocketMQ, plugin: logging-elasticSearch, plugin: logging-kafka, plugin: logging-pulsar, plugin: logging-aliyun, plugin:logging-tencentcloud-cls, logging-common, plugin: logging-rabbitmq

#5368 [type:refactor] refactor plugin loader
  shenyu-web/src/main/java/org/apache/shenyu/web/handler/ShenyuWebHandler.java
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/ShenyuExtPathPluginJarLoader.java
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/ShenyuLoaderService.java
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/ShenyuPluginClassloaderHolder.java
  shenyu-web/src/test/java/org/apache/shenyu/web/loader/ShenyuLoaderServiceTest.java
Labels: bootstrap

#5371 sync frontend
  shenyu-admin/src/main/resources/static/index.af88f498.js
  shenyu-admin/src/main/resources/static/index.f21f68a0.js
  shenyu-admin/src/main/resources/static/index.html
Labels: admin

#5372 [type:fix] fix plugin can not load resource path file
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/PluginJarParser.java
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/ShenyuPluginClassLoader.java
Labels: bootstrap

#5375 [type:fix] fix admin: show the dictCode
  shenyu-admin/src/main/resources/mappers/shenyu-dict-sqlmap.xml
Labels: admin

#5382 [type: feat] send alarm message when gateway global error happen
  shenyu-alert/src/main/java/org/apache/shenyu/alert/strategy/AbstractAlertNotifyHandler.java
  shenyu-alert/src/main/resources/static/alertNotifyDingTalkRobot.txt
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/alert/AlarmSender.java
  shenyu-web/src/main/java/org/apache/shenyu/web/handler/GlobalErrorHandler.java
  shenyu-web/src/test/java/org/apache/shenyu/web/handler/GlobalErrorHandlerTest.java
Labels: shenyu-alert

#5385 [type:fix]fix samplerRate configuration at plugin level
  shenyu-integrated-test/shenyu-integrated-test-common/src/main/java/org/apache/shenyu/integratedtest/common/AbstractPluginDataInit.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-aliyun-sls/src/test/java/org/apache/shenyu/plugin/aliyun/sls/LoggingAliyunSlsPluginTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-aliyun-sls/src/test/java/org/apache/shenyu/plugin/aliyun/sls/handler/LoggingAliyunSlsPluginDataHandlerTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-clickhouse/src/test/java/org/apache/shenyu/plugin/logging/clickhouse/LoggingClickHousePluginTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-common/src/main/java/org/apache/shenyu/plugin/logging/common/config/GenericGlobalConfig.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-common/src/main/java/org/apache/shenyu/plugin/logging/common/handler/AbstractLogPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-common/src/main/java/org/apache/shenyu/plugin/logging/common/utils/LogCollectConfigUtils.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-elasticsearch/src/test/java/org/apache/shenyu/plugin/logging/elasticsearch/LoggingElasticSearchPluginTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-elasticsearch/src/test/java/org/apache/shenyu/plugin/logging/elasticsearch/handler/LoggingElasticSearchPluginDataHandlerTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-huawei-lts/src/test/java/org/apache/shenyu/plugin/huawei/lts/LoggingHuaweiLtsPluginTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-huawei-lts/src/test/java/org/apache/shenyu/plugin/huawei/lts/handler/LoggingHuaweiLtsPluginDataHandlerTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-kafka/src/test/java/org/apache/shenyu/plugin/logging/kafka/LoggingKafkaPluginTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-kafka/src/test/java/org/apache/shenyu/plugin/logging/kafka/handler/LoggingKafkaPluginDataHandlerTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-pulsar/src/test/java/org/apache/shenyu/plugin/logging/pulsar/LoggingPulsarPluginTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-pulsar/src/test/java/org/apache/shenyu/plugin/logging/pulsar/handler/LoggingPulsarPluginDataHandlerTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-rabbitmq/src/test/java/org/apache/shenyu/plulgin/logging/rabbitmq/LoggingRabbitmqPluginTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-rabbitmq/src/test/java/org/apache/shenyu/plulgin/logging/rabbitmq/handler/LoggingRabbitmqPluginDataHandlerTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-rocketmq/src/test/java/org/apache/shenyu/plugin/logging/rocketmq/LoggingRocketMQPluginTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-rocketmq/src/test/java/org/apache/shenyu/plugin/logging/rocketmq/handler/LoggingRocketMQPluginDataHandlerTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-tencent-cls/src/test/java/org/apache/shenyu/plugin/tencent/cls/LoggingTencentClsPluginTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-tencent-cls/src/test/java/org/apache/shenyu/plugin/tencent/cls/handler/LoggingTencentClsPluginDataHandlerTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-tencent-cls/src/test/java/org/apache/shenyu/plugin/tencent/cls/tencentcls/TencentClsLogCollectClientTest.java
Labels: plugin: logging-rocketMQ, plugin: logging-elasticSearch, plugin: logging-kafka, plugin: logging-console, plugin: logging-pulsar, plugin: logging-aliyun, plugin:logging-clickhouse, plugin:logging-tencentcloud-cls, logging-common, plugin: logging-rabbitmq

#5386 [type:feat]logging plugins supports samplerate configuration at the plugin level and selector level.
  db/init/mysql/schema.sql
  db/init/og/create-table.sql
  db/init/oracle/schema.sql
  db/init/pg/create-table.sql
  db/upgrade/2.6.0-upgrade-2.6.1-mysql.sql
  db/upgrade/2.6.0-upgrade-2.6.1-og.sql
  db/upgrade/2.6.0-upgrade-2.6.1-oracle.sql
  db/upgrade/2.6.0-upgrade-2.6.1-pg.sql
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
Labels: plugin: logging-rocketMQ, plugin: logging-elasticSearch, plugin: logging-kafka, plugin: logging-console, plugin: logging-pulsar, plugin: logging-aliyun, plugin:logging-clickhouse, plugin:logging-tencentcloud-cls, logging-common, plugin: logging-rabbitmq

#5378 [type:refactor] refactor module
  pom.xml
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/publish/MetaDataEventPublisher.java
  shenyu-admin/src/main/resources/static/index.af88f498.js
  shenyu-admin/src/main/resources/static/index.f9e566da.js
  shenyu-admin/src/main/resources/static/index.html
  shenyu-common/src/main/java/org/apache/shenyu/common/config/ShenyuConfig.java
  shenyu-dist/shenyu-bootstrap-dist/src/main/release-docs/LICENSE
  shenyu-examples/shenyu-examples-http-swagger2/pom.xml
  shenyu-examples/shenyu-examples-http/pom.xml
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-native-websocket/pom.xml
  shenyu-integrated-test/pom.xml
  shenyu-sync-data-center/shenyu-sync-data-websocket/pom.xml
Labels: about pom
