Repository apache/shenyu, pull requests merged in 2023-11, with the labels that each got.

#5266 [type:fix] fix buildDiscoveryUpstreamPath causing multiple /.
  shenyu-admin/pom.xml
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/AbstractPathDataChangedListener.java
  shenyu-integrated-test/shenyu-integrated-test-apache-dubbo/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-sdk-alibaba-dubbo/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-sdk-apache-dubbo/docker-compose.yml
Labels: admin

#5267 [type:test][ISSUE #4775] Add test case for ShenYu sdk core
  shenyu-sdk/shenyu-sdk-core/src/test/java/org/apache/shenyu/sdk/core/ShenyuRequestTest.java
  shenyu-sdk/shenyu-sdk-core/src/test/java/org/apache/shenyu/sdk/core/ShenyuResponseTest.java
Labels: in: test

#5263 [type:test][ISSUE #4540] add all event test cases for admin
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/event/metadata/BatchMetaDataDeletedEvent.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/event/metadata/MetaDataChangedEvent.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/event/resource/BatchResourceCreatedEvent.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/event/dict/BatchDictChangedEventTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/event/dict/BatchDictDeletedEventTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/event/dict/DictCreatedEventTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/event/dict/DictUpdatedEventTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/event/metadata/BatchMetaDataChangedEventTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/event/metadata/BatchMetaDataDeletedEventTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/event/metadata/MetaDataChangedEventTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/event/metadata/MetaDataCreatedEventTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/event/metadata/MetadataUpdatedEventTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/event/resource/BatchResourceCreatedEventTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/event/resource/BatchResourceDeletedEventTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/event/resource/ResourceChangedEventTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/event/resource/ResourceCreatedEventTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/event/user/BatchUserDeletedEventTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/event/user/UserCreatedEventTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/event/user/UserUpdatedEventTest.java
Labels: in: test

#5270 [type:test][ISSUE #4775] Add rest of the case for ShenYu sdk core
  shenyu-sdk/shenyu-sdk-core/src/test/java/org/apache/shenyu/sdk/core/common/RequestTemplateTest.java
  shenyu-sdk/shenyu-sdk-core/src/test/java/org/apache/shenyu/sdk/core/retry/RetryableExceptionTest.java
  shenyu-sdk/shenyu-sdk-core/src/test/java/org/apache/shenyu/sdk/core/util/TypesTest.java
Labels: in: test

#5269 [BUG #5268] Fix bug when registering with Eureka through EurekaInstanceRegisterRepository#persistInstance.
  shenyu-registry/shenyu-registry-eureka/src/main/java/org/apache/shenyu/registry/eureka/EurekaInstanceRegisterRepository.java
  shenyu-registry/shenyu-registry-eureka/src/test/java/org/apache/shenyu/registry/eureka/EurekaInstanceRegisterRepositoryTest.java
Labels: registry-eureka

#5271 [type:fix] fix javadoc for logging ClickHouse plugin
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-logging-clickhouse/src/main/java/org/apache/shenyu/springboot/starter/plugin/logging/clickhouse/LoggingClickHousePluginConfiguration.java
Labels: type: fixed

#5258 [ISSUE #3713][resolved #3774] Add new plugin: basic-auth
  db/init/mysql/schema.sql
  db/init/og/create-table.sql
  db/init/oracle/schema.sql
  db/init/pg/create-table.sql
  db/upgrade/2.6.0-upgrade-2.6.1-mysql.sql
  db/upgrade/2.6.0-upgrade-2.6.1-og.sql
  db/upgrade/2.6.0-upgrade-2.6.1-oracle.sql
  db/upgrade/2.6.0-upgrade-2.6.1-pg.sql
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-bootstrap/pom.xml
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
  shenyu-common/src/main/java/org/apache/shenyu/common/enums/PluginEnum.java
  shenyu-plugin/pom.xml
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/cache/CommonPluginDataSubscriber.java
  shenyu-plugin/shenyu-plugin-security/pom.xml
  shenyu-plugin/shenyu-plugin-security/shenyu-plugin-basic-auth/pom.xml
  shenyu-plugin/shenyu-plugin-security/shenyu-plugin-basic-auth/src/main/java/org/apache/shenyu/plugin/basic/auth/BasicAuthPlugin.java
  shenyu-plugin/shenyu-plugin-security/shenyu-plugin-basic-auth/src/main/java/org/apache/shenyu/plugin/basic/auth/config/BasicAuthConfig.java
  shenyu-plugin/shenyu-plugin-security/shenyu-plugin-basic-auth/src/main/java/org/apache/shenyu/plugin/basic/auth/handle/BasicAuthPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-security/shenyu-plugin-basic-auth/src/main/java/org/apache/shenyu/plugin/basic/auth/rule/BasicAuthRuleHandle.java
  shenyu-plugin/shenyu-plugin-security/shenyu-plugin-basic-auth/src/main/java/org/apache/shenyu/plugin/basic/auth/rule/DefaultBasicAuthRuleHandle.java
  shenyu-plugin/shenyu-plugin-security/shenyu-plugin-basic-auth/src/main/java/org/apache/shenyu/plugin/basic/auth/strategy/BasicAuthAuthenticationStrategy.java
  shenyu-plugin/shenyu-plugin-security/shenyu-plugin-basic-auth/src/main/java/org/apache/shenyu/plugin/basic/auth/strategy/BasicAuthAuthenticationStrategyFactory.java
  shenyu-plugin/shenyu-plugin-security/shenyu-plugin-basic-auth/src/main/java/org/apache/shenyu/plugin/basic/auth/strategy/DefaultBasicAuthAuthenticationStrategy.java
  shenyu-plugin/shenyu-plugin-security/shenyu-plugin-basic-auth/src/main/resources/META-INF/shenyu/org.apache.shenyu.plugin.basic.auth.strategy.BasicAuthAuthenticationStrategy
  shenyu-plugin/shenyu-plugin-security/shenyu-plugin-basic-auth/src/test/java/org/apache/shenyu/plugin/basic/auth/BasicAuthPluginTest.java
  shenyu-plugin/shenyu-plugin-security/shenyu-plugin-basic-auth/src/test/java/org/apache/shenyu/plugin/basic/auth/handle/BasicAuthPluginDataHandlerTest.java
  shenyu-plugin/shenyu-plugin-security/shenyu-plugin-basic-auth/src/test/java/org/apache/shenyu/plugin/basic/auth/rule/BasicAuthRuleHandleTest.java
  shenyu-plugin/shenyu-plugin-security/shenyu-plugin-basic-auth/src/test/java/org/apache/shenyu/plugin/basic/auth/rule/CustomBasicAuthRuleHandle.java
  shenyu-plugin/shenyu-plugin-security/shenyu-plugin-basic-auth/src/test/java/org/apache/shenyu/plugin/basic/auth/strategy/CustomBasicAuthAuthenticationStrategy.java
  shenyu-plugin/shenyu-plugin-security/shenyu-plugin-basic-auth/src/test/java/org/apache/shenyu/plugin/basic/auth/strategy/DefaultBasicAuthAuthenticationStrategyTest.java
  shenyu-plugin/shenyu-plugin-security/shenyu-plugin-basic-auth/src/test/resources/META-INF/shenyu/org.apache.shenyu.plugin.basic.auth.strategy.BasicAuthAuthenticationStrategy
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/pom.xml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-basic-auth/pom.xml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-basic-auth/src/main/java/org/apache/shenyu/springboot/starter/plugin/basic/auth/BasicAuthPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-basic-auth/src/main/resources/META-INF/spring.factories
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-basic-auth/src/main/resources/META-INF/spring.provides
Labels: status: pending, plugin:basic-auth

#5289 [type:UT] add unit test for the Discovery module zk
  shenyu-discovery/shenyu-discovery-zookeeper/src/test/java/org/apache/shenyu/discovery/zookeeper/ZookeeperDiscoveryServiceTest.java
Labels: in: test, discovery

#5286 [type:fix][ISSUE #5100] Redis cluster mode，fix rate limiter[concurrent、slidingwindow] redis key
  shenyu-plugin/shenyu-plugin-fault-tolerance/shenyu-plugin-ratelimiter/src/main/java/org/apache/shenyu/plugin/ratelimiter/algorithm/ConcurrentRateLimiterAlgorithm.java
  shenyu-plugin/shenyu-plugin-fault-tolerance/shenyu-plugin-ratelimiter/src/main/java/org/apache/shenyu/plugin/ratelimiter/algorithm/SlidingWindowRateLimiterAlgorithm.java
  shenyu-plugin/shenyu-plugin-fault-tolerance/shenyu-plugin-ratelimiter/src/main/resources/META-INF/scripts/sliding_window_request_rate_limiter.lua
Labels: plugin: ratelimiter

#5291 [type:test][ISSUE #5278] add unit test for shenyu-discovery-etcd
  shenyu-discovery/shenyu-discovery-etcd/src/test/java/org/apache/shenyu/discovery/etcd/EtcdDiscoveryServiceTest.java
Labels: in: test

#5294 [type:refactor] refactor admin-listener.
  pom.xml
  shenyu-admin-listener/pom.xml
  shenyu-admin-listener/shenyu-admin-listener-api/pom.xml
  shenyu-admin-listener/shenyu-admin-listener-api/src/main/java/org/apache/shenyu/admin/listener/AbstractDataChangedInit.java
  shenyu-admin-listener/shenyu-admin-listener-api/src/main/java/org/apache/shenyu/admin/listener/AbstractNodeDataChangedListener.java
  shenyu-admin-listener/shenyu-admin-listener-api/src/main/java/org/apache/shenyu/admin/listener/AbstractPathDataChangedListener.java
  shenyu-admin-listener/shenyu-admin-listener-api/src/main/java/org/apache/shenyu/admin/listener/DataChangedInit.java
  shenyu-admin-listener/shenyu-admin-listener-api/src/main/java/org/apache/shenyu/admin/listener/DataChangedListener.java
  shenyu-admin-listener/shenyu-admin-listener-api/src/main/java/org/apache/shenyu/admin/service/SyncDataService.java
  shenyu-admin-listener/shenyu-admin-listener-apollo/pom.xml
  shenyu-admin-listener/shenyu-admin-listener-apollo/src/main/java/org/apache/shenyu/admin/config/ApolloSyncConfiguration.java
  shenyu-admin-listener/shenyu-admin-listener-apollo/src/main/java/org/apache/shenyu/admin/config/properties/ApolloProperties.java
  shenyu-admin-listener/shenyu-admin-listener-apollo/src/main/java/org/apache/shenyu/admin/listener/apollo/ApolloClient.java
  shenyu-admin-listener/shenyu-admin-listener-apollo/src/main/java/org/apache/shenyu/admin/listener/apollo/ApolloDataChangedInit.java
  shenyu-admin-listener/shenyu-admin-listener-apollo/src/main/java/org/apache/shenyu/admin/listener/apollo/ApolloDataChangedListener.java
  shenyu-admin-listener/shenyu-admin-listener-apollo/src/main/resources/META-INF/spring.factories
  shenyu-admin-listener/shenyu-admin-listener-apollo/src/main/resources/META-INF/spring.provides
  shenyu-admin-listener/shenyu-admin-listener-consul/pom.xml
  shenyu-admin-listener/shenyu-admin-listener-consul/src/main/java/org/apache/shenyu/admin/config/ConsulSyncConfiguration.java
  shenyu-admin-listener/shenyu-admin-listener-consul/src/main/java/org/apache/shenyu/admin/config/properties/ConsulProperties.java
  shenyu-admin-listener/shenyu-admin-listener-consul/src/main/java/org/apache/shenyu/admin/listener/consul/ConsulDataChangedInit.java
  shenyu-admin-listener/shenyu-admin-listener-consul/src/main/java/org/apache/shenyu/admin/listener/consul/ConsulDataChangedListener.java
  shenyu-admin-listener/shenyu-admin-listener-consul/src/main/resources/META-INF/spring.factories
  shenyu-admin-listener/shenyu-admin-listener-consul/src/main/resources/META-INF/spring.provides
  shenyu-admin-listener/shenyu-admin-listener-etcd/pom.xml
  shenyu-admin-listener/shenyu-admin-listener-etcd/src/main/java/org/apache/shenyu/admin/config/EtcdSyncConfiguration.java
  shenyu-admin-listener/shenyu-admin-listener-etcd/src/main/java/org/apache/shenyu/admin/config/properties/EtcdProperties.java
  shenyu-admin-listener/shenyu-admin-listener-etcd/src/main/java/org/apache/shenyu/admin/listener/etcd/EtcdClient.java
  shenyu-admin-listener/shenyu-admin-listener-etcd/src/main/java/org/apache/shenyu/admin/listener/etcd/EtcdDataChangedInit.java
  shenyu-admin-listener/shenyu-admin-listener-etcd/src/main/java/org/apache/shenyu/admin/listener/etcd/EtcdDataDataChangedListener.java
  shenyu-admin-listener/shenyu-admin-listener-etcd/src/main/resources/META-INF/spring.factories
  shenyu-admin-listener/shenyu-admin-listener-etcd/src/main/resources/META-INF/spring.provides
  shenyu-admin-listener/shenyu-admin-listener-nacos/pom.xml
  shenyu-admin-listener/shenyu-admin-listener-nacos/src/main/java/org/apache/shenyu/admin/config/NacosSyncConfiguration.java
  shenyu-admin-listener/shenyu-admin-listener-nacos/src/main/java/org/apache/shenyu/admin/config/properties/NacosProperties.java
  shenyu-admin-listener/shenyu-admin-listener-nacos/src/main/java/org/apache/shenyu/admin/listener/nacos/NacosDataChangedInit.java
  shenyu-admin-listener/shenyu-admin-listener-nacos/src/main/java/org/apache/shenyu/admin/listener/nacos/NacosDataChangedListener.java
  shenyu-admin-listener/shenyu-admin-listener-nacos/src/main/resources/META-INF/spring.factories
  shenyu-admin-listener/shenyu-admin-listener-nacos/src/main/resources/META-INF/spring.provides
  shenyu-admin-listener/shenyu-admin-listener-polaris/pom.xml
  shenyu-admin-listener/shenyu-admin-listener-polaris/src/main/java/org/apache/shenyu/admin/config/PolarisSyncConfiguration.java
  shenyu-admin-listener/shenyu-admin-listener-polaris/src/main/java/org/apache/shenyu/admin/config/properties/PolarisProperties.java
  shenyu-admin-listener/shenyu-admin-listener-polaris/src/main/java/org/apache/shenyu/admin/listener/polaris/PolarisDataChangedInit.java
  shenyu-admin-listener/shenyu-admin-listener-polaris/src/main/java/org/apache/shenyu/admin/listener/polaris/PolarisDataChangedListener.java
  shenyu-admin-listener/shenyu-admin-listener-polaris/src/main/resources/META-INF/spring.factories
  shenyu-admin-listener/shenyu-admin-listener-polaris/src/main/resources/META-INF/spring.provides
  shenyu-admin-listener/shenyu-admin-listener-zookeeper/pom.xml
  shenyu-admin-listener/shenyu-admin-listener-zookeeper/src/main/java/org/apache/shenyu/admin/config/ZookeeperSyncConfiguration.java
  shenyu-admin-listener/shenyu-admin-listener-zookeeper/src/main/java/org/apache/shenyu/admin/config/properties/ZookeeperProperties.java
  shenyu-admin-listener/shenyu-admin-listener-zookeeper/src/main/java/org/apache/shenyu/admin/listener/zookeeper/ZookeeperDataChangedInit.java
  shenyu-admin-listener/shenyu-admin-listener-zookeeper/src/main/java/org/apache/shenyu/admin/listener/zookeeper/ZookeeperDataChangedListener.java
  shenyu-admin-listener/shenyu-admin-listener-zookeeper/src/main/resources/META-INF/spring.factories
  shenyu-admin-listener/shenyu-admin-listener-zookeeper/src/main/resources/META-INF/spring.provides
  shenyu-admin/pom.xml
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/DataSyncConfiguration.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/HttpLongPollingSyncConfiguration.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/WebSocketSyncConfiguration.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/http/HttpLongPollingDataChangedListener.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/zookeeper/HttpServiceDiscovery.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/config/DataSyncConfigurationTest.java
Labels: admin

#5298 [type:refactor] refactor module
  shenyu-admin-listener/shenyu-admin-listener-etcd/pom.xml
  shenyu-admin-listener/shenyu-admin-listener-polaris/pom.xml
  shenyu-admin/pom.xml
  shenyu-e2e/shenyu-e2e-case/pom.xml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-brpc/pom.xml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-brpc/src/test/java/org/apache/shenyu/e2e/testcase/brpc/BrpcPluginCases.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-brpc/src/test/java/org/apache/shenyu/e2e/testcase/brpc/BrpcPluginTest.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-brpc/src/test/resources/admin-application.yml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-brpc/src/test/resources/bootstrap-application.yml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-brpc/src/test/resources/docker-compose.mysql.yml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-sofa/src/test/resources/admin-application.yml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-sofa/src/test/resources/bootstrap-application.yml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-sofa/src/test/resources/docker-compose.mysql.yml
  shenyu-e2e/shenyu-e2e-engine/src/main/java/org/apache/shenyu/e2e/engine/annotation/ShenYuTest1.java
  shenyu-e2e/shenyu-e2e-engine/src/main/java/org/apache/shenyu/e2e/engine/config/ShenYuEngineConfigure1.java
  shenyu-register-center/shenyu-register-client-server/shenyu-register-client-server-consul/src/main/java/org/apache/shenyu/register/client/server/consul/ConsulServerConfiguration.java
  shenyu-register-center/shenyu-register-client-server/shenyu-register-client-server-consul/src/test/java/org/apache/shenyu/register/client/server/consul/ConsulServerConfigurationTest.java
Labels: type: refactor

#5297 [type:feat]Add shenyu-admin discovery unit test
  shenyu-admin/src/test/java/org/apache/shenyu/admin/discovery/DefaultDiscoveryProcessorTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/discovery/DiscoveryDataChangedEventSyncListenerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/discovery/DiscoveryLevelTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/discovery/DiscoveryModeTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/discovery/DiscoveryProcessorHolderTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/discovery/LocalDiscoveryProcessorTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/discovery/parse/CustomDiscoveryUpstreamParserTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/DiscoveryHandlerMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/DiscoveryUpstreamServiceTest.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/DiscoveryUpstreamData.java
Labels: in: test

#5308 [type:refactor] remove apollo to support java 17
  pom.xml
  shenyu-admin-listener/shenyu-admin-listener-api/pom.xml
  shenyu-admin-listener/shenyu-admin-listener-apollo/pom.xml
  shenyu-admin-listener/shenyu-admin-listener-apollo/src/test/java/org/apache/shenyu/admin/listener/apollo/ApolloClientTest.java
  shenyu-admin-listener/shenyu-admin-listener-apollo/src/test/java/org/apache/shenyu/admin/listener/apollo/ApolloDataChangedInitTest.java
  shenyu-admin-listener/shenyu-admin-listener-apollo/src/test/java/org/apache/shenyu/admin/listener/apollo/ApolloDataChangedListenerTest.java
  shenyu-admin-listener/shenyu-admin-listener-consul/src/test/java/org/apache/shenyu/admin/listener/consul/ConsulDataChangedInitTest.java
  shenyu-admin-listener/shenyu-admin-listener-consul/src/test/java/org/apache/shenyu/admin/listener/consul/ConsulDataChangedListenerTest.java
  shenyu-admin-listener/shenyu-admin-listener-etcd/src/test/java/org/apache/shenyu/admin/listener/etcd/EtcdClientTest.java
  shenyu-admin-listener/shenyu-admin-listener-etcd/src/test/java/org/apache/shenyu/admin/listener/etcd/EtcdDataChangedInitTest.java
  shenyu-admin-listener/shenyu-admin-listener-etcd/src/test/java/org/apache/shenyu/admin/listener/etcd/EtcdDataDataChangedListenerTest.java
  shenyu-admin-listener/shenyu-admin-listener-nacos/src/test/java/org/apache/shenyu/admin/listener/nacos/NacosDataChangedInitTest.java
  shenyu-admin-listener/shenyu-admin-listener-nacos/src/test/java/org/apache/shenyu/admin/listener/nacos/NacosDataChangedListenerTest.java
  shenyu-admin-listener/shenyu-admin-listener-polaris/src/test/java/org/apache/shenyu/admin/listener/polaris/PolarisDataChangedInitTest.java
  shenyu-admin-listener/shenyu-admin-listener-polaris/src/test/java/org/apache/shenyu/admin/listener/polaris/PolarisDataChangedListenerTest.java
  shenyu-admin-listener/shenyu-admin-listener-zookeeper/src/test/java/org/apache/shenyu/admin/listener/zookeeper/ZookeeperDataChangedInitTest.java
  shenyu-admin-listener/shenyu-admin-listener-zookeeper/src/test/java/org/apache/shenyu/admin/listener/zookeeper/ZookeeperDataChangedListenerTest.java
  shenyu-admin/pom.xml
  shenyu-bootstrap/pom.xml
  shenyu-registry/shenyu-registry-apollo/pom.xml
  shenyu-registry/shenyu-registry-core/pom.xml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-apollo/pom.xml
Labels: type: refactor

#5310 [type: test] Add unit test for NacosDiscoveryService
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/enums/DiscoveryTypeEnum.java
  shenyu-discovery/shenyu-discovery-nacos/src/main/java/org/apache/shenyu/discovery/nacos/NacosDiscoveryService.java
  shenyu-discovery/shenyu-discovery-nacos/src/test/java/org/apache/shenyu/discovery/nacos/NacosDiscoveryServiceTest.java
Labels: in: test

#5312 [type:it] add integrated-test of logging-rabbitmq-plugin.
  shenyu-integrated-test/shenyu-integrated-test-http/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-http/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/LoggingRabbitMqPluginTest.java
Labels: integration-test, plugin: logging-rabbitmq

#5321 [type:fix] Fix ci error
  .github/workflows/e2e.yaml
  shenyu-e2e/shenyu-e2e-case/pom.xml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-alibaba-dubbo/pom.xml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-alibaba-dubbo/src/test/java/org/apache/shenyu/e2e/testcase/alibabadubbo/AlibabaDubboPluginCases.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-alibaba-dubbo/src/test/java/org/apache/shenyu/e2e/testcase/alibabadubbo/AlibabaDubboPluginTest.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-alibaba-dubbo/src/test/resources/admin-application.yml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-alibaba-dubbo/src/test/resources/bootstrap-application.yml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-alibaba-dubbo/src/test/resources/docker-compose.mysql.yml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-motan/src/test/resources/admin-application.yml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-motan/src/test/resources/bootstrap-application.yml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-motan/src/test/resources/docker-compose.mysql.yml
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/HttpTestControllerTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/RequestControllerTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-kafka/src/test/java/org/apache/shenyu/plugin/logging/kafka/kafka/KafkaLogCollectClientTest.java
  shenyu-sdk/shenyu-sdk-okhttp/src/test/java/org/apache/shenyu/sdk/okhttp/OkHttpShenyuSdkClientTest.java
Labels: type: build, integration-test

#5316 [type:refactor] add plugin jar size limit
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/PluginServiceImpl.java
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/AdminConstants.java
Labels: type: refactor

#5320 [type:fix] fix multi shenyu client register repeat context path
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/RuleService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/RuleServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/AbstractContextPathRegisterService.java
Labels: type: refactor

#5329 [type:refactor] Refactor banner
  shenyu-admin/src/main/resources/banner.txt
  shenyu-bootstrap/src/main/resources/banner.txt
Labels: admin
