Repository apache/shenyu, pull requests merged in 2023-02, with the labels that each got.

#4340 [ISSUE #4334] optimize shenyu-admin (#4334)
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/RegisterCenterConfiguration.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/ShenyuAdminConfiguration.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/disruptor/executor/RegisterServerConsumerExecutor.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/consul/ConsulDataChangedInit.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/etcd/EtcdDataChangedInit.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/nacos/NacosDataChangedInit.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/zookeeper/ZookeeperDataChangedInit.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/bean/DocItem.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/ApiServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/AppAuthServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/PermissionServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/RoleServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/TagServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/manager/impl/LoadServiceDocEntryImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/HttpUtils.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/ListUtil.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/ResourceUtil.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/PermissionControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/ApiServiceTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/PluginServiceTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/RuleServiceTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/ShenyuDictServiceTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterDivideServiceImplTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterDubboServiceImplTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterGrpcServiceImplTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterSpringCloudServiceImplTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterTarsServiceImplTest.java
Labels: admin, code: clean

#4362 [type:refactor] refactor api-doc-client add tag
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/TagDO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/AbstractShenyuClientRegisterServiceImpl.java
  shenyu-client/shenyu-client-api-docs-annotations/src/main/java/org/apache/shenyu/client/apidocs/annotations/ApiDoc.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/client/AbstractContextRefreshedEventListener.java
  shenyu-register-center/shenyu-register-common/src/main/java/org/apache/shenyu/register/common/dto/ApiDocRegisterDTO.java
Labels: admin, type: refactor, client: api-doc

#4355 optimize shenyu-admin
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/PlatformController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/PermissionServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SandboxServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SyncDataServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/UpstreamCheckService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/manager/impl/DocManagerImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/FallbackShenyuClientRegisterService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/spring/LocalDataSourceLoader.java
Labels: admin, type: refactor

#4351 smart h2 path
  shenyu-admin/src/main/resources/application-h2.yml
Labels: admin, type: refactor

#4342 Refactor least active balance algorithm.
  shenyu-loadbalancer/src/main/java/org/apache/shenyu/loadbalancer/spi/LeastActiveLoadBalance.java
  shenyu-loadbalancer/src/test/java/org/apache/shenyu/loadbalancer/spi/LeastActiveLoadBalanceTest.java
Labels: type: refactor

#4331 [type:bugfix] fix #4253 issue in Cryptor-Response Plugin
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/CryptorRequestPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/CryptorResponsePluginTest.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/support/ResponseDecorator.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/utils/ServerWebExchangeUtils.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/request/CryptorRequestPlugin.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/response/CryptorResponsePlugin.java
  shenyu-plugin/shenyu-plugin-cryptor/src/main/java/org/apache/shenyu/plugin/cryptor/utils/CryptorUtil.java
  shenyu-plugin/shenyu-plugin-cryptor/src/test/java/org/apache/shenyu/plugin/cryptor/response/CryptorResponsePluginTest.java
Labels: type: bug, plugin: cryptor

#4338 Fixed jdk8 Map computeIfAbsent performance bug
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/UpstreamCheckService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/validation/validator/ExistedValidator.java
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/MapUtils.java
  shenyu-loadbalancer/src/main/java/org/apache/shenyu/loadbalancer/cache/UpstreamCacheManager.java
  shenyu-loadbalancer/src/main/java/org/apache/shenyu/loadbalancer/cache/UpstreamCheckTask.java
  shenyu-loadbalancer/src/main/java/org/apache/shenyu/loadbalancer/spi/RoundRobinLoadBalancer.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/cache/CommonPluginDataSubscriber.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/cache/MatchDataCache.java
  shenyu-plugin/shenyu-plugin-grpc/src/main/java/org/apache/shenyu/plugin/grpc/cache/GrpcClientCache.java
  shenyu-register-center/shenyu-register-client-server/shenyu-register-client-server-nacos/src/main/java/org/apache/shenyu/register/client/server/nacos/NacosClientServerRegisterRepository.java
  shenyu-register-center/shenyu-register-instance/shenyu-register-instance-consul/src/main/java/org/apache/shenyu/register/instance/consul/ConsulInstanceRegisterRepository.java
  shenyu-sync-data-center/shenyu-sync-data-nacos/src/main/java/org/apache/shenyu/sync/data/nacos/handler/NacosCacheHandler.java
Labels: type: refactor

#4364 Fixed sql problems in upgrade sql files
  db/upgrade/2.4.3-upgrade-2.5.0-mysql.sql
  db/upgrade/2.5.0-upgrade-2.5.1-mysql.sql
Labels: type: bug, type: upgrade

#4366 [ISSUE #4356] optimize UpstreamCheckService
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/UpstreamCheckService.java
  shenyu-admin/src/main/resources/application.yml
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-common/src/main/java/org/apache/shenyu/common/config/ShenyuConfig.java
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/selector/ZombieUpstream.java
  shenyu-common/src/test/java/org/apache/shenyu/common/config/ShenyuConfigTest.java
  shenyu-loadbalancer/src/main/java/org/apache/shenyu/loadbalancer/cache/UpstreamCacheManager.java
  shenyu-loadbalancer/src/main/java/org/apache/shenyu/loadbalancer/cache/UpstreamCheckTask.java
Labels: admin, type: performance, bootstrap

#4382 [ISSUE #4346] Disabled detectOfflineLinks to resolve the error of fetching package-list file.
  pom.xml
Labels: type: refactor

#4386 [type: performance] optimize UpstreamCheckService
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/UpstreamCheckService.java
Labels: admin, type: refactor, type: performance

#4400 [type:refactor] refactor code
  shenyu-register-center/shenyu-register-client-server/shenyu-register-client-server-consul/src/main/java/org/apache/shenyu/register/client/server/consul/ShenyuConsulConfigWatch.java
Labels: type: refactor

#4336 support shenyu-admin expose prometheus metrics
  shenyu-admin/pom.xml
  shenyu-admin/src/main/resources/application.yml
Labels: admin, type: new feature, feature: metrics

#4402 polish brpc generic
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
  shenyu-plugin/shenyu-plugin-brpc/src/main/java/org/apache/shenyu/plugin/brpc/cache/ApplicationConfigCache.java
  shenyu-plugin/shenyu-plugin-brpc/src/main/java/org/apache/shenyu/plugin/brpc/proxy/BrpcProxyService.java
  shenyu-plugin/shenyu-plugin-brpc/src/main/java/org/apache/shenyu/plugin/brpc/spi/SharedThreadPoolFactory.java
  shenyu-plugin/shenyu-plugin-brpc/src/main/resources/META-INF/services/com.baidu.cloud.starlight.api.rpc.threadpool.ThreadPoolFactory
Labels: type: enhancement, plugin: brpc
