Repository apache/shenyu, pull requests merged in 2023-08, with the labels that each got.

#4933 [type:release] polish pom and license
  RELEASE-NOTES.md
  pom.xml
  shenyu-admin/pom.xml
  shenyu-admin/src/main/resources/mybatis/mybatis-config.xml
  shenyu-dist/shenyu-admin-dist/src/main/release-docs/LICENSE
  shenyu-dist/shenyu-bootstrap-dist/src/main/release-docs/LICENSE
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-apache-dubbo/src/test/resources/docker-compose.mysql.yml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-polaris/pom.xml
Labels: type: release

#4936 fix duplicate event
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/AbstractShenyuClientRegisterServiceImpl.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/AbstractShenyuClientRegisterServiceImplTest.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/client/AbstractContextRefreshedEventListener.java
Labels: type: refactor

#4938 [ISSUE #4940]Add database Connection pool (hikari) configuration to solve the problem of "No operations allowed after connection closed".
  shenyu-admin/src/main/resources/application-h2.yml
  shenyu-admin/src/main/resources/application-mysql.yml
  shenyu-admin/src/main/resources/application-og.yml
  shenyu-admin/src/main/resources/application-oracle.yml
  shenyu-admin/src/main/resources/application-pg.yml
Labels: admin, type: refactor

#4943 [type:feat] Increase the default stack size of shenyu-admin thread in docker
  shenyu-dist/shenyu-admin-dist/docker/entrypoint.sh
Labels: type: docker

#4934 Fixed several bugs about motan rpc plugin
  db/init/mysql/schema.sql
  db/init/og/create-table.sql
  db/init/oracle/schema.sql
  db/init/pg/create-table.sql
  db/upgrade/2.5.1-upgrade-2.6.0-mysql.sql
  db/upgrade/2.5.1-upgrade-2.6.0-oracle.sql
  db/upgrade/2.5.1-upgrade-2.6.0-pg.sql
  pom.xml
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/plugin/MotanRegisterConfig.java
  shenyu-common/src/test/java/org/apache/shenyu/common/dto/convert/plugin/MotanRegisterConfigTest.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-alibaba-dubbo/src/test/resources/docker-compose.mysql.yml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-apache-dubbo/src/test/resources/docker-compose.mysql.yml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-sofa/src/test/resources/docker-compose.mysql.yml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-spring-cloud/src/test/resources/docker-compose.mysql.yml
  shenyu-examples/shenyu-examples-motan/shenyu-examples-motan-service/src/main/java/org/apache/shenyu/examples/motan/service/impl/MotanClassDemoServiceImpl.java
  shenyu-examples/shenyu-examples-motan/shenyu-examples-motan-service/src/main/java/org/apache/shenyu/examples/motan/service/impl/MotanDemoServiceImpl.java
  shenyu-examples/shenyu-examples-motan/shenyu-examples-motan-service/src/main/resources/application.yml
  shenyu-integrated-test/shenyu-integrated-test-combination/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-combination/src/test/java/org/apache/shenyu/integrated/test/combination/SharedThreadPoolTest.java
  shenyu-integrated-test/shenyu-integrated-test-motan/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-motan/src/test/java/org/apache/shenyu/integrated/test/motan/MotanPluginShareThreadPoolTest.java
  shenyu-integrated-test/shenyu-integrated-test-motan/src/test/java/org/apache/shenyu/integrated/test/motan/MotanPluginTest.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-motan/src/main/java/org/apache/shenyu/plugin/motan/cache/ApplicationConfigCache.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-motan/src/main/java/org/apache/shenyu/plugin/motan/proxy/MotanProxyService.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-motan/src/test/java/org/apache/shenyu/plugin/motan/handler/MotanPluginDataHandlerTest.java
Labels: type: bug, plugin: motan

#4953 [type:fix] fix motan
  db/init/mysql/schema.sql
  db/init/og/create-table.sql
  db/init/oracle/schema.sql
  db/init/pg/create-table.sql
  db/upgrade/2.5.1-upgrade-2.6.0-mysql.sql
  db/upgrade/2.5.1-upgrade-2.6.0-oracle.sql
  db/upgrade/2.5.1-upgrade-2.6.0-pg.sql
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-examples/shenyu-examples-motan/shenyu-examples-motan-service/src/main/resources/application.yml
Labels: plugin: motan

#4963 Optimize layers of shenyu-bootstrap Docker image
  shenyu-dist/shenyu-bootstrap-dist/docker/Dockerfile
Labels: type: build

#4962 Optimize layers of shenyu-admin Docker image
  shenyu-dist/shenyu-admin-dist/docker/Dockerfile
Labels: buid

#4973 Avoid permanent overhead of creating TimeoutException
  shenyu-plugin/shenyu-plugin-fault-tolerance/shenyu-plugin-resilience4j/src/main/java/org/apache/shenyu/plugin/resilience4j/executor/CombinedExecutor.java
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/AbstractHttpClientPlugin.java
Labels: type: refactor, type: performance

#4956 [type:build] Add vcs.xml for easier link to the pr
  .gitignore
  .idea/vcs.xml
Labels: type: refactor

#4978 [type:fix] Fix example module main class path
  shenyu-examples/shenyu-examples-http-swagger2/pom.xml
Labels: type: bug, in: test

#4965 [type:test][ISSUE #4540] Add test cases for shenyu.admin.model.event.role
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/event/role/BatchRoleDeletedEventTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/event/role/RoleChangedEventTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/event/role/RoleCreatedEventTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/event/role/RoleUpdatedEventTest.java
Labels: in: test

#4971 test admin: add selector event unit test.
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/event/selector/BatchSelectorDeletedEventTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/event/selector/SelectorChangedEventTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/event/selector/SelectorCreatedEventTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/event/selector/SelectorUpdatedEventTest.java
Labels: in: test

#5008 [type: test] Fix health check for zookeeper:3.8.0 in E2E
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-alibaba-dubbo/src/test/resources/docker-compose.mysql.yml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-apache-dubbo/src/test/resources/docker-compose.mysql.yml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-sofa/src/test/resources/docker-compose.mysql.yml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-spring-cloud/src/test/resources/docker-compose.mysql.yml
Labels: test: e2e

#5011 [type: build] Migrate Maven Wrapper from io.takari to official release
  .mvn/wrapper/MavenWrapperDownloader.java
  .mvn/wrapper/maven-wrapper.properties
  LICENSE
  mvnw
  mvnw.cmd
Labels: type: build, type: refactor

#5017 fix unstable CI
  shenyu-common/src/test/java/org/apache/shenyu/common/cache/MemorySafeLRUMapTest.java
  shenyu-common/src/test/java/org/apache/shenyu/common/cache/MemorySafeWindowTinyLFUMapTest.java
Labels: in: test

#5027 Optimized code
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/HttpUtils.java
Labels: type: refactor

#4982 [ISSUE #4981] userId can not update success when update auth
  shenyu-admin/src/main/resources/mappers/app-auth-sqlmap.xml
Labels: type: bug, admin

#5051 [feat: unit-test] Add unit test for Ingress Reconciler
  shenyu-kubernetes-controller/src/test/java/org/apache/shenyu/k8s/IngressReconcilerTest.java
Labels: in: test, kubernetes

#5049 [type: release] Auto checksum when packing distribution
  shenyu-dist/pom.xml
  shenyu-dist/shenyu-admin-dist/pom.xml
  shenyu-dist/shenyu-bootstrap-dist/pom.xml
  shenyu-dist/shenyu-src-dist/pom.xml
Labels: type: build

#5066 [type: performance] Implement zero-copy in TCP plugin
  shenyu-protocol/shenyu-protocol-tcp/src/main/java/org/apache/shenyu/protocol/tcp/connection/TcpConnectionBridge.java
Labels: type: enhancement, type: refactor, proxy: tcp

#5002 [type:fix] Fix kafka dependency management
  pom.xml
Labels: type: dependencies

#5062 [type:refactor] Update MenuProject, MenuModule, MenuDocItem to VO objects
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ApiDocController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/vo/DocVO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/vo/MenuDocItemVO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/vo/MenuModuleVO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/vo/MenuProjectVO.java
Labels: admin

#5059 [type:polish] No need to convert args to string pass to Lua script
  shenyu-plugin/shenyu-plugin-fault-tolerance/shenyu-plugin-ratelimiter/src/main/java/org/apache/shenyu/plugin/ratelimiter/algorithm/AbstractRateLimiterAlgorithm.java
  shenyu-plugin/shenyu-plugin-fault-tolerance/shenyu-plugin-ratelimiter/src/main/java/org/apache/shenyu/plugin/ratelimiter/algorithm/ConcurrentRateLimiterAlgorithm.java
  shenyu-plugin/shenyu-plugin-fault-tolerance/shenyu-plugin-ratelimiter/src/main/java/org/apache/shenyu/plugin/ratelimiter/algorithm/RateLimiterAlgorithm.java
  shenyu-plugin/shenyu-plugin-fault-tolerance/shenyu-plugin-ratelimiter/src/main/java/org/apache/shenyu/plugin/ratelimiter/algorithm/SlidingWindowRateLimiterAlgorithm.java
  shenyu-plugin/shenyu-plugin-fault-tolerance/shenyu-plugin-ratelimiter/src/main/java/org/apache/shenyu/plugin/ratelimiter/executor/RedisRateLimiter.java
Labels: type: refactor, plugin: ratelimiter

#5050 `client-springmvc` supports default appName and contextPath
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-springmvc/src/main/java/org/apache/shenyu/springboot/starter/client/springmvc/ShenyuSpringMvcClientConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-springmvc/src/test/java/org/apache/shenyu/springboot/starter/client/springmvc/ShenyuSpringMvcClientConfigurationTest.java
Labels: type: refactor, client: spring-mvc, client: spring-cloud
