Repository apache/shenyu, pull requests merged in 2023-07, with the labels that each got.

#4783 [type:refactor] upgrade spring-boot to 2.7.13
  pom.xml
  shenyu-admin/pom.xml
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/SwaggerConfiguration.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/DataPermissionDO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/PermissionDO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/ResourceDO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/RoleDO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/UserRoleDO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/spring/ShenyuHttpRegistryControllerBeanPostProcessor.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/spring/SpringBeanUtils.java
  shenyu-admin/src/main/resources/banner.txt
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-bootstrap/src/main/resources/banner.txt
  shenyu-dist/shenyu-admin-dist/src/main/release-docs/LICENSE
  shenyu-dist/shenyu-bootstrap-dist/src/main/release-docs/LICENSE
  shenyu-e2e/pom.xml
  shenyu-e2e/shenyu-e2e-client/pom.xml
  shenyu-e2e/shenyu-e2e-engine/pom.xml
  shenyu-examples/pom.xml
  shenyu-examples/shenyu-examples-grpc/pom.xml
  shenyu-integrated-test/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-grpc/src/main/resources/application-local.yml
  shenyu-integrated-test/shenyu-integrated-test-http/src/main/resources/application.yml
  shenyu-protocol/shenyu-protocol-tcp/pom.xml
Labels: admin, bootstrap, type: upgrade

#4780 Update ShenyuClientShutdownHook.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/shutdown/ShenyuClientShutdownHook.java
Labels: type: refactor

#4787 [type Refactor]extractor add BaseAnnotationApiBeansExtractor
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/ApiBean.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/extractor/ApiBeansExtractor.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/extractor/BaseAnnotationApiBeansExtractor.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/extractor/BaseApiBeansExtractor.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/registrar/AbstractApiDocRegistrar.java
  shenyu-client/shenyu-client-core/src/test/java/org/apache/shenyu/client/core/register/registrar/AbstractApiDocRegistrarTest.java
  shenyu-client/shenyu-client-core/src/test/java/org/apache/shenyu/client/core/register/registrar/HttpApiDocRegistrarTest.java
  shenyu-client/shenyu-client-core/src/test/java/org/apache/shenyu/client/core/register/registrar/NoHttpApiDocRegistrarTest.java
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/main/java/org/apache/shenyu/client/springcloud/register/SpringCloudApiBeansExtractor.java
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/main/java/org/apache/shenyu/client/springcloud/register/SpringCloudApiMetaRegister.java
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/test/java/org/apache/shenyu/client/springcloud/register/SpringCloudApiBeansExtractorTest.java
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/test/java/org/apache/shenyu/client/springcloud/register/SpringCloudApiMetaRegisterTest.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/register/SpringMvcApiBeansExtractor.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/register/SpringMvcApiMetaRegister.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/test/java/org/apache/shenyu/client/springmvc/register/SpringMvcApiBeansExtractorTest.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/test/java/org/apache/shenyu/client/springmvc/register/SpringMvcApiMetaRegisterTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-springcloud/src/main/java/org/apache/shenyu/springboot/starter/client/springcloud/ShenyuSpringCloudClientInfoRegisterConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-springmvc/src/main/java/org/apache/shenyu/springboot/starter/client/springmvc/ShenyuSpringMvcClientInfoRegisterConfiguration.java
Labels: type: refactor

#4747 [type: feature] e2e-spring-cloud add other syn method
  shenyu-bootstrap/pom.xml
  shenyu-e2e/pom.xml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-spring-cloud/src/test/java/org/apache/shenyu/e2e/testcase/springcloud/DataSynApolloTest.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-spring-cloud/src/test/java/org/apache/shenyu/e2e/testcase/springcloud/DataSynHttpTest.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-spring-cloud/src/test/java/org/apache/shenyu/e2e/testcase/springcloud/DataSynNacosTest.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-spring-cloud/src/test/java/org/apache/shenyu/e2e/testcase/springcloud/DataSynZookeeperTest.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-spring-cloud/src/test/java/org/apache/shenyu/e2e/testcase/springcloud/SpringCloudPluginCases.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-spring-cloud/src/test/java/org/apache/shenyu/e2e/testcase/springcloud/SpringCloudPluginTest.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-spring-cloud/src/test/resources/apolloconfigdb.sql
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-spring-cloud/src/test/resources/apolloportaldb.sql
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-spring-cloud/src/test/resources/docker-compose.h2.yml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-spring-cloud/src/test/resources/docker-compose.mysql.yml
  shenyu-e2e/shenyu-e2e-engine/src/main/java/org/apache/shenyu/e2e/engine/handler/AdminDataSynHandler.java
  shenyu-e2e/shenyu-e2e-engine/src/main/java/org/apache/shenyu/e2e/engine/handler/DataSynHandler.java
  shenyu-e2e/shenyu-e2e-engine/src/main/java/org/apache/shenyu/e2e/engine/handler/GatewayDataSynHandler.java
  shenyu-e2e/shenyu-e2e-engine/src/main/java/org/apache/shenyu/e2e/engine/service/DockerServiceCompose.java
Labels: test: e2e

#4792 [discovery] Fix bug about discovery
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/DiscoveryConfiguration.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ProxySelectorController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/discovery/DefaultDiscoveryProcessor.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/discovery/DiscoveryDataChangedEventSyncListener.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/discovery/DiscoveryDataInitializationRunner.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/discovery/DiscoveryProcessor.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/discovery/LocalDiscoveryProcessor.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/discovery/parse/CustomDiscoveryUpstreamParser.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/AbstractDataChangedListener.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/DiscoveryHandlerMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/DiscoveryRelMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/DiscoveryUpstreamMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/ProxySelectorMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/DiscoveryService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/DiscoveryUpstreamService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/ProxySelectorService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DiscoveryServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DiscoveryUpstreamServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/ProxySelectorServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SyncDataServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/transfer/DiscoveryTransfer.java
  shenyu-admin/src/main/resources/mappers/discovery-handler-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/discovery-rel-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/discovery-upstream-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/proxy-selector-sqlmap.xml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/config/DataSyncConfigurationTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/listener/AbstractDataChangedListenerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/DiscoveryUpstreamServiceTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/SyncDataServiceTest.java
  shenyu-discovery/shenyu-discovery-api/src/main/java/org/apache/shenyu/discovery/api/ShenyuDiscoveryService.java
  shenyu-discovery/shenyu-discovery-zookeeper/src/main/java/org/apache/shenyu/discovery/zookeeper/ZookeeperDiscoveryService.java
Labels: type: bug, discovery

#4762 [type:fix] plugn-dubbo-common fix selector update gray remove cache(…
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-dubbo/shenyu-plugin-dubbo-common/src/main/java/org/apache/shenyu/plugin/dubbo/common/handler/AbstractDubboPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-dubbo/shenyu-plugin-dubbo-common/src/test/java/org/apache/shenyu/plugin/dubbo/common/handler/AbstractDubboPluginDataHandlerTest.java
Labels: type: bug, plugin: dubbo, type: refactor

#4800 [Discovery] etcd sync discoveryData
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/etcd/EtcdDataChangedInit.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-etcd/src/main/java/org/apache/shenyu/springboot/sync/data/etcd/EtcdSyncDataConfiguration.java
  shenyu-sync-data-center/shenyu-sync-data-etcd/src/main/java/org/apache/shenyu/sync/data/etcd/EtcdSyncDataService.java
  shenyu-sync-data-center/shenyu-sync-data-etcd/src/test/java/org/apache/shenyu/sync/data/etcd/EtcdSyncDataServiceTest.java
Labels: data-sync: etcd

#4808 [Discovery] Upgrade sql and Fix some config bug
  db/init/pg/create-table.sql
  db/upgrade/2.5.1-upgrade-2.6.0-mysql.sql
  db/upgrade/2.5.1-upgrade-2.6.0-oracle.sql
  db/upgrade/2.5.1-upgrade-2.6.0-pg.sql
  shenyu-admin/src/main/java/org/apache/shenyu/admin/discovery/DefaultDiscoveryProcessor.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/vo/ProxySelectorVO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/ProxySelectorServiceImpl.java
  shenyu-admin/src/main/resources/mybatis/mybatis-config.xml
  shenyu-discovery/shenyu-discovery-zookeeper/src/main/java/org/apache/shenyu/discovery/zookeeper/ZookeeperDiscoveryService.java
  shenyu-protocol/shenyu-protocol-tcp/src/main/java/org/apache/shenyu/protocol/tcp/TcpBootstrapServer.java
  shenyu-protocol/shenyu-protocol-tcp/src/main/java/org/apache/shenyu/protocol/tcp/TcpServerConfiguration.java
  shenyu-protocol/shenyu-protocol-tcp/src/main/java/org/apache/shenyu/protocol/tcp/connection/ConnectionContext.java
Labels: type: bug, type: upgrade

#4806 [ISSUE #4686] ZookeeperClientRegisterRepository active offline
  shenyu-register-center/shenyu-register-client-server/shenyu-register-client-server-zookeeper/src/main/java/org/apache/shenyu/register/client/server/zookeeper/ZookeeperClientServerRegisterRepository.java
  shenyu-register-center/shenyu-register-client-server/shenyu-register-client-server-zookeeper/src/test/java/org/apache/shenyu/register/client/server/zookeeper/ZookeeperServerRegisterRepositoryTest.java
Labels: type: refactor

#4803 [type:refactor] add domain test and polish pom
  pom.xml
  shenyu-bootstrap/pom.xml
  shenyu-common/src/main/java/org/apache/shenyu/common/enums/PluginEnum.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/DividePluginTest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-clickhouse/pom.xml
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-tencent-cls/pom.xml
  shenyu-plugin/shenyu-plugin-security/shenyu-plugin-casdoor/pom.xml
Labels: type: refactor, integration-test

#4802 [discovery] consul sync discoverydata
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-consul/src/main/java/org/apache/shenyu/springboot/sync/data/consul/ConsulSyncDataConfiguration.java
  shenyu-sync-data-center/shenyu-sync-data-consul/src/main/java/org/apache/shenyu/sync/data/consul/ConsulSyncDataService.java
  shenyu-sync-data-center/shenyu-sync-data-consul/src/main/java/org/apache/shenyu/sync/data/consul/handler/ConsulCacheHandler.java
  shenyu-sync-data-center/shenyu-sync-data-consul/src/test/java/org/apache/shenyu/sync/data/consul/ConsulSyncDataServiceTest.java
  shenyu-sync-data-center/shenyu-sync-data-consul/src/test/java/org/apache/shenyu/sync/data/consul/handler/ConsulCacheHandlerTest.java
Labels: data-sync: consul

#4821 [ISSUE #4797] update other rpc_ext for the same service
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/MetaDataMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/MetaDataServiceImpl.java
  shenyu-admin/src/main/resources/mappers/meta-data-sqlmap.xml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/MetaDataMapperTest.java
Labels: type: enhancement, admin

#4832 Optimize consul, when the metadata does not change, do not perform metadata updates
  shenyu-register-center/shenyu-register-client/shenyu-register-client-consul/src/main/java/org/apache/shenyu/register/client/consul/ConsulClientRegisterRepository.java
Labels: type: refactor

#4834 [ISSUE #4833] fix pick 6663e184b Optimize consul, when the metadata does not change, do not perform metadata updates
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/GsonUtils.java
Labels: type: bug, type: refactor

#4837 [type: feature] e2e-spring-cloud e2e yaml change
  .github/workflows/e2e.yaml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-spring-cloud/pom.xml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-spring-cloud/src/test/java/org/apache/shenyu/e2e/testcase/springcloud/DataSynApolloTest.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-spring-cloud/src/test/java/org/apache/shenyu/e2e/testcase/springcloud/SpringCloudPluginCases.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-spring-cloud/src/test/java/org/apache/shenyu/e2e/testcase/springcloud/SpringCloudPluginTest.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-spring-cloud/src/test/resources/admin-application.yml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-spring-cloud/src/test/resources/apolloconfigdb.sql
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-spring-cloud/src/test/resources/apolloportaldb.sql
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-spring-cloud/src/test/resources/bootstrap-application.yml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-spring-cloud/src/test/resources/docker-compose.mysql.yml
  shenyu-e2e/shenyu-e2e-client/src/main/java/org/apache/shenyu/e2e/client/admin/AdminClient.java
  shenyu-e2e/shenyu-e2e-common/src/main/java/org/apache/shenyu/e2e/model/data/RuleCacheData.java
  shenyu-e2e/shenyu-e2e-engine/src/main/java/org/apache/shenyu/e2e/engine/service/DockerServiceCompose.java
Labels: type: refactor

#4843 [ISSUE #4842] fix shenyu admin cannot configure consule port
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/ConsulServerConfiguration.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/config/ConsulServerConfigurationTest.java
  shenyu-register-center/shenyu-register-client-server/shenyu-register-client-server-consul/src/main/java/org/apache/shenyu/register/client/server/consul/ConsulClientServerRegisterRepository.java
  shenyu-register-center/shenyu-register-client-server/shenyu-register-client-server-consul/src/test/java/org/apache/shenyu/register/client/server/consul/ConsulServerRegisterRepositoryTest.java
Labels: type: refactor

#4845 [type:refactor]api doc client annotation add generated attribute
  shenyu-client/shenyu-client-api-docs-annotations/src/main/java/org/apache/shenyu/client/apidocs/annotations/ApiDoc.java
  shenyu-client/shenyu-client-api-docs-annotations/src/main/java/org/apache/shenyu/client/apidocs/annotations/ApiModule.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/client/AbstractContextRefreshedEventListener.java
Labels: type: enhancement, client: api-doc

#4851 [ISSUE #4850] fix apollo as registry, client metadata and uri cannot be synchronized to admin
  shenyu-register-center/shenyu-register-client-server/shenyu-register-client-server-apollo/src/main/java/org/apache/shenyu/register/client/server/apollo/ApolloClientServerRegisterRepository.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-apollo/src/main/java/org/apache/shenyu/register/client/apollo/ApolloClientRegisterRepository.java
  shenyu-register-center/shenyu-register-common/src/main/java/org/apache/shenyu/register/common/path/RegisterPathConstants.java
Labels: type: bug, type: refactor

#4846 [ISSUE #4686] Admin actively synchronizes http service offline events to the gateway
  shenyu-admin/src/main/java/org/apache/shenyu/admin/disruptor/subscriber/URIRegisterExecutorSubscriber.java
  shenyu-loadbalancer/src/main/java/org/apache/shenyu/loadbalancer/cache/UpstreamCacheManager.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-divide/src/main/java/org/apache/shenyu/plugin/divide/handler/DividePluginDataHandler.java
Labels: type: refactor

#4854 [ISSUE #4853] Fixed could not update uri in Match mode
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/RuleService.java
Labels: type: refactor

#4855 [ISSUE #4686] apolloClientRegisterRepository active offline
  shenyu-register-center/shenyu-register-client-server/shenyu-register-client-server-apollo/src/main/java/org/apache/shenyu/register/client/server/apollo/ApolloClientServerRegisterRepository.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-apollo/src/main/java/org/apache/shenyu/register/client/apollo/ApolloClient.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-apollo/src/main/java/org/apache/shenyu/register/client/apollo/ApolloClientRegisterRepository.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-apollo/src/main/java/org/apache/shenyu/register/client/apollo/ApolloConfig.java
Labels: type: enhancement

#4825 [example]add swagger sample project to test the relevant functionality of the API documentation.
  shenyu-examples/pom.xml
  shenyu-examples/shenyu-examples-http-swagger2/Dockerfile
  shenyu-examples/shenyu-examples-http-swagger2/k8s/script/healthcheck.sh
  shenyu-examples/shenyu-examples-http-swagger2/k8s/script/services.list
  shenyu-examples/shenyu-examples-http-swagger2/k8s/shenyu-deployment.yml
  shenyu-examples/shenyu-examples-http-swagger2/k8s/shenyu-examples-http-deployment.yml
  shenyu-examples/shenyu-examples-http-swagger2/k8s/shenyu-examples-http-service.yml
  shenyu-examples/shenyu-examples-http-swagger2/k8s/shenyu-service.yml
  shenyu-examples/shenyu-examples-http-swagger2/pom.xml
  shenyu-examples/shenyu-examples-http-swagger2/src/main/java/org/apache/shenyu/examples/http/ShenyuTestSwaggerApplication.java
  shenyu-examples/shenyu-examples-http-swagger2/src/main/java/org/apache/shenyu/examples/http/config/HttpServerConfig.java
  shenyu-examples/shenyu-examples-http-swagger2/src/main/java/org/apache/shenyu/examples/http/config/SwaggerConfiguration.java
  shenyu-examples/shenyu-examples-http-swagger2/src/main/java/org/apache/shenyu/examples/http/controller/HttpTestController.java
  shenyu-examples/shenyu-examples-http-swagger2/src/main/java/org/apache/shenyu/examples/http/controller/OauthController.java
  shenyu-examples/shenyu-examples-http-swagger2/src/main/java/org/apache/shenyu/examples/http/controller/OrderController.java
  shenyu-examples/shenyu-examples-http-swagger2/src/main/java/org/apache/shenyu/examples/http/controller/RequestController.java
  shenyu-examples/shenyu-examples-http-swagger2/src/main/java/org/apache/shenyu/examples/http/controller/ShenyuClientPathController.java
  shenyu-examples/shenyu-examples-http-swagger2/src/main/java/org/apache/shenyu/examples/http/controller/SpringMvcMappingPathController.java
  shenyu-examples/shenyu-examples-http-swagger2/src/main/java/org/apache/shenyu/examples/http/controller/UploadController.java
  shenyu-examples/shenyu-examples-http-swagger2/src/main/java/org/apache/shenyu/examples/http/dto/OAuth2DTO.java
  shenyu-examples/shenyu-examples-http-swagger2/src/main/java/org/apache/shenyu/examples/http/dto/OrderDTO.java
  shenyu-examples/shenyu-examples-http-swagger2/src/main/java/org/apache/shenyu/examples/http/dto/RequestDTO.java
  shenyu-examples/shenyu-examples-http-swagger2/src/main/java/org/apache/shenyu/examples/http/dto/UserDTO.java
  shenyu-examples/shenyu-examples-http-swagger2/src/main/java/org/apache/shenyu/examples/http/result/ResultBean.java
  shenyu-examples/shenyu-examples-http-swagger2/src/main/java/org/apache/shenyu/examples/http/router/ShenyuTestHttpRouter.java
  shenyu-examples/shenyu-examples-http-swagger2/src/main/resources/application.yml
Labels: in: example

#4867 [type: fix] fix client shutdown close method call twice
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/shutdown/ShenyuClientShutdownHook.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-api/src/main/java/org/apache/shenyu/register/client/api/ShenyuClientRegisterRepository.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-consul/src/main/java/org/apache/shenyu/register/client/consul/ConsulClientRegisterRepository.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-etcd/src/main/java/org/apache/shenyu/register/client/etcd/EtcdClientRegisterRepository.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-etcd/src/test/java/org/apache/shenyu/register/client/etcd/EtcdClientRegisterRepositoryTest.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-http/src/main/java/org/apache/shenyu/register/client/http/HttpClientRegisterRepository.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-nacos/src/main/java/org/apache/shenyu/register/client/nacos/NacosClientRegisterRepository.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-nacos/src/test/java/org/apache/shenyu/register/client/nacos/NacosClientRegisterRepositoryTest.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-zookeeper/src/main/java/org/apache/shenyu/register/client/zookeeper/ZookeeperClientRegisterRepository.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-zookeeper/src/test/java/org/apache/shenyu/register/client/zookeeper/ZookeeperClientRegisterRepositoryTest.java
Labels: type: refactor

#4856 [type:feature] support openGauss database
  db/init/og/create-table.sql
  pom.xml
  shenyu-admin/pom.xml
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/DataBaseConfiguration.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/MapperConfig.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mybatis/og/handler/OpenGaussSQLBooleanHandler.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mybatis/og/interceptor/OpenGaussSQLPrepareInterceptor.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mybatis/og/interceptor/OpenGaussSQLQueryInterceptor.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mybatis/og/interceptor/OpenGaussSqlUpdateInterceptor.java
  shenyu-admin/src/main/resources/application-og.yml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/config/MapperConfigTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mybatis/og/handler/OpenGaussSQLBooleanHandlerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mybatis/og/interceptor/OpenGaussSQLPrepareInterceptorTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mybatis/og/interceptor/OpenGaussSQLQueryInterceptorTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mybatis/og/interceptor/OpenGaussSqlUpdateInterceptorTest.java
  shenyu-dist/shenyu-admin-dist/src/main/release-docs/LICENSE
Labels: type: new feature, type: huaweicloud

#4873 [type: refactor] modify the display of form fields in json format
  shenyu-admin/src/main/resources/static/index.082a3f8f.js
  shenyu-admin/src/main/resources/static/index.de8aa8b0.js
  shenyu-admin/src/main/resources/static/index.e5fca226.css
  shenyu-admin/src/main/resources/static/index.html
Labels: admin

#4872 fix shenyu mishandle sync.consul.url configuration.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/DataSyncConfiguration.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/config/DataSyncConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-consul/src/main/java/org/apache/shenyu/springboot/sync/data/consul/ConsulSyncDataConfiguration.java
Labels: type: refactor, client: register-consul, data-sync: consul

#4874 [ISSUE #4866]Log Observability, add necessary parameters for some important error logs.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/zookeeper/HttpServiceDiscovery.java
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-common/src/main/java/org/apache/shenyu/common/timer/HierarchicalWheelTimer.java
  shenyu-common/src/main/java/org/apache/shenyu/common/timer/TimerTask.java
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/UpstreamCheckUtils.java
  shenyu-web/src/main/java/org/apache/shenyu/web/filter/FileSizeFilter.java
  shenyu-web/src/main/java/org/apache/shenyu/web/handler/GlobalErrorHandler.java
Labels: type: refactor

#4868 [discovery] Change sql fix some bug
  db/init/mysql/schema.sql
  db/init/oracle/schema.sql
  db/init/pg/create-table.sql
  db/upgrade/2.5.1-upgrade-2.6.0-mysql.sql
  db/upgrade/2.5.1-upgrade-2.6.0-oracle.sql
  db/upgrade/2.5.1-upgrade-2.6.0-pg.sql
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/DiscoveryController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/discovery/DefaultDiscoveryProcessor.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/discovery/DiscoveryLevel.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/DiscoveryHandlerMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/DiscoveryRelMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/DiscoveryService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DiscoveryServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/ProxySelectorServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/ShenyuResultMessage.java
  shenyu-admin/src/main/resources/mappers/discovery-handler-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/discovery-rel-sqlmap.xml
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-tcp/src/main/java/org/apache/shenyu/plugin/tcp/handler/TcpUpstreamDataHandler.java
  shenyu-protocol/shenyu-protocol-tcp/src/main/java/org/apache/shenyu/protocol/tcp/TcpBootstrapServer.java
  shenyu-protocol/shenyu-protocol-tcp/src/main/java/org/apache/shenyu/protocol/tcp/connection/DefaultConnectionConfigProvider.java
Labels: type: refactor

#4882 [fix:httpProcess] Remove unused configurations from plugins.
  db/init/mysql/schema.sql
  db/init/oracle/schema.sql
  db/init/pg/create-table.sql
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-examples/shenyu-examples-http/src/main/http/http-test-api-local.http
  shenyu-examples/shenyu-examples-http/src/main/http/http-test-api.http
Labels: type: refactor

#4879 bootstrap add start log
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/cache/CommonMetaDataSubscriber.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/cache/CommonPluginDataSubscriber.java
Labels: logging-common

#4886 fix ConsulInstanceRegisterRepository ConsulClient agentAddress port is repeated.
  shenyu-registry/shenyu-registry-consul/src/main/java/org/apache/shenyu/registry/consul/ConsulInstanceRegisterRepository.java
Labels: type: refactor, client: register-consul

#4860 [type:optimize][ ISSUE #4848] If there are no changes to the apidoc content, there is no need to update the database.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ApiDocController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/bean/DocInfo.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/TagDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/TagDO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/TagService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/TagServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/manager/DocManager.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/manager/impl/DocManagerImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/manager/impl/PullSwaggerDocServiceImpl.java
  shenyu-admin/src/main/resources/mappers/tag-sqlmap.xml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/ApiDocControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/manager/impl/DocManagerImplTest.java
Labels: admin, type: refactor

#4844 [ISSUE #4835]fix gateway proxy websocket lost the user-defined closeStatus (code and reason).
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-native-websocket/src/main/java/org/apache/shenyu/examples/websocket/handler/HttpAuthHandler.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/AbstractShenyuPlugin.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-websocket/src/main/java/org/apache/shenyu/plugin/websocket/WebSocketPlugin.java
Labels: type: bug, plugin: websocket

#4890 [ISSUE #4686] nacos client offline
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/disruptor/subcriber/ShenyuClientURIExecutorSubscriber.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/shutdown/ShenyuClientShutdownHook.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/shutdown/ShutdownHookManager.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-nacos/src/main/java/org/apache/shenyu/register/client/nacos/NacosClientRegisterRepository.java
Labels: type: new feature, client: register-nacos

#4885 fix when shenyu register by consul, the prop 'metadata-path' config is invalid and error occurred in MetaDataRegister when the path had special symbol '{}',such as '/path/{id}/{name}'
  shenyu-register-center/shenyu-register-client/shenyu-register-client-consul/src/main/java/org/apache/shenyu/register/client/consul/ConsulClientRegisterRepository.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-consul/src/test/java/org/apache/shenyu/register/client/consul/ConsulClientRegisterRepositoryTest.java
Labels: type: refactor, client: register-consul

#4841 [type:optimize] upgrade grpc
  pom.xml
  shenyu-admin/pom.xml
  shenyu-client/shenyu-client-grpc/pom.xml
  shenyu-client/shenyu-client-grpc/src/main/java/org/apache/shenyu/client/grpc/server/GrpcServerRunner.java
  shenyu-client/shenyu-client-sofa/pom.xml
  shenyu-dist/shenyu-admin-dist/src/main/release-docs/LICENSE
  shenyu-dist/shenyu-bootstrap-dist/src/main/release-docs/LICENSE
  shenyu-examples/shenyu-examples-grpc/pom.xml
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-grpc/shenyu-examples-sdk-grpc-provider/pom.xml
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-grpc/pom.xml
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-grpc/src/main/java/org/apache/shenyu/plugin/grpc/client/GrpcClientBuilder.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-grpc/src/test/java/org/apache/shenyu/plugin/grpc/loadbalance/picker/UnitTestIdleHelper.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-grpc/src/test/java/org/apache/shenyu/plugin/grpc/loadbalance/picker/UnitTestReadHelper.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-sofa/pom.xml
  shenyu-protocol/shenyu-protocol-grpc/pom.xml
  shenyu-register-center/shenyu-register-client/shenyu-register-client-etcd/pom.xml
  shenyu-registry/shenyu-registry-etcd/pom.xml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-sofa/pom.xml
Labels: type: dependencies, plugin: grpc

#4899 [type: feature] add e2e-apache-dubbo case
  .github/workflows/e2e.yaml
  shenyu-e2e/shenyu-e2e-case/pom.xml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-apache-dubbo/pom.xml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-apache-dubbo/src/test/java/org/apache/shenyu/e2e/testcase/apachedubbo/ApacheDubboPluginCases.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-apache-dubbo/src/test/java/org/apache/shenyu/e2e/testcase/apachedubbo/ApacheDubboPluginTest.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-apache-dubbo/src/test/java/org/apache/shenyu/e2e/testcase/apachedubbo/DataSynHttpTest.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-apache-dubbo/src/test/java/org/apache/shenyu/e2e/testcase/apachedubbo/DataSynNacosTest.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-apache-dubbo/src/test/java/org/apache/shenyu/e2e/testcase/apachedubbo/DataSynZookeeperTest.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-apache-dubbo/src/test/resources/admin-application.yml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-apache-dubbo/src/test/resources/bootstrap-application.yml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-apache-dubbo/src/test/resources/docker-compose.mysql.yml
Labels: test: e2e

#4913 [ISSUE #4687] shenyu-sdk-spring test case.
  shenyu-sdk/shenyu-sdk-spring/pom.xml
  shenyu-sdk/shenyu-sdk-spring/src/main/java/org/apache/shenyu/sdk/spring/EnableShenyuClients.java
  shenyu-sdk/shenyu-sdk-spring/src/main/java/org/apache/shenyu/sdk/spring/ShenyuClientsRegistrar.java
  shenyu-sdk/shenyu-sdk-spring/src/main/java/org/apache/shenyu/sdk/spring/annotation/CookieValueParameterProcessor.java
  shenyu-sdk/shenyu-sdk-spring/src/main/java/org/apache/shenyu/sdk/spring/annotation/PathVariableParameterProcessor.java
  shenyu-sdk/shenyu-sdk-spring/src/main/java/org/apache/shenyu/sdk/spring/annotation/RequestHeaderParameterProcessor.java
  shenyu-sdk/shenyu-sdk-spring/src/main/java/org/apache/shenyu/sdk/spring/annotation/RequestParamParameterProcessor.java
  shenyu-sdk/shenyu-sdk-spring/src/test/java/org/apache/shenyu/sdk/spring/ShenyuClientsRegistrarTest.java
  shenyu-sdk/shenyu-sdk-spring/src/test/java/org/apache/shenyu/sdk/spring/annotation/CookieValueParameterProcessorTest.java
  shenyu-sdk/shenyu-sdk-spring/src/test/java/org/apache/shenyu/sdk/spring/annotation/PathVariableParameterProcessorTest.java
  shenyu-sdk/shenyu-sdk-spring/src/test/java/org/apache/shenyu/sdk/spring/annotation/RequestBodyParameterProcessorTest.java
  shenyu-sdk/shenyu-sdk-spring/src/test/java/org/apache/shenyu/sdk/spring/annotation/RequestHeaderParameterProcessorTest.java
  shenyu-sdk/shenyu-sdk-spring/src/test/java/org/apache/shenyu/sdk/spring/annotation/RequestParamParameterProcessorTest.java
  shenyu-sdk/shenyu-sdk-spring/src/test/java/org/apache/shenyu/sdk/spring/proxy/AbstractProxyTest.java
  shenyu-sdk/shenyu-sdk-spring/src/test/java/org/apache/shenyu/sdk/spring/proxy/ShenyuClientInvocationHandlerTest.java
  shenyu-sdk/shenyu-sdk-spring/src/test/java/org/apache/shenyu/sdk/spring/proxy/ShenyuClientMethodHandlerTest.java
  shenyu-sdk/shenyu-sdk-spring/src/test/java/org/apache/shenyu/sdk/spring/proxy/ShenyuClientProxyFactoryTest.java
  shenyu-sdk/shenyu-sdk-spring/src/test/java/org/apache/shenyu/sdk/spring/registrar/package1/TopLevelSubLevelTestConfig.java
  shenyu-sdk/shenyu-sdk-spring/src/test/java/org/apache/shenyu/sdk/spring/registrar/package1/sub/SubLevelClient.java
  shenyu-sdk/shenyu-sdk-spring/src/test/java/org/apache/shenyu/sdk/spring/registrar/package2/ClientConfig.java
  shenyu-sdk/shenyu-sdk-spring/src/test/java/org/apache/shenyu/sdk/spring/support/SpringMvcContractTest.java
Labels: in: test

#4921 [fix: #4920] optimize minResponseSize
  shenyu-bootstrap/src/main/resources/application.yml
Labels: type: refactor

#4911 [type:bug] fix etcd sync error.
  pom.xml
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/etcd/EtcdClient.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/listener/etcd/EtcdClientTest.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-divide/src/main/java/org/apache/shenyu/plugin/divide/handler/DividePluginDataHandler.java
  shenyu-sync-data-center/shenyu-sync-data-etcd/src/main/java/org/apache/shenyu/sync/data/etcd/EtcdClient.java
  shenyu-sync-data-center/shenyu-sync-data-etcd/src/main/java/org/apache/shenyu/sync/data/etcd/EtcdSyncDataService.java
  shenyu-sync-data-center/shenyu-sync-data-etcd/src/test/java/org/apache/shenyu/sync/data/etcd/EtcdSyncDataServiceTest.java
Labels: data-sync: etcd

#4918 apollo test case
  shenyu-admin/src/test/java/org/apache/shenyu/admin/listener/apollo/ApolloClientTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/listener/apollo/ApolloDataChangedInitTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/listener/apollo/ApolloDataChangedListenerTest.java
  shenyu-register-center/shenyu-register-client-server/shenyu-register-client-server-apollo/pom.xml
  shenyu-register-center/shenyu-register-client-server/shenyu-register-client-server-apollo/src/test/java/org/apache/shenyu/register/client/server/apollo/ApolloClientServerRegisterRepositoryTest.java
  shenyu-register-center/shenyu-register-client-server/shenyu-register-client-server-apollo/src/test/java/org/apache/shenyu/register/client/server/apollo/ApolloClientTest.java
  shenyu-register-center/shenyu-register-client-server/shenyu-register-client-server-apollo/src/test/java/org/apache/shenyu/register/client/server/apollo/ApolloConfigTest.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-apollo/pom.xml
  shenyu-register-center/shenyu-register-client/shenyu-register-client-apollo/src/test/java/org/apache/shenyu/register/client/apollo/ApolloClientTest.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-apollo/src/test/java/org/apache/shenyu/register/client/apollo/ApolloConfigTest.java
  shenyu-registry/shenyu-registry-apollo/pom.xml
  shenyu-registry/shenyu-registry-apollo/src/test/java/org/apache/shenyu/registry/apollo/ApolloClientTest.java
  shenyu-registry/shenyu-registry-apollo/src/test/java/org/apache/shenyu/registry/apollo/ApolloConfigTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-apollo/src/test/java/org/apache/shenyu/springboot/sync/data/apollo/ApolloSyncDataConfigurationTest.java
  shenyu-sync-data-center/shenyu-sync-data-apollo/src/test/java/org/apache/shenyu/sync/data/apollo/ApolloDataServiceTest.java
  shenyu-sync-data-center/shenyu-sync-data-apollo/src/test/java/org/apache/shenyu/sync/data/apollo/config/ApolloConfigTest.java
Labels: in: test

#4937 sync shenyu-dashboard modify to shenyu-admin (#4848)
  shenyu-admin/src/main/resources/static/index.1d4bace6.js
  shenyu-admin/src/main/resources/static/index.3b6d8134.css
  shenyu-admin/src/main/resources/static/index.6586d671.js
  shenyu-admin/src/main/resources/static/index.html
Labels: admin
