Repository apache/shenyu, pull requests merged in 2023-10, with the labels that each got.

#5184 add alert notice upgrade sql script
  db/upgrade/2.6.0-upgrade-2.6.1-mysql.sql
  db/upgrade/2.6.0-upgrade-2.6.1-og.sql
  db/upgrade/2.6.0-upgrade-2.6.1-oracle.sql
  db/upgrade/2.6.0-upgrade-2.6.1-pg.sql
  db/upgrade/2.6.1-upgrade-2.6.2-mysql.sql
  db/upgrade/2.6.1-upgrade-2.6.2-og.sql
  db/upgrade/2.6.1-upgrade-2.6.2-oracle.sql
  db/upgrade/2.6.1-upgrade-2.6.2-pg.sql
  db/upgrade/upgrade-guide.md
Labels: sql

#5190 [type:fix] duplicate response header
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/AbstractHttpClientPlugin.java
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/NettyHttpClientPlugin.java
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/WebClientPlugin.java
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/config/DuplicateResponseHeaderProperties.java
  shenyu-plugin/shenyu-plugin-httpclient/src/test/java/org/apache/shenyu/plugin/httpclient/NettyHttpClientPluginTest.java
  shenyu-plugin/shenyu-plugin-httpclient/src/test/java/org/apache/shenyu/plugin/httpclient/WebClientPluginTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-httpclient/src/main/java/org/apache/shenyu/springboot/starter/plugin/httpclient/HttpClientPluginConfiguration.java
Labels: plugin: http-client

#5196 [type:refactor] refactor webcliet plugin impl
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/result/ShenyuResult.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/support/ResponseDecorator.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/utils/MediaTypeUtils.java
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-handler/src/main/java/org/apache/shenyu/plugin/cache/CachePlugin.java
  shenyu-plugin/shenyu-plugin-cache/shenyu-plugin-cache-handler/src/test/java/org/apache/shenyu/plugin/cache/CachePluginTest.java
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/NettyHttpClientPlugin.java
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/WebClientPlugin.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-common/src/main/java/org/apache/shenyu/plugin/logging/common/body/LoggingServerHttpResponse.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-console/src/main/java/org/apache/shenyu/plugin/logging/console/LoggingConsolePlugin.java
  shenyu-plugin/shenyu-plugin-modify-response/src/main/java/org/apache/shenyu/plugin/modify/response/ModifyResponsePlugin.java
  shenyu-plugin/shenyu-plugin-response/src/main/java/org/apache/shenyu/plugin/response/strategy/WebClientMessageWriter.java
  shenyu-plugin/shenyu-plugin-response/src/test/java/org/apache/shenyu/plugin/response/strategy/WebClientMessageWriterTest.java
Labels: type: refactor, plugin: http-client

#5203 [type:refactor] fix shenyu-integrated-test-combination ci
  shenyu-integrated-test/shenyu-integrated-test-combination/docker-compose.yml
Labels: type: refactor

#5202 [type:feature] websocket discovery
  shenyu-integrated-test/shenyu-integrated-test-combination/docker-compose.yml
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-websocket/src/main/java/org/apache/shenyu/plugin/websocket/handler/WebSocketUpstreamDataHandler.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-websocket/src/main/java/org/apache/shenyu/springboot/plugin/websocket/WebSocketPluginConfiguration.java
Labels: discovery

#5170 Register instance into discovery
  shenyu-client/shenyu-client-core/pom.xml
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/InstanceRegisterListener.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/pom.xml
  shenyu-discovery/shenyu-discovery-zookeeper/src/main/java/org/apache/shenyu/discovery/zookeeper/ZookeeperDiscoveryService.java
  shenyu-examples/shenyu-examples-http/pom.xml
  shenyu-examples/shenyu-examples-http/src/main/resources/application.yml
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-native-websocket/pom.xml
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-native-websocket/src/main/resources/application.yml
  shenyu-register-center/shenyu-register-common/src/main/java/org/apache/shenyu/register/common/config/ShenyuDiscoveryConfig.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-common/src/main/java/org/apache/shenyu/springboot/starter/client/common/config/ShenyuClientCommonBeanConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-common/src/test/java/org/apache/shenyu/springboot/starter/client/common/config/ShenyuClientCommonBeanConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-spring-websocket/src/main/java/org/apache/shenyu/springboot/starter/client/spring/websocket/ShenyuSpringWebSocketClientConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-springmvc/src/main/java/org/apache/shenyu/springboot/starter/client/springmvc/ShenyuSpringMvcClientInfoRegisterConfiguration.java
Labels: discovery

#5221 Fixs ineffective metadata registration
  shenyu-client/shenyu-client-autoconfig/src/main/java/org/apache/shenyu/client/auto/config/ClientRegisterConfiguration.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/registrar/MateDataApiRegistrarImpl.java
Labels: client: register-http

#5222 Recator/rest api
  shenyu-admin/src/main/java/org/apache/shenyu/admin/aspect/annotation/RestApi.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/aspect/controller/RestControllerAspect.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/DataSyncConfiguration.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/AlertReceiverController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/AlertReportController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ApiController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ApiDocController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/AppAuthController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ConfigController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/DashboardUserController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/DataPermissionController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/DetailController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/DiscoveryController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/DiscoveryUpstreamController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/FieldController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/MetaDataController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/MockRequestRecordController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/OperationRecordLogController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/PermissionController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/PlatformController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/PluginController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/PluginHandleController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ProxySelectorController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ResourceController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/RoleController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/RuleController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/SandboxController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/SelectorController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ShenyuDictController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/TagController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/TagRelationController.java
Labels: type: enhancement, admin

#5232 [type:fix] fix integrated test http
  shenyu-examples/shenyu-examples-https/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-combination/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-grpc/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-http/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-https/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-sofa/docker-compose.yml
Labels: integration-test

#5223 bump zookeeper version 3.5.6 to 3.7.2
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-alibaba-dubbo-service-annotation/pom.xml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-alibaba-dubbo-service/pom.xml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-annotation/pom.xml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-xml/pom.xml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service/pom.xml
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-dubbo/shenyu-examples-sdk-alibaba-dubbo-provider/pom.xml
Labels: type: dependencies

#5234 [type:fix] modify the format of field
  db/init/pg/create-table.sql
Labels: type: bug, sql

#5237 [type:fix]modify dataType contrast error.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/event/handle/PluginHandleChangedEvent.java
Labels: type: bug

#5239 [type:fix] fix http sync error
  .github/workflows/e2e-k8s.yml
  .github/workflows/integrated-test-k8s-ingress.yml
  .github/workflows/integrated-test.yml
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/http/HttpLongPollingDataChangedListener.java
  shenyu-e2e/shenyu-e2e-case/k8s/sync/shenyu-admin-etcd.yml
  shenyu-e2e/shenyu-e2e-case/k8s/sync/shenyu-admin-http.yml
  shenyu-e2e/shenyu-e2e-case/k8s/sync/shenyu-admin-nacos.yml
  shenyu-e2e/shenyu-e2e-case/k8s/sync/shenyu-admin-websocket.yml
  shenyu-e2e/shenyu-e2e-case/k8s/sync/shenyu-admin-zookeeper.yml
  shenyu-e2e/shenyu-e2e-case/k8s/sync/shenyu-bootstrap-etcd.yml
  shenyu-e2e/shenyu-e2e-case/k8s/sync/shenyu-bootstrap-http.yml
  shenyu-e2e/shenyu-e2e-case/k8s/sync/shenyu-bootstrap-nacos.yml
  shenyu-e2e/shenyu-e2e-case/k8s/sync/shenyu-bootstrap-websocket.yml
  shenyu-e2e/shenyu-e2e-case/k8s/sync/shenyu-bootstrap-zookeeper.yml
  shenyu-e2e/shenyu-e2e-case/k8s/sync/shenyu-cm.yml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-sofa/k8s/script/e2e-sofa-sync.sh
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-sofa/src/test/java/org/apache/shenyu/e2e/testcase/sofa/SofaPluginTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-http/src/main/java/org/apache/shenyu/springboot/starter/sync/data/http/HttpSyncDataConfiguration.java
  shenyu-sync-data-center/shenyu-sync-data-http/src/main/java/org/apache/shenyu/sync/data/http/AccessTokenManager.java
  shenyu-sync-data-center/shenyu-sync-data-http/src/main/java/org/apache/shenyu/sync/data/http/HttpSyncDataService.java
  shenyu-sync-data-center/shenyu-sync-data-http/src/test/java/org/apache/shenyu/sync/data/http/AccessTokenManagerTest.java
  shenyu-sync-data-center/shenyu-sync-data-http/src/test/java/org/apache/shenyu/sync/data/http/HttpSyncDataServiceTest.java
Labels: data-sync: http, test: e2e

#5244 [type:fix] Set the netty allocator to unpooled
  shenyu-bootstrap/src/main/resources/application.yml
Labels: type: refactor

#5176 admin adapter discovery local mode
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/DiscoveryHandlerMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/DiscoveryUpstreamDO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/DiscoveryService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/DiscoveryUpstreamService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DiscoveryServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DiscoveryUpstreamServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/AbstractShenyuClientRegisterServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterDivideServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/CommonUpstreamUtils.java
  shenyu-admin/src/main/resources/mappers/discovery-handler-sqlmap.xml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/AbstractShenyuClientRegisterServiceImplTest.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/client/AbstractContextRefreshedEventListener.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/constant/ShenyuClientConstants.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/test/java/org/apache/shenyu/client/springmvc/init/SpringMvcClientEventListenerTest.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-grpc/src/test/java/org/apache/shenyu/e2e/testcase/grpc/GrpcPluginTest.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-grpc/src/main/java/org/apache/shenyu/plugin/grpc/cache/ApplicationConfigCache.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-grpc/src/main/java/org/apache/shenyu/plugin/grpc/handler/GrpcDiscoveryUpstreamDataHandler.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-grpc/src/main/java/org/apache/springboot/starter/client/grpc/ShenyuGrpcClientConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-spring-websocket/src/main/java/org/apache/shenyu/springboot/starter/client/spring/websocket/ShenyuSpringWebSocketClientConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-springmvc/src/main/java/org/apache/shenyu/springboot/starter/client/springmvc/ShenyuSpringMvcClientConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-grpc/src/main/java/org/apache/shenyu/springboot/starter/plugin/grpc/GrpcPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-websocket/src/main/java/org/apache/shenyu/springboot/plugin/websocket/WebSocketPluginConfiguration.java
  shenyu-sync-data-center/shenyu-sync-data-http/src/main/java/org/apache/shenyu/sync/data/http/HttpSyncDataService.java
Labels: discovery

#5231 [type:test][ISSUE #4540] add plugin test cases for admin
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/event/handle/BatchPluginHandleChangedEventTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/event/handle/PluginHandleChangedEventTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/event/plugin/BatchPluginChangedEventTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/event/plugin/BatchPluginDeletedEventTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/event/plugin/PluginChangedEventTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/event/plugin/PluginCreatedEventTest.java
Labels: in: test

#5243 fix shenyu-plugin-apache-dubbo : set register to false.
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-dubbo/shenyu-plugin-apache-dubbo/src/main/java/org/apache/shenyu/plugin/apache/dubbo/cache/ApacheDubboConfigCache.java
Labels: plugin: dubbo
