Repository apache/shenyu, pull requests merged in 2023-06, with the labels that each got.

#4693 [admin #4692]Fix the log configuration attribute of application.yml.
  shenyu-admin/src/main/resources/application.yml
Labels: type: bug, admin

#4697 refactor checkUserPassword, not print known error stack log when startup
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/DashboardUserController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/ResultUtil.java
Labels: admin, type: refactor, admin: permission

#4702 [ISSUE #4686] divide support active offline
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ShenyuClientHttpRegistryController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/disruptor/subscriber/URIRegisterExecutorSubscriber.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SelectorServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/AbstractShenyuClientRegisterServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterDivideServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterService.java
  shenyu-client/shenyu-client-brpc/src/main/java/org/apache/shenyu/client/brpc/BrpcContextRefreshedEventListener.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/disruptor/subcriber/ShenyuClientURIExecutorSubscriber.java
  shenyu-client/shenyu-client-dubbo/shenyu-client-alibaba-dubbo/src/main/java/org/apache/shenyu/client/alibaba/dubbo/AlibabaDubboServiceBeanListener.java
  shenyu-client/shenyu-client-dubbo/shenyu-client-apache-dubbo/src/main/java/org/apache/shenyu/client/apache/dubbo/ApacheDubboServiceBeanListener.java
  shenyu-client/shenyu-client-grpc/src/main/java/org/apache/shenyu/client/grpc/GrpcClientEventListener.java
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/main/java/org/apache/shenyu/client/springcloud/init/SpringCloudClientEventListener.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/init/SpringMvcClientEventListener.java
  shenyu-client/shenyu-client-motan/src/main/java/org/apache/shenyu/client/motan/MotanServiceEventListener.java
  shenyu-client/shenyu-client-sofa/src/main/java/org/apache/shenyu/client/sofa/SofaServiceEventListener.java
  shenyu-client/shenyu-client-sofa/src/test/java/org/apache/shenyu/client/sofa/SofaServiceEventListenerTest.java
  shenyu-client/shenyu-client-tars/src/main/java/org/apache/shenyu/client/tars/TarsServiceBeanEventListener.java
  shenyu-client/shenyu-client-websocket/shenyu-client-spring-websocket/src/main/java/org/apache/shenyu/client/spring/websocket/init/SpringWebSocketClientEventListener.java
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-api/src/main/java/org/apache/shenyu/register/client/api/ShenyuClientRegisterRepository.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-http/src/main/java/org/apache/shenyu/register/client/http/HttpClientRegisterRepository.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-http/src/main/java/org/apache/shenyu/register/client/http/utils/RegisterUtils.java
Labels: type: enhancement, admin, type: new feature, client: spring-mvc

#4705 [type:feat] add springcloud cache
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-common/src/main/java/org/apache/shenyu/common/config/ShenyuConfig.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-http/src/test/java/org/apache/shenyu/e2e/testcase/divide/DividePluginCases.java
  shenyu-e2e/shenyu-e2e-engine/src/main/java/org/apache/shenyu/e2e/engine/scenario/function/WaitForHelper.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/cache/CommonHandleCache.java
  shenyu-plugin/shenyu-plugin-springcloud/src/main/java/org/apache/shenyu/plugin/springcloud/cache/ServiceInstanceCache.java
  shenyu-plugin/shenyu-plugin-springcloud/src/main/java/org/apache/shenyu/plugin/springcloud/handler/SpringCloudPluginDataHandler.java
  shenyu-plugin/shenyu-plugin-springcloud/src/main/java/org/apache/shenyu/plugin/springcloud/listener/SpringCloudHeartBeatListener.java
  shenyu-plugin/shenyu-plugin-springcloud/src/main/java/org/apache/shenyu/plugin/springcloud/loadbalance/ShenyuSpringCloudServiceChooser.java
  shenyu-plugin/shenyu-plugin-springcloud/src/test/java/org/apache/shenyu/plugin/springcloud/handler/SpringCloudPluginDataHandlerTest.java
  shenyu-plugin/shenyu-plugin-springcloud/src/test/java/org/apache/shenyu/plugin/springcloud/loadbalance/ShenyuSpringCloudServiceChooserTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-springcloud/src/main/java/org/apache/shenyu/springboot/starter/plugin/springcloud/SpringCloudPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-springcloud/src/test/java/org/apache/shenyu/springboot/starter/plugin/springcloud/SpringCloudPluginConfigurationTest.java
Labels: plugin: spring-cloud

#4707 [optimize #4706]Add logs to highlight unsuccessful matching request paths.
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/utils/WebFluxResultUtils.java
Labels: type: refactor

#4709 [enhance #4696]Enhance global exception handling:Some abnormal errors were not captured and handled. eg:xxxx.com/cloudPolicy/n/te";'st/unsignedd
  shenyu-web/src/main/java/org/apache/shenyu/web/handler/GlobalErrorHandler.java
Labels: type: refactor

#4679 Integrated upload-plugin test
  shenyu-integrated-test/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-upload-plugin/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-upload-plugin/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-upload-plugin/shenyu-custom-plugin/Dockerfile
  shenyu-integrated-test/shenyu-integrated-test-upload-plugin/shenyu-custom-plugin/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-upload-plugin/shenyu-custom-plugin/src/main/java/org/apache/shenyu/plugin/custom/CustomPlugin.java
  shenyu-integrated-test/shenyu-integrated-test-upload-plugin/shenyu-integrated-test-admin/Dockerfile
  shenyu-integrated-test/shenyu-integrated-test-upload-plugin/shenyu-integrated-test-admin/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-upload-plugin/shenyu-integrated-test-admin/src/main/assembly/binary.xml
  shenyu-integrated-test/shenyu-integrated-test-upload-plugin/shenyu-integrated-test-admin/src/main/resources/bin/start.sh
  shenyu-integrated-test/shenyu-integrated-test-upload-plugin/shenyu-integrated-test-upload-plugin-case/Dockerfile
  shenyu-integrated-test/shenyu-integrated-test-upload-plugin/shenyu-integrated-test-upload-plugin-case/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-upload-plugin/shenyu-integrated-test-upload-plugin-case/src/main/java/org/apache/shenyu/integrated/test/upload/plugin/ShenyuUploadPluginIntegratedApplication.java
  shenyu-integrated-test/shenyu-integrated-test-upload-plugin/shenyu-integrated-test-upload-plugin-case/src/main/resources/application.yaml
  shenyu-integrated-test/shenyu-integrated-test-upload-plugin/shenyu-integrated-test-upload-plugin-case/src/test/java/org/apache/shenyu/integrated/test/admin/AdminPluginUploadTest.java
Labels: admin, in: test

#4714 fix token expire bug
  shenyu-register-center/shenyu-register-client/shenyu-register-client-http/src/main/java/org/apache/shenyu/register/client/http/HttpClientRegisterRepository.java
Labels: type: enhancement, client: register

#4716 [type:fix] fix cache exist empty data
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/cache/CommonPluginDataSubscriber.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/cache/MatchDataCache.java
  shenyu-plugin/shenyu-plugin-springcloud/src/main/java/org/apache/shenyu/plugin/springcloud/cache/ServiceInstanceCache.java
Labels: plugin: spring-cloud, plugin: base

#4700 [type:optimization] some syntactic sugar optimization
  shenyu-protocol/shenyu-protocol-tcp/src/main/java/org/apache/shenyu/protocol/tcp/TcpBootstrapServer.java
  shenyu-protocol/shenyu-protocol-tcp/src/main/java/org/apache/shenyu/protocol/tcp/connection/DefaultConnectionConfigProvider.java
  shenyu-register-center/shenyu-register-client-server/shenyu-register-client-server-etcd/src/main/java/org/apache/shenyu/register/client/server/etcd/EtcdClientServerRegisterRepository.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-apollo/src/main/java/org/apache/shenyu/register/client/apollo/ApolloClient.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-http/src/main/java/org/apache/shenyu/register/client/http/utils/OkHttpTools.java
  shenyu-sdk/shenyu-sdk-spring/src/main/java/org/apache/shenyu/sdk/spring/annotation/RequestParamParameterProcessor.java
  shenyu-sync-data-center/shenyu-sync-data-etcd/src/main/java/org/apache/shenyu/sync/data/etcd/EtcdClient.java
Labels: type: refactor, proxy: tcp

#4720 bugfix api document module update api detail error
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/ApiServiceImpl.java
Labels: admin: API Document

#4718 [optimize #4717] optimize code style.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/http/HttpLongPollingDataChangedListener.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/bean/DocItem.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DetailServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/FieldServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/HttpUtils.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/UploadUtils.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/AbstractReflectGetterSetterTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/TagMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/TagRelationMapperTest.java
  shenyu-client/shenyu-client-brpc/src/main/java/org/apache/shenyu/client/brpc/BrpcContextRefreshedEventListener.java
  shenyu-client/shenyu-client-dubbo/shenyu-client-alibaba-dubbo/src/main/java/org/apache/shenyu/client/alibaba/dubbo/validation/AlibabaDubboClientValidator.java
  shenyu-client/shenyu-client-dubbo/shenyu-client-apache-dubbo/src/main/java/org/apache/shenyu/client/apache/dubbo/validation/ApacheDubboClientValidator.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/register/apimeta/SpringMvcApiMetaBeanMatcher.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/register/apimeta/SpringMvcPreApiMetaBeanMatcher.java
  shenyu-client/shenyu-client-motan/src/main/java/org/apache/shenyu/client/motan/MotanServiceEventListener.java
  shenyu-client/shenyu-client-tars/src/main/java/org/apache/shenyu/client/tars/TarsServiceBeanEventListener.java
  shenyu-client/shenyu-client-websocket/shenyu-client-spring-websocket/src/main/java/org/apache/shenyu/client/spring/websocket/init/ShenyuServerEndpointerExporter.java
  shenyu-common/src/main/java/org/apache/shenyu/common/timer/TimingWheel.java
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/MapUtils.java
  shenyu-discovery/shenyu-discovery-zookeeper/src/main/java/org/apache/shenyu/discovery/zookeeper/ZookeeperDiscoveryService.java
  shenyu-disruptor/src/main/java/org/apache/shenyu/disruptor/consumer/QueueConsumer.java
  shenyu-e2e/shenyu-e2e-common/src/main/java/org/apache/shenyu/e2e/model/ResourcesData.java
  shenyu-examples/shenyu-examples-http/src/main/java/org/apache/shenyu/examples/http/controller/HttpTestController.java
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-native-websocket/src/main/java/org/apache/shenyu/examples/websocket/config/WsSessionManager.java
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-native-websocket/src/main/java/org/apache/shenyu/examples/websocket/handler/HttpAuthHandler.java
  shenyu-kubernetes-controller/src/main/java/org/apache/shenyu/k8s/reconciler/IngressReconciler.java
  shenyu-plugin/shenyu-plugin-brpc/src/main/java/org/apache/shenyu/plugin/brpc/spi/SharedThreadPoolFactory.java
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/NettyHttpClientPlugin.java
  shenyu-plugin/shenyu-plugin-sofa/src/main/java/org/apache/shenyu/plugin/sofa/SofaPlugin.java
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/ShenyuPluginLoader.java
Labels: type: refactor

#4710 change discovery_upstream discovery_handler_id
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/DiscoveryUpstreamDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/DiscoveryUpstreamDO.java
  shenyu-admin/src/main/resources/mappers/discovery-upstream-sqlmap.xml
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/DiscoveryUpstreamMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/DiscoveryUpstreamServiceTest.java
Labels: admin, discovery

#4724 [type:refactor] Simplifies the design of collecting api info
  shenyu-client/shenyu-client-autoconfig/src/main/java/org/apache/shenyu/client/auto/config/ClientRegisterConfiguration.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/constant/ShenyuClientConstants.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/ClientApiRefreshedEventListener.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/matcher/ApiDocBeanMatcher.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/matcher/ApiDocDefinitionMatcher.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/parser/ApiDocDefinitionParser.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/parser/NoHttpApiDocDefinitionParser.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/parser/Parser.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/parser/PreApiMetaBeanParser.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/registrar/AbstractApiDocRegistrar.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/registrar/AbstractApiMetaRegistrar.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/registrar/AbstractApiRegistrar.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/registrar/AbstractRegistrar.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/registrar/ApiBeanRegistrar.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/registrar/ApiRegistrar.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/registrar/HttpApiDocRegistrar.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/registrar/NoHttpApiDocRegistrar.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/registrar/Registrar.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/register/SpringMvcApiMetaRegister.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/register/apimeta/SpringMvcApiMetaBeanMatcher.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/register/apimeta/SpringMvcApiMetaDefinitionMatcher.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/register/apimeta/SpringMvcPreApiMetaBeanMatcher.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/register/apimeta/SpringMvcPreApiMetaBeanParser.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/test/java/org/apache/shenyu/client/springmvc/register/apimeta/SpringMvcApiMetaBeanMatcherTest.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/test/java/org/apache/shenyu/client/springmvc/register/apimeta/SpringMvcApiMetaDefinitionMatcherTest.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/test/java/org/apache/shenyu/client/springmvc/register/apimeta/SpringMvcApiMetaDefinitionParserTest.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/test/java/org/apache/shenyu/client/springmvc/register/apimeta/SpringMvcPreApiMetaBeanMatcherTest.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/test/java/org/apache/shenyu/client/springmvc/register/apimeta/SpringMvcPreApiMetaBeanParserTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-springmvc/src/main/java/org/apache/shenyu/springboot/starter/client/springmvc/ShenyuSpringMvcClientInfoRegisterConfiguration.java
Labels: type: refactor

#4725 [type:refactor] enhance brpc
  shenyu-examples/shenyu-examples-brpc/shenyu-examples-brpc-api/src/main/java/org/apache/shenyu/examples/brpc/api/entity/BigObject.java
  shenyu-examples/shenyu-examples-brpc/shenyu-examples-brpc-api/src/main/java/org/apache/shenyu/examples/brpc/api/entity/ComplexObjects.java
  shenyu-examples/shenyu-examples-brpc/shenyu-examples-brpc-api/src/main/java/org/apache/shenyu/examples/brpc/api/service/BrpcTestService.java
  shenyu-examples/shenyu-examples-brpc/shenyu-examples-brpc-service/src/main/http/brpc-test-api.http
  shenyu-examples/shenyu-examples-brpc/shenyu-examples-brpc-service/src/main/java/org/apache/shenyu/examples/brpc/service/impl/BrpcTestServiceImpl.java
  shenyu-plugin/shenyu-plugin-brpc/src/main/java/org/apache/shenyu/plugin/brpc/cache/ApplicationConfigCache.java
  shenyu-plugin/shenyu-plugin-brpc/src/main/java/org/apache/shenyu/plugin/brpc/proxy/BrpcProxyService.java
  shenyu-plugin/shenyu-plugin-brpc/src/test/java/org/apache/shenyu/plugin/brpc/cache/ApplicationConfigCacheTest.java
Labels: type: enhancement, plugin: brpc

#4712 Sync apollo
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/apollo/ApolloDataChangedInit.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-apollo/src/main/java/org/apache/shenyu/springboot/sync/data/apollo/ApolloSyncDataConfiguration.java
  shenyu-sync-data-center/shenyu-sync-data-apollo/src/main/java/org/apache/shenyu/sync/data/apollo/ApolloDataService.java
Labels: type: new feature, discovery

#4729 [type:fix]fix SofaServiceEventListenerTest.testBuildMetaDataDTO
  shenyu-register-center/shenyu-register-common/src/main/java/org/apache/shenyu/register/common/dto/MetaDataRegisterDTO.java
Labels: type: refactor

#4731 [type:feat] add brpc and http Integration testing cases
  shenyu-examples/shenyu-examples-http/src/main/http/http-test-api.http
  shenyu-examples/shenyu-examples-http/src/main/java/org/apache/shenyu/examples/http/controller/HttpTestController.java
  shenyu-examples/shenyu-examples-http/src/main/java/org/apache/shenyu/examples/http/dto/BigObject.java
  shenyu-integrated-test/shenyu-integrated-test-brpc/src/test/java/org/apache/shenyu/integrated/test/brpc/BrpcPluginDemoTest.java
  shenyu-integrated-test/shenyu-integrated-test-brpc/src/test/java/org/apache/shenyu/integrated/test/brpc/BrpcPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-common/src/main/java/org/apache/shenyu/integratedtest/common/dto/BigObject.java
  shenyu-integrated-test/shenyu-integrated-test-common/src/main/java/org/apache/shenyu/integratedtest/common/dto/ComplexObjects.java
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/HttpTestControllerTest.java
Labels: integration-test, plugin: brpc

#4728 [type:unit test]Adds SpringMvcApiMetaRegisterTest
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/register/SpringMvcApiMetaRegister.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/test/java/org/apache/shenyu/client/springmvc/register/SpringMvcApiMetaRegisterTest.java
Labels: in: test

#4730 add shenyu-admin banner, update gateway banner
  shenyu-admin/src/main/resources/banner.txt
  shenyu-bootstrap/src/main/resources/banner.txt
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-gateway/src/main/resources/META-INF/spring.factories
Labels: type: new feature

#4715 [type:refactor] refactor shenyu-register-instance-api.
  shenyu-register-center/shenyu-register-instance/shenyu-register-instance-api/src/main/java/org/apache/shenyu/register/instance/api/ShenyuInstanceRegisterRepository.java
  shenyu-register-center/shenyu-register-instance/shenyu-register-instance-api/src/main/java/org/apache/shenyu/register/instance/api/watcher/WatcherListener.java
  shenyu-register-center/shenyu-register-instance/shenyu-register-instance-apollo/src/main/java/org/apache/shenyu/register/instance/apollo/ApolloInstanceRegisterRepository.java
  shenyu-register-center/shenyu-register-instance/shenyu-register-instance-consul/src/main/java/org/apache/shenyu/register/instance/consul/ConsulInstanceRegisterRepository.java
  shenyu-register-center/shenyu-register-instance/shenyu-register-instance-consul/src/test/java/org/apache/shenyu/register/instance/consul/ConsulInstanceRegisterRepositoryTest.java
  shenyu-register-center/shenyu-register-instance/shenyu-register-instance-etcd/src/main/java/org/apache/shenyu/register/instance/etcd/EtcdInstanceRegisterRepository.java
  shenyu-register-center/shenyu-register-instance/shenyu-register-instance-etcd/src/test/java/org/apache/shenyu/register/instance/etcd/EtcdInstanceRegisterRepositoryTest.java
  shenyu-register-center/shenyu-register-instance/shenyu-register-instance-eureka/src/main/java/org/apache/shenyu/register/instance/eureka/EurekaInstanceRegisterRepository.java
  shenyu-register-center/shenyu-register-instance/shenyu-register-instance-eureka/src/test/java/org/apache/shenyu/register/instance/eureka/EurekaInstanceRegisterRepositoryTest.java
  shenyu-register-center/shenyu-register-instance/shenyu-register-instance-nacos/src/main/java/org/apache/shenyu/register/instance/nacos/NacosInstanceRegisterRepository.java
  shenyu-register-center/shenyu-register-instance/shenyu-register-instance-nacos/src/test/java/org/apache/shenyu/register/instance/nacos/NacosInstanceRegisterRepositoryTest.java
  shenyu-register-center/shenyu-register-instance/shenyu-register-instance-zookeeper/src/main/java/org/apache/shenyu/register/instance/zookeeper/ZookeeperInstanceRegisterRepository.java
  shenyu-register-center/shenyu-register-instance/shenyu-register-instance-zookeeper/src/test/java/org/apache/shenyu/register/instance/zookeeper/ZookeeperInstanceRegisterRepositoryTest.java
  shenyu-sdk/shenyu-sdk-core/src/main/java/org/apache/shenyu/sdk/core/client/AbstractShenyuSdkClient.java
  shenyu-sdk/shenyu-sdk-spring/src/main/java/org/apache/shenyu/sdk/spring/proxy/ShenyuClientMethodHandler.java
  shenyu-sync-data-center/shenyu-sync-data-websocket/src/main/java/org/apache/shenyu/plugin/sync/data/websocket/client/ShenyuWebsocketClient.java
Labels: type: refactor

#4742 [type: license] add license note for kubernetes java client
  shenyu-dist/shenyu-bootstrap-dist/src/main/release-docs/LICENSE
Labels: kubernetes

#4753 [type:optimize] some integration testing optimize
  shenyu-examples/shenyu-examples-http/src/main/java/org/apache/shenyu/examples/http/controller/HttpTestController.java
  shenyu-integrated-test/shenyu-integrated-test-http/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/LoggingElasticSearchPluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-upload-plugin/shenyu-custom-plugin/pom.xml
Labels: integration-test

#4758 feature/check-passsword-support-I18n
  shenyu-admin/src/main/java/org/apache/shenyu/admin/aspect/controller/RestControllerAspect.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/ShenyuAdminConfiguration.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/exception/ExceptionHandlers.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/exception/I18nException.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/exception/WebI18nException.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/DashboardUserDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/DashboardUserModifyPasswordDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DashboardUserServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/FailI18nMessage.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/WebI18nAssert.java
  shenyu-admin/src/main/resources/application.yml
  shenyu-admin/src/main/resources/message/i18n.properties
  shenyu-admin/src/main/resources/message/i18n_en_US.properties
  shenyu-admin/src/main/resources/message/i18n_zh_CN.properties
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/ApiControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/MetaDataControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/MockRequestRecordControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/PluginControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/PluginHandleControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/ResourceControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/RuleControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/SandboxControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/SelectorControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/ShenyuDictControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/TagControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/TagRelationControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/exception/ExceptionHandlersTest.java
Labels: admin, type: new feature

#4773 [type:refactor] remove hutool
  pom.xml
  shenyu-examples/pom.xml
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-annotation-websocket/pom.xml
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-native-websocket/pom.xml
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-native-websocket/src/main/java/org/apache/shenyu/examples/websocket/interceptor/WebSocketInterceptor.java
  shenyu-protocol/shenyu-protocol-tcp/pom.xml
Labels: type: dependencies

#4772 Update AlibabaDubboConfigCache.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-dubbo/shenyu-plugin-alibaba-dubbo/src/main/java/org/apache/shenyu/plugin/alibaba/dubbo/cache/AlibabaDubboConfigCache.java
Labels: type: refactor

#4775 add test cases for Util class.
  shenyu-sdk/shenyu-sdk-core/src/test/java/org/apache/shenyu/sdk/core/util/UtilTest.java
Labels: in: test

#4778 [ISSUE #4534] Fix h2-sql bug and update front-end
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/main/resources/static/index.082a3f8f.js
  shenyu-admin/src/main/resources/static/index.53599afd.js
  shenyu-admin/src/main/resources/static/index.e415c252.css
  shenyu-admin/src/main/resources/static/index.html
Labels: admin, type: front

#4781 update h2 schema create table sql
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
Labels: type: refactor

#4784 [type:fix] fix brpc integration testing response size
  shenyu-examples/shenyu-examples-brpc/shenyu-examples-brpc-service/src/main/java/org/apache/shenyu/examples/brpc/service/impl/BrpcTestServiceImpl.java
  shenyu-integrated-test/shenyu-integrated-test-brpc/src/main/resources/application-local.yml
Labels: integration-test, plugin: brpc

#4776 [Task #4774] <The access layer interface for the apidoc function only allows requests for gateway addresses within the whitelist.>
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SandboxServiceImpl.java
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/UriUtils.java
Labels: type: refactor
