Repository apache/shenyu, pull requests merged in 2024-01, with the labels that each got.

#5390 [type: fesat] Add EurekaDiscoveryService unit test
  shenyu-discovery/shenyu-discovery-eureka/src/test/java/org/apache/shenyu/discovery/eureka/EurekaDiscoveryServiceTest.java
  shenyu-discovery/shenyu-discovery-nacos/src/test/java/org/apache/shenyu/discovery/nacos/NacosDiscoveryServiceTest.java
Labels: in: test

#5379 [type:fix] fix sign plugin context path error
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-divide/src/main/java/org/apache/shenyu/plugin/divide/context/DivideShenyuContextDecorator.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-springcloud/src/main/java/org/apache/shenyu/plugin/springcloud/context/SpringCloudShenyuContextDecorator.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-springcloud/src/test/java/org/apache/shenyu/plugin/springcloud/context/SpringCloudShenyuContextDecoratorTest.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-websocket/src/main/java/org/apache/shenyu/plugin/websocket/context/WebSocketShenyuContextDecorator.java
  shenyu-plugin/shenyu-plugin-security/shenyu-plugin-sign/src/main/java/org/apache/shenyu/plugin/sign/service/ComposableSignService.java
Labels: plugin: sign

#5393 [type:fix] fix context path error
  shenyu-plugin/shenyu-plugin-context-path/src/main/java/org/apache/shenyu/plugin/context/path/ContextPathPlugin.java
Labels: plugin: context-path

#5392 [type:release] Release 2.6.1
  NOTICE
  RELEASE-NOTES.md
  shenyu-dist/shenyu-admin-dist/src/main/release-docs/LICENSE
  shenyu-dist/shenyu-admin-dist/src/main/release-docs/NOTICE
  shenyu-dist/shenyu-bootstrap-dist/src/main/release-docs/NOTICE
Labels: type: release

#5398 [type:fix]add First Leve Menu failed parentId not allow null
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/CreateResourceDTO.java
Labels: admin

#5401 [type:release] sync frontend
  shenyu-admin/src/main/resources/static/index.7b7196e2.js
  shenyu-admin/src/main/resources/static/index.7fd2ffc1.js
  shenyu-admin/src/main/resources/static/index.d554bdbc.css
  shenyu-admin/src/main/resources/static/index.html
Labels: admin

#5402 shenyu-client-motan test case
  shenyu-client/shenyu-client-motan/test/MotanServiceEventListenerTest.java
Labels: in: test

#5417 Add test case for `ShenyuClientRegisterEventPublisher`
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/disruptor/ShenyuClientRegisterEventPublisher.java
  shenyu-client/shenyu-client-core/src/test/java/org/apache/shenyu/client/core/disruptor/subcriber/ShenyuClientRegisterEventPublisherTest.java
Labels: in: test

#5412 [ISSUE #4612] init shenyu-plugin-wasm-base module
  .gitignore
  pom.xml
  shenyu-dist/shenyu-bootstrap-dist/src/main/release-docs/LICENSE
  shenyu-dist/shenyu-bootstrap-dist/src/main/release-docs/licenses/LICENSE-jni-rs.txt
  shenyu-dist/shenyu-bootstrap-dist/src/main/release-docs/licenses/LICENSE-wasi-cap-std-sync.txt
  shenyu-dist/shenyu-bootstrap-dist/src/main/release-docs/licenses/LICENSE-wasi-common.txt
  shenyu-dist/shenyu-bootstrap-dist/src/main/release-docs/licenses/LICENSE-wasmtime-wasi.txt
  shenyu-dist/shenyu-bootstrap-dist/src/main/release-docs/licenses/LICENSE-wasmtime.txt
  shenyu-plugin/pom.xml
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/result/ShenyuResultEnum.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/AbstractShenyuPlugin.java
  shenyu-plugin/shenyu-plugin-wasm-base/pom.xml
  shenyu-plugin/shenyu-plugin-wasm-base/src/main/java/org/apache/shenyu/plugin/wasm/base/AbstractShenyuWasmPlugin.java
  shenyu-plugin/shenyu-plugin-wasm-base/src/main/java/org/apache/shenyu/plugin/wasm/base/AbstractWasmPlugin.java
  shenyu-plugin/shenyu-plugin-wasm-base/src/main/java/org/apache/shenyu/plugin/wasm/base/WasmLoader.java
  shenyu-plugin/shenyu-plugin-wasm-base/src/main/java/org/apache/shenyu/plugin/wasm/base/exception/ShenyuWasmException.java
  shenyu-plugin/shenyu-plugin-wasm-base/src/main/java/org/apache/shenyu/plugin/wasm/base/exception/ShenyuWasmInitException.java
  shenyu-plugin/shenyu-plugin-wasm-base/src/test/README.md
  shenyu-plugin/shenyu-plugin-wasm-base/src/test/java/org/apache/shenyu/plugin/wasm/base/AbstractWasmPluginTest.java
  shenyu-plugin/shenyu-plugin-wasm-base/src/test/resources/org.apache.shenyu.plugin.wasm.base.AbstractWasmPluginTest$RustWasmPlugin.wasm
  shenyu-plugin/shenyu-plugin-wasm-base/src/test/rust-wasm-plugin/Cargo.toml
  shenyu-plugin/shenyu-plugin-wasm-base/src/test/rust-wasm-plugin/src/lib.rs
Labels: type: new feature, plugin: wasm

#5404 Add test case for `ShenyuClientMetadataExecutorSubscriber`
  shenyu-client/shenyu-client-core/src/test/java/org/apache/shenyu/client/core/disruptor/subcriber/ShenyuClientMetadataExecutorSubscriberTest.java
Labels: in: test

#5395 test client grpc test case
  shenyu-client/shenyu-client-grpc/src/test/java/org/apache/shenyu/client/grpc/TestRequest.java
  shenyu-client/shenyu-client-grpc/src/test/java/org/apache/shenyu/client/grpc/TestResponse.java
  shenyu-client/shenyu-client-grpc/src/test/java/org/apache/shenyu/client/grpc/json/JsonForwardingServerCallTest.java
  shenyu-client/shenyu-client-grpc/src/test/java/org/apache/shenyu/client/grpc/json/JsonServerCallListenerTest.java
  shenyu-client/shenyu-client-grpc/src/test/java/org/apache/shenyu/client/grpc/json/JsonServerServiceInterceptorTest.java
  shenyu-client/shenyu-client-grpc/src/test/java/org/apache/shenyu/client/grpc/server/GrpcServerRunnerTest.java
Labels: in: test

#5423 [ISSUE #5177] add JDK 21 CI
  .github/workflows/ci.yml
  pom.xml
Labels: integration-test
