Repository apache/shenyu, pull requests merged in 2024-08, with the labels that each got.

#5600 [Feature] Invalidate Previous Tokens on New Login by Implementing Client ID Validation
  db/init/mysql/schema.sql
  db/init/og/create-table.sql
  db/init/oracle/schema.sql
  db/init/pg/create-table.sql
  db/upgrade/2.6.1-upgrade-2.7.0-mysql.sql
  db/upgrade/2.6.1-upgrade-2.7.0-og.sql
  db/upgrade/2.6.1-upgrade-2.7.0-oracle.sql
  db/upgrade/2.6.1-upgrade-2.7.0-pg.sql
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/PlatformController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/DashboardUserDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/DashboardUserDO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/vo/DashboardUserVO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/DashboardUserService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DashboardUserServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/shiro/config/ShiroRealm.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/transfer/DashboardUserTransfer.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/JwtUtils.java
  shenyu-admin/src/main/resources/mappers/dashboard-user-sqlmap.xml
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/DashboardUserControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/PlatformControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/DashboardUserServiceTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/utils/JwtUtilsTest.java
Labels: admin

#5608 logging plugin add requestMethod
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-common/src/main/java/org/apache/shenyu/plugin/logging/common/AbstractLoggingPlugin.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-common/src/main/java/org/apache/shenyu/plugin/logging/common/entity/ShenyuRequestLog.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-divide/src/main/java/org/apache/shenyu/plugin/divide/context/DivideShenyuContextDecorator.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-divide/src/test/java/org/apache/shenyu/plugin/divide/context/DivideShenyuContextDecoratorTest.java
Labels: logging-common

#5609 [type:feature] arrange sofa common tools dependencies
  pom.xml
  shenyu-bootstrap/pom.xml
  shenyu-client/shenyu-client-sofa/pom.xml
  shenyu-dist/shenyu-bootstrap-dist/src/main/release-docs/LICENSE
  shenyu-examples/shenyu-examples-sofa/shenyu-examples-sofa-service/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-combination/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-k8s-ingress-sofa/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-sofa/pom.xml
Labels: plugin: sofa, client: sofa

#5610 Support `Contribute with Gitpod`.
  .devcontainer/devcontainer.json
  .gitpod.yml
  .licenserc.yaml
  README.md
  pom.xml
Labels: type: new feature

#5622 [type:fix] Fix Plugin Edit Page Issue by Correcting Plugin ID Query and Updating Data Type
  db/init/oracle/schema.sql
  db/upgrade/2.6.1-upgrade-2.7.0-mysql.sql
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/NamespacePluginController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/NamespacePluginRelMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/NamespacePluginService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/NamespacePluginServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SyncDataServiceImpl.java
  shenyu-admin/src/main/resources/mappers/NamespacePluginRelMapper.xml
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/SyncDataServiceTest.java
Labels: namespace

#5616 [type:bugfix] fix grpc ci error
  .github/workflows/integrated-test-k8s-ingress.yml
  pom.xml
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/AbstractDataChangedListener.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/AbstractShenyuClientRegisterServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterGrpcServiceImpl.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-grpc/k8s/script/e2e-grpc-sync.sh
  shenyu-examples/shenyu-examples-grpc/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-k8s-ingress-sofa/script/build_k8s_cluster.sh
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-grpc/src/main/java/org/apache/shenyu/plugin/grpc/handler/GrpcDiscoveryUpstreamDataHandler.java
  shenyu-registry/shenyu-registry-etcd/pom.xml
Labels: plugin: grpc

#5617 [type:feat] [ISSUE #5615] Datasource support OceanBase.
  db/init/ob/schema.sql
  pom.xml
  shenyu-admin/pom.xml
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/DataBaseConfiguration.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/MapperConfig.java
  shenyu-admin/src/main/resources/application-ob.yml
Labels: sql

#5614 [type:feature] upgrade checkstyle plugin to 3.4.0
  pom.xml
  script/shenyu_checkstyle.xml
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/DataChangedEventDispatcher.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/AppAuthServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/spring/LocalDataSourceLoader.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/query/TagRelationQueryTest.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/registrar/AbstractApiRegistrar.java
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/ObjectTypeUtils.java
  shenyu-e2e/pom.xml
  shenyu-examples/pom.xml
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-native-websocket/src/main/java/org/apache/shenyu/examples/websocket/handler/HttpAuthHandler.java
  shenyu-integrated-test/pom.xml
  shenyu-loadbalancer/src/test/java/org/apache/shenyu/loadbalancer/spi/LeastActiveLoadBalanceTest.java
  shenyu-loadbalancer/src/test/java/org/apache/shenyu/loadbalancer/spi/P2cLoadBalancerTest.java
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/result/ShenyuResult.java
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/utils/RequestUrlUtils.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/cache/CommonPluginDataSubscriber.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/trie/ShenyuTrie.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-console/src/main/java/org/apache/shenyu/plugin/logging/console/LoggingConsolePlugin.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-dubbo/shenyu-plugin-apache-dubbo/src/main/java/org/apache/shenyu/plugin/apache/dubbo/proxy/ApacheDubboProxyService.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-grpc/src/main/java/org/apache/shenyu/plugin/grpc/loadbalance/picker/AbstractReadyPicker.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-grpc/src/main/java/org/apache/shenyu/plugin/grpc/loadbalance/picker/EmptyPicker.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-motan/src/main/java/org/apache/shenyu/plugin/motan/proxy/MotanProxyService.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-sofa/src/main/java/org/apache/shenyu/plugin/sofa/proxy/SofaProxyService.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-tars/src/main/java/org/apache/shenyu/plugin/tars/TarsPlugin.java
  shenyu-plugin/shenyu-plugin-security/shenyu-plugin-basic-auth/src/main/java/org/apache/shenyu/plugin/basic/auth/BasicAuthPlugin.java
  shenyu-plugin/shenyu-plugin-security/shenyu-plugin-basic-auth/src/main/java/org/apache/shenyu/plugin/basic/auth/config/BasicAuthConfig.java
  shenyu-plugin/shenyu-plugin-security/shenyu-plugin-basic-auth/src/main/java/org/apache/shenyu/plugin/basic/auth/handle/BasicAuthPluginDataHandler.java
  shenyu-sdk/shenyu-sdk-core/src/main/java/org/apache/shenyu/sdk/core/util/Util.java
  shenyu-sdk/shenyu-sdk-spring/src/main/java/org/apache/shenyu/sdk/spring/annotation/PathVariableParameterProcessor.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-gateway/src/main/java/org/apache/shenyu/springboot/starter/netty/ShenyuNettyWebServerConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-basic-auth/src/main/java/org/apache/shenyu/springboot/starter/plugin/basic/auth/BasicAuthPluginConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-polaris/src/test/java/org/apache/shenyu/springboot/stater/sync/data/polaris/PolarisSyncDataConfigurationTest.java
  shenyu-web/src/main/java/org/apache/shenyu/web/fallback/DefaultFallbackController.java
Labels: about pom

#5637 [type:fix] fix class AdminConstants has word spelling error(#5636)
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/PluginServiceImpl.java
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/AdminConstants.java
Labels: type: bug
