Repository apache/shenyu, pull requests merged in 2024-09, with the labels that each got.

#5620 update logging plugin DataBuffer deprecated method
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-common/src/main/java/org/apache/shenyu/plugin/logging/common/body/LoggingServerHttpRequest.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-common/src/main/java/org/apache/shenyu/plugin/logging/common/body/LoggingServerHttpResponse.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-console/src/main/java/org/apache/shenyu/plugin/logging/console/LoggingConsolePlugin.java
Labels: plugin: logging-console

#5627 Add header key of Sign plugin to CrossFilter config.
  shenyu-common/src/main/java/org/apache/shenyu/common/config/ShenyuConfig.java
Labels: type: bug, plugin: sign

#5648 [Fix] fix client id register problem
  shenyu-admin/src/main/java/org/apache/shenyu/admin/shiro/config/ShiroRealm.java
Labels: type: bug, admin, client: register-http

#5653 [type:fix] fix word spelling error and class name error ,and so on..(#5636)(#5639)
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/websocket/WebsocketDataChangedListener.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/event/handle/PluginHandleChangedEvent.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/event/metadata/MetaDataChangedEvent.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/AlertReceiverServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/transfer/AlertTransfer.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/AlertReceiverServiceTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/transfer/AlertTransferTest.java
  shenyu-registry/shenyu-registry-zookeeper/src/main/java/org/apache/shenyu/registry/zookeeper/ZookeeperClient.java
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/ShenyuExtPathPluginJarLoader.java
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/ShenyuLoaderService.java
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/ShenyuPluginClassLoaderHolder.java
Labels: type: refactor

#5650 [type:feat]Data-permission adapts to namespace transformation
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/DataPermissionController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/NamespaceDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/query/SelectorQuery.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/SelectorService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/ApiServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SelectorServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/manager/impl/LoadServiceDocEntryImpl.java
  shenyu-admin/src/main/resources/mappers/selector-sqlmap.xml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/DataPermissionControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/SelectorMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/DataPermissionServiceTest.java
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/AdminConstants.java
Labels: namespace

#5654 [Fix] fix data-permission namespace problem
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/NamespaceDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DataPermissionServiceImpl.java
Labels: namespace

#5646 [type:bugfix] grpc ci error debug
  shenyu-admin-listener/shenyu-admin-listener-api/src/main/java/org/apache/shenyu/admin/listener/AbstractPathDataChangedListener.java
  shenyu-admin-listener/shenyu-admin-listener-etcd/src/main/java/org/apache/shenyu/admin/listener/etcd/EtcdClient.java
  shenyu-admin-listener/shenyu-admin-listener-zookeeper/src/main/java/org/apache/shenyu/admin/listener/zookeeper/ZookeeperClient.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/discovery/DiscoveryDataChangedEventSyncListener.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mode/cluster/impl/zookeeper/ClusterZookeeperClient.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/UpstreamCheckService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/AbstractShenyuClientRegisterServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/FallbackShenyuClientRegisterService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterDivideServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterGrpcServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/transfer/DiscoveryTransfer.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterDivideServiceImplTest.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-grpc/src/main/java/org/apache/shenyu/plugin/grpc/cache/GrpcClientCache.java
  shenyu-registry/shenyu-registry-etcd/src/main/java/org/apache/shenyu/registry/etcd/EtcdClient.java
  shenyu-registry/shenyu-registry-zookeeper/src/main/java/org/apache/shenyu/registry/zookeeper/ZookeeperClient.java
  shenyu-sync-data-center/shenyu-sync-data-etcd/src/main/java/org/apache/shenyu/sync/data/etcd/EtcdClient.java
  shenyu-sync-data-center/shenyu-sync-data-etcd/src/main/java/org/apache/shenyu/sync/data/etcd/EtcdSyncDataService.java
  shenyu-sync-data-center/shenyu-sync-data-zookeeper/src/main/java/org/apache/shenyu/sync/data/zookeeper/ZookeeperClient.java
Labels: discovery

#5657 [type: fix] fix e2e cluster error
  .github/workflows/e2e-k8s.yml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-cluster/k8s/script/healthcheck.sh
Labels: test: e2e

#5667 [type:feat]Auth adapts to namespace transformation
  db/init/mysql/schema.sql
  db/init/ob/schema.sql
  db/init/og/create-table.sql
  db/init/oracle/schema.sql
  db/init/pg/create-table.sql
  db/upgrade/2.6.1-upgrade-2.7.0-mysql.sql
  db/upgrade/2.6.1-upgrade-2.7.0-og.sql
  db/upgrade/2.6.1-upgrade-2.7.0-oracle.sql
  db/upgrade/2.6.1-upgrade-2.7.0-pg.sql
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/AppAuthController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/AppAuthDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/AuthApplyDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/AuthPathWarpDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/AppAuthDO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/query/AppAuthQuery.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/vo/AppAuthVO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/AppAuthServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/transfer/AppAuthTransfer.java
  shenyu-admin/src/main/resources/mappers/app-auth-sqlmap.xml
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/AppAuthControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/AppAuthMapperTest.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/AppAuthData.java
Labels: namespace

#5668 [type:fix] fix namespace url error
  db/init/mysql/schema.sql
  db/init/ob/schema.sql
  db/init/og/create-table.sql
  db/init/oracle/schema.sql
  db/init/pg/create-table.sql
  db/upgrade/2.6.1-upgrade-2.7.0-mysql.sql
  db/upgrade/2.6.1-upgrade-2.7.0-og.sql
  db/upgrade/2.6.1-upgrade-2.7.0-oracle.sql
  db/upgrade/2.6.1-upgrade-2.7.0-pg.sql
  shenyu-admin-listener/shenyu-admin-listener-api/src/main/java/org/apache/shenyu/admin/service/SyncDataService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/NamespacePluginController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/NamespacePluginRelMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/NamespacePluginDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/NamespacePluginRelDO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/NamespacePluginService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/NamespacePluginServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SyncDataServiceImpl.java
  shenyu-admin/src/main/resources/mappers/namespace-plugin-rel-sqlmap.xml
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/SyncDataServiceTest.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-apache-dubbo/src/test/java/org/apache/shenyu/e2e/testcase/apachedubbo/ApacheDubboPluginTest.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-grpc/src/test/java/org/apache/shenyu/e2e/testcase/grpc/GrpcPluginTest.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-http/src/test/java/org/apache/shenyu/e2e/testcase/http/DividePluginTest.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-sofa/src/test/java/org/apache/shenyu/e2e/testcase/sofa/SofaPluginTest.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-spring-cloud/src/test/java/org/apache/shenyu/e2e/testcase/springcloud/SpringCloudPluginTest.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-websocket/src/test/java/org/apache/shenyue/e2e/testcase/websocket/WebSocketPluginTest.java
  shenyu-e2e/shenyu-e2e-client/src/main/java/org/apache/shenyu/e2e/client/admin/AdminClient.java
Labels: namespace

#5671 [type:feat] add shenyu gateway namespace
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-common/src/main/java/org/apache/shenyu/common/config/ShenyuConfig.java
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
Labels: namespace

#5602 [type:feat]Add dynamically scale admin module
  db/init/mysql/schema.sql
  db/init/og/create-table.sql
  db/init/oracle/schema.sql
  db/init/pg/create-table.sql
  db/upgrade/2.6.1-upgrade-2.7.0-mysql.sql
  db/upgrade/2.6.1-upgrade-2.7.0-og.sql
  db/upgrade/2.6.1-upgrade-2.7.0-oracle.sql
  db/upgrade/2.6.1-upgrade-2.7.0-pg.sql
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ScalePolicyController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ScaleRlueController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/ScaleHistoryMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/ScalePolicyMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/ScaleRuleMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/ScalePolicyDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/ScaleRuleDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/ScaleHistoryDO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/ScalePolicyDO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/ScaleRuleDO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/query/ScaleRuleQuery.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/vo/ScalePolicyVO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/vo/ScaleRuleVO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/ScalePolicyService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/ScaleRuleService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/ScalePolicyServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/ScaleRuleServiceImpl.java
  shenyu-admin/src/main/resources/mappers/scale-history-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/scale-policy-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/scale-rule-sqlmap.xml
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/DateUtils.java
Labels: admin, kubernetes
