Repository apache/shenyu, pull requests merged in 2024-11, with the labels that each got.

#5748 [type:fix] Set up callback for send message on Kafka
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-kafka/src/main/java/org/apache/shenyu/plugin/logging/kafka/client/KafkaLogCollectClient.java
Labels: type: refactor

#5750 [type:improve] sync dashboard
  shenyu-admin/src/main/resources/static/index.28e41372.js
  shenyu-admin/src/main/resources/static/index.3e5d3efc.js
  shenyu-admin/src/main/resources/static/index.html
Labels: namespace

#5742 [type:feat]fix upstreamCheck
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/SelectorMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SelectorServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SyncDataServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/UpstreamCheckService.java
  shenyu-admin/src/main/resources/mappers/selector-sqlmap.xml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/UpstreamCheckServiceTest.java
Labels: namespace

#5756 [type:fix] config dubbo serialize-check-status=DISABLE
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-annotation/src/main/resources/application.yml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-xml/src/main/resources/spring-dubbo.xml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service/src/main/resources/spring-dubbo.xml
Labels: plugin: dubbo, plugin: apache-dubbo, starter: apache-dubbo

#5757 [type:fix] fix namespace plugin generate
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/HttpLongPollingSyncConfiguration.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ConfigController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/NamespacePluginController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/NamespacePluginServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/NamespaceServiceImpl.java
  shenyu-admin/src/main/resources/mappers/namespace-plugin-rel-sqlmap.xml
Labels: namespace

#5659 [type:feat] shenyu client heartbeat
  shenyu-admin/src/main/java/org/apache/shenyu/admin/disruptor/subscriber/URIRegisterExecutorSubscriber.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/AbstractDataChangedListener.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/DataChangedEventDispatcher.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SelectorServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/AbstractShenyuClientRegisterServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/FallbackShenyuClientRegisterService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterDivideServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/CommonUpstreamUtils.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/FallbackShenyuClientRegisterServiceTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/utils/CommonUpstreamUtilsTest.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/disruptor/subcriber/ShenyuClientURIExecutorSubscriber.java
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-api/src/main/java/org/apache/shenyu/register/client/api/ShenyuClientRegisterRepository.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-http/src/main/java/org/apache/shenyu/register/client/http/HttpClientRegisterRepository.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-http/src/main/java/org/apache/shenyu/register/client/http/utils/RegisterUtils.java
  shenyu-register-center/shenyu-register-common/src/main/java/org/apache/shenyu/register/common/enums/EventType.java
  shenyu-register-center/shenyu-register-common/src/main/java/org/apache/shenyu/register/common/type/DataType.java
Labels: client: register

#5772 [type:bugfix] fix http sync ci error
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/HttpLongPollingSyncConfiguration.java
Labels: data-sync: http

#5740 [type:fix]fix namespace delete
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/AuthPathMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/DiscoveryMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/MetaDataMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/NamespacePluginRelMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/RuleMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/SelectorMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/NamespacePluginServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/NamespaceServiceImpl.java
  shenyu-admin/src/main/resources/mappers/auth-path-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/discovery-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/meta-data-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/namespace-plugin-rel-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/rule-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/selector-sqlmap.xml
Labels: namespace

#5783 fix:Data sync dataId for proxy selector and discovery is not unique
  shenyu-admin-listener/shenyu-admin-listener-api/src/main/java/org/apache/shenyu/admin/listener/AbstractNodeDataChangedListener.java
Labels: type: bug

#5774 [type:bugfix] fix http sync ci error
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/ClusterJdbcConfiguration.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/HttpLongPollingSyncConfiguration.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/properties/ClusterProperties.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ConfigController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DataPermissionServiceImpl.java
  shenyu-admin/src/test/resources/application.yml
  shenyu-sync-data-center/shenyu-sync-data-http/src/main/java/org/apache/shenyu/sync/data/http/HttpSyncDataService.java
Labels: data-sync: http

#5786 [type:feature] support examples namespace
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-annotation/src/main/resources/application.yml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-xml/src/main/resources/shenyu.xml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service/src/main/resources/application.yml
  shenyu-examples/shenyu-examples-grpc/src/main/resources/application.yml
  shenyu-examples/shenyu-examples-http-swagger3/src/main/resources/application.yml
  shenyu-examples/shenyu-examples-https/src/main/resources/application.yml
  shenyu-examples/shenyu-examples-motan/shenyu-examples-motan-service/src/main/resources/application.yml
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-dubbo/shenyu-examples-sdk-apache-dubbo-consumer/src/main/resources/application.yml
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-feign/src/main/resources/application.yaml
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-grpc/shenyu-examples-sdk-grpc-consumer/src/main/resources/application.yaml
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-grpc/shenyu-examples-sdk-grpc-provider/src/main/resources/application.yml
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-http/src/main/resources/application.yaml
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-springcloud/shenyu-examples-sdk-springcloud-consumer/src/main/resources/application.yaml
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-springcloud/shenyu-examples-sdk-springcloud-provider/src/main/resources/application.yml
  shenyu-examples/shenyu-examples-sofa/shenyu-examples-sofa-service/src/main/resources/application.yml
  shenyu-examples/shenyu-examples-springcloud/src/main/resources/application.yml
  shenyu-examples/shenyu-examples-springmvc/src/main/resources/context/shenyu.xml
  shenyu-examples/shenyu-examples-tars/src/main/resources/application.yml
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-annotation-websocket/src/main/resources/application.yml
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-native-websocket/src/main/resources/application.yml
  shenyu-examples/shenyu-examples-websocket/shenyu-example-spring-reactive-websocket/src/main/resources/application.yml
Labels: in: example, namespace

#5784 refactor:enable option kubernetes
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/KubernetesConfiguration.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/scale/config/ScaleProperties.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/scale/scaler/KubernetesScaler.java
  shenyu-admin/src/main/resources/application.yml
Labels: type: refactor, kubernetes

#5798 [type:bugfix] fix namespace page admin error
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/NamespaceServiceImpl.java
Labels: admin, namespace

#5778 [type:fix] set timeout which from rule handle to dubbo rpc context
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-dubbo/shenyu-plugin-apache-dubbo/src/main/java/org/apache/shenyu/plugin/apache/dubbo/ApacheDubboPlugin.java
Labels: plugin: dubbo

#5804 [type:fix] non null validation for upstream which obtained from select
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-dubbo/shenyu-plugin-apache-dubbo/src/main/java/org/apache/shenyu/plugin/apache/dubbo/proxy/ApacheDubboGrayLoadBalance.java
Labels: plugin: dubbo, plugin: apache-dubbo

#5769 [type:bugfix] fix namespace sync all button error
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/HttpLongPollingSyncConfiguration.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/websocket/WebsocketCollector.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/websocket/WebsocketDataChangedListener.java
  shenyu-admin/src/main/resources/mappers/namespace-plugin-rel-sqlmap.xml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/listener/websocket/WebsocketCollectorTest.java
  shenyu-sync-data-center/shenyu-sync-data-websocket/src/main/java/org/apache/shenyu/plugin/sync/data/websocket/client/ShenyuWebsocketClient.java
Labels: namespace

#5806 [type:fix] Use the loadbalance configuration from metadata for Dubbo
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-dubbo/shenyu-plugin-apache-dubbo/src/main/java/org/apache/shenyu/plugin/apache/dubbo/cache/ApacheDubboConfigCache.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-dubbo/shenyu-plugin-apache-dubbo/src/main/java/org/apache/shenyu/plugin/apache/dubbo/proxy/ApacheDubboGrayLoadBalance.java
Labels: type: bug, plugin: dubbo, plugin: apache-dubbo

#5808 [type:release] fix jar license
  shenyu-dist/shenyu-admin-dist/src/main/release-docs/LICENSE
  shenyu-dist/shenyu-bootstrap-dist/src/main/release-docs/LICENSE
Labels: type: dependencies, type: release

#5811 [type:fix] fix ShenyuApacheDubboXmlProviderApplication config
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-dubbo/shenyu-examples-sdk-apache-dubbo-provider/src/main/resources/shenyu.xml
Labels: client: dubbo

#5809 [type:bugfix] remove useless log
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DataPermissionServiceImpl.java
Labels: type: refactor

#5819 [fix:bugfix] readYmlBuildRepository NPE (#5818)
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-springcloud/src/main/java/org/apache/shenyu/plugin/springcloud/handler/SpringCloudPluginDataHandler.java
Labels: type: bug, plugin: spring-cloud
