Repository apache/shenyu, pull requests merged in 2024-03, with the labels that each got.

#5462 [BUG] websocket offline don't remove upstream in database #5460
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterGrpcServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterWebSocketServiceImpl.java
Labels: discovery

#5465 refactor shenyu-sync-data-http : replace log %s -> {}.
  shenyu-sync-data-center/shenyu-sync-data-http/src/main/java/org/apache/shenyu/sync/data/http/AccessTokenManager.java
Labels: type: refactor

#5436 Encrypt the password
  pom.xml
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/properties/SecretProperties.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/PlatformController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/SecretService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DashboardUserServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SecretServiceImpl.java
  shenyu-admin/src/main/resources/application.yml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/PlatformControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/DashboardUserServiceTest.java
  shenyu-common/pom.xml
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/AesUtils.java
  shenyu-register-center/shenyu-register-client/shenyu-register-client-http/src/main/java/org/apache/shenyu/register/client/http/HttpClientRegisterRepository.java
  shenyu-sync-data-center/shenyu-sync-data-http/src/main/java/org/apache/shenyu/sync/data/http/AccessTokenManager.java
  shenyu-sync-data-center/shenyu-sync-data-http/src/main/java/org/apache/shenyu/sync/data/http/config/HttpConfig.java
Labels: admin

#5457 [type: refactor] Admin distributed lock by spring-integration-jdbc
  db/init/mysql/schema.sql
  db/init/og/create-table.sql
  db/init/oracle/schema.sql
  db/init/pg/create-table.sql
  db/upgrade/2.6.1-upgrade-2.7.0-mysql.sql
  db/upgrade/2.6.1-upgrade-2.7.0-og.sql
  db/upgrade/2.6.1-upgrade-2.7.0-oracle.sql
  db/upgrade/2.6.1-upgrade-2.7.0-pg.sql
  shenyu-admin/pom.xml
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/RegisterCenterConfiguration.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/lock/RegisterExecutionLock.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/lock/RegisterExecutionRepository.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/lock/impl/ForUpdateBackedRegisterExecutionLock.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/lock/impl/PlatformTransactionRegisterExecutionRepository.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/lock/util/RegisterTransactionUtil.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/vo/ProxySelectorVO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/AbstractContextPathRegisterService.java
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/AbstractContextPathRegisterServiceTest.java
Labels: admin

#5471 [BUG] update app_key in db
  shenyu-admin/src/main/resources/mappers/app-auth-sqlmap.xml
Labels: type: bug, sql

#5461 [type:feature] enhance metrics-ratelimiter collect
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
  shenyu-plugin/shenyu-plugin-fault-tolerance/shenyu-plugin-ratelimiter/src/main/java/org/apache/shenyu/plugin/ratelimiter/RateLimiterPlugin.java
  shenyu-plugin/shenyu-plugin-metrics/src/main/java/org/apache/shenyu/plugin/metrics/MetricsPlugin.java
  shenyu-plugin/shenyu-plugin-metrics/src/main/java/org/apache/shenyu/plugin/metrics/constant/LabelNames.java
  shenyu-plugin/shenyu-plugin-metrics/src/main/java/org/apache/shenyu/plugin/metrics/reporter/MetricsReporter.java
  shenyu-plugin/shenyu-plugin-metrics/src/test/java/org/apache/shenyu/plugin/metrics/reporter/MetricsReporterTest.java
Labels: plugin: ratelimiter, plugin: metrics

#5476 sync frontend
  shenyu-admin/src/main/resources/static/index.7b7196e2.js
  shenyu-admin/src/main/resources/static/index.80d03273.js
  shenyu-admin/src/main/resources/static/index.b64ad59d.css
  shenyu-admin/src/main/resources/static/index.html
Labels: type: front

#5479 Correcting duplicate data IDs
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
Labels: sql

#5480 [type:refactor] jwt dependency updated
  shenyu-dist/shenyu-bootstrap-dist/src/main/release-docs/LICENSE
  shenyu-plugin/shenyu-plugin-security/shenyu-plugin-jwt/pom.xml
  shenyu-plugin/shenyu-plugin-security/shenyu-plugin-jwt/src/main/java/org/apache/shenyu/plugin/jwt/JwtPlugin.java
  shenyu-plugin/shenyu-plugin-security/shenyu-plugin-jwt/src/test/java/org/apache/shenyu/plugin/jwt/JwtPluginTest.java
Labels: about pom

#5468 [type:feature] Enhance metrics collection for Sentinel, Resilience4j, and Hystrix
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/rule/Resilience4JHandle.java
  shenyu-plugin/shenyu-plugin-fault-tolerance/shenyu-plugin-hystrix/src/main/java/org/apache/shenyu/plugin/hystrix/HystrixPlugin.java
  shenyu-plugin/shenyu-plugin-fault-tolerance/shenyu-plugin-resilience4j/src/main/java/org/apache/shenyu/plugin/resilience4j/Resilience4JPlugin.java
  shenyu-plugin/shenyu-plugin-fault-tolerance/shenyu-plugin-sentinel/src/main/java/org/apache/shenyu/plugin/sentinel/SentinelPlugin.java
  shenyu-plugin/shenyu-plugin-metrics/src/main/java/org/apache/shenyu/plugin/metrics/MetricsPlugin.java
  shenyu-plugin/shenyu-plugin-metrics/src/main/java/org/apache/shenyu/plugin/metrics/constant/LabelNames.java
  shenyu-plugin/shenyu-plugin-metrics/src/main/java/org/apache/shenyu/plugin/metrics/reporter/MetricsReporter.java
  shenyu-plugin/shenyu-plugin-metrics/src/test/java/org/apache/shenyu/plugin/metrics/reporter/MetricsReporterTest.java
Labels: plugin: sentinel, plugin: resilience4j, plugin: ratelimiter, plugin: hystrix, metrics: prometheus, plugin: metrics

#5497 Refact/bean utils
  shenyu-admin/src/main/java/org/apache/shenyu/admin/aspect/DataPermissionAspect.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/exception/ExceptionHandlers.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/AbstractDataChangedListener.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/bean/DocParameter.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/AlertDispatchServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/AlertReceiverServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DiscoveryServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/MetaDataServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/MockRequestRecordServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/ProxySelectorServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/UpstreamCheckService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/manager/impl/DocManagerImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/manager/impl/LoadServiceDocEntryImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/manager/impl/PullSwaggerDocServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/manager/impl/SwaggerDocParser.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/transfer/AlertTransfer.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/transfer/MetaDataTransfer.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/HttpUtils.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/listener/websocket/WebsocketCollectorTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/model/bean/DocParameterTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/transfer/AlertTransferTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/transfer/MetaDataTransferTest.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/fallback/FallbackHandler.java
  shenyu-sync-data-center/shenyu-sync-data-consul/src/main/java/org/apache/shenyu/sync/data/consul/ConsulSyncDataService.java
  shenyu-sync-data-center/shenyu-sync-data-polaris/src/main/java/org/apache/shenyu/sync/data/polaris/PolarisSyncDataService.java
Labels: type: refactor

#5499 New API: supports batch modification of selector/rule status
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/RuleController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/SelectorController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/RuleMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/SelectorMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/RuleService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/SelectorService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/RuleServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SelectorServiceImpl.java
  shenyu-admin/src/main/resources/mappers/rule-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/selector-sqlmap.xml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/RuleControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/SelectorControllerTest.java
Labels: admin

#5505 fix #5436 doc error
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/AesUtils.java
Labels: type: fixed

#5502 [type:refactor] delete SO_SNDBUF & SO_RCVBUF
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-common/src/main/java/org/apache/shenyu/common/config/NettyChannelProperties.java
  shenyu-common/src/main/java/org/apache/shenyu/common/config/NettyHttpProperties.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-gateway/src/main/java/org/apache/shenyu/springboot/starter/netty/ShenyuNettyWebServerConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-gateway/src/test/java/org/apache/shenyu/springboot/starter/netty/ShenyuNettyWebServerConfigurationTest.java
Labels: type: refactor

#5493 Export Selector Data should be combined with Discovery Data #5492
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ConfigsExportImportController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/AlertReceiverServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/AppAuthServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DiscoveryServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/PluginServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/RuleServiceImpl.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/ConfigsExportImportControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/AlertReceiverServiceTest.java
Labels: admin

#5488 New API: supports batch modification of PathAuth status
  db/init/mysql/schema.sql
  db/init/og/create-table.sql
  db/init/oracle/schema.sql
  db/init/pg/create-table.sql
  db/upgrade/2.6.1-upgrade-2.7.0-mysql.sql
  db/upgrade/2.6.1-upgrade-2.7.0-og.sql
  db/upgrade/2.6.1-upgrade-2.7.0-oracle.sql
  db/upgrade/2.6.1-upgrade-2.7.0-pg.sql
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/AppAuthController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/AppAuthMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/AppAuthService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/AppAuthServiceImpl.java
  shenyu-admin/src/main/resources/mappers/app-auth-sqlmap.xml
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/AppAuthControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/AppAuthServiceTest.java
Labels: admin

#5510 [Fix] Resolve dashboard routing mismatch post context-path update
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/IndexController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/ApplicationStartListener.java
  shenyu-admin/src/main/resources/static/index.ad98e9a2.css
  shenyu-admin/src/main/resources/static/index.c1317227.js
  shenyu-admin/src/main/resources/static/index.html
Labels: admin

#5506 Add permission controls to import & export
  db/init/mysql/schema.sql
  db/init/og/create-table.sql
  db/init/oracle/schema.sql
  db/init/pg/create-table.sql
  db/upgrade/2.6.1-upgrade-2.7.0-mysql.sql
  db/upgrade/2.6.1-upgrade-2.7.0-og.sql
  db/upgrade/2.6.1-upgrade-2.7.0-oracle.sql
  db/upgrade/2.6.1-upgrade-2.7.0-pg.sql
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ConfigsExportImportController.java
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
Labels: admin

#5509 [type: BUG] fix hot load issue
  shenyu-web/src/main/java/org/apache/shenyu/web/loader/ShenyuPluginClassLoader.java
Labels: type: bug

#5511 sync frontend
  shenyu-admin/src/main/resources/static/index.2a6988d0.js
  shenyu-admin/src/main/resources/static/index.49678bd0.css
  shenyu-admin/src/main/resources/static/index.5f1eb508.js
  shenyu-admin/src/main/resources/static/index.c1317227.js
  shenyu-admin/src/main/resources/static/index.html
Labels: admin

#5470 [type:BUG] DocParameter example IllegalStateException(#5467)
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/bean/DocParameter.java
Labels: type: refactor, in: example, type: examples
