Repository apache/shenyu, pull requests merged in 2024-05, with the labels that each got.

#5546 fix consul sync problem (#5545)
  shenyu-admin-listener/shenyu-admin-listener-api/src/main/java/org/apache/shenyu/admin/listener/AbstractPathDataChangedListener.java
Labels: type: bug

#5565 [type:fix] check sql #5512
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/DefaultPathConstants.java
  shenyu-e2e/shenyu-e2e-client/src/main/java/org/apache/shenyu/e2e/client/admin/AdminClient.java
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-xml/Dockerfile
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service/Dockerfile
Labels: sql

#5567 [type:fix] fix cookie error and sql check #5566
  db/init/mysql/schema.sql
  db/init/pg/create-table.sql
  shenyu-admin/src/main/java/org/apache/shenyu/admin/shiro/bean/StatelessAuthFilter.java
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
Labels: type: refactor, sql
