Repository apache/shenyu, pull requests merged in 2024-07, with the labels that each got.

#5587 [ISSUE #5311] less concurrency
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/UpstreamCheckService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/transfer/DiscoveryTransfer.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/UpstreamCheckServiceTest.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-grpc/src/main/java/org/apache/shenyu/plugin/grpc/handler/GrpcDiscoveryUpstreamDataHandler.java
Labels: admin

#5590 [type:fix] fix cluster e2e failure
  .github/workflows/e2e-k8s.yml
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/websocket/WebsocketCollector.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-cluster/k8s/script/e2e-cluster-zookeeper.sh
  shenyu-sync-data-center/shenyu-sync-data-websocket/src/main/java/org/apache/shenyu/plugin/sync/data/websocket/WebsocketSyncDataService.java
Labels: test: e2e

#5593 [type:fix] fixing e2e chunk header error
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/ClusterConfiguration.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/properties/ClusterProperties.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/websocket/WebsocketCollector.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mode/cluster/filter/ClusterForwardFilter.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mode/cluster/impl/jdbc/ClusterSelectMasterServiceJdbcImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mode/cluster/service/ShenyuClusterService.java
  shenyu-admin/src/main/resources/application.yml
  shenyu-alert/src/main/java/org/apache/shenyu/alert/config/RestTemplateConfig.java
  shenyu-alert/src/main/java/org/apache/shenyu/alert/strategy/AbstractAlertNotifyHandler.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-cluster/src/test/java/org/apache/shenyue/e2e/testcase/cluster/DividePluginCases.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-cluster/src/test/java/org/apache/shenyue/e2e/testcase/cluster/DividePluginTest.java
  shenyu-e2e/shenyu-e2e-client/src/main/java/org/apache/shenyu/e2e/client/admin/AdminClient.java
  shenyu-e2e/shenyu-e2e-engine/src/main/java/org/apache/shenyu/e2e/engine/ShenYuExtension.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-springcloud/src/main/java/org/apache/shenyu/plugin/springcloud/cache/ServiceInstanceCache.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-springcloud/src/main/java/org/apache/shenyu/plugin/springcloud/listener/SpringCloudHeartBeatListener.java
  shenyu-sync-data-center/shenyu-sync-data-websocket/src/main/java/org/apache/shenyu/plugin/sync/data/websocket/client/ShenyuWebsocketClient.java
Labels: admin

#5589 [type:fix] close rule cache
  shenyu-bootstrap/src/main/resources/application.yml
Labels: bootstrap

#5491 Plugin lifecycle and Chain lifecycle #5475
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
  shenyu-web/src/main/java/org/apache/shenyu/web/handler/ShenyuWebHandler.java
Labels: type: refactor

#5596 discovery Local support upstream health check in Admin #5591
  shenyu-admin/src/main/java/org/apache/shenyu/admin/discovery/LocalDiscoveryProcessor.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/DiscoveryUpstreamMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/enums/EventTypeEnum.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/event/discovery/DiscoveryStreamUpdatedEvent.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/DiscoveryUpstreamService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DiscoveryUpstreamServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/UpstreamCheckService.java
  shenyu-admin/src/main/resources/mappers/discovery-upstream-sqlmap.xml
Labels: admin, discovery
