Repository apache/shenyu, pull requests merged in 2024-10, with the labels that each got.

#5677 [type:feat]Add plugin of namespace
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/NamespacePluginController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/NamespacePluginRelMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/NamespacePluginRelDO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/NamespacePluginService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/NamespacePluginServiceImpl.java
  shenyu-admin/src/main/resources/mappers/namespace-plugin-rel-sqlmap.xml
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/AdminConstants.java
Labels: namespace

#5691 [fix] fix dashboard menu children sort not working problem
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/ResourceUtil.java
Labels: type: bug

#5655 [type:feat]Discovery adapts to namespace transformation
  db/init/mysql/schema.sql
  db/init/ob/schema.sql
  db/init/og/create-table.sql
  db/init/oracle/schema.sql
  db/init/pg/create-table.sql
  db/upgrade/2.6.1-upgrade-2.7.0-mysql.sql
  db/upgrade/2.6.1-upgrade-2.7.0-og.sql
  db/upgrade/2.6.1-upgrade-2.7.0-oracle.sql
  db/upgrade/2.6.1-upgrade-2.7.0-pg.sql
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/DiscoveryController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ProxySelectorController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/discovery/AbstractDiscoveryProcessor.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/discovery/DiscoveryDataChangedEventSyncListener.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/DiscoveryMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/DiscoveryDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/DiscoveryUpstreamDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/ProxySelectorAddDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/dto/ProxySelectorDTO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/DiscoveryDO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/DiscoveryUpstreamDO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/ProxySelectorDO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/query/ProxySelectorQuery.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/vo/DiscoveryVO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/vo/ProxySelectorVO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/DiscoveryService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DiscoveryServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DiscoveryUpstreamServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/ProxySelectorServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SelectorServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/AbstractShenyuClientRegisterServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterDivideServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterGrpcServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterSpringCloudServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterWebSocketServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/transfer/DiscoveryTransfer.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/CommonUpstreamUtils.java
  shenyu-admin/src/main/resources/mappers/discovery-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/discovery-upstream-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/proxy-selector-sqlmap.xml
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/test/java/org/apache/shenyu/admin/discovery/DiscoveryDataChangedEventSyncListenerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/DiscoveryUpstreamMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/ProxySelectorMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/ProxySelectorServiceTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/AbstractShenyuClientRegisterServiceImplTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/utils/CommonUpstreamUtilsTest.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/ClientDiscoveryConfigRefreshedEventListener.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/DiscoverySyncData.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/DiscoveryUpstreamData.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/selector/CommonUpstream.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/selector/DivideUpstream.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/selector/GrpcUpstream.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/selector/WebSocketUpstream.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-storage/src/test/java/org/apache/shenyu/e2e/testcase/divide/DividePluginTest.java
  shenyu-e2e/shenyu-e2e-client/src/main/java/org/apache/shenyu/e2e/client/admin/AdminClient.java
  shenyu-e2e/shenyu-e2e-common/src/main/java/org/apache/shenyu/e2e/model/data/BindingData.java
  shenyu-register-center/shenyu-register-common/src/main/java/org/apache/shenyu/register/common/dto/DiscoveryConfigRegisterDTO.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-grpc/src/main/java/org/apache/springboot/starter/client/grpc/ShenyuGrpcDiscoveryConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-spring-websocket/src/main/java/org/apache/shenyu/springboot/starter/client/spring/websocket/ShenyuSpringWebSocketDiscoveryConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-springmvc/src/main/java/org/apache/shenyu/springboot/starter/client/springmvc/ShenyuSpringMvcDiscoveryConfiguration.java
Labels: discovery, namespace

#5702 [type:fix] fix docker ci error
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker-publish-dockerhub.yml
  .github/workflows/docker-publish.yml
  .github/workflows/e2e-k8s.yml
  .github/workflows/integrated-test-k8s-ingress.yml
  .github/workflows/integrated-test.yml
  .github/workflows/k8s-examples-http.yml
Labels: type: bug

#5711 [type:fix] fix namespace sql error
  db/init/mysql/schema.sql
  db/init/ob/schema.sql
  db/init/og/create-table.sql
  db/init/oracle/schema.sql
  db/init/pg/create-table.sql
  db/upgrade/2.6.1-upgrade-2.7.0-mysql.sql
  db/upgrade/2.6.1-upgrade-2.7.0-og.sql
  db/upgrade/2.6.1-upgrade-2.7.0-oracle.sql
  db/upgrade/2.6.1-upgrade-2.7.0-pg.sql
  shenyu-admin-listener/shenyu-admin-listener-api/src/main/java/org/apache/shenyu/admin/service/SyncDataService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/FallbackShenyuClientRegisterService.java
  shenyu-admin/src/main/resources/mappers/app-auth-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/discovery-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/discovery-upstream-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/meta-data-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/proxy-selector-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/rule-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/selector-sqlmap.xml
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-cluster/src/test/java/org/apache/shenyue/e2e/testcase/cluster/DividePluginTest.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-http/src/test/java/org/apache/shenyu/e2e/testcase/http/DividePluginTest.java
  shenyu-e2e/shenyu-e2e-common/src/main/java/org/apache/shenyu/e2e/model/data/BindingData.java
  shenyu-e2e/shenyu-e2e-common/src/main/java/org/apache/shenyu/e2e/template/ResourceDataTemplate.java
Labels: sql

#5598 [type:feat]The sync-data-http method adapts to the namespace transformation
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/HttpLongPollingSyncConfiguration.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ConfigController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/discovery/LocalDiscoveryProcessor.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/AbstractDataChangedListener.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/ConfigDataCache.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/DataChangedEvent.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/http/HttpLongPollingDataChangedListener.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/NamespaceMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/RuleDO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/NamespaceService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DiscoveryServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/NamespaceServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SelectorServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/UpstreamCheckService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/transfer/DiscoveryTransfer.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/transfer/MetaDataTransfer.java
  shenyu-admin/src/main/resources/mappers/namespace-sqlmap.xml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/ConfigControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/listener/AbstractDataChangedListenerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/listener/ConfigDataCacheTest.java
  shenyu-common/src/main/java/org/apache/shenyu/common/config/ShenyuConfig.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/ProxySelectorData.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-http/src/main/java/org/apache/shenyu/springboot/starter/sync/data/http/HttpSyncDataConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-http/src/test/java/org/apache/shenyu/springboot/starter/sync/data/http/HttpClientPluginConfigurationTest.java
  shenyu-sync-data-center/shenyu-sync-data-http/src/main/java/org/apache/shenyu/sync/data/http/HttpSyncDataService.java
  shenyu-sync-data-center/shenyu-sync-data-http/src/test/java/org/apache/shenyu/sync/data/http/HttpSyncDataServiceTest.java
Labels: namespace

#5701 [type:fix]Fix the error of adding plugins of namespace
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/NamespacePluginRelDO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/NamespacePluginService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/NamespacePluginServiceImpl.java
  shenyu-admin/src/main/resources/mappers/namespace-plugin-rel-sqlmap.xml
Labels: type: bug, namespace

#5713 [type:fix] fix SPI create non singleton objects in multi-threaded scenarios
  shenyu-spi/src/main/java/org/apache/shenyu/spi/ExtensionLoader.java
Labels: type: bug, type: spi

#5715 [type:feat] namespace adapt middleware sync
  shenyu-admin-listener/shenyu-admin-listener-api/src/main/java/org/apache/shenyu/admin/listener/AbstractNodeDataChangedListener.java
  shenyu-admin-listener/shenyu-admin-listener-api/src/main/java/org/apache/shenyu/admin/listener/AbstractPathDataChangedListener.java
  shenyu-admin-listener/shenyu-admin-listener-zookeeper/src/test/java/org/apache/shenyu/admin/listener/zookeeper/ZookeeperDataChangedListenerTest.java
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/DefaultPathConstants.java
  shenyu-common/src/test/java/org/apache/shenyu/common/constant/DefaultPathConstantsTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-apollo/src/main/java/org/apache/shenyu/springboot/sync/data/apollo/ApolloSyncDataConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-apollo/src/test/java/org/apache/shenyu/springboot/sync/data/apollo/ApolloSyncDataConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-consul/src/main/java/org/apache/shenyu/springboot/sync/data/consul/ConsulSyncDataConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-etcd/src/main/java/org/apache/shenyu/springboot/sync/data/etcd/EtcdSyncDataConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-nacos/src/main/java/org/apache/shenyu/springboot/starter/sync/data/nacos/NacosSyncDataConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-nacos/src/test/java/org/apache/shenyu/springboot/starter/sync/data/nacos/NacosSyncDataConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-polaris/src/main/java/org/apache/shenyu/springboot/starter/sync/data/polaris/PolarisSyncDataConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-polaris/src/test/java/org/apache/shenyu/springboot/stater/sync/data/polaris/PolarisSyncDataConfigurationTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-zookeeper/src/main/java/org/apache/shenyu/springboot/sync/data/zookeeper/ZookeeperSyncDataConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-zookeeper/src/test/java/org/apache/shenyu/springboot/sync/data/zookeeper/ZookeeperSyncDataConfigurationTest.java
  shenyu-sync-data-center/shenyu-sync-data-api/src/main/java/org/apache/shenyu/sync/data/core/AbstractNodeDataSyncService.java
  shenyu-sync-data-center/shenyu-sync-data-api/src/main/java/org/apache/shenyu/sync/data/core/AbstractPathDataSyncService.java
  shenyu-sync-data-center/shenyu-sync-data-apollo/src/main/java/org/apache/shenyu/sync/data/apollo/ApolloDataService.java
  shenyu-sync-data-center/shenyu-sync-data-apollo/src/test/java/org/apache/shenyu/sync/data/apollo/ApolloDataServiceTest.java
  shenyu-sync-data-center/shenyu-sync-data-consul/src/main/java/org/apache/shenyu/sync/data/consul/ConsulSyncDataService.java
  shenyu-sync-data-center/shenyu-sync-data-consul/src/test/java/org/apache/shenyu/sync/data/consul/ConsulSyncDataServiceTest.java
  shenyu-sync-data-center/shenyu-sync-data-etcd/src/main/java/org/apache/shenyu/sync/data/etcd/EtcdSyncDataService.java
  shenyu-sync-data-center/shenyu-sync-data-etcd/src/test/java/org/apache/shenyu/sync/data/etcd/EtcdSyncDataServiceTest.java
  shenyu-sync-data-center/shenyu-sync-data-nacos/src/main/java/org/apache/shenyu/sync/data/nacos/NacosSyncDataService.java
  shenyu-sync-data-center/shenyu-sync-data-nacos/src/test/java/org/apache/shenyu/sync/data/nacos/NacosSyncDataServiceTest.java
  shenyu-sync-data-center/shenyu-sync-data-polaris/src/main/java/org/apache/shenyu/sync/data/polaris/PolarisSyncDataService.java
  shenyu-sync-data-center/shenyu-sync-data-polaris/src/test/java/org/apache/shenyu/sync/data/polaris/PolarisSyncDataServiceTest.java
  shenyu-sync-data-center/shenyu-sync-data-zookeeper/src/main/java/org/apache/shenyu/sync/data/zookeeper/ZookeeperSyncDataService.java
  shenyu-sync-data-center/shenyu-sync-data-zookeeper/src/test/java/org/apache/shenyu/sync/data/zookeeper/ZookeeperSyncDataServiceTest.java
Labels: namespace

#5718 [type:fix]Fix namespace plugin enable switch
  shenyu-admin/src/main/resources/mappers/namespace-plugin-rel-sqlmap.xml
Labels: type: bug, namespace

#5719 [type:feat] logging adapt namespace
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-common/src/main/java/org/apache/shenyu/plugin/logging/common/AbstractLoggingPlugin.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-common/src/main/java/org/apache/shenyu/plugin/logging/common/entity/ShenyuRequestLog.java
Labels: logging-common, namespace

#5726 [type:fix] close k8s ingress sofa
  .github/workflows/integrated-test-k8s-ingress.yml
Labels: in: test

#5727 [type:fix] fix shenyu client register check
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ConfigController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/NamespaceController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ShenyuClientHttpRegistryController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/ShenyuDictController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/NamespaceMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/NamespaceService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/NamespaceServiceImpl.java
  shenyu-admin/src/main/resources/mappers/namespace-sqlmap.xml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/ConfigControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/RuleControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/ShenyuHttpRegistryControllerTest.java
Labels: namespace

#5673 [type:task] support namespace websocket sync
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/websocket/WebsocketCollector.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/websocket/WebsocketConfigurator.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/websocket/WebsocketDataChangedListener.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/websocket/WebsocketListener.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/AbstractShenyuClientRegisterServiceImpl.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/listener/websocket/WebsocketCollectorTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/listener/websocket/WebsocketDataChangedListenerTest.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-websocket/src/main/java/org/apache/shenyu/springboot/starter/sync/data/websocket/WebsocketSyncDataConfiguration.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-websocket/src/test/java/org/apache/shenyu/springboot/starter/sync/data/websocket/WebsocketSyncDataConfigurationTest.java
  shenyu-sync-data-center/shenyu-sync-data-websocket/src/main/java/org/apache/shenyu/plugin/sync/data/websocket/WebsocketSyncDataService.java
  shenyu-sync-data-center/shenyu-sync-data-websocket/src/main/java/org/apache/shenyu/plugin/sync/data/websocket/client/ShenyuWebsocketClient.java
  shenyu-sync-data-center/shenyu-sync-data-websocket/src/main/java/org/apache/shenyu/plugin/sync/data/websocket/config/WebsocketConfig.java
Labels: namespace

#5729 [type:fix] fix shenyu admin namespace sync
  shenyu-admin-listener/shenyu-admin-listener-api/src/main/java/org/apache/shenyu/admin/listener/AbstractNodeDataChangedListener.java
  shenyu-admin-listener/shenyu-admin-listener-api/src/main/java/org/apache/shenyu/admin/listener/AbstractPathDataChangedListener.java
Labels: namespace

#5692 [type:feat]Alert module adapts to namespace transformation
  db/init/mysql/schema.sql
  db/init/ob/schema.sql
  db/init/og/create-table.sql
  db/init/oracle/schema.sql
  db/init/pg/create-table.sql
  db/upgrade/2.6.1-upgrade-2.7.0-mysql.sql
  db/upgrade/2.6.1-upgrade-2.7.0-og.sql
  db/upgrade/2.6.1-upgrade-2.7.0-oracle.sql
  db/upgrade/2.6.1-upgrade-2.7.0-pg.sql
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/AlertReceiverController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/AlertReceiverDO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/query/AlertReceiverQuery.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/AlertDispatchServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/AlertReceiverServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/transfer/AlertTransfer.java
  shenyu-admin/src/main/resources/mappers/alert-receiver-sqlmap.xml
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/AlertReceiverServiceTest.java
  shenyu-alert/src/main/java/org/apache/shenyu/alert/model/AlertReceiverDTO.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/AlarmContent.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/alert/AlarmSender.java
Labels: namespace

#5686 [type:feat]Add dynamically scale k8s module
  db/init/mysql/schema.sql
  db/init/ob/schema.sql
  db/init/og/create-table.sql
  db/init/oracle/schema.sql
  db/init/pg/create-table.sql
  db/upgrade/2.6.1-upgrade-2.7.0-mysql.sql
  db/upgrade/2.6.1-upgrade-2.7.0-og.sql
  db/upgrade/2.6.1-upgrade-2.7.0-oracle.sql
  db/upgrade/2.6.1-upgrade-2.7.0-pg.sql
  shenyu-admin/pom.xml
  shenyu-admin/src/main/java/org/apache/shenyu/admin/scale/collector/PrometheusMetricsProvider.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/scale/collector/provider/MetricData.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/scale/collector/provider/MetricsProvider.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/scale/config/DeploymentProperties.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/scale/config/PrometheusProperties.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/scale/config/ScaleProperties.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/scale/monitor/observer/Observer.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/scale/monitor/observer/ScaleObserver.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/scale/monitor/subject/MetricsMonitor.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/scale/monitor/subject/Subject.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/scale/monitor/subject/cache/ScaleRuleCache.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/scale/scaler/K8sApiClientProvider.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/scale/scaler/K8sScaler.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/scale/scaler/ScaleService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/scale/scaler/ScaleTaskInitializer.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/scale/scaler/cache/ScalePolicyCache.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/scale/scaler/dynamic/ScaleAction.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/scale/scaler/dynamic/ScaleRuleEvaluator.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/scale/scaler/dynamic/TaskSchedulerManager.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/ScalePolicyServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/ScaleRuleServiceImpl.java
  shenyu-admin/src/main/resources/application.yml
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-admin/src/main/resources/static/index.498b7f76.js
  shenyu-admin/src/main/resources/static/index.4aae0106.css
  shenyu-admin/src/main/resources/static/index.a37d2a53.js
  shenyu-admin/src/main/resources/static/index.html
  shenyu-admin/src/test/resources/application.yml
  shenyu-dist/shenyu-admin-dist/src/main/release-docs/LICENSE
  shenyu-dist/shenyu-admin-dist/src/main/release-docs/NOTICE
  shenyu-dist/shenyu-admin-dist/src/main/release-docs/licenses/LICENSE-k8sio.txt
Labels: kubernetes

#5736 feat:refactor Kubernetes config
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/KubernetesConfiguration.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/config/properties/DeploymentProperties.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/scale/collector/PrometheusMetricsProvider.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/scale/monitor/observer/ScaleObserver.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/scale/scaler/K8sApiClientProvider.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/scale/scaler/KubernetesScaler.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/scale/scaler/ScaleService.java
  shenyu-admin/src/main/resources/application.yml
Labels: type: refactor, kubernetes

#5735 [type:fix] Fix namespace register error
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/MetaDataController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/RuleController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/SelectorController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/disruptor/executor/RegisterServerConsumerExecutor.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/disruptor/subscriber/URIRegisterExecutorSubscriber.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/MetaDataMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/RuleMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/SelectorMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/MetaDataService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/RuleService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/SelectorService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DataPermissionServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/MetaDataServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/RuleServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SelectorServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/AbstractShenyuClientRegisterServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/FallbackShenyuClientRegisterService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterDivideServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterGrpcServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/register/ShenyuClientRegisterWebSocketServiceImpl.java
  shenyu-admin/src/main/resources/mappers/meta-data-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/rule-sqlmap.xml
  shenyu-admin/src/main/resources/mappers/selector-sqlmap.xml
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/MetaDataControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/RuleControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/controller/SelectorControllerTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/disruptor/subscriber/URIRegisterExecutorSubscriberTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/MetaDataMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/RuleMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/mapper/SelectorMapperTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/DataPermissionServiceTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/MetaDataServiceTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/RuleServiceTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/SelectorServiceTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/AbstractShenyuClientRegisterServiceImplTest.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/register/FallbackShenyuClientRegisterServiceTest.java
Labels: namespace

#5722 [type:fix] Fix the nacos data sync model missing the contextPath configuration (#5721)
  shenyu-admin-listener/shenyu-admin-listener-nacos/src/main/java/org/apache/shenyu/admin/config/NacosSyncConfiguration.java
  shenyu-admin-listener/shenyu-admin-listener-nacos/src/main/java/org/apache/shenyu/admin/config/properties/NacosProperties.java
  shenyu-admin/src/main/resources/application.yml
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-sync-data-center/shenyu-spring-boot-starter-sync-data-nacos/src/main/java/org/apache/shenyu/springboot/starter/sync/data/nacos/NacosSyncDataConfiguration.java
  shenyu-sync-data-center/shenyu-sync-data-nacos/src/main/java/org/apache/shenyu/sync/data/nacos/config/NacosConfig.java
  shenyu-sync-data-center/shenyu-sync-data-nacos/src/test/java/org/apache/shenyu/sync/data/nacos/config/NacosConfigTest.java
Labels: data-sync: nacos
