Repository apache/shenyu, pull requests merged in 2024-04, with the labels that each got.

#5519 fix e2e test case can not run wget command
  .github/workflows/e2e-k8s.yml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-http/k8s/shenyu-examples-http.yml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-spring-cloud/k8s/shenyu-examples-springcloud.yml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-websocket/k8s/shenyu-examples-websocket.yml
Labels: test: e2e

#5526 Upgrade sofa rpc version support #5517
  pom.xml
  shenyu-bootstrap/pom.xml
  shenyu-client/shenyu-client-sofa/pom.xml
  shenyu-examples/shenyu-examples-sofa/shenyu-examples-sofa-service/pom.xml
  shenyu-integrated-test/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-combination/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-sofa/pom.xml
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-sofa/pom.xml
Labels: plugin: sofa

#5439 [type:feat]add rocketmq logging e2e test
  .github/workflows/e2e-k8s.yml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-http/k8s/script/e2e-http-sync.sh
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-http/k8s/shenyu-rocketmq.yml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-http/pom.xml
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-http/src/test/java/org/apache/shenyu/e2e/testcase/http/DividePluginCases.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-http/src/test/java/org/apache/shenyu/e2e/testcase/http/DividePluginTest.java
Labels: test: e2e

#5507 [type : bug] Not first offline from the gateway when stopping service…
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/shutdown/ShenyuClientShutdownHook.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/shutdown/ShutdownHookManager.java
Labels: type: refactor, type: new feature

#5514 [type: Refactor] remove duplicate path check
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/trie/ShenyuTrie.java
Labels: type: refactor

#5536 sync frontend#a1b187d
  shenyu-admin/src/main/resources/static/index.3c5bd3ee.js
  shenyu-admin/src/main/resources/static/index.5f9e8518.css
  shenyu-admin/src/main/resources/static/index.72895f21.js
  shenyu-admin/src/main/resources/static/index.html
Labels: admin

#5533 fix Invalid path error #5532
  shenyu-admin-listener/shenyu-admin-listener-zookeeper/src/main/java/org/apache/shenyu/admin/listener/zookeeper/ZookeeperClient.java
  shenyu-admin-listener/shenyu-admin-listener-zookeeper/src/test/java/org/apache/shenyu/admin/listener/zookeeper/ZookeeperClientTest.java
Labels: data-sync: zookeeper

#5527 Upgrade apache dubbo version
  .github/filters.yml
  .github/workflows/e2e-k8s.yml
  pom.xml
  shenyu-bootstrap/pom.xml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-annotation/pom.xml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-xml/pom.xml
  shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service/pom.xml
  shenyu-examples/shenyu-examples-sdk/shenyu-examples-sdk-dubbo/shenyu-examples-sdk-apache-dubbo-provider/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-combination/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-rewrite/pom.xml
  shenyu-integrated-test/shenyu-integrated-test-sdk-apache-dubbo/pom.xml
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-dubbo/shenyu-plugin-apache-dubbo/pom.xml
Labels: type: dependencies, plugin: dubbo

#5535 fix etcd sync config problem #5534
  shenyu-sync-data-center/shenyu-sync-data-etcd/src/main/java/org/apache/shenyu/sync/data/etcd/EtcdSyncDataService.java
Labels: data-sync: etcd

#5530 Fixed NPE issue
  shenyu-admin/src/main/java/org/apache/shenyu/admin/transfer/DiscoveryTransfer.java
Labels: type: bug

#5547 [type:feature] support get token from header\param\cookie
  shenyu-admin/src/main/java/org/apache/shenyu/admin/shiro/bean/StatelessAuthFilter.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-storage/k8s/script/e2e-h2.sh
Labels: type: new feature

#5496 [type: BUG] fix fallback issue
  shenyu-common/src/main/java/org/apache/shenyu/common/utils/UriUtils.java
  shenyu-common/src/test/java/org/apache/shenyu/common/utils/UriUtilsTest.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/fallback/FallbackHandler.java
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/fallback/FallbackHandlerTest.java
Labels: plugin: sentinel, plugin: hystrix

#5555 [type: fix] fix ci e2e postgres bug
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/HttpUtils.java
  shenyu-e2e/shenyu-e2e-case/shenyu-e2e-case-storage/k8s/script/e2e-postgres.sh
  shenyu-registry/shenyu-registry-etcd/src/main/java/org/apache/shenyu/registry/etcd/EtcdClient.java
Labels: test: e2e
