Repository apache/shenyu, pull requests merged in 2024-02, with the labels that each got.

#5432 [type:refactor] refactor plugin lifecycle
  shenyu-web/src/main/java/org/apache/shenyu/web/handler/ShenyuWebHandler.java
Labels: bootstrap

#5429 [type:fix]fix logging plugin sample bug
  shenyu-e2e/shenyu-e2e-common/src/main/java/org/apache/shenyu/e2e/model/Plugin.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-common/src/main/java/org/apache/shenyu/plugin/logging/common/utils/LogCollectConfigUtils.java
Labels: logging-common

#5407 [type:fix] fix memory overflow
  shenyu-plugin/shenyu-plugin-modify-response/src/main/java/org/apache/shenyu/plugin/modify/response/ModifyResponsePlugin.java
Labels: type: bug

#5437 [type:refactor] print plugin execute time
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/ShenyuPlugin.java
Labels: plugin: api

#5438 [ISSUE #4687] part2: RewritePlugin/ContextPathPlugin supports across application and plugin
  db/init/mysql/schema.sql
  db/init/og/create-table.sql
  db/init/oracle/schema.sql
  db/init/pg/create-table.sql
  db/upgrade/2.6.1-upgrade-2.7.0-mysql.sql
  db/upgrade/2.6.1-upgrade-2.7.0-og.sql
  db/upgrade/2.6.1-upgrade-2.7.0-oracle.sql
  db/upgrade/2.6.1-upgrade-2.7.0-pg.sql
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/rule/RewriteHandle.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/rule/impl/ContextMappingRuleHandle.java
  shenyu-integrated-test/shenyu-integrated-test-combination/docker-compose.yml
  shenyu-integrated-test/shenyu-integrated-test-combination/script/services.list
  shenyu-integrated-test/shenyu-integrated-test-combination/src/test/java/org/apache/shenyu/integrated/test/combination/RequestAndResponsePluginTest.java
  shenyu-integrated-test/shenyu-integrated-test-common/src/main/java/org/apache/shenyu/integratedtest/common/AbstractPluginDataInit.java
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/utils/RequestUrlUtils.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/AbstractShenyuPlugin.java
  shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/condition/data/URIParameterData.java
  shenyu-plugin/shenyu-plugin-base/src/test/java/org/apache/shenyu/plugin/base/AbstractShenyuPluginTest.java
  shenyu-plugin/shenyu-plugin-context-path/src/main/java/org/apache/shenyu/plugin/context/path/ContextPathPlugin.java
  shenyu-plugin/shenyu-plugin-context-path/src/test/java/org/apache/shenyu/plugin/context/path/ContextPathPluginTest.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-divide/src/main/java/org/apache/shenyu/plugin/divide/DividePlugin.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-dubbo/shenyu-plugin-dubbo-common/src/main/java/org/apache/shenyu/plugin/dubbo/common/AbstractDubboPlugin.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-general-context/src/main/java/org/apache/shenyu/plugin/general/context/GeneralContextPlugin.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-grpc/src/main/java/org/apache/shenyu/plugin/grpc/GrpcPlugin.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-motan/src/main/java/org/apache/shenyu/plugin/motan/MotanPlugin.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-sofa/src/main/java/org/apache/shenyu/plugin/sofa/SofaPlugin.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-rpc/shenyu-plugin-tars/src/main/java/org/apache/shenyu/plugin/tars/TarsPlugin.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-springcloud/src/main/java/org/apache/shenyu/plugin/springcloud/SpringCloudPlugin.java
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-websocket/src/main/java/org/apache/shenyu/plugin/websocket/WebSocketPlugin.java
  shenyu-plugin/shenyu-plugin-rewrite/src/main/java/org/apache/shenyu/plugin/rewrite/RewritePlugin.java
  shenyu-web/src/main/java/org/apache/shenyu/web/controller/LocalPluginController.java
Labels: type: enhancement, type: new feature, plugin: rewrite, plugin: context-path

#5456 fix comments
  shenyu-sync-data-center/shenyu-sync-data-api/src/main/java/org/apache/shenyu/sync/data/core/AbstractNodeDataSyncService.java
Labels: type: fixed

#5450 [ISSUE #5427] add AbstractShenyuWasmPluginTest
  shenyu-plugin/shenyu-plugin-wasm-base/src/main/java/org/apache/shenyu/plugin/wasm/base/AbstractShenyuWasmPlugin.java
  shenyu-plugin/shenyu-plugin-wasm-base/src/test/java/org/apache/shenyu/plugin/wasm/base/AbstractShenyuWasmPluginTest.java
  shenyu-plugin/shenyu-plugin-wasm-base/src/test/resources/org.apache.shenyu.plugin.wasm.base.AbstractShenyuWasmPluginTest$TestShenyuWasmPlugin.wasm
  shenyu-plugin/shenyu-plugin-wasm-base/src/test/rust-shenyu-wasm-plugin/Cargo.toml
  shenyu-plugin/shenyu-plugin-wasm-base/src/test/rust-shenyu-wasm-plugin/README.md
  shenyu-plugin/shenyu-plugin-wasm-base/src/test/rust-shenyu-wasm-plugin/src/lib.rs
Labels: in: test, plugin: wasm

#5451 Add test case for `AbstractWasmPluginDataHandler`
  shenyu-plugin/shenyu-plugin-wasm-base/src/test/java/org/apache/shenyu/plugin/wasm/base/handler/AbstractWasmPluginDataHandlerTest.java
  shenyu-plugin/shenyu-plugin-wasm-base/src/test/resources/org.apache.shenyu.plugin.wasm.base.handler.AbstractWasmPluginDataHandlerTest$TestWasmPluginDataHandler.wasm
  shenyu-plugin/shenyu-plugin-wasm-base/src/test/rust-wasm-data-handler-plugin/Cargo.toml
  shenyu-plugin/shenyu-plugin-wasm-base/src/test/rust-wasm-data-handler-plugin/README.md
  shenyu-plugin/shenyu-plugin-wasm-base/src/test/rust-wasm-data-handler-plugin/src/lib.rs
Labels: in: test, plugin: wasm

#5443 Add test case for `ShenyuClientRegisterRepositoryFactoryTest`
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/ShenyuClientRegisterRepositoryFactory.java
  shenyu-client/shenyu-client-core/src/test/java/org/apache/shenyu/client/core/register/ShenyuClientRegisterRepositoryFactoryTest.java
Labels: in: test
