Repository apache/shenyu, pull requests merged in 2024-12, with the labels that each got.

#5816 [type:fix] Make the default value of ShenyuDubboService annotation equal to that of DubboService annotation
  shenyu-client/shenyu-client-dubbo/shenyu-client-apache-dubbo/src/main/java/org/apache/shenyu/client/apache/dubbo/annotation/ShenyuDubboService.java
  shenyu-client/shenyu-client-dubbo/shenyu-client-apache-dubbo/src/main/java/org/apache/shenyu/client/apache/dubbo/annotation/ShenyuService.java
  shenyu-client/shenyu-client-dubbo/shenyu-client-apache-dubbo/src/test/java/org/apache/shenyu/client/apache/dubbo/annotation/ShenyuDubboServiceDefaultValueTest.java
Labels: plugin: apache-dubbo, starter: apache-dubbo

#5825 [fix:bugfix] nacos cannot be registered in the Shenyu-examples-Spring…
  shenyu-examples/shenyu-examples-springcloud/pom.xml
Labels: in: example

#5830 [ISSUE #5829] Class ElasticSearchLogConfig set function of indexName field missing
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-elasticsearch/src/main/java/org/apache/shenyu/plugin/logging/elasticsearch/config/ElasticSearchLogCollectConfig.java
Labels: type: bug, plugin: logging-elasticSearch

#5833 [type:feature] support docker env set http path
  shenyu-admin/src/main/java/org/apache/shenyu/admin/listener/ApplicationStartListener.java
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
Labels: type: new feature

#5823 [tye:bugfix]fix namespace bugs
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/NamespacePluginController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/PluginController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/controller/SelectorController.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/mapper/NamespacePluginRelMapper.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/model/entity/PluginDO.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/NamespacePluginService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/PluginService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/NamespacePluginServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/PluginServiceImpl.java
  shenyu-admin/src/main/resources/mappers/namespace-plugin-rel-sqlmap.xml
  shenyu-e2e/shenyu-e2e-client/src/main/java/org/apache/shenyu/e2e/client/admin/AdminClient.java
  shenyu-e2e/shenyu-e2e-common/src/main/java/org/apache/shenyu/e2e/model/data/NamespaceSyncData.java
  shenyu-examples/shenyu-examples-http/Dockerfile
Labels: namespace

#5842 [type:fix] fix LoggingPlugin error log catch .
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-common/src/main/java/org/apache/shenyu/plugin/logging/common/AbstractLoggingPlugin.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-console/src/main/java/org/apache/shenyu/plugin/logging/console/LoggingConsolePlugin.java
Labels: type: bug, plugin: logging-console

#5841 [type:bugfix] springCloud ruleData path setting didn't used #5840
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-springcloud/src/main/java/org/apache/shenyu/plugin/springcloud/SpringCloudPlugin.java
Labels: plugin: spring-cloud, type: refactor

#5843 [type:bugfix] springCloud ruleData path setting didn't used #5840
  shenyu-plugin/shenyu-plugin-proxy/shenyu-plugin-springcloud/src/main/java/org/apache/shenyu/plugin/springcloud/SpringCloudPlugin.java
Labels: plugin: spring-cloud, type: refactor

#5845 [type:fix] Delete proxy.selector and discovery nacos config when delete the divide selector.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/discovery/AbstractDiscoveryProcessor.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/discovery/DiscoveryProcessor.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/discovery/LocalDiscoveryProcessor.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/SelectorServiceImpl.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/discovery/LocalDiscoveryProcessorTest.java
Labels: type: bug, discovery

#5846 [type:fix] fix duplicate header for request plugin
  db/init/mysql/schema.sql
  db/init/ob/schema.sql
  db/init/og/create-table.sql
  db/init/oracle/schema.sql
  db/init/pg/create-table.sql
  db/upgrade/2.6.1-upgrade-2.7.0-mysql.sql
  db/upgrade/2.6.1-upgrade-2.7.0-og.sql
  db/upgrade/2.6.1-upgrade-2.7.0-oracle.sql
  db/upgrade/2.6.1-upgrade-2.7.0-pg.sql
  shenyu-admin/src/main/resources/sql-script/h2/schema.sql
  shenyu-bootstrap/src/main/resources/application.yml
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/Constants.java
  shenyu-common/src/main/java/org/apache/shenyu/common/dto/convert/rule/RequestHandle.java
  shenyu-common/src/main/java/org/apache/shenyu/common/enums/HeaderUniqueStrategyEnum.java
  shenyu-common/src/main/java/org/apache/shenyu/common/enums/UniqueHeaderEnum.java
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/AbstractHttpClientPlugin.java
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/NettyHttpClientPlugin.java
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/WebClientPlugin.java
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/config/DuplicateResponseHeaderProperties.java
  shenyu-plugin/shenyu-plugin-httpclient/src/test/java/org/apache/shenyu/plugin/httpclient/NettyHttpClientPluginTest.java
  shenyu-plugin/shenyu-plugin-httpclient/src/test/java/org/apache/shenyu/plugin/httpclient/WebClientPluginTest.java
  shenyu-plugin/shenyu-plugin-request/src/main/java/org/apache/shenyu/plugin/request/RequestPlugin.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-httpclient/src/main/java/org/apache/shenyu/springboot/starter/plugin/httpclient/HttpClientPluginConfiguration.java
Labels: plugin: request

#5849 [type:improve]Get rid of the dead code and add some improvements
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/AlertDispatchServiceImpl.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/client/AbstractContextRefreshedEventListener.java
  shenyu-spring-boot-starter/shenyu-spring-boot-starter-client/shenyu-spring-boot-starter-client-springmvc/src/main/java/org/apache/shenyu/springboot/starter/client/springmvc/ShenyuSpringMvcClientInfoRegisterConfiguration.java
Labels: type: refactor

#5850 [type:feature] config export support plugin template data
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/ConfigsServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/PluginServiceImpl.java
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/ExportImportConstants.java
Labels: type: new feature

#5857 [type:feature] namespace export operation
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/NamespacePluginService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/PluginService.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/ConfigsServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/NamespacePluginServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/PluginServiceImpl.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/ConfigsServiceTest.java
  shenyu-common/src/main/java/org/apache/shenyu/common/constant/ExportImportConstants.java
Labels: type: new feature, namespace

#5859 [type:release] fix license
  shenyu-dist/shenyu-bootstrap-dist/src/main/release-docs/LICENSE
Labels: type: release

#5860 [type:release] add release note 2.7.1 & changelog.sh
  RELEASE-NOTES.md
  changelog.sh
Labels: type: release

#5864 [type:fix] Fix the issue of potential OutOfMemoryError in the logging plugin developed based on logging-common.
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-common/src/main/java/org/apache/shenyu/plugin/logging/common/collector/AbstractLogCollector.java
Labels: logging-common

#5852 [ISSUE #5851] Sandbox API debugging, the target API method is not POST, and the response format is JSON. The API returns an exception.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/utils/HttpUtils.java
Labels: type: bug

#5865 [type:improve] Optimize code for shenyu-alert
  shenyu-alert/src/main/java/org/apache/shenyu/alert/config/HeaderRequestInterceptor.java
  shenyu-alert/src/main/java/org/apache/shenyu/alert/exception/AlertNoticeException.java
  shenyu-alert/src/main/java/org/apache/shenyu/alert/model/AlertReceiverDTO.java
  shenyu-alert/src/main/java/org/apache/shenyu/alert/strategy/AbstractAlertNotifyHandler.java
  shenyu-alert/src/main/java/org/apache/shenyu/alert/strategy/EmailAlertNotifyStrategy.java
Labels: type: refactor

#5861 [bugfix] fix mysql vulnerability
  pom.xml
  shenyu-admin/pom.xml
Labels: type: refactor

#5866 [type:refactor] Optimize code for shenyu-client
  shenyu-client/shenyu-client-autoconfig/src/main/java/org/apache/shenyu/client/auto/config/ClientRegisterConfiguration.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/disruptor/subcriber/ShenyuClientApiDocExecutorSubscriber.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/disruptor/subcriber/ShenyuClientMetadataExecutorSubscriber.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/exception/ShenyuClientIllegalArgumentException.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/ClientApiRefreshedEventListener.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/extractor/BaseApiBeansExtractor.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/registrar/ApiRegistrar.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/register/registrar/BaseApiRegistrarImpl.java
  shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/shutdown/ShutdownHookManager.java
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/main/java/org/apache/shenyu/client/springcloud/init/SpringCloudClientEventListener.java
  shenyu-client/shenyu-client-http/shenyu-client-springcloud/src/main/java/org/apache/shenyu/client/springcloud/register/SpringCloudApiMetaRegister.java
  shenyu-client/shenyu-client-http/shenyu-client-springmvc/src/main/java/org/apache/shenyu/client/springmvc/init/SpringMvcClientEventListener.java
  shenyu-client/shenyu-client-websocket/shenyu-client-spring-websocket/src/main/java/org/apache/shenyu/client/spring/websocket/init/ShenyuServerEndpointerExporter.java
Labels: type: refactor

#5869 [type:fix] active plugin filtered by enable
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/NamespacePluginServiceImpl.java
  shenyu-admin/src/test/java/org/apache/shenyu/admin/service/NamespacePluginServiceTest.java
Labels: namespace

#5878 [type:refactor] Optimize code style
  shenyu-discovery/shenyu-discovery-nacos/src/main/java/org/apache/shenyu/discovery/nacos/NacosDiscoveryService.java
  shenyu-disruptor/src/main/java/org/apache/shenyu/disruptor/consumer/QueueConsumer.java
  shenyu-loadbalancer/src/main/java/org/apache/shenyu/loadbalancer/entity/Upstream.java
  shenyu-plugin/shenyu-plugin-api/src/main/java/org/apache/shenyu/plugin/api/exception/ResponsiveException.java
Labels: type: refactor

#5685 [type:refactor]Decouple apidoc module from rule and selector modules
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/ApiServiceImpl.java
Labels: namespace
