Repository apache/shenyu, pull requests merged in 2025-04, with the labels that each got.

#5994 [ci] upgrade codeql version for ci error
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e-k8s.yml
  .github/workflows/integrated-test-k8s-ingress.yml
  .github/workflows/integrated-test.yml
  .github/workflows/k8s-examples-http.yml
Labels: type: fixed

#5992 [type:fix] fix(admin): Ensure data consistency by adding @Transactional
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/AppAuthServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/DiscoveryServiceImpl.java
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/MetaDataServiceImpl.java
Labels: admin, admin: permission

#5991 [type:fix] fix(admin): Fix dirty data issue caused by cache deletion order in AlertDispatchServiceImpl.
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/impl/AlertReceiverServiceImpl.java
Labels: shenyu-alert

#6004 [type:fix] (logging-elasticsearch): Fixed the issue where Elasticsearch log configuration was not refreshed correctly after modification.
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-elasticsearch/src/main/java/org/apache/shenyu/plugin/logging/elasticsearch/config/ElasticSearchLogCollectConfig.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-elasticsearch/src/test/java/org/apache/shenyu/plugin/logging/elasticsearch/handler/LoggingElasticSearchPluginDataHandlerTest.java
Labels: plugin: logging-elasticSearch

#5998 [fix] fix ci
  .github/workflows/e2e-k8s.yml
  .github/workflows/integrated-test-k8s-ingress.yml
  .github/workflows/integrated-test.yml
  .github/workflows/k8s-examples-http.yml
Labels: in: test, test: e2e

#6002 [type:fix] (logging-tencent): Fixed the issue where Tencent log configuration was not refreshed correctly after modification.
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-tencent-cls/src/main/java/org/apache/shenyu/plugin/tencent/cls/config/TencentLogCollectConfig.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-tencent-cls/src/test/java/org/apache/shenyu/plugin/tencent/cls/handler/LoggingTencentClsPluginDataHandlerTest.java
Labels: plugin:logging-tencentcloud-cls

#6000 [type:fix] (logging-aliyun): Fixed the issue where Aliyun log configuration was not refreshed correctly after modification.
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-aliyun-sls/src/main/java/org/apache/shenyu/plugin/aliyun/sls/config/AliyunLogCollectConfig.java
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-aliyun-sls/src/test/java/org/apache/shenyu/plugin/aliyun/sls/handler/LoggingAliyunSlsPluginDataHandlerTest.java
Labels: plugin: logging-aliyun

#5977 [feat] Supports generating Elasticsearch indices daily and creating an alias for them.
  shenyu-plugin/shenyu-plugin-logging/shenyu-plugin-logging-elasticsearch/src/main/java/org/apache/shenyu/plugin/logging/elasticsearch/client/ElasticSearchLogCollectClient.java
Labels: plugin: logging-elasticSearch

#6008 [fix] fix java doc
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/CustomRetryStrategy.java
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/DefaultRetryStrategy.java
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/ExponentialRetryBackoffStrategy.java
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/FixedRetryStrategy.java
  shenyu-plugin/shenyu-plugin-httpclient/src/main/java/org/apache/shenyu/plugin/httpclient/RetryStrategy.java
Labels: type: fixed

#6011 [fix] fix license
  shenyu-dist/shenyu-admin-dist/src/main/release-docs/LICENSE
  shenyu-dist/shenyu-bootstrap-dist/src/main/release-docs/LICENSE
Labels: type: release

#6016 [fix] fix doc pulling error
  shenyu-admin/src/main/java/org/apache/shenyu/admin/service/manager/impl/LoadServiceDocEntryImpl.java
Labels: type: bug
